<form ng-submit="changePassword()">
    <fieldset ng-disabled="processing">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Change your Password</h4>
            </div>
            <div class="modal-body">

                <div ng-show="$root.user">
                    <div class="modal-single-liner">
                        You are already logged-in as {{ $root.user.firstname }} {{ $root.user.lastname }}
                    </div>
                </div>

                <div ng-hide="$root.user">

                    <div class="col-md-12 intro">
                        <label class="control-label">Create a new password for your account:</label>
                    </div>

                    <div class="form-group" ng-show="errors.token[0]">
                        <label for="token" class="col-md-3 control-label">Reset Token</label>
                        <div class="col-md-8">
                            <input id="token" type="text" class="form-control" name="token" disabled="disabled"
                                   ng-model="userData.token" ng-focus="hideErrors('token')">
                            <span class="help-block">
                                <span class="error">{{ errors.token[0] }}</span>
                            </span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="reset-password-confirm-email" class="col-md-3 control-label">Confirm Email</label>
                        <div class="col-md-8">
                            <input id="reset-password-confirm-email" type="email" class="form-control" name="email" required autofocus
                                   ng-model="userData.email" ng-focus="hideErrors('email')">
                            <span class="help-block">
                                <span class="error">{{ errors.email[0] }}</span>
                            </span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="resetPassword" class="col-md-3 control-label">New Password</label>
                        <div class="col-md-8">
                            <input id="resetPassword" type="password" class="form-control" name="password"
                                   ng-model="userData.password"
                                   ng-focus="hideErrors('password');hideErrors('password_confirmation')">
                            <span class="help-block">
                                <span class="error">{{ errors.password[0] }}</span>
                            </span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="resetPasswordConfirmation" class="col-md-3 control-label">Re-type Password</label>
                        <div class="col-md-8">
                            <input id="resetPasswordConfirmation" type="password" class="form-control"
                                   name="password_confirmation"
                                   ng-model="userData.password_confirmation"
                                   ng-focus="hideErrors('password');hideErrors('password_confirmation')">
                            <span class="help-block">
                                <span class="error">{{ errors.password_confirmation[0] }}</span>
                            </span>
                        </div>
                    </div>

                </div>

            </div>
            <div class="modal-footer">

                <div ng-hide="$root.user">
                    <loading-spinner ng-show="processing"></loading-spinner>
                    <button type="submit" class="btn btn-primary">
                        Save New Password
                    </button>
                </div>

                <div ng-show="$root.user">
                    <loading-spinner ng-show="processing"></loading-spinner>
                    <button type="button" class="btn btn-link" ng-click="logout()">Logout first</button>
                </div>

            </div>
        </div>

    </fieldset>
</form>