// Global/Base Styles

body {
  background-color: $base-bg;
  font-family: $base-font-family;
  color: $base-font-color;
  font-size: $base-font-size;
  line-height: 1.7em;
}

a:hover,
a:focus {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container-fluid {
  max-width: 1600px;
  padding: 0;
}