// Body
$base-bg: #231f20;

// Fonts
$base-font-size: 16px;
$base-font-family: "Roboto", sans-serif;
$base-font-color: #393939;

// Site Colors
$dark-gray: #2b2b2b;
$light-gray: #444444;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
//$font-family-sans-serif: "Raleway", sans-serif;
$font-family-sans-serif: "Dosis", sans-serif;
$font-size-base: 16px;
$line-height-base: 1.6;
$text-color: #636b6f;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;

$modal-opened-main-content-filter: blur(1px) grayscale(25%);
$modal-opened-main-content-filter-images: blur(2px) grayscale(25%);
$modal-opened-main-content-transition: 200ms ease-in-out;