<div id="modal-allow-upload-image-2" class="modal">
    <div class="modal-dialog">
        <div class="modal_main modal_upload_image modal_block">
            <div ng-hide="ifFileEditing" class="modal_main__header">
                <div class="modal_main__header_left">
                    <p class="caption">Week {{ currentAlbum.week_number }}: {{ currentAlbum.theme_title }}</p>
                    <span class="caption_sub">Extra Credit: {{ currentAlbum.extra_credit_title }}</span>
                </div>
                <div class="modal_main__header_right"></div>
            </div>
            <div ng-show="ifFileEditing" class="modal_main__header">
                <div class="modal_main__header_left">
                    <h2>Edit photo</h2>
                </div>
                <div class="modal_main__header_right">
                    <p>Photographer: <a href="#">{{ currentAlbum.user_has_uploaded.owner.firstname + ' ' + currentAlbum.user_has_uploaded.owner.lastname }}</a></p>
                </div>
            </div>
            <form action="">
                <div class="modal_main__body">
                    <div class="row">
                        <div class="col-md-8 modal_upload_image__form">
                            <div class="group" error-scroll="title">
                                <span class="title">Title<span class="red_asterisk">*</span></span>
                                <input ng-keyup="onFieldChange($event)" ng-keypress="onFieldChange($event)"
                                       required type="text" ng-model="sendingPhotoForm.title"
                                       placeholder="Photo McPhotoface" name="photoTitleLimit"
                                       maxlength="50" ng-class="{'input_error' : errors.title}"
                                       ng-click="hideErrors('title')"
                                >
                                <span ng-class="{ 'limited' : sendingPhotoForm.photoTitleLimit === 50 }" class="char_limit">{{ sendingPhotoForm.photoTitleLimit }} / 50</span>
                                    <span ng-if="errors.title" class="error_text">{{ errors.title[0] }}</span>
                                </div>
                            <div class="group relative_help_container" error-scroll="caption">
                                <span class="title">Photo Caption<span class="red_asterisk">*</span></span>
                                <textarea ng-model="sendingPhotoForm.caption"
                                          ng-keyup="onFieldChange($event)"
                                          ng-keypress="onFieldChange($event)"
                                          name="photoCaptionLimit"
                                          maxlength="800" ng-class="{'input_error' : errors.caption}"
                                          ng-click="hideErrors('caption')"
                                          required ng-focus="onFieldMouseOver(0, '.help_note', true)"
                                          ng-blur="onFieldMouseOver(null, '.help_note')"
                                          placeholder="Tell us a little about your shot. What was your inspiration? Did you use a certain technique? Is there a funny backstory?">
                                </textarea>
                                <span ng-class="{ 'limited' : sendingPhotoForm.photoCaptionLimit === 800 }" class="char_limit">{{ sendingPhotoForm.photoCaptionLimit }} / 800</span>
                                <span ng-if="errors.caption" class="error_text">{{ errors.caption[0] }}</span>
                                <div class="help_note">
                                    <p>Tell us about your photo. What was your inspiration? What was your process? Add a meaningful quote, perhaps. (800 characters max)</p>
                                </div>
                            </div>
                            <div class="group relative_help_container">
                                <span class="title">Tags</span>
                                <div class="textarea_frame">
                                    <div class="row_tags">
                                        <div class="list_tags">
                                            <span class="tag-item" ng-repeat="tag in sendingPhotoForm.tags track by $index">
                                                {{ tag }}
                                                <button ng-click="deleteTag($index, $event)">×</button>
                                            </span>
                                        </div>
                                        <span ng-class="{ 'limited' : sendingPhotoForm.photoTagsLimit === 10 }" class="char_limit">{{ sendingPhotoForm.photoTagsLimit }} / 10</span>
                                    </div>
                                    <textarea
                                        ng-focus="onFieldMouseOver(1, '.help_note', true)"
                                        tabindex="0"
                                        maxlength="29"
                                        ng-keyup="keyupFunction($event)"
                                        ng-blur="addNewTag(); onFieldMouseOver(null, '.help_note')"
                                        ng-model="tagText"
                                        id="tagsAllowUploadTextarea"
                                        placeholder="Add tags to your photo to make it easy to search \n\nSome examples: colors, technique used, mood, genre"></textarea>

                                    <div class="row_add">
                                        <span class="title">Need inspiration? Click the buttons below for helpful tags to use</span>
                                        <a
                                            ng-click="addNewTag()"
                                            href="#"
                                            class="btn_default btn_black btn_small">Add a technique</a>
                                        <a href="#" class="btn_default btn_black btn_small">Add genre/subject</a>
                                    </div>
                                    <div class="help_note">
                                        <p>Provide up to 10 tags to help people discover your photo! Keep them general, so that we can build up a shared library of tags.</p>
                                        <p>Example: flowers, red, spring, roses, closeup. (Not: acoolflowerinspain)</p>
                                        <br>
                                        <p>Separate your tags with commas.</p>
                                    </div>
                                </div>
                            </div>
                            <div id="technical-frame" style="display: none;" class="block__technical_details">
                                <p class="caption">Technical details (<small>Optional</small>)</p>
                                <div class="row row_group">
                                    <div class="col-md-4 col-sm-4 group">
                                        <span class="title">Camera Brand</span>
                                        <select>
                                            <option value="">Nikon</option>
                                            <option value="">Canon</option>
                                            <option value="">Sony</option>
                                        </select>
                                    </div>
                                    <div class="col-md-4 col-sm-4 group">
                                        <span class="title">Camera Model</span>
                                        <select>
                                            <option value="">D5100</option>
                                            <option value="">D5100</option>
                                            <option value="">D5100</option>
                                        </select>
                                    </div>
                                    <div class="col-md-4 col-sm-4 group">
                                        <span class="title">Lens</span>
                                        <select ng-model="sendingPhotoForm.camera_settings_answers[55]">
                                            <option ng-repeat="lensItem in exifItems[8].members" value="{{ lensItem.id }}">{{ lensItem.name }}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row row_group">
                                    <div class="col-md-3 col-sm-3 group">
                                        <span class="title">Shutter Speed</span>
                                        <select ng-model="sendingPhotoForm.camera_settings_answers[22]">
                                            <option ng-repeat="shutterSpeedItem in exifItems[2].members" value="{{ shutterSpeedItem.id }}">{{ shutterSpeedItem.name }}</option>
                                        </select>
                                    </div>
                                    <div class="col-md-3 col-sm-3 group">
                                        <span class="title">Aperture</span>
                                        <select ng-model="sendingPhotoForm.camera_settings_answers[34]">
                                            <option ng-repeat="apertureItem in exifItems[3].members" value="{{ apertureItem.id }}">{{ apertureItem.name }}</option>
                                        </select>
                                    </div>
                                    <div class="col-md-3 col-sm-3 group">
                                        <span class="title">ISO</span>
                                        <select ng-model="sendingPhotoForm.camera_settings_answers[45]">
                                            <option ng-repeat="isoItem in exifItems[4].members" value="{{ isoItem.id }}">{{ isoItem.name }}</option>
                                        </select>
                                    </div>
                                    <div class="col-md-3 col-sm-3 group">
                                        <span class="title">Lighting</span>
                                        <select ng-model="sendingPhotoForm.camera_settings_answers[298]">
                                            <option ng-repeat="flashItem in exifItems[9].members" value="{{ flashItem.id }}">{{ flashItem.name }}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div id="location-frame" style="display: none;" class="block__location relative_help_container">
                                <div class="row row_group" style="justify-content: flex-start">
                                    <div class="col-md-12 col-sm-12 group">
                                        <span class="title">Photo Location</span>
                                        <input
                                            ng-focus="onFieldMouseOver(2, '.help_note', true)"
                                            ng-blur="onFieldMouseOver(null, '.help_note')"
                                            ng-model="sendingPhotoForm.location"
                                            class="input-search" type="text">
                                        <div class="help_note">eg: New York City, Swiss Alps, Mars</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row__btn_add">
                                <a id="technical-btn" class="btn_default">+ Add Technical Details (EXIF)</a>
                                <a id="location-btn" class="btn_default">+ Add Location</a>
                            </div>
                            <div class="check_block">
                                <span class="title">Select all that apply to this photo:</span>
                                <label for="check21" class="check_default">
                                    <input ng-model="sendingPhotoForm.qualifies_extra_credit" type="checkbox" id="check21">
                                    <i class="icon_check"></i>
                                    <span>This shot qualifies for the extra credit challenge: {{ currentAlbum.extra_credit_title }}</span>
                                </label>
                                <label for="check23" class="check_default">
                                    <input ng-focus="onFieldMouseOver(3, '.help_note', true)"
                                           ng-blur="onFieldMouseOver(null, '.help_note')"
                                           ng-model="sendingPhotoForm.sensitive_content" type="checkbox" id="check23">
                                    <i class="icon_check"></i>
                                    <span>This photo contains sensitive content (such as nudity, violence, weapons)
                                        <a href="#">Read our Content Policy</a>
                                    </span>
                                    <div class="help_note">Please note: subject matter deemed obscene or inappropriate will be removed.
                                        <br><br>Please read our Content Policy.</div>
                                </label>
                                <label
                                    ng-show="sendingPhotoForm.sensitive_content"
                                    for="check26" class="radio_default radio_button_sensitive">
                                    <input ng-model="sendingPhotoForm.sensitive_content_value" value="is_graphic"
                                           name="sensetiveContent" type="radio" id="check26">
                                    <i class="icon_check"></i>
                                    <span>This photo contains graphic imagery (blood, guns, or other frightening stuff)</span>
                                </label>
                                <label
                                    ng-show="sendingPhotoForm.sensitive_content"
                                    for="check25" class="radio_default radio_button_sensitive">
                                    <input ng-model="sendingPhotoForm.sensitive_content_value" value="has_nudity"
                                           name="sensetiveContent" type="radio" id="check25">
                                    <i class="icon_check"></i>
                                    <span>This photo contains nudity</span>
                                </label>
                                <div ng-show="sendingPhotoForm.sensitive_content_value === 'has_nudity'" class="nudity-info">
                                    <h2>*Nude Content*</h2>
                                    <p>
                                        Please note that the subject in your photo must be at least 18 years of age (or higher, if the age of majority in your country is higher) and if requested, you'll need to provide a
                                        <a target="_blank" href="https://www.asmp.org/releases/model-releases/adults-model-release">model release form</a>
                                        (stating permission to post on 52Frames and that model is of full age).
                                    </p>
                                    <p>
                                        If your subject is less than 18 years of age, i.e., a child, the photo will not be submitted to the album.
                                    </p>
                                    <label for="check24" class="check_default">
                                        <input
                                            ng-model="sendingPhotoForm.model_consent" type="checkbox" id="check24">
                                        <i class="icon_check"></i>
                                        <span>My subject is of full age and if requested I can provide a model release form.<i class="red_asterisk">*</i></span>
                                        <span style="display: block;" ng-if="errors.model_consent" class="error_text">Please fill out this field.</span>
                                    </label>
                                </div>
                            </div>
                            <div class="select__level_would">
                                <span
                                    class="title">What kind of critique level would you like from the community?</span>
                                <div class="group relative_help_container">
                                    <select
                                        ng-focus="onFieldMouseOver(4, '.help_note', true)"
                                        ng-blur="onFieldMouseOver(null, '.help_note')"
                                        ng-model="sendingPhotoForm.critique_level">
                                        <option value="52f-cc_regular">52F-CC-Regular</option>
                                        <option value="shred_away">SHRED AWAY! I feel no pain.</option>
                                        <option value="extra_sensitive">Please be extra sensitive with your critique.</option>
                                        <option value="no_critique">Not interested in a critique this week, but feel free to comment! :)</option>
                                    </select>
                                    <div class="help_note">
                                        <span>Regular = normal critique</span>
                                        <br>
                                        <span>Shred = critique brutally!</span>
                                    </div>
                                    <!--<a href="#" class="link">Learn about critique levels</a>-->
                                </div>
                            </div>
                            <div class="raiting_frame">
                                <span class="title">How would you rate this week’s challenge? 5 stars - I’d love to do this one again next year! 1 star - Ugh.</span>
                                <ul id="stars" class="raiting">
                                    <li class="star" data-value="1">
                                        <i class="fas fa-star"></i>
                                    </li>
                                    <li class="star" data-value="2">
                                        <i class="fas fa-star"></i>
                                    </li>
                                    <li class="star" data-value="3">
                                        <i class="fas fa-star"></i>
                                    </li>
                                    <li class="star" data-value="4">
                                        <i class="fas fa-star"></i>
                                    </li>
                                    <li class="star" data-value="5">
                                        <i class="fas fa-star"></i>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4 modal_upload_image__pre">
                            <div ng-show="uploadme.src" class="img_wrapper">
                                <img src="{{ uploadme.src }}" alt="">
                                <a ng-show="uploadme.src" ng-click="onDeletePhoto()" href="#" class="delete__image"><i class="fas fa-times"></i></a>
                            </div>
                            <div ng-class="{'drag_over' : dragOver}" ng-show="!uploadme.src" error-scroll="photo" class="mini__dropzone">
                                <div class="row_img">
                                    <img src="img/svg/icon_jpg.svg" alt="">
                                    <img src="img/svg/icon_png.svg" alt="">
                                </div>
                                <span ng-if="!dragOver" class="mini__dropzone_text">Click to select a new photo</span>
                                <random-upload-texts class="green_text" ng-if="dragOver"></random-upload-texts>
                                <input type="file" accept="image/*"
                                       onchange="angular.element(this).scope().uploadFile(this.files)"
                                       id="dropZoneAllowUpload2" class="drop-zone"
                                       ng-click="hideErrors('photo')"
                                       ng-class="{'dropzone_error' : errors.photo}"
                                >
                            </div>
                            <span ng-if="errors.photo" class="error_text">{{ errors.photo }}</span>
                        </div>
                    </div>
                </div>
                <div ng-hide="$root.user.has_uploaded_before">
                    <div class="alert alert-success first-poster">
                        <h2>Your FIRST post!! Welcome to the tribe!!</h2>
                        <p>You have taken an important first step in owning creativity in your life!</p>
                        <p>If you haven't already, join the conversation in our wonderful <a target="_blank"
                                                                                             href="http://www.facebook.com/groups/52fadmin/">Facebook
                            Discussion Group</a> and introduce
                            yourself there!</p>
                        <p>Also, a reminder to make sure you submit a photo that you took DURING THE WEEK of the
                            challenge,
                            as that's how the project works!</p>
                        <p>What are you waiting for? Hit the Submit Button!! Woohoo!!</p>
                        <hr>
                        <label for="uploadPhoto-this-week" class="check_default">
                            <input required type="checkbox" id="uploadPhoto-this-week"
                                   ng-model="sendingPhotoForm.ownership_confirmation">
                            <i class="icon_check"></i>
                            Yup, this photo is entirely my own creation and I took it THIS week.
                            <span class="red_asterisk">*</span>
                            <span ng-if="errors.ownership_confirmation" class="error_text">Please fill out this field.</span>
                        </label>
                    </div>
                </div>
                <div class="modal_main__footer">
                    <div class="modal_main__footer_left"></div>
                    <div class="modal_main__footer_center">
                        <div class="loader_box">
                            <span ng-hide="!processing" ng-show="count || message" class="counter">{{ count ? 'Uploading progress: ' + count : message }}</span>
                            <div class="spinner_container">
                                <loading-spinner ng-show="processing"></loading-spinner>
                            </div>
                        </div>
                        <button ng-click="goToStep3($event)"
                                type="submit"
                                class="btn_default btn_red submit_button"
                                ng-disabled="processing"
                        >{{ isFileChanging ? 'Save' : 'Submit photo!' }}
                        </button>
                    </div>
                    <div class="modal_main__footer_right">
                        <a class="btn_default btn_gray" data-dismiss="modal">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>