<form ng-submit="uploadFile()" enctype="multipart/form-data">
    <fieldset ng-disabled="processing">

        <div class="modal-content csv-import-wizard">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">CSV Import Wizard</h4>
            </div>
            <div class="modal-body">
                <div class="col-md-3 guide-column">
                    <p>&nbsp;</p>
                    <ul>
                        <li ng-repeat="guideText in pagesInfo.guideTexts" ng-class="{
                            'active': $index==pagesInfo.getCurrentPageInfo().guideTextIndex,
                            'completed': $completed=$index<pagesInfo.getCurrentPageInfo().guideTextIndex
                        }"><span ng-click="pagesInfo.guideClick($index)" ng-class="{'link': $completed}">
                            {{ guideText }}
                        </span></li>
                    </ul>
                </div>

                <div class="col-md-9 modal-padding-top wizard-content">

                    <div ng-show="pagesInfo.currentPage=='csvChooseFile'" class="clearfix">

                        <div ng-hide="showFileInput" class="alert alert-info">
                            <strong><p>
                                <span ng-show="fromBroadcast">Original</span>
                                Uploader: {{ $root.$navbar.getSelfHandleOrName(csvFile.uploader, true) }}
                            </p></strong>
                            <div>{{ csvFile.filename }}</div>
                        </div>

                        <div ng-click="fileInputClicked()" class="clearfix form-group" ng-show="showFileInput">
                            <label for="photos-page-csv-file-input"
                                   class="col-md-4 control-label form-label-vcenter text-align-right">
                                Choose a File:
                            </label>
                            <div class="col-md-7">
                                <label for="photos-page-csv-file-input" class="form-control input-has-loading-spinner">
                                    <input type="file" id="photos-page-csv-file-input" accept="text/csv" class="hidden"
                                           ng-click="resetFileInputField($event)"
                                           52f-on-change="fileChanged($element)">
                                    <div class="text-overflow">{{ inputData.file.name }}</div>
                                    <loading-spinner ng-show="fileChosenLoading.indicator"></loading-spinner>
                                    <span class="glyphicon glyphicon-ok-circle icon-success loading-ok"
                                          ng-show="fileChosenLoading.ok"></span>
                                </label>
                                <span class="help-block">
                                    <span class="error">{{ errors.file[0] }}</span>
                                </span>
                            </div>
                        </div>

                    </div>

                    <div ng-show="$columnsMarching=pagesInfo.currentPage=='columnsMatching'"
                         class="columns-matching clearfix">

                        <h4>Please match the columns from the CSV file.</h4>

                        <div ng-show="fromBroadcast" class="alert alert-info margin-0 modal-margin-top">
                            <strong ng-hide="isRepick"><p>Finish your CSV Import:</p></strong>
                            <strong ng-show="isRepick"><p>Repick your columns and submit to start re-validation:</p>
                            </strong>
                            <div>{{ csvFile.filename }}</div>
                        </div>

                        <div ng-show="isRepick && numMigratedRows"
                             class="alert alert-warning margin-0 modal-margin-top">
                            <strong><p>Important:</p></strong>
                            <div>Previously <strong><u>Migrated</u></strong> rows ({{ numMigratedRows }} total)
                                will no long be re-validated. If you need to edit these records, please visit their
                                live URL equivalents, where you can manage them better.</div>
                        </div>

                        <div ng-hide="fieldsData._config.hide_by_default && !dbColumns._config.show_disabled"
                             ng-repeat="(groupKw, fieldsData) in dbColumns"
                             ng-if="groupKw!='_config'"
                             class="clearfix">
                            <csv-column-section column-info="{keyword: groupKw, data: fieldsData}"
                                                csv-header-columns="csvHeaderColumns"
                                                validation-errors="errors">
                            </csv-column-section>
                        </div>

                        <p class="clear-both">&nbsp;</p>

                    </div>

                    <div ng-show="pagesInfo.currentPage=='validationInfoPage'" class="clearfix">

                        <h4>Awesome!</h4>

                        <p>Validation will now begin in the backend, to look for the actual photos, based on the Album
                            information specified.</p>
                        <p>If you think that you made a mistake on the previous page, now is a good time to go back and
                            fix that. Otherwise, none of the rows will be valid or incorrect columns will be set into
                            another field, which is not what we want.</p>
                        <p>More information will be available on the main page (behind) to show the current Progress of
                            this import.</p>
                        <p>Only higher level Admins can merge valid records into the live database.</p>

                    </div>

                    <div ng-show="pagesInfo.currentPage=='lastPage'" class="clearfix alert alert-success">

                        <h4>Congratulations!</h4>

                        <p>You have successfully imported a batch of Photos!</p>
                        <p>Please feel free to import another batch when more photos are available! 🤓</p>
                        <p>Thank you so much for your contribution! 😘</p>
                        <p>Cheers! 🍻</p>

                        <p class="clear-both">&nbsp;</p>

                    </div>

                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left"
                        ng-show="pagesInfo.currentPage=='csvChooseFile' && !showFileInput"
                        ng-click="pagesInfo.startOver()">
                    Start Over
                </button>
                <button type="button" class="btn btn-link pull-left" ng-show="pagesInfo.getCurrentPageInfo().prevPageKw"
                        ng-click="pagesInfo.goToPrevPage()">
                    < Back
                </button>
                <loading-spinner ng-show="processing"></loading-spinner>
                <button type="button" class="btn btn-primary" ng-show="pagesInfo.getCurrentPageInfo().submitText"
                        ng-click="$scope[pagesInfo.getCurrentPageInfo().submitScopeMethod]()">
                    {{ pagesInfo.getCurrentPageInfo().submitText }}
                </button>
            </div>
        </div>

    </fieldset>
</form>