@import "var-main";
@import "mixins";


// CONTROLLER


// slick-slider
.slick-slider {
  .slick-prev {
    position: absolute;
    top: 50%;
    left: -70px;
    z-index: 55;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 80px;
    color: #C6C6C6;
    @include transition(0.4);
    cursor: pointer;
    &:hover {
      color: $color-text-paragraph;
    }
  }
  .slick-next {
    position: absolute;
    top: 50%;
    right: -70px;
    z-index: 55;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 80px;
    color: #C6C6C6;
    @include transition(0.4);
    cursor: pointer;
    &:hover {
      color: $color-text-paragraph;
    }
  }
  .slick-dots {
    position: absolute;
    z-index: 55;
    bottom: -50px;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 0;
    li {
      display: inline-block;
      width: 15px;
      height: 15px;
      padding: 0;
      border-radius: 50%;
      background: #C6C6C6;
      margin: 5px 7px;
      cursor: pointer;
      @include transition(0.4);
      &:hover {
        background: #5D5D5D;
      }
      &.slick-active {
        background: #5D5D5D;
      }
      button {
        display: none;}
    }
  }
  @include desktop {
    .slick-prev {
      left: -60px;
      font-size: 64px;
    }
    .slick-next {
      right: -60px;
      font-size: 64px;
    }
  }
  @include mobile {
    .slick-dots {
      bottom: -40px;
      li {
        width: 10px;
        height: 10px;
        margin: 5px 5px;
      }
    }
  }
}

.timeTo.timeTo-black {
  display: flex;
  justify-content: center;
  height: auto;
  figure {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-width: 110px;
    max-width: 110px;
    width: 110px!important;
    height: auto;
    margin: 0 15px;
    position: relative;
    margin-bottom: 30px;
    &:before {
      position: absolute;
      content: '';
      width: 4px;
      height: 4px;
      background: $color-text-paragraph;
      border-radius: 50%;
      top: 50%;
      margin-top: -10px;
      right: -17px;
    }
    &:after {
      position: absolute;
      content: '';
      width: 4px;
      height: 4px;
      background: $color-text-paragraph;
      border-radius: 50%;
      bottom: 50%;
      margin-bottom: -10px;
      right: -17px;
    }
    &:last-child {
      &:before {
        display: none;}
      &:after {
        display: none;}
    }
    + span {
      display: none;
    }
    div {
      border: none;
      border-radius: 5px;
      background: #444444!important;
      box-shadow: 0px 4px 0px #5D5D5D!important;
      width: 52px!important;
      height: 65px!important;
      margin-left: -1px;
      text-align: center;
      margin-right: 0!important;
      &:nth-child(2) {
        border-radius: 5px;
      }
      ul {
        display: inline-block;
        padding: 7px 0;
        width: auto;
        left: 50%!important;
        transform: translate(-50%);
        li {
          background: none;
          font-family: $fonts-Semi-Condensed;
          font-weight: normal;
          color: #fff;
          font-size: 37px;
        }
      }
    }
    figcaption {
      width: 100%;
      font-size: 20px!important;
      text-align: center;
      line-height: 1;
      font-weight: normal;
      color: $color-text-paragraph;
      font-family: $fonts-Semi-Condensed;
      padding: 0!important;
      margin-top: 13px;
      position: absolute;
      left: 0;
      bottom: -30px;
    }
  }
  @include mobile {
    figure {
      min-width: 0px;
      width: 25%!important;
      height: auto;
      margin: 0 10px;
      margin-bottom: 25px;
      &:before {
        position: absolute;
        content: '';
        width: 4px;
        height: 4px;
        background: $color-text-paragraph;
        border-radius: 50%;
        top: 50%;
        margin-top: -9px;
        right: -11px;
      }
      &:after {
        position: absolute;
        content: '';
        width: 4px;
        height: 4px;
        background: $color-text-paragraph;
        border-radius: 50%;
        bottom: 50%;
        margin-bottom: -9px;
        right: -11px;
      }
      div {
        width: 48%!important;
        height: 49px!important;
        ul {
          padding: 0px 0;
          width: 67%!important;
          li {
            font-size: 26px!important;
            line-height: 51px;
          }
        }
      }
      figcaption {
        font-size: 16px!important;
        bottom: -25px;
      }
    }
  }
}

.timeTo.timeTo-white {
  display: flex;
  justify-content: center;
  height: auto;
  figure {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-width: 70px;
    max-width: 70px;
    width: 70px!important;
    height: auto;
    margin: 0 15px;
    position: relative;
    margin-bottom: 30px;
    &:before {
      position: absolute;
      content: '';
      width: 4px;
      height: 4px;
      background: $color-text-paragraph;
      border-radius: 50%;
      top: 50%;
      margin-top: -10px;
      right: -17px;
    }
    &:after {
      position: absolute;
      content: '';
      width: 4px;
      height: 4px;
      background: $color-text-paragraph;
      border-radius: 50%;
      bottom: 50%;
      margin-bottom: -10px;
      right: -17px;
    }
    &:last-child {
      &:before {
        display: none;}
      &:after {
        display: none;}
    }
    + span {
      display: none;
    }
    div {
      border: none;
      border-radius: 5px;
      background: #F2F2F2!important;
      width: 32px!important;
      height: 45px!important;
      text-align: center;
      margin-right: 0!important;
      box-shadow: 0px 4px 0px #C6C6C6!important;
      &:nth-child(2) {
        border-radius: 5px;
      }
      ul {
        display: inline-block;
        padding: 13px 0;
        width: auto;
        left: 50%!important;
        transform: translate(-50%);
        li {
          background: none;
          color: $color-text-paragraph;
          font-family: $fonts-Semi-Condensed;
          font-weight: normal;
          font-size: 29px;
        }
      }
    }
    figcaption {
      width: 100%;
      font-size: 16px!important;
      text-align: center;
      line-height: 1;
      font-weight: normal;
      color: $color-text-paragraph;
      font-family: $fonts-Semi-Condensed;
      padding: 0!important;
      margin-top: 13px;
      position: absolute;
      left: 0;
      bottom: -30px;
    }
  }
  @include mobile {
    figure {
      min-width: 0px;
      width: 25%!important;
      height: auto;
      margin: 0 10px;
      margin-bottom: 25px;
      &:before {
        position: absolute;
        content: '';
        width: 4px;
        height: 4px;
        background: $color-text-paragraph;
        border-radius: 50%;
        top: 50%;
        margin-top: -9px;
        right: -11px;
      }
      &:after {
        position: absolute;
        content: '';
        width: 4px;
        height: 4px;
        background: $color-text-paragraph;
        border-radius: 50%;
        bottom: 50%;
        margin-bottom: -9px;
        right: -11px;
      }
      div {
        width: 48%!important;
        height: 49px!important;
        ul {
          padding: 0px 0;
          width: 67%!important;
          li {
            font-size: 26px!important;
            line-height: 51px;
          }
        }
      }
      figcaption {
        font-size: 16px!important;
        bottom: -25px;
      }
    }
  }
}