@import "var-main";
@import "mixins";

.loading-indicator {
  width: 60px;
  margin: 0 20px;
}

.alert {
  p {
    font-size: 15px;
    padding-bottom: 10px;
  }
  small {
    font-size: 14px;
  }
}

//Base
hr {
  width: 100%;
  margin-bottom: 35px;
}
a {
  cursor: pointer;
  color: $color-link;
  text-decoration: underline;
  &:hover {
    color: $color-link--hover;
    text-decoration: none;
  }
}
input, a, button, select, textarea, .item {
  outline: none!important;
  @include transition(0.3);
}
.row {
  display: flex;
  flex-wrap: wrap;
  &:before,
  &:after{
    content: none;
  }
}
.d-flex {
  display: flex;
}
.j-center {
  justify-content: center;
}
.j-flex-end {
  justify-content: flex-end;
}
.a-center {
  align-items: center;
}
.text-center {text-align: center;}
.text-right {text-align: right;}
.text-left {text-align: left;}
.active {
  opacity: 1;
}

.compensate-for-scrollbar {
  margin: 0!important;
}

.fancybox-bg {
  background: none;
  @include tablet {
    background: rgba(19, 19, 19, 0.7);
  }
}

.popover {
  margin-top: 18px;
  .popover-content {
    p {
      font-size: 16px;
      padding: 0;
    }
  }
}

.fa-spinner {
  &:before {
    animation: rotateSpinner 1s infinite ease-in-out;
    display: inline-block;
    @keyframes rotateSpinner {
      0% {
        transform: rotate(0deg);
      }
      50% {
        transform: rotate(360deg);
      }
      100% {
        transform: rotate(0deg);
      }
    }
  }
}

  // GLOBAL STYLES
body {
    font-family: $fonts-Semi-Condensed;
    background: #E1DFE2;
    font-size: $size;
}
.wrapper {
    position: relative;
    @include transition(0.3);
    min-height: 100vh;
    padding-bottom: 58px;
    margin: 0 auto;
    max-width: 2390px;
    left: 0;
    background: #fff;
    &.filter_blur {
      filter: blur(10px);
      overflow: hidden;
    }
    @include desktop {
      padding-bottom: 52px;
    }
    @include tablet {
        padding-bottom: 40px;
      &.filter_blur {
        filter: none;
        overflow: visible;
      }
    }
}

.photo_view_information__slider {
  .slick-prev,
  .slick-next {
    display: none!important;
  }
}

.container, .container-fluid {
  @media (min-width: 430px) and (max-width: 767px) {
    width: 400px;
  }
}

//Main-frame
.main_frame {
    background: #fff;
    &__content {
        padding: 50px 35px;
        //padding-left: 75px;
    }
    &__sitebar {
        background: #f2f2f2;
        padding: 50px 35px;
        //padding-right: 55px;
    }
  @include laptop {
    &__content {
      padding: 30px 15px;
      padding-right: 25px;
    }
    &__sitebar {
      padding: 30px 30px;
    }
  }
  @include tablet {
    &__content {
      padding: 50px 35px;
      //padding-left: 75px;
    }
    &__sitebar {
      background: #f2f2f2;
      padding: 50px 35px;
      //padding-right: 55px;
    }
  }
  @include mobile {
    &__content {
      padding: 30px 15px;
    }
    &__sitebar {
      padding: 30px 30px;
    }
  }
}

.modal_main {
  display: none;
}
.like_btn {
  background: transparent;
  border: none;
  transition: 0.3s;
}
.like_btn:hover {
  transform: scale(1.2);
}


// Main-Loader
.main_loader {
  padding: 26px 60px;
  background: #00a3b3;
  border-radius: 5px;
  font-size: 32px;
  line-height: 1.1;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  white-space: nowrap;
  font-family: $fonts-Francisco;

  @include laptop {
    padding: 26px 60px;
    font-size: 28px;
  }
  @include tablet {
    padding: 22px 60px;
    font-size: 28px;
  }
  @include mobile {
    padding: 12px 20px;
    font-size: 18px;
  }
}

.drag_over {
  border: 2px dashed #5aa55a !important;
  background: #f9f9f9;
  .green_text {
    color: #5aa55a !important;
  }
}

.error_text {
  color: #CA0300;
  font-size: 12px;
}

.tags_field {
  width: 85%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
}

.tags_input {
  flex-grow: 5;
}

.loader {
  display: block;
  position: relative;
  width: 36px;
  height: 36px;
  margin: 0 15px;
  border-radius: 50%;
  border: 1px solid transparent;
  border-top-color: $color-main--blue;
  animation: spin 2s linear infinite;
  z-index: 1001;
  &:before {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    border-radius: 50%;
    border: 1px solid transparent;
    border-top-color: $color-main--yellow;
    animation: spin 3s linear infinite;
  }
  &:after {
    content: "";
    position: absolute;
    top: 6px;
    left: 6px;
    right: 6px;
    bottom: 6px;
    border-radius: 50%;
    border: 1px solid transparent;
    border-top-color: $color-main--red;
    animation: spin 1.5s linear infinite;
  }

  @keyframes spin {
    0%   {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

.relative_help_container {
  position: relative;
}
.help_note {
  background: $color-main--red;
  padding: 20px;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  right: -5%;
  transform: translate(100%, -50%);
  width: 45%;
  z-index: 20;
  display: none;
  color: #fff;
  font-family: $fonts;
  font-style: italic;
  &:before {
    content: '';
    left: 7px;
    top: 7px;
    position: absolute;
    width: calc(100% - 14px);
    height: calc(100% - 14px);
    border: 1px dashed #fff;
    border-radius: 4px;
  }
  p {
    padding: 0;
    margin: 0;
    font-size: 15px;
    font-family: $fonts;
    font-style: italic;
    font-weight: bold;
    color: #fff;
  }

  &.help_note_left {
    left: -5%;
    transform: translate(-100%, -50%);
    &:after {
      content: '';
      position: absolute;
      right: -16px;
      top: 50%;
      margin-top: -8px;
      border: 8px solid transparent;
      border-left: 8px solid $color-main--red;
    }
  }
  &.help_note_right {
    right: -5%;
    transform: translate(100%, -50%);
    &:after {
      content: '';
      position: absolute;
      left: -16px;
      top: 50%;
      margin-top: -8px;
      border: 8px solid transparent;
      border-right: 8px solid $color-main--red;
    }
  }
}
.help_note_bottom {
  top: auto;
  right: auto;
  left: 50%;
  bottom: 0;
  width: 100%;
  transform: translate(-50%, 100%);
}

.album_intro__body .album_week p {
  text-align: left;
}

.red_asterisk {
  color: #e65f50;
}

.btn_red:disabled {
  background-color: #c3c3c3 !important;
  cursor: not-allowed !important;
  opacity: 1 !important;
  box-shadow: 0px 4px 0px #9a9696 !important;
}

#shortBlurb img {
  transition: 0.3s;
}
#shortBlurb {
  transition: 0.3s;
}
#shortBlurb.hidden-block img {
  height: 0;
}
#shortBlurb.hidden-block {
  max-height: 120px;
  overflow: hidden;
}



.tags_field {
  width: 100%;
  background: #fff;
}

.tags_container {
  display: flex;
  align-items: center;
}
.tags_container span {
  border: 1px solid black;
  margin-right: 5px;
}

.tags_input {
  flex-grow: 5;
  max-width: 100%;
  background: transparent;
  border: none;
}
.tags_field {
  white-space: nowrap;
}

.tags_input {
  margin-left: -3px;
  width: 100%;
}
.tags_variants {
  padding: 5px 0;
  border: 1px solid $color-border-form;
  border-radius: 4px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  min-width: 270px;
  top: 100%;
  position: absolute;
  transform: translateY(10px);
  width: 100%;
  left: 0;
  background: #fff;
  &:before {
    top: -12px;
    left: 20px;
    border: 6px solid transparent;
    border-bottom: 6px solid $color-border-form;
  }
  &:after {
    top: -11px;
    left: 20px;
    border: 6px solid transparent;
    border-bottom: 6px solid #fff;
  }
  ul {
    width: 100%;
    padding: 10px;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    .tag-item {
      padding: 0;
      .ng-binding {}
    }
  }
}
.tag-item {
  width: auto;
  display: inline-block;
  margin-left: 7px;
  margin-bottom: 7px;
  button, span {
    font-size: 14px;
    padding: 5px 15px;
    border-radius: 4px;
    text-decoration: none;
    outline: none;
    border: none;
    position: relative;
    top: 0;
    display: inline-block;
    cursor: pointer;
    background: #F2F2F2;
    color: $color-text-paragraph;
    box-shadow: 0px 4px 0px #C6C6C6;
    &:hover,
    &:focus {
      top: 2px;
      box-shadow: 0px 2px 0px #C6C6C6;
    }
  }
}

#check24 {
  width: 0;
}
.error, .error_text {
  font-weight: 600;
  font-size: 20px;
  padding: 10px;
  color: #e65f50 !important;
}
.fas.fa-certificate.new {
  display: inline-block;
  position: relative;
  line-height: 1;
  color: #91DC5A !important;
  text-shadow: none;
}
.fas.fa-certificate.new span {
  text-transform: uppercase;
  color: #fff;
  font-size: 6px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  font-weight: 500;
  font-family: Arial;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#dontDownloadMessage {
  position: fixed;
  background: rgba(115,115,115,0.75);
  border-radius: 5px;
  padding: 15px;
}
#dontDownloadMessage p {
  font-size: 14px;
  padding: 0;
  margin: 0;
  color: #fff;
}
.sensitive_content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}
.sensitive_content_for_item {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #444444;
  color: #fff;
}
.sensitive_content_for_item .overlay_contains {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sensitive_content_for_item .overlay_contains .title {
  margin-bottom: 15px;
}
.radio_button_sensitive {
  margin-left: 40px;
}
.limited {
  color: #e65f50 !important;
  font-weight: 700;
}
.intro_main__timer {
  overflow: visible !important;
}
.album_intro__body .album_week .text_description p > p {
  margin-bottom: 0;
}
.photo_caption {
  border: none;
  background: none;
  overflow: inherit;
  white-space: pre-wrap;
  font-family: "Barlow Semi Condensed", sans-serif;
}
.opacity {
  opacity: 0;
}
.info_about_next_challenge {
  padding: 10px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info_about_next_challenge span {
  display: block;
  font-weight: 700;
}
.first-poster p, .first-poster label {
  font-size: 20px;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: normal;
  line-height: 1;
}
.challenge_view__intro_content .block_caption__center .sub {
  margin-bottom: 10px !important;
}

.sign_manifesto_footer {
  justify-content: center !important;
}

.after_caption {
  font-family: "Sue Ellen Francisco", cursive;
}

.drop-zone {
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000000;
}

.input_error {
  border: 1px solid #D52E27 !important;
  box-shadow: 0px 0px 4px #D52E27;
}

.dropzone_error {
  border: 2px dashed #D52E27 !important;
}