@import "var-main";

// Mixins image start
@mixin image-cover {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@mixin image-contain {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
//Mixins image end


// Mixins transiton start
@mixin transition($time) {
  -webkit-transition: $time+s;
  -moz-transition: $time+s;
  -ms-transition: $time+s;
  -o-transition:$time+se;
  transition: $time+s;
}
// Mixins transiton end


// Mixins media end
@mixin desktop {
  @media (max-width: $desktop+px) {
    @content;
  }
}
@mixin laptop {
  @media screen and (max-width: $laptop+px) {
    @content;
  }
}
@mixin tablet {
  @media screen and (max-width: $tablet+px) {
    @content;
  }
}
@mixin mobile {
  @media screen and (max-width: $mobile+px) {
    @content;
  }
}
@mixin landscape-mobile {
  @media screen and (max-width: $mobile+px) and (orientation:$landscape) {
    @content;
  }
}
// Mixins media end