@import "var-main";
@import "mixins";
/* ============================ TYPOGRAPHY =================================  */
//Caption H1-H6
$HConfig: '1' 38px 35px bold $color-text-paragraph,
'2' 34px 35px normal $color-text-paragraph,
'3' 28px 30px bold $color-text-paragraph,
'4' 41px 20px normal $color-text-paragraph,
'5' 18px 25px normal $color-text-paragraph,
'6' 16px 20px bold $color-text-paragraph;

@each $size in $HConfig {
  h#{nth($size, 1)} {
    margin: 0;
    font-size: nth($size, 2);
    padding-bottom: nth($size, 3);
    font-weight: nth($size, 4);
    color: nth($size, 5);
    font-family: $fonts-Condensed;
  }
}

@include mobile {
  $HConfig: '1' 38px 35px bold $color-text-paragraph,
  '2' 34px 35px normal $color-text-paragraph,
  '3' 28px 30px bold $color-text-paragraph,
  '4' 24px 15px normal $color-text-paragraph,
  '5' 18px 25px normal $color-text-paragraph,
  '6' 16px 20px bold $color-text-paragraph;

  @each $size in $HConfig {
    h#{nth($size, 1)} {
      margin: 0;
      font-size: nth($size, 2);
      padding-bottom: nth($size, 3);
      font-weight: nth($size, 4);
      color: nth($size, 5);
      font-family: $fonts-Condensed;
    }
  }
}

//Caption H1-H6 End
p {
  font-size: 24px;
  color: $color-text-paragraph;
  font-weight: normal;
  font-family: $fonts-Semi-Condensed;
  line-height: 1.4;
  padding: 0;
  margin: 0;
  padding-bottom: 20px;
  @include mobile {
    font-size: 16px;
  }
}

ul {
  list-style: disc;
  padding-left: 23px;
  li {
    font-size: 24px;
    color: $color-text-paragraph;
    font-weight: normal;
    font-family: $fonts-Semi-Condensed;
    line-height: 1.4;
    padding: 0;
    margin: 0;
    padding-bottom: 20px;
  }
  @include mobile {
    padding-left: 15px;
    li {
      font-size: 16px;
    }
  }
}
ol {
  li {}
}

strong {}
b {}
em {}

small {}

//Caption-sitebar
.sitebar_caption {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
  .caption {
    display: inline-block;
    margin: 0;
    font-size: 28px;
    color: #fff;
    font-family: $fonts-Condensed;
    font-weight: normal;
    line-height: 1;
    padding: 12px 25px;
    background: $color-main--yellow;
    border-radius: 0 5px 5px 0;
    margin-left: -40px;
    box-shadow: 4px 4px 0px $color-main--yellow-hover;
    &.yellow {
      background: $color-main--yellow;
      box-shadow: 4px 4px 0px $color-main--yellow-hover;
    }
    &.blue {
      background: $color-main--blue;
      box-shadow: 4px 4px 0px $color-main--blue-hover;
    }
    &.red {
      background: $color-main--red;
      box-shadow: 4px 4px 0px $color-main--red-hover;
    }
  }
  @include desktop {
    margin-bottom: 25px;
    .caption {
      font-size: 22px;
      padding: 10px 25px;
      margin-left: -33px;
      &.yellow {
        box-shadow: 3px 3px 0px $color-main--yellow-hover;
      }
      &.blue {
        box-shadow: 3px 3px 0px $color-main--blue-hover;
      }
      &.red {
        box-shadow: 3px 3px 0px $color-main--red-hover;
      }
    }
  }
  @include mobile {
    margin-bottom: 25px;
    .caption {
      font-size: 22px;
      padding: 10px 25px;
      margin-left: -33px;
      &.yellow {
        box-shadow: 3px 3px 0px $color-main--yellow-hover;
      }
      &.blue {
        box-shadow: 3px 3px 0px $color-main--blue-hover;
      }
      &.red {
        box-shadow: 3px 3px 0px $color-main--red-hover;
      }
    }
  }
}

//Announcement-list
.announcement_list {
  padding: 0;
  margin: 0;
  list-style: none;
  padding-bottom: 65px;
  li {
    display: flex;
    padding-bottom: 40px;
    .date {
      display: inline-block;
      white-space: nowrap;
      font-size: 22px;
      color: $color-text-paragraph;
      font-weight: normal;
      line-height: 1.3;
      padding-right: 20px;
      &:after {
        content: '-';
        position: relative;
        right: -8px;
      }
    }
    p {
      font-size: 22px;
      color: $color-text-paragraph;
      font-weight: normal;
      line-height: 1.3;
      padding: 0;
      margin: 0;
    }
  }
  @include desktop {
    padding-bottom: 35px;
    li {
      display: flex;
      padding-bottom: 20px;
      .date {
        font-size: 15px;
        padding-right: 15px;
        &:after {
          content: '-';
          position: relative;
          right: -8px;
        }
      }
      p {
        font-size: 15px;
      }
    }
  }
  @include mobile {
    padding-bottom: 35px;
    li {
      display: flex;
      padding-bottom: 20px;
      .date {
        font-size: 15px;
        padding-right: 15px;
        &:after {
          content: '-';
          position: relative;
          right: -8px;
        }
      }
      p {
        font-size: 15px;
      }
    }
  }
}

//Speakers-list
.speakers__list {
  padding: 0;
  margin: 0;
  margin-bottom: 65px;
  list-style: none;
  overflow: auto;
  max-height: 410px;
  li {
    display: flex;
    align-items: center;
    font-size: 24px;
    color: $color-text-paragraph;
    font-weight: normal;
    line-height: 1.2;
    padding-bottom: 18px;
    .number {
      white-space: nowrap;
      padding-right: 20px;
      &:after {
        content: '-';
        position: relative;
        right: -9px;
      }
    }
  }
  @include desktop {
    max-height: 400px;
    margin-bottom: 35px;
    li {
      font-size: 17px;
      padding-bottom: 12px;
    }
  }
  @include mobile {
    max-height: 80vh;
    margin-bottom: 35px;
    li {
      font-size: 17px;
      padding-bottom: 12px;
    }
  }
}
