<form ng-submit="saveNewPhoto()" enctype="multipart/form-data">
    <fieldset ng-disabled="processing">

        <div class="modal-content photo-upload">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Submit your Photo!</h4>
            </div>

            <div class="modal-body modal-padding-top">

                <div class="col-md-12">
                    <div class="well">
                        By using this form, you agree to our <a href="/terms" target="_blank">Terms of Service</a>.
                    </div>
                </div>

                <div class="form-group">
                    <label for="uploadPhoto-title" class="col-md-12 control-label">
                        Photo Title:
                        <span class="required-field">*</span>
                    </label>
                    <div class="col-md-12">
                        <input id="uploadPhoto-title" type="text" class="form-control"
                               ng-model="photoDetails.title"
                               ng-focus="hideErrors('title')">
                        <span class="help-block">
                            <span class="error">{{ errors.title[0] }}</span>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="uploadPhoto-caption" class="col-md-12 control-label">
                        Caption:
                        <span class="required-field">*</span>
                    </label>
                    <div class="col-md-12">
                        <textarea id="uploadPhoto-caption" class="form-control"></textarea>
                        <span class="help-block">
                            <span class="error">{{ errors.caption[0] }}</span>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="uploadPhoto-tags" class="col-md-12 control-label">
                        Tags
                    </label>
                    <div class="col-md-12">
                        <div class="form-control no-height cursor-text" ng-click="focusTagsInput()">
                            <span class="tags-list tags-from-album" ng-repeat="tag in albumTagsList">
                                #{{ tag }}
                            </span>
                            <span class="tags-list" ng-repeat="tag in photoDetails.tags">
                                #{{ tag }}
                                <span class="remove-tag" ng-click="removeTag($index)">&times;</span>
                            </span>
                            <input id="uploadPhoto-tags" type="text" class="no-border color-on-disabled"
                                   on-backspace="onBackspaceInsideTagInput()"
                                   on-enter-key="onEnterKeyInsideTagInput()"
                                   ng-focus="hideErrors('tags')"
                                   ng-change="checkTagInput()"
                                   ng-blur="tagInputBlur()"
                                   ng-model="tagInput"
                                   ng-trim="false">
                        </div>
                        <span class="help-block">
                            <span class="error">{{ errors.tags[0] }}</span>
                        </span>
                    </div>
                </div>

                <div class="clear-both">&nbsp;</div>

                <div class="col-md-12">
                    <h4>
                        <label for="uploadPhoto-photo">
                            Upload your photo:
                            <span class="required-field">*</span>
                        </label>
                    </h4>
                </div>

                <div class="form-group">
                    <div class="col-md-12 box__mainholder" ng-hide="showSelectedPhoto">
                        <label for="uploadPhoto-photo" class="box__label">
                            <input class="box__photo" type="file" id="uploadPhoto-photo" accept="image/*"/>
                            <div class="glyphicon glyphicon-download-alt upload-icon-big"></div>
                            <h4>
                                <strong>Choose a photo</strong>
                                <span class="box__dragndrop"> or drag one here</span>.
                            </h4>
                            <small>Accepts: JPG, PNG. Max file size: {{ maxKbAllowed / 1024 }}Mb</small>
                        </label>
                        <div class="box__droptarget">
                            drop it here
                        </div>
                        <div class="box__insidetarget">
                            <random-upload-texts ng-if="isDraggedInsideBox"></random-upload-texts>
                            <span ng-hide="isDraggedInsideBox">&nbsp;</span>
                        </div>
                    </div>
                    <div class="col-md-12 box__preview" ng-show="showSelectedPhoto">
                        <div class="photo-preview-holder">
                            <img id="uploadPhoto-photo-preview" class="img-responsive photo-spinner-bg">
                            <div class="choose-again-holder">
                                <div class="choose-again" ng-click="removePhoto()">&times;</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <span class="help-block">
                            <span class="error">{{ errors.photo[0] }}</span>
                            <span class="error margin-bottom-5" ng-show="isDraggedInsideBox">
                                * <strong>Note:</strong> Older browsers may need to be upgraded to support drag-and-drop.
                            </span>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-12">
                        <input type="checkbox" id="uploadPhoto-critique"
                               ng-model="photoDetails.screencast_critique"
                               ng-click="hideErrors('screencast_critique')">
                        &nbsp;
                        <label for="uploadPhoto-critique" class="inline"
                               ng-click="hideErrors('screencast_critique')">
                            Yes! Please consider my photo for a screencast critique!
                        </label>
                        <span class="help-block">
                            <span class="error">{{ errors.screencast_critique[0] }}</span>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="uploadPhoto-location" class="col-md-12 control-label">Photo Location</label>
                    <div class="col-md-12">
                        <input id="uploadPhoto-location" type="text" class="form-control"
                               ng-model="photoDetails.location">
                        <span class="help-block">
                            <span class="error">{{ errors.location[0] }}</span>
                        </span>
                    </div>
                </div>

                <div class="clear-both">&nbsp;</div>

                <div class="col-md-12">
                    <h4>Tell us more, pretty please?</h4>
                </div>

                <div class="form-group">
                    <div class="col-md-12">
                        <div>Do you want to tell us a bit more about your photo? We will use this information in the
                            future to provide you feedback about your work!
                        </div>
                        <input type="checkbox" id="uploadPhoto-tell-more"
                               aria-controls="tellMoreOptions"
                               data-target="#tellMoreOptions"
                               data-toggle="collapse"
                               aria-expanded="false"
                               ng-model="photoDetails.about_photo">
                        &nbsp;
                        <label for="uploadPhoto-tell-more" class="inline">
                            Yes! I'd like to tell you more!
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12 collapse" id="tellMoreOptions">
                        <div class="option-group-well well">

                            <div class="exif-group clear-both" ng-repeat="exifItem in exifItems.about_photo_questions">
                                <div class="clear-both exif-group-title">{{exifItem.name}}</div>

                                <div class="form-group">
                                    <div class="col-md-6" ng-repeat="exifItemMember in exifItem.members">
                                        <input type="checkbox" id="uploadPhoto-tell-more-option-{{exifItemMember.id}}"
                                               ng-model="photoDetails.about_photo_answers[exifItemMember.id]">
                                        &nbsp;
                                        <label for="uploadPhoto-tell-more-option-{{exifItemMember.id}}" class="inline">
                                            {{exifItemMember.name}}
                                        </label>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>

                <div class="clear-both">&nbsp;</div>

                <div class="form-group">
                    <div class="col-md-12">
                        <div>Do you want to provide shutter speed, aperture, and other camera settings?</div>
                        <input type="checkbox" id="uploadPhoto-share-settings"
                               aria-controls="shareSettingsOptions"
                               data-target="#shareSettingsOptions"
                               data-toggle="collapse"
                               aria-expanded="false"
                               ng-model="photoDetails.camera_settings">
                        &nbsp;
                        <label for="uploadPhoto-share-settings" class="inline">
                            Yes, I'd love to share my settings!
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12 collapse" id="shareSettingsOptions">
                        <div class="option-group-well well">

                            <div class="exif-group clear-both form-group"
                                 ng-repeat="exifItem in exifItems.camera_settings_questions">

                                <label for="uploadPhoto-share-settings-option-{{exifItem.id}}"
                                       class="col-md-12 row control-label clear-both exif-group-title">
                                    {{exifItem.name}}
                                </label>

                                <div class="col-md-12 row" ng-if="exifItem.type=='text'">
                                    <input type="text" class="rounded-textbox-border disable-with-fieldset"
                                           id="uploadPhoto-share-settings-option-{{exifItem.id}}"
                                           ng-model="photoDetails.camera_settings_answers[exifItem.id]">
                                </div>

                                <div class="col-md-12 row" ng-if="exifItem.type=='array'">
                                    <select class="white-bg disable-with-fieldset"
                                            id="uploadPhoto-share-settings-option-{{exifItem.id}}"
                                            ng-options="exifItemMember.id as exifItemMember.name for exifItemMember in exifItem.members"
                                            ng-model="photoDetails.camera_settings_answers[exifItem.id]">
                                    </select>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>

                <div class="clear-both">&nbsp;</div>

                <div class="col-md-12">
                    <h4>Miscellaneous Stuffs</h4>
                    <p>Crossing our t's and dotting our i's...</p>
                </div>

                <div class="form-group">
                    <label for="uploadPhoto-critique_level" class="col-md-12 control-label">
                        What kind of critique would you want from the community?
                    </label>
                    <div class="col-md-12">
                        <select class="form-control" id="uploadPhoto-critique_level"
                                ng-options="critiqueLevel.key as critiqueLevel.name for critiqueLevel in critiqueLevels"
                                ng-model="photoDetails.critique_level">
                        </select>
                        <span class="help-block">
                            <span class="error">{{ errors.critique_level[0] }}</span>
                        </span>
                    </div>
                </div>

                <div class="form-group" ng-show="album.extra_credit_title">
                    <div class="col-md-12">
                        <input type="checkbox" id="uploadPhoto-extra-credit"
                               ng-model="photoDetails.qualifies_extra_credit"
                               ng-click="hideErrors('qualifies_extra_credit')">
                        &nbsp;
                        <label for="uploadPhoto-extra-credit" class="inline"
                               ng-click="hideErrors('qualifies_extra_credit')">
                            This photo qualifies for the "Extra Credit" challenge: "{{ album.extra_credit_title }}"
                        </label>
                        <span class="help-block">
                            <span class="error">{{ errors.qualifies_extra_credit[0] }}</span>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-12">
                        <input type="checkbox" id="uploadPhoto-is-graphic"
                               ng-model="photoDetails.is_graphic"
                               ng-click="hideErrors('is_graphic')">
                        &nbsp;
                        <label for="uploadPhoto-is-graphic" class="inline"
                               ng-click="hideErrors('is_graphic')">
                            This photo contains graphic content.
                        </label>
                        <span class="help-block">
                            <span class="error">{{ errors.is_graphic[0] }}</span>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-12">
                        <input type="checkbox" id="uploadPhoto-has-nudity"
                               aria-controls="nudityAgreement"
                               data-target="#nudityAgreement"
                               data-toggle="collapse"
                               aria-expanded="false"
                               ng-model="photoDetails.has_nudity"
                               ng-click="clearModelConsent();hideErrors('has_nudity')">
                        &nbsp;
                        <label for="uploadPhoto-has-nudity" class="inline"
                               ng-click="hideErrors('has_nudity')">
                            This photo contains nudity.
                        </label>
                        <span class="help-block">
                            <span class="error">{{ errors.has_nudity[0] }}</span>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12 collapse" id="nudityAgreement">
                        <div class="option-group-well well">

                            <h4>*Nude Content*</h4>
                            <p>REMINDER: You have checked above that your photo contains nudity or graphic content!
                                Your photo will appear with a "placeholder image" on facebook, with an (off
                                Facebook) link to the actual photo, in the description text.</p>
                            <p>Please note that the subject in your photo must be at least 18 years of age (or higher,
                                if the age of majority in your country is higher) and IF REQUESTED, you'll need to
                                provide a <a href="https://www.asmp.org/releases/model-releases/adults-model-release/"
                                             target="_blank">model release form</a> (stating permission to post on
                                52Frames and that model is of full age).</p>
                            <p>If your subject is less than 18 years of age, i.e. a child, the photo will not be
                                submitted to the album.</p>
                            <input type="checkbox" id="uploadPhoto-model-consent"
                                   ng-model="photoDetails.model_consent"
                                   ng-click="hideErrors('model_consent')">
                            &nbsp;
                            <label for="uploadPhoto-model-consent" class="inline"
                                   ng-click="hideErrors('model_consent')">
                                My subject is of full age and if requested I can provide a model release form.
                            </label>
                            <span class="help-block" style="margin-bottom: 0">
                                <span class="error">{{ errors.model_consent[0] }}</span>
                            </span>
                        </div>
                        <div class="clear-both">&nbsp;</div>
                    </div>
                </div>

                <div class="col-md-12" ng-hide="$root.user.has_uploaded_before">
                    <div class="clear-both">&nbsp;</div>
                    <div class="alert alert-success first-poster">
                        <p>Your FIRST post!! Welcome to the tribe!!<br>
                            You have taken an important first step in owning creativity in your life!</p>
                        <p>If you haven't already, join the conversation in our wonderful <a target="_blank"
                                                                                             href="http://www.facebook.com/groups/52fadmin/">Facebook
                            Discussion Group</a> and introduce
                            yourself there!</p>
                        <p>Also, a reminder to make sure you submit a photo that you took DURING THE WEEK of the
                            challenge,
                            as that's how the project works!</p>
                        <p>What are you waiting for? Hit the Submit Button!! Woohoo!!</p>

                        <input type="checkbox" id="uploadPhoto-this-week"
                               ng-model="photoDetails.ownership_confirmation"
                               ng-click="hideErrors('ownership_confirmation')">
                        &nbsp;
                        <label for="uploadPhoto-this-week" class="inline"
                               ng-click="hideErrors('ownership_confirmation')">
                            Yup, this photo is entirely my own creation and I took it THIS week.
                            <span class="required-field">*</span>
                        </label>
                        <span class="help-block">
                            <span class="error">{{ errors.ownership_confirmation[0] }}</span>
                        </span>

                    </div>
                </div>

                <div class="clear-both" ng-show="$root.user.has_uploaded_before">&nbsp;</div>

            </div>
            <div class="modal-footer">
                <span class="pull-left countdown-timer">
                    Time remaining:
                    <countdown-timer
                            make-inline="1"
                            time-arrived-display="0d 0h 0m 0s"
                            utc-target-time="album.end_date_utc">
                    </countdown-timer>
                </span>
                <span ng-show="uploadProgress.value">{{ uploadProgress.value }}&nbsp;</span>
                <loading-spinner ng-show="processing"></loading-spinner>
                <button type="submit" class="btn btn-primary">Submit!</button>
            </div>
        </div>

    </fieldset>
</form>