<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Email Sent!</h4>
    </div>
    <div class="modal-body modal-padding-top">

        <div class="col-md-12">

            <div class="col-md-12 alert alert-success">
                <h4>Ok! We sent you a password reset link!</h4>
                <p>Please check your email and click on the link.</p>
                <p>&nbsp;</p>
                <small>Quick! The link is only good for 1 hour.</small>
            </div>

        </div>

    </div>
    <div class="modal-footer"></div>
</div>