<div ng-if="!$root.pageLoaded">
    <div class="container loading_container">
        <loading>Loading...</loading>
    </div>
</div>

<div ng-show="$root.pageLoaded">

    <div class="container community-guidelines">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h1>Community Guidelines</h1>
            </div>
            <div class="panel-body">
                <div class="col-md-3">
                    <ul class="nav nav-pills nav-stacked">
                        <li class="active"><a href="#community-values" data-toggle="tab">Community Values</a></li>
                        <li><a href="#project-guidelines" data-toggle="tab">Project Guidelines</a></li>
                    </ul>
                </div>
                <div class="col-md-9">
                    <div class="tab-content clearfix">

                        <div class="tab-pane active" id="community-values">
                            <p>52Frames isn’t just a place to improve your photography; we’re a community. As a
                                community, we have some core values to remind us why we’re here, and how we should
                                interact.</p>
                            <h3>Embrace Creativity</h3>
                            <p>At our core, we’re about more than photography; we’re about creativity. The reason
                                hundreds of Framers are so passionate about this project is because it carves out a
                                space of time in their busy lives each week, to simply engage in personal creativity.
                                Gift yourselves this space each week by taking the time to think about each challenge,
                                to think outside your comfort zone, and do something you wouldn’t otherwise ordinarily
                                do. Your “life balance” will thank you!</p>
                            <h3>A Safe Place for Risk</h3>
                            <p>Creativity is about taking risks. We encourage our community to dig deep to find their
                                own unique voice. Often this means taking risks with your creative work. <strong>Embrace
                                    the notion of imperfection<</strong>. Really, it doesn't need to be perfect. We
                                don't judge here. Allow yourself to be vulnerable to the process. Try something even if
                                it sucks. This is what creative learning is all about.</p>
                            <h3>Stay Committed</h3>
                            <p>We understand that life is complicated; obligations arise, as do vacations and
                                emergencies. Creative inspiration comes and goes and sometimes once a week sounds way
                                more challenging than when you had started. The trick to real creative growth, however,
                                is by staying consistent, even if it means submitting a non-stellar shot. 52Frames is
                                not about <strong>submitting</strong> your best photo each week. 52Frames is about
                                submitting a photo each week. </p>
                            <p>Our stats show that photographers who miss a single week are 500% more likely to miss
                                another than those that keep their streak. Stay committed and your photography will
                                reach whole new levels of photomastery.</p>
                            <h3>Support and (Give) Feedback</h3>
                            <p>What makes our community so special is the culture of constructive, yet respectful,
                                critique. You can’t improve your skills - any skill - all by yourself. Here, you have
                                hundreds of other photographers at your side - offering you feedback, suggestions,
                                motivation and kudos. We ask that you respond in kind, and offer your feedback,
                                suggestions, or critiques on 3 photos each week. You don’t have to be an expert to share
                                your thoughts. In fact, you’ll find your own eye getting sharper as you begin sharing
                                feedback on others.</p>
                            <p>Don't know what to say? Try leaving a "star rating" for our 3 categories instead.</p>
                            <h3>Critiques: Why and How</h3>
                            <p><br><strong><i>Why bother?</i></strong></p>
                            <p>Community critiques and comments are a big part of the “secret sauce” of 52Frames.</p>
                            <p>One of the surest ways to sharpen your eye for great photography is to really look at a
                                photograph, and process what works for you and what doesn’t. By taking the time to
                                really articulate what you appreciate [or don’t] about a photo, you’ll force yourself to
                                really examine the work and learn from it. At the same time, you will gain the same keen
                                insight from the critiques of others!</p>
                            <p><br><strong><i>What’s the best way?</i></strong></p>
                            <p>Yosef advocates the “sandwich method” in which a critique is “sandwiched” between two
                                compliments. This also helps in real life, btw.</p>
                            <p>We're all artists here, and we're all vulnerable in some way. Be nice about it. It goes a
                                long way.</p>
                            <p>Don't feel like you're "professional" enough to leave a critique? Just speak your mind.
                                Do you like the colors? The lighting? How does it make you feel? Any feedback is good
                                feedback, and you will get better at it over time.</p>
                            <p><br><strong><b>Whatever critique methodology you subscribe to, just make sure it comes
                                from a place of wanting to help the photographer, in a kind and supportive
                                way.</b></strong></p>
                        </div>

                        <div class="tab-pane" id="project-guidelines">
                            <p>We don’t believe in “rules” in photography and we really don’t have many rules here at
                                52Frames, but we have a few guidelines in place to make sure our weekly challenges are
                                fair, fun, and frickin’ fantastic. (Heads up: we absolutely adore alliteration).</p>
                            <h3>Photos Must Be Taken That Week</h3>
                            <p>This is pretty much the biggest “rule” here. The goal of the project is to create a
                                framework for you to take out your camera every single week. As such, <strong>you may
                                    only submit photos you took the week of the challenge (that’s Sunday to Sunday at
                                    the deadline time – midnight, Eastern U.S.)</strong>. Besides cheating yourself by
                                submitting older photos you have on your hard drive, it’s also unfair to other
                                participants who created something entirely new for the challenge. Everyone has the same
                                7-day challenge; this is what makes this project work. Photographs found to be taken
                                outside the week will be removed, and we’ll send the submitter a reminder of our
                                guidelines (insert dramatic gong noise here!).</p>
                            <h3>Only Submit Your Own Work</h3>
                            <p>This should go without saying, but we’ll say it anyway: your submissions must be your own
                                photography. We have a zero-tolerance policy for copyright infringement and the theft of
                                other people’s work. <strong>Members found to submit other’s work will be removed from
                                    the project and forfeit any chance for prizes. They will also be solely responsible
                                    for any legal ramifications from their actions</strong>. We’re not even going to
                                write something cute here to soften the mood, because we’re so serious about this.</p>
                            <h3>Keep it Classy, Folks</h3>
                            <p>Since the camera’s invention, photographers have been depicting the beauty of the human
                                form. Our site allows for artful nudity, and also offers a filter for users who prefer
                                not to view it. However, images that can reasonably be considered offensive, obscene, or
                                pornographic may not be submitted. We understand there is sometimes a fine line between
                                the nude and the erotic, and we will trust our moderators to use their judgement in
                                making the distinction on a case-by-case basis.</p>
                            <h3>Be Nice</h3>
                            <p>We participate in some great community discussion over at our <a
                                    href="http://www.facebook.com/groups/52fadmin/" target="_blank">52Frames Discussion
                                Facebook Group</a>, and we encourage free expression, especially through photography and
                                creativity, but please keep in mind that this group is for sharing and learning. Both in
                                this group, and in your comments on this site, please use discretion if you are citing a
                                complaint or being negative. We are glad to hear everyone out, but if a member is being
                                inflammatory, disrespectful to other members, or just generally disruptive, we will not
                                hesitate to remove this member from the project.</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>


    </div>

    <footer></footer>

</div>