@import "../mixins/var-main";
@import "../mixins/mixins";

/****-- Footer start --****/
.footer {
  background: #E1DFE2;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  .row {
    align-items: center;
    padding: 10px 15px;
  }
  &__navbar {
    .list_navbar {
      padding: 0;
      margin: 0;
      list-style: none;
      display: flex;
      align-items: center;
      margin-left: -15px;
      li {
        padding: 0 10px;
        a {
          padding: 5px;
          display: inline-block;
          text-decoration: none;
          color: $color-text-paragraph;
          font-size: 20px;
          font-family: $fonts-Semi-Condensed;
          font-weight: 300;
          &:hover {
            color: #949494;
          }
        }
      }
    }
  }
  &__sub {
    .sub {
      text-align: right;
      font-size: 18px;
      padding: 0;
      margin: 0;
      font-family: $fonts-Semi-Condensed;
      font-weight: 300;
      color: $color-text-paragraph;
    }
  }
  @include desktop {
    &__navbar {
      .list_navbar {
        li {
          padding: 0 5px;
          a {
            font-size: 16px;
          }
        }
      }
    }
    &__sub {
      .sub {
        font-size: 14px;
      }
    }
  }
  @include tablet {
    &__navbar {
      display: none;
    }
    &__sub {
      width: 100%;
      .sub {
        text-align: center;
        font-size: 14px;
      }
    }
  }
}
/****-- Footer end --****/