@import "../mixins/var-main";
@import "../mixins/mixins";

/****-- Header start --****/
.dropdown_submit {
  .dropdown-menu {
    padding: 25px;
    text-align: center;
    left: 50%;
    margin-top: 15px;
    transform: translateX(-50%);
    border: 1px solid $color-border;
    width: 300px;
    &:before {
      top: -14px;
      left: 50%;
      margin-left: -7px;
      border-width: 7px;
      border-bottom: 7px solid $color-border;
    }
    &:after {
      top: -13px;
      left: 50%;
      margin-left: -7px;
      border-width: 7px;
      border-bottom: 7px solid #fff;
    }
    .submit_box {
      &:before {
        content: '';
        position: absolute;
        left: 7px;
        top: 7px;
        width: calc(100% - 14px);
        height: calc(100% - 14px);
        border: 2px dashed $color-border;
        border-radius: 5px;
      }
      .title {
        display: inline-block;
        line-height: 1.8;
        font-size: 26px;
        color: $color-text-2;
        font-family: $fonts-Francisco;
        padding-bottom: 20px;
      }
    }
  }
  @include tablet {
    .dropdown-menu {
      left: auto;
      right: -15px;
      transform: translateX(0%);
      min-width: 220px;
      width: 220px;
      .submit_box {
        &:before {
          left: 5px;
          top: 5px;
          width: calc(100% - 10px);
          height: calc(100% - 10px);
          border: 2px dashed $color-border;
        }
        .title {
          line-height: 1.8;
          font-size: 18px;
          padding-bottom: 0px;
        }
        .btn_default {
          font-size: 13px;
          padding: 4px 15px;
        }
      }
    }
  }
}

.header {
  background: #F8F8F8;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.11);
  .row {
    align-items: center;
    padding: 0px 15px;
    height: 60px;
  }
  .row__mobile_frame {
    display: none;
  }
  .row__desktop_frame {
    right: 0;
    transition-delay: 0s;
  }
  &__logo {
    .logo {
      display: inline-block;
      width: 150px;
    }
  }
  &__navbar {
    padding: 0;
    .navbar_list {
      display: flex;
      align-items: center;
      justify-content: center;
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        padding: 0 15px;
        margin: 0;
        a {
          font-size: 20px;
          text-decoration: none;
          display: inline-block;
          line-height: 1;
          color: $color-text-paragraph;
          font-weight: 300;
          padding: 19px 15px;
          white-space: nowrap;
          &:hover {
            color: #000;
          }
        }
      }
    }
  }
  &__user_info {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .user_select {
      margin-left: 35px;
      .log_in {
        position: relative;
        display: inline-block;
        font-size: 20px;
        color: $color-text-paragraph;
        font-family: $fonts-Semi-Condensed;
        font-weight: 300;
        padding-left: 45px;
        text-decoration: none;
        i {
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          font-size: 34px;
          color: #888888;
          @include transition(0.3);
        }
        &:hover {
          color: #000;
          i {
            color: $color-text-paragraph;
          }
        }
      }
    }
    .user_info__item {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      .user_dropdown {
        margin-left: 20px;
        &__btn {
          display: flex;
          align-items: center;
          text-decoration: none;
          .img_wrapper {
            min-width: 38px;
            width: 38px;
            height: 38px;
            border-radius: 50%;
            overflow: hidden;
            background: #cfcfcf;
            img {
              @include image-cover;
            }
          }
          .name {
            padding-left: 10px;
            text-decoration: none;
            font-size: 18px;
            font-family: $fonts-Semi-Condensed;
            color: $color-text-2;
            font-weight: 300;
            display: inline-block;
            line-height: 1;
            white-space: nowrap;
            overflow: hidden;
          }
          i {
            font-size: 18px;
            color: #888888;
          }
        }
        .dropdown-menu {
          left: auto;
          right: 0;
          margin-top: 15px;
          &:before {
            left: auto;
            right: 50px;
          }
          &:after {
            left: auto;
            right: 50px;
          }
          li {
            a {
              text-decoration: none;
              i {
                position: absolute;
                font-size: 23px;
                right: 20px;
                top: 50%;
                @include transition(0.3);
                transform: translateY(-50%);
              }
              &:hover {
                i {
                  right: 27px;
                  color: $color-main--red;
                }
              }
            }
          }
        }
      }
      &.user_info__item_login {
        .btn_default {
          padding: 8px 25px;
          font-size: 16px;
        }
      }
    }
  }
  @include desktop {
    &__logo {
      .logo {
        width: 130px;
      }
    }
    &__navbar {
      .navbar_list {
        li {
          padding: 0 5px;
          a {
            font-size: 17px;
            padding: 15px 10px;
          }
        }
      }
    }
    &__user_info {
      .user_select {
        margin-left: 15px;
        .log_in {
          font-size: 17px;
          padding-left: 35px;
          i {
            font-size: 28px;
          }
        }
      }
    }
  }
  @include laptop {
    &__logo {
      .logo {
        width: 130px;
      }
    }
    &__navbar {
      .navbar_list {
        li {
          padding: 0 5px;
          a {
            font-size: 17px;
            padding: 15px 10px;
          }
        }
      }
    }
    &__user_info {
      .user_select {
        margin-left: 15px;
        .log_in {
          font-size: 17px;
          padding-left: 35px;
          i {
            font-size: 28px;
          }
        }
      }
    }
  }
  @media (max-width: 1200px) and (min-width: 991px) {
    .row__desktop_frame {
      flex-wrap: nowrap;
    }
    &__user_info {
      width: fit-content;
    }
  }
  @include tablet {
    position: sticky;
    top: 0;
    z-index: 999;
    .row__mobile_frame {
      display: flex;
      align-items: center;
      padding: 10px 0;
      position: relative;
      z-index: 9999;
    }
    &__logo {
      .logo {
        width: 130px;
      }
    }
    &__button_navbar {
      text-align: right;
      .btn_navbar {
        display: inline-block;
        position: relative;
        top: 3px;
        right: 0;
        background: none;
        border: none;
        padding: 0;
        cursor: pointer;
        @include transition(0.3);
        span {
          display: block;
          width: 28px;
          height: 3px;
          background: $color-text-paragraph;
          margin: 7px;
          position: relative;
          left: 0;
          @include transition(0.3);
        }
      }
    }
    .row__desktop_frame {
      position: fixed;
      right: -250px;
      top: 0;
      width: 250px;
      background: $color-text-paragraph;
      height: 100vh;
      overflow: auto;
      z-index: 999;
      justify-content: flex-end;
      align-items: center;
      align-content: flex-start;
      margin: 0;
      padding-top: 75px;
      @include transition(0.3);
      .header__logo {
        display: none;
      }
      .header__navbar {
        order: 2;
        padding: 0;
        width: 100%;
        .navbar_list {
          display: block;
          text-align: right;
          li {
            padding: 0 15px;
            a {
              font-size: 17px;
              color: #fff;
              padding: 17px 5px;
              &:hover {
                color: rgba(255, 255, 255, 0.51);
              }
            }
            &.dropdown {
              a {
                i {
                  color: rgba(255, 255, 255, 0.71);
                }
              }
              .dropdown-menu {
                min-width: 100%;
                height: 0;
                padding: 0 15px;
                position: relative;
                overflow: hidden;
                &:before {
                  left: auto;
                  right: 30px;
                }
                &:after {
                  left: auto;
                  right: 30px;
                }
                li {
                  text-align: right;
                  a {
                    color: $color-text-paragraph;
                    font-size: 15px;
                    padding: 12px 15px;
                    left: auto;
                    right: 0;
                    &:hover {
                      left: auto;
                      right: 7px;
                    }
                  }
                }
              }

              &.open {
                .dropdown-menu {
                  height: auto;
                  overflow: visible;
                  padding: 15px;
                }
              }
            }
          }
        }
      }
      .header__user_info {
        order: 1;
        width: 100%;
        display: block;
        padding-left: 0;
        padding-bottom: 15px;
        margin-bottom: 20px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.18);
        text-align: right;
        .btn_default {
          margin-top: 20px;
        }
        .user_select {
          display: inline-block;
          margin: 0;
          margin-left: 15px;
          margin-top: 20px;
          .log_in {
            font-size: 16px;
            color: #fff;
            padding-left: 35px;
            i {
              font-size: 26px;
              color: #888888;
            }
            &:hover {
              color: #fff;
              i {
                color: #fff;
              }
            }
          }
        }
        .user_info__item {
          .user_dropdown {
            &__btn {
              .name {
                color: #fff;
              }
            }
            .dropdown-menu {
              left: auto;
              right: -20px;
              margin-top: 15px;
              width: 200px;
              min-width: 200px;
            }
          }
          &.user_info__item_login {
            flex-direction: column-reverse;
            align-items: flex-end;
            text-align: right;
            .btn_default {
              margin-top: 25px;
            }
          }
        }
      }
    }
  }
}

.wrapper {
  .overlay_navbar {
    display: none;
  }
}

@include tablet {
  .wrapper {
    .overlay_navbar {
      display: block;
      position: fixed;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.4);
      @include transition(0.3);
      visibility: hidden;
      opacity: 0;
      z-index: 1000;
    }
    &.open_navbar {
      left: -250px;
      .overlay_navbar {
        opacity: 1;
        right: 250px;
        visibility: visible;
      }
      .header {
        &__button_navbar {
          .btn_navbar {
            position: relative;
            right: -250px;
            z-index: 555;
            span {
              display: block;
              width: 28px;
              height: 3px;
              background: #fff;
              margin: 7px;
              position: relative;
              left: 0;
              top: 0;
              @include transition(0.7);
              &.line1 {
                transform: translateY(10px) rotate(-45deg);
              }
              &.line2 {
                left: -250px;
                opacity: 0;
              }
              &.line3 {
                transform: translateY(-10px) rotate(-135deg);
              }
            }
          }
        }
        .row__desktop_frame {
          right: 0;
        }
      }
    }
  }
}

/****-- Header end --****/