.fr-logo {
  width: 250px;
  margin-top: 20px;
  margin-left: 30px !important;
  padding: 0;
  @include bp(1600){
    padding: 0;
    margin-left: 0 !important;
  }
}
.fr-nav {
  height: 92px;
  background-color: $dark-gray;
  border: none;

  .fr-menu {
    margin-left: 200px;
    li {
      a {
        font-size: 24px;
        font-weight: 100;
        color: #ffffff;
        padding: 0 20px;
        line-height: 92px;

        &:hover {
          background-color: $light-gray;
          color: #ffffff;
        }
      }
      .dropdown-menu {
        padding: 0;
        border: 0;
        margin-top: 1px;
      }
    }
    .open {
      a {
        background-color: $light-gray;
        color: #ffffff;
        &:hover {
          background-color: $light-gray;
          color: #ffffff;
        }
      }
    }
  }

  .fr-menu-right {
    li {
      a {
        font-size: 24px;
        font-weight: 100;
        color: #ffffff;
        padding: 0 20px;
        line-height: 92px;
      }

      .link {
        color: #ffffff !important;
        background: none !important;
      }
    }
  }
}