<div ng-if="!$root.pageLoaded">
    <div class="container loading_container">
        <loading>Loading...</loading>
    </div>
</div>

<div ng-show="$root.pageLoaded">

    <div class="container">

        <h1>Future Albums / Challenges:</h1>
        <p>&nbsp;</p>

        <div ng-repeat="album in albums">
            <div>
                <a class="link" ng-click="showAlbumOrChallengePage(album)">
                    Week {{ album.week_number }}: {{ album.theme_title }}
                </a>
            </div>
        </div>
        <p>&nbsp;</p>

        <div ng-show="!albums.length">
            No Albums found.
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
        </div>

    </div>

    <footer></footer>

</div>