<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title">Time is up!!</h4>
    </div>

    <div class="modal-body modal-padding-top">

        <div class="col-md-12">
            <p>We see that you are in the middle of submitting your photo, so we will give you a few more
                minutes to submit the form. Please do so quickly 😊</p>
        </div>

    </div>
    <div class="modal-footer">
        <loading-spinner ng-show="processing"></loading-spinner>
        <button type="button" class="btn btn-primary" ng-click="callback()">Okay!</button>
    </div>
</div>
