<form ng-submit="submit()">
    <fieldset ng-disabled="processing">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Sign Manifesto!</h4>
            </div>
            <div class="modal-body">

                <div ng-show="$root.user">

                    <div class="form-group">
                        <label for="commitment_understanding" class="col-md-12 control-label align-left"
                               ng-click="hideErrors('commitment_understanding')">
                            I hereby declare that I commit to having more fun and creativity in my life!
                        </label>
                        <div class="col-md-12">
                            <span class="required-field">*</span>
                            <input type="checkbox" id="commitment_understanding"
                                   name="commitment_understanding"
                                   ng-model="manifestoInput.commitment_understanding"
                                   ng-click="hideErrors('commitment_understanding')">
                            <label for="commitment_understanding" class="control-label align-left inline"
                                   ng-click="hideErrors('commitment_understanding')">
                                Yes!
                            </label>
                            <span class="help-block">
                                <span class="error">{{ errors.commitment_understanding[0] }}</span>
                            </span>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12">
                            I understand that I'm only commiting to posting a photo each week, that’s all.
                        </div>
                    </div>

                    <div class="clear-both">&nbsp;</div>

                    <div class="form-group">
                        <label for="being_constant_understanding"
                               class="col-md-12 control-label align-left"
                               ng-click="hideErrors('being_constant_understanding')">
                            I understand that they don’t all have to be masterpieces. I understand that life gets crazy
                            sometimes, but I will do my best to have 52Frames be a constant in my otherwise busy
                            schedule.
                        </label>
                        <div class="col-md-12">
                            <span class="required-field">*</span>
                            <input type="checkbox" id="being_constant_understanding"
                                   name="being_constant_understanding"
                                   ng-model="manifestoInput.being_constant_understanding"
                                   ng-click="hideErrors('being_constant_understanding')">
                            <label for="being_constant_understanding" class="control-label align-left inline"
                                   ng-click="hideErrors('being_constant_understanding')">
                                Yes!
                            </label>
                            <span class="help-block">
                                <span class="error">{{ errors.being_constant_understanding[0] }}</span>
                            </span>
                        </div>
                    </div>

                    <div class="clear-both">&nbsp;</div>

                    <div class="form-group">
                        <label for="creative_process_understanding"
                               class="col-md-12 control-label align-left"
                               ng-click="hideErrors('creative_process_understanding')">
                            I understand that this manifesto is just for fun, and it's really just a way for me to
                            understand the fun, creative process of 52Frames! :)
                        </label>
                        <div class="col-md-12">
                            <span class="required-field">*</span>
                            <input type="checkbox" id="creative_process_understanding"
                                   name="creative_process_understanding"
                                   ng-model="manifestoInput.creative_process_understanding"
                                   ng-click="hideErrors('creative_process_understanding')"
                            >
                            <label for="creative_process_understanding" class="control-label align-left inline"
                                   ng-click="hideErrors('creative_process_understanding')">
                                Cool!
                            </label>
                            <span class="help-block">
                                <span class="error">{{ errors.creative_process_understanding[0] }}</span>
                            </span>
                        </div>
                    </div>

                    <div class="clear-both">&nbsp;</div>

                    <div class="form-group">
                        <label for="vulnerability_understanding"
                               class="col-md-12 control-label align-left"
                               ng-click="hideErrors('vulnerability_understanding')">
                            I will allow myself to be vulnerable to the creative process. I understand that this is the
                            best
                            access to creativity, and that 52Frames is a safe space to do so!
                        </label>
                        <div class="col-md-12">
                            <span class="required-field">*</span>
                            <input type="checkbox" id="vulnerability_understanding"
                                   name="vulnerability_understanding"
                                   ng-model="manifestoInput.vulnerability_understanding"
                                   ng-click="hideErrors('vulnerability_understanding')"
                            >
                            <label for="vulnerability_understanding" class="control-label align-left inline"
                                   ng-click="hideErrors('vulnerability_understanding')">
                                Woohoo!
                            </label>
                            <span class="help-block">
                                <span class="error">{{ errors.vulnerability_understanding[0] }}</span>
                            </span>
                        </div>
                    </div>

                    <div class="clear-both">&nbsp;</div>

                    <div class="form-group">
                        <label for="non_perfection_understanding"
                               class="col-md-12 control-label align-left"
                               ng-click="hideErrors('non_perfection_understanding')"
                        >
                            I understand that I must release the notion of perfection, for the sake of consistency.
                        </label>
                        <div class="col-md-12">
                            <span class="required-field">*</span>
                            <input type="checkbox" id="non_perfection_understanding"
                                   name="non_perfection_understanding"
                                   ng-model="manifestoInput.non_perfection_understanding"
                                   ng-click="hideErrors('non_perfection_understanding')"
                            >
                            <label for="non_perfection_understanding" class="control-label align-left inline"
                                   ng-click="hideErrors('non_perfection_understanding')"
                            >
                                Yup!
                            </label>
                            <span class="help-block">
                                <span class="error">{{ errors.non_perfection_understanding[0] }}</span>
                            </span>
                        </div>
                    </div>

                    <div class="clear-both">&nbsp;</div>

                    <div class="form-group">
                        <label for="understanding_to_release_the_notion_of_perfection"
                               class="col-md-12 control-label align-left"
                               ng-click="hideErrors('understanding_to_release_the_notion_of_perfection')"
                        >
                            I understand that I must release the notion of perfection, for the sake of consistency.
                        </label>
                        <div class="col-md-12">
                            <span class="required-field">*</span>
                            <input type="checkbox"
                                   id="understanding_to_release_the_notion_of_perfection"
                                   name="understanding_to_release_the_notion_of_perfection"
                                   ng-model="manifestoInput.understanding_to_release_the_notion_of_perfection"
                                   ng-click="hideErrors('understanding_to_release_the_notion_of_perfection')"
                            >
                            <label for="understanding_to_release_the_notion_of_perfection"
                                   class="control-label align-left inline"
                                   ng-click="hideErrors('understanding_to_release_the_notion_of_perfection')"
                            >
                                Uh-huh!
                            </label>
                            <span class="help-block">
                                <span class="error">{{ errors.understanding_to_release_the_notion_of_perfection[0] }}</span>
                            </span>
                        </div>
                    </div>

                    <div class="clear-both">&nbsp;</div>

                    <div class="form-group">
                        <label for="understanding_for_the_sake_of_consistency"
                               class="col-md-12 control-label align-left"
                               ng-click="hideErrors('understanding_for_the_sake_of_consistency')">
                            I understand that I must release the notion of perfection, for the sake of consistency.
                        </label>
                        <div class="col-md-12">
                            <span class="required-field">*</span>
                            <input type="checkbox"
                                   id="understanding_for_the_sake_of_consistency"
                                   name="understanding_for_the_sake_of_consistency"
                                   ng-model="manifestoInput.understanding_for_the_sake_of_consistency"
                                   ng-click="hideErrors('understanding_for_the_sake_of_consistency')"
                            >
                            <label for="understanding_for_the_sake_of_consistency"
                                   class="control-label align-left inline"
                                   ng-click="hideErrors('understanding_for_the_sake_of_consistency')"
                            >
                                Post every week; doesn't need to be perfect, got it!
                            </label>
                            <span class="help-block">
                                <span class="error">{{ errors.understanding_for_the_sake_of_consistency[0] }}</span>
                            </span>
                        </div>
                    </div>

                </div>

            </div>
            <div class="modal-footer">

                <div ng-show="$root.user">
                    <button type="button" class="btn btn-link pull-left" ng-click="back()" data-dismiss="modal">< Back
                    </button>
                    <loading-spinner ng-show="processing"></loading-spinner>
                    <button type="submit" class="btn btn-primary">Submit!</button>
                </div>

            </div>
        </div>

    </fieldset>
</form>