<form ng-submit="login()">
    <fieldset ng-disabled="processing">
        <div class="group">
            <span class="title">Email</span>
            <input id="username" type="email" name="username"
                   ng-model="email" ng-focus="hideErrors('email')" placeholder="me@photographyrocks.com">
            <div class="help_form" ng-show="errors.email[0]">
                <span class="error">{{ errors.email[0] }}</span>
            </div>
        </div>
        <div class="group">
            <span class="title">Password</span>
            <input id="password" type="password" name="password"
                   ng-model="password" ng-focus="hideErrors('password')" placeholder="Must be at least 8 characters">
            <div class="help_form" ng-show="errors.password">
                <span class="error">{{ errors.password[0] }}</span>
            </div>
            <div class="help_form" ng-show="noAccount">
                <span class="error account_error">There doesn't seem to be an account associated with this email.
                    If you'd like to join 52Frames,
                    <a class="link" data-toggle="tab" href="#sign-up-tab" data-target=".sign-up-tab">sign up here!</a>
                </span>
            </div>
            <div class="help_form" ng-if="loginProviders.length">
                <span class="error account_error">You've signed up for this account using
                    <span ng-show="hasProvider('facebook')">
                        <a class="link" ng-click="facebookLogin()">Facebook login</a>.
                        If you would like to link this account with a password as well,
                        <a class="link" ng-click="attachPassword()">click here</a>.
                    </span>
                </span>
            </div>
        </div>
        <div class="group_btn">
            <div class="row_btn">
                <loading-spinner ng-show="processing"></loading-spinner>
                <button type="submit" class="btn_default">Log in</button>
            </div>
        </div>
        <div class="row_link">
            <a data-target="#forgotPasswordModal" data-toggle="modal" data-dismiss="modal" href="javascript:;" class="forget_pass">Forget your password?</a>
            <div class="help_form" ng-show="errors.forgot_password">
                <span class="error">{{ errors.forgot_password }}</span>
            </div>
        </div>
    </fieldset>
</form>
<div class="modal_login__login_with">
    <div class="border"><span class="or">or</span></div>
    <div class="row_btn">
        <div class="facebookLoginButtonLocation">
            <div class="facebookSpinner"
                 style="
                    font-size: 13px!important;
                    font-family: 'Barlow Semi Condensed', sans-serif!important;
                    font-weight: normal;
                    height: 34px;
                    text-align: center;
                    color: #fff;
                    background: #3C66C4;
                    display: flex;
                    align-items: center;
                    padding: 0 10px;
                    border-radius: 4px;
                    box-shadow: 0px 4px 0px #2F519D;
                    width: 100%;">
                Loading
                <div class="fb-login-button"
                     scope="public_profile,email"
                     onlogin="facebookLoginSuccess"
                     data-size="medium"
                     data-max-rows="1"
                     data-button-type="continue_with"
                     data-use-continue-as="true">
                </div>
            </div>
        </div>
        <a href="{{instaLink}}" class="btn_default btn_icon btn_ins">
            <i class="fab fa-instagram"></i>
            Log in with Instagram
        </a>
    </div>
</div>



