<form ng-submit="saveChanges()">
    <fieldset ng-disabled="processing">

        <div class="modal_main modal_block edit_profile">
            <button class="btn_closed__modal close" data-dismiss="modal" aria-label="Close">
                <i class="fas fa-times"></i>
            </button>
            <div class="modal_main__header">
                <div class="modal_main__header_left">
                    <h4 class="caption">Edit your Profile!</h4>
                </div>
                <div class="modal_main__header_right"></div>
            </div>

            <div class="modal_main__body">
                <div ng-show="$root.user">

                    <div class="row row_form">
                        <div class="col-md-6 col-xs-12 box_form">
                            <div class="group">
                                <label for="editmanifesto_firstname" class="title">First Name<span class="required-field">*</span></label>
                                <input id="editmanifesto_firstname" type="text" name="firstname"
                                       ng-model="manifestoInput.firstname" ng-focus="hideErrors('firstname')">
                                <div class="help-block" ng-show="errors.firstname[0]">
                                    <span class="error">{{ errors.firstname[0] }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12 box_form">
                            <div class="group">
                                <label for="editmanifesto_lastname" class="title">Last Name<span class="required-field">*</span></label>
                                <input id="editmanifesto_lastname" type="text"
                                       ng-model="manifestoInput.lastname"
                                       ng-focus="hideErrors('lastname')"
                                       name="lastname">
                                <div class="help-block" ng-show="errors.lastname[0]">
                                    <span class="error">{{ errors.lastname[0] }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-xs-12 box_form">
                            <div class="group">
                                <label for="editmanifesto_bio" class="title">Bio</label>
                                <textarea id="editmanifesto_bio" class="form-control"
                                          ng-model="manifestoInput.shortbio"
                                          ng-focus="hideErrors('shortbio')"
                                          name="bio"></textarea>
                                <div class="help-block" ng-show="errors.shortbio[0]">
                                    <span class="error">{{ errors.shortbio[0] }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-xs-12 box_form">
                            <div class="group">
                                <label for="editmanifesto-nickname" class="title">Choose a Nickname:</label>
                                <div class="group_double input-has-loading-spinner">
                                    <span class="input-group-addon title" id="editmanifesto-nickname-group"
                                          ng-click="focusNickname()">{{ shortUrlBase }}</span>
                                    <input type="text" id="editmanifesto-nickname"
                                           autocomplete="nickname"
                                           aria-describedby="editmanifesto-nickname-group"
                                           ng-model="manifestoInput.nickname"
                                           ng-focus="hideErrors('nickname')"
                                           ng-change="nicknameChanged()"
                                           ng-blur="nicknameChanged()">
                                    <loading-spinner ng-show="nicknameLoading.indicator"></loading-spinner>
                                    <i class="far fa-check-circle loading-ok" ng-show="nicknameLoading.ok"></i>
                                </div>
                                <div class="help-block" ng-show="errors.nickname[0]">
                                    <span class="error">{{ errors.nickname[0] }}</span>
                                </div>
                                <div class="help-block">
                                    <span>* Future feature</span>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-12 col-xs-12 box_form">
                            <label for="editmanifesto-display-as-handle" class="check_default" ng-click="hideErrors('display_as_handle')">
                                <input type="checkbox" id="editmanifesto-display-as-handle"
                                       ng-model="manifestoInput.display_as_handle"
                                       ng-click="hideErrors('display_as_handle')"
                                       ng-disabled="!manifestoInput.nickname">
                                <i class="icon_check"></i>
                                <span>Only show my nickname on the site and not my real name</span>
                            </label>
                            <span class="help-block" ng-show="errors.display_as_handle[0]">
                                <span class="error">{{ errors.display_as_handle[0] }}</span>
                            </span>
                        </div>
                        <hr>
                        <div class="col-md-7 col-xs-12 box_form">
                            <div class="group">
                                <label for="photography_level" class="title">What is your level of Photography?<span class="required-field">*</span></label>
                                <select name="photography_level" id="photography_level"
                                        ng-model="manifestoInput.photography_level"
                                        ng-click="hideErrors('photography_level')">
                                    <option selected="selected"></option>
                                    <option value="beginner">Beginner - I enjoy taking photos</option>
                                    <option value="beginner_dslr">Beginner DSLR - I shoot with a DSLR, I understand my
                                        different lenses and some camera features, but not much more
                                    </option>
                                    <option value="intermediate">Intermediate - I shoot with a DSLR and understand most of
                                        my settings, but still learning more.
                                    </option>
                                    <option value="advanced">Advanced - I understand my camera settings and will also
                                        occasionally shoot with external flashes and stobes.
                                    </option>
                                    <option value="advanced_pro">Advanced Professional - I understand everything about how
                                        to take a photo, as well as studio lighting and at times make money with my
                                        photography.
                                    </option>
                                </select>
                                <div class="help-block" ng-show="errors.photography_level[0]">
                                    <span class="error">{{ errors.photography_level[0] }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5 col-xs-12 box_form">
                            <div class="group">
                                <label for="camera_type" class="title">What kind of camera are you currently using?<span class="required-field">*</span></label>
                                <select name="camera_type" id="camera_type"
                                        ng-model="manifestoInput.camera_type"
                                        ng-click="hideErrors('camera_type')">
                                    <option selected="selected"></option>
                                    <option value="dslr_entry">DSLR - Entry Level</option>
                                    <option value="dslr_pro">DSLR - Professional Level</option>
                                    <option value="mirrorless">Mirrorless</option>
                                    <option value="point_and_shoot">Point and Shoot</option>
                                    <option value="phone">Phone</option>
                                    <option value="other">Other</option>
                                </select>
                                <div class="help-block" ng-show="errors.camera_type[0]">
                                    <span class="error">{{ errors.camera_type[0] }}</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-5 col-xs-12 box_form">
                            <div class="group">
                                <label for="country" class="title">What country do you live in?<span class="required-field">*</span></label>
                                <select name="country" id="country"
                                        ng-options="country as country.name for country in countries"
                                        ng-model="manifestoInput.country"
                                        ng-change="changeCountry()"
                                        autocomplete="shipping country"
                                        ng-click="hideErrors('country')">
                                    <option selected="selected"></option>
                                </select>
                                <div class="help-block" ng-show="errors.country[0]">
                                    <span class="error">{{ errors.country[0] }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-12 box_form" ng-show="manifestoInput.country.state_member_term">
                            <div class="group">
                                <label for="state" class="title">Which {{ manifestoInput.country.state_member_term }}?<span class="required-field">*</span></label>
                                <select name="state" id="state"
                                        ng-options="state as state.name for state in states"
                                        ng-model="manifestoInput.state"
                                        ng-change="changeState()"
                                        autocomplete="shipping region"
                                        ng-click="hideErrors('state')">
                                    <option selected="selected"></option>
                                </select>
                                <div class="help-block" ng-show="errors.state[0]">
                                    <span class="error">{{ errors.state[0] }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-xs-12 box_form">
                            <div class="group">
                                <label for="city" class="title">And your City?<span class="required-field">*</span></label>
                                <input id="city" name="city" type="text"
                                       autocomplete="shipping locality"
                                       bs3-typeahead
                                       bs3-afterSelect="citySelected"
                                       ng-model="manifestoInput.city"
                                       ng-change="suggestCity()"
                                       ng-click="hideErrors('city')">
                                <div class="help-block" ng-show="errors.city[0]">
                                    <span class="error">{{ errors.city[0] }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-xs-12 box_form">
                            <label for="editmanifesto_dont_share_location" class="check_default" ng-click="hideErrors('dont_share_location')">
                                <input type="checkbox" id="editmanifesto_dont_share_location"
                                       ng-model="manifestoInput.dont_share_location"
                                       ng-click="hideErrors('dont_share_location')"
                                       ng-disabled="!manifestoInput.city">
                                <i class="icon_check"></i>
                                <span>I do not want my City<span ng-show="manifestoInput.country.state_member_term">/{{ manifestoInput.country.state_member_term }}</span> to be displayed anywhere on the 52Frames site.</span>
                                <span class="help-block" ng-show="errors.dont_share_location[0]">
                                    <span class="error">{{ errors.dont_share_location[0] }}</span>
                                </span>
                            </label>
                        </div>
                        <hr>
                        <div class="col-md-12 col-xs-12 box_form">
                            <div class="group">
                                <label for="photowalks" class="title">Would you be interested in running a 52Frames photowalk in your City?</label>
                                <select name="photowalks" id="photowalks"
                                        ng-model="manifestoInput.photowalks"
                                        ng-click="hideErrors('photowalks')">
                                    <option selected="selected"></option>
                                    <option value="yeah">Heck yea!</option>
                                    <option value="not_for_me">Not for me, but I'd be interested in joining one!</option>
                                    <option value="perhaps">Perhaps, would need to know more information.</option>
                                </select>
                                <div class="help-block" ng-show="errors.photowalks[0]">
                                    <span class="error">{{ errors.photowalks[0] }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12 box_form">
                            <div class="group">
                                <label for="twitter_handle" class="title">Twitter Handle</label>
                                <div class="group_double input-group">
                                    <span class="input-group-addon" id="twitter_addon">@</span>
                                    <input type="text" id="twitter_handle"
                                           autocomplete="twitter"
                                           aria-describedby="twitter_addon"
                                           ng-model="manifestoInput.twitter_handle"
                                           ng-click="hideErrors('twitter_handle')">
                                </div>
                                <div class="help-block" ng-show="errors.twitter_handle[0]">
                                    <span class="error">{{ errors.twitter_handle[0] }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12 box_form">
                            <div class="group">
                                <label for="instagram_handle" class="title">Instagram Handle</label>
                                <div class="group_double input-group">
                                    <span class="input-group-addon" id="instagram_addon">@</span>
                                    <input type="text" id="instagram_handle"
                                           autocomplete="instagram"
                                           aria-describedby="instagram_addon"
                                           ng-model="manifestoInput.instagram_handle"
                                           ng-click="hideErrors('instagram_handle')">
                                </div>
                                <div class="help-block" ng-show="errors.instagram_handle[0]">
                                    <span class="error">{{ errors.instagram_handle[0] }}</span>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>

            <div class="modal_main__footer" ng-show="$root.user">
                <div class="modal_main__footer_left">
                    <button class="btn_default btn_icon btn_red" data-dismiss="modal" ng-click="deleteAccount()"><i class="far fa-trash-alt"></i>Delete Account</button>
                </div>
                <div class="modal_main__footer_center">
                    <loading-spinner ng-show="processing"></loading-spinner>
                    <button type="submit" class="btn_default">Save Changes!</button>
                </div>
                <div class="modal_main__footer_right"></div>
            </div>

        </div>
    </fieldset>
</form>