@import "../mixins/var-main";
@import "../mixins/mixins";

//Album Index
.album_index {
  padding: 35px 20px;
  background: #fff;
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 60px;
    .caption {
      font-size: 48px;
      font-family: $fonts-Semi-Condensed;
      font-weight: normal;
      color: $color-text-paragraph;
      padding: 0px;
      margin: 0;
    }

    &_right {
      display: flex;
      justify-content: flex-end;
      .dropdown {
        margin-right: 15px;
      }
    }
  }
  &__filter {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0 7px;
    border-bottom: 1px solid $color-border-form;
    margin-bottom: 35px;
    li {
      padding: 0 5px;
      margin: 0;
      a {
        line-height: 1;
        display: inline-block;
        text-decoration: none;
        padding: 12px 20px;
        border-radius: 4px 4px 0 0;
        background: #C6C6C6;
        border: 1px solid $color-border-form;
        font-size: 20px;
        color: $color-text-paragraph;
        margin-bottom: -1px;
        position: relative;
        z-index: 5;
        &:hover {
          background: #e1e1e1;
        }
      }
      &.active {
        a {
          background: #fff;
          border-bottom: 1px solid #fff;
        }
      }
    }
  }
  &__list {
    padding: 0 50px;
    list-style: none;
    .item {
      padding: 15px;
      .wrap {
        width: 100%;
        padding-top: 100%;
        display: block;
        position: relative;
        overflow: hidden;
        background: #08080b;
        text-decoration: none;
        border-radius: 5px;
        img {
          position: absolute;
          left: 0;
          top: 0;
          bottom: 0;
          right: 0;
          @include image-cover;
          @include transition(0.5);
          transition-delay: 0.3s;
        }
        .description {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 5;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          padding: 15px;
          .sub_photo, .week, .name {
            font-size: 20px;
            color: #fff;
            font-weight: normal;
            display: block;
            line-height: 1;
            @include transition(0.3);
            position: relative;
            top: 0;
          }
          .sub_photo {
            top: -10px;
            opacity: 0;
            transition-delay: 0s;
          }
          .week {
            top: 10px;
            opacity: 0;
            padding-bottom: 5px;
            transition-delay: 0.2s;
          }
          .name {
            top: 10px;
            opacity: 0;
            transition-delay: 0.1s;
          }
        }
        &:hover {
          img {
            opacity: 0.5;
            transform: scale(1.1);
            transition-delay: 0s;
          }
          .description {
            .sub_photo {
              transition-delay: 0.1s;
              top: 0px;
              opacity: 1;
            }
            .week {
              top: 0px;
              opacity: 1;
              transition-delay: 0.3s;
            }
            .name {
              top: 0px;
              opacity: 1;
              transition-delay: 0.2s;
            }
          }
        }
      }
    }
  }
  @media screen and (max-width: 1500px) {
    &__list {
      padding: 0;
      .item {
        width: 25%;
      }
    }
  }
  @include laptop {
    &__list {
      padding: 0;
      .item {
        width: 25%;
      }
    }
  }
  @include tablet {
    &__list {
      padding: 0;
      .item {
        width: 33.333%;
      }
    }
  }
  @include mobile {
    padding: 25px 0;
    &__header {
      padding-bottom: 30px;
      .caption {
        font-size: 22px;
      }
      .btn_default {
        font-size: 14px;
        padding: 6px 20px;
      }
    }
    &__filter {
      padding: 0 3px;
      margin-bottom: 20px;
      li {
        padding: 0 3px;
        a {
          padding: 8px 15px;
          font-size: 14px;
        }
      }
    }
    &__list {
      padding: 0;
      margin-left: -9px;
      margin-right: -9px;
      .item {
        width: 50%;
        padding: 9px;
        .wrap {
          .description {
            padding: 10px;
            .sub_photo, .week, .name {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}

//Album Intro
.album_intro {
  padding: 25px 25px 0;
  background: #fff;
  &__header {
    padding-bottom: 20px;
    .btn_default {

    }
  }
  &__body {
    display: flex;
    justify-content: center;
    .album_week {
      min-width: 80%;
      max-width: 1300px;
      background: #F2F2F2;
      padding: 20px 60px;
      border-radius: 5px;
      box-shadow: 0px 6px 0px #C6C6C6;
      text-align: center;
      position: relative;
      .row__caption {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .dropdown_option {
          .btn_option {
            box-shadow: 0px 4px 0px #C6C6C6;
            position: relative;
            background: rgb(248, 248, 248);
            &:hover,
            &:focus {
              background: rgb(248, 248, 248);
              top: 2px;
              box-shadow: 0px 2px 0px #C6C6C6;
            }
          }
        }
        .btn_gray {
          background: rgb(248, 248, 248);
        }
        &_center {
          flex: 2;
          width: 100%;
          text-align: center;
        }
        &_left {
          flex: 1;
          display: flex;
        }
        &_right {
          flex: 1;
          display: flex;
          justify-content: flex-end;
        }
      }
      .btn_row {
        position: relative;
        text-align: center;
        top: 0;
        left: 0;
        padding-top: 5px;
        padding-bottom: 10px;
        .show_more {
          position: absolute;
          right: 0;
          top: 15px;
          font-size: 16px;
          font-family: $fonts-Condensed;
          &:hover {
            text-decoration: none;
            color: $color-main--blue-hover;
          }
        }
      }
      .block_caption {
        padding-bottom: 20px;
        .caption {
          font-size: 48px;
          font-weight: normal;
          margin: 0;
          padding-bottom: 5px;
        }
        .sub {
          font-size: 28px;
          font-weight: normal;
          display: block;
          line-height: 1;
        }
      }
      a.ng-binding {
        padding-bottom: 15px;
        display: inline-block;
      }
      .ng-binding {
        padding-bottom: 15px;
      }
      .text_description {
        p {
          display: inline-block;
          padding: 0;
          margin-bottom: 10px;
        }
        #shortBlurb {
          -webkit-box-orient: vertical;
          p {
            display: inline-block;
          }
          &.hidden-block {
            max-height: 95px;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
            text-overflow: ellipsis;
            p {
              display: inline;
            }
          }
        }
        .pos-top {
          position: relative;
          top: -10px;
        }
      }
      p {
        padding: 0;
        margin: 0;
        display: inline-block;
        font-size: 22px;
        color: $color-text-paragraph;
        font-weight: normal;
        line-height: 1.4;
      }
    }
  }
  @include laptop {
    &__header {
      padding-bottom: 20px;
    }
  }
  @include tablet {
    padding: 25px 0;
    &__header {
      padding-bottom: 20px;
    }
    &__body {
      .album_week {
        padding: 20px 25px;
        .row__caption {
          flex-wrap: wrap;
          .dropdown_option {
            position: relative;
            right: -10px;
          }
          &_center {
            order: 2;
            width: 100%;
            flex: 0 0 100%;
            padding-top: 10px;
          }
          &_left {
            position: relative;
            top: 0px;
            width: 50%;
            flex: 0 0 50%;
            order: 1;
          }
          &_right {
            position: relative;
            top: -10px;
            fwidth: 50%;
            flex: 0 0 50%;
            order: 1;
          }
        }
        .btn_row {
          position: relative;
          top: 0;
          right: 0;
          display: block;
          padding-top: 20px;
          .show_more {
            top: 25px;
          }
        }
      }
    }
  }
  @include mobile {
    padding: 25px 0;
    &__header {
      padding: 0;
    }
    &__body {
      .album_week {
        padding: 20px 20px;
        box-shadow: 0px 4px 0px #C6C6C6;
        .row__caption {
          &_left {
            top: -10px;
            left: -10px;
          }
        }
        .btn_row {
          position: relative;
          top: 0;
          right: 0;
          display: block;
          padding-top: 5px;
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
          .show_more {
            position: relative;
            right: 0;
            top: 0;
            margin-bottom: 7px;
          }
        }
        .block_caption {
          padding-bottom: 15px;
          .caption {
            font-size: 28px;
          }
          .sub {
            padding: 0;
            font-size: 18px;
            line-height: 1.3;
          }
        }
        p {
          font-size: 16px;
        }
        .text_description {
          #shortBlurb {
            &.hidden-block {
              max-height: 92px;
            }
          }
        }
      }
    }
  }
}

//Album Gallery
.album_item {
  .row_btn_more {
    padding-top: 30px;
  }
  &__filter {
    position: sticky;
    top: 0;
    z-index: 55;
    background: #fff;
    padding: 15px 50px;
    .title {
      display: inline-block;
      line-height: 1;
      margin: 0;
      padding: 0;
      font-size: 20px;
      font-weight: normal;
      color: $color-text-paragraph;
      margin-right: 10px;
      white-space: nowrap;
    }
    &_left {
      width: 50%;
      display: flex;
      align-items: center;
      .list_filter {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;
        flex-wrap: wrap;
        li {
          margin-right: 7px;
          margin-bottom: 7px;
          padding: 0;
          .btn_filter {
            display: inline-block;
            padding: 6px 15px;
            padding-left: 40px;
            font-size: 15px;
            background: #F2F2F2;
            color: $color-text-paragraph;
            box-shadow: 0px 4px 0px #C6C6C6;
            font-family: $fonts-Semi-Condensed;
            font-weight: normal;
            text-decoration: none;
            border: none;
            cursor: pointer;
            border-radius: 4px;
            position: relative;
            top: 0;
            @include transition(0.2);
            white-space: nowrap;
            i {
              position: absolute;
              left: 10px;
              font-size: 20px;
              top: 50%;
              transform: translateY(-50%);
              @include transition(0.2);
              &.fa-images {}
              &.fa-certificate {
                color: #E65F4F;
              }
              &.fa-trophy{
                color: #F9C000;
              }
              &.fa-star {
                color: #00A3B3;
              }
              &.fa-child {
                color: #954FE6;
              }
            }
            &:hover,
            &:focus {
              top: 2px;
              text-decoration: none;
              box-shadow: 0px 2px 0px #C6C6C6;
              i {
                transform: translateY(-50%) scale(1.1) rotateY(180deg);
              }
            }
            &:active {
              transform: scale(0.9);
            }
            &.active {
              background: #dadada;
              top: 2px;
              text-decoration: none;
              box-shadow: 0px 2px 0px #C6C6C6;
            }
          }
        }
      }
    }
    &_right {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      .group_select {
        display: flex;
        align-items: center;
        padding: 0;
        padding: 10px 0;
        select {
          min-width: 90px;
          overflow: hidden;
          text-overflow: ellipsis;
          padding-right: 35px;
          -webkit-background-size: 12px;
          background-size: 12px;
        }
      }
      .group_search {
        margin-left: 40px;
        display: flex;
        align-items: center;
        padding: 10px 0;
        .group_select {
          width: fit-content;
        }
        select {
          padding-right: 25px;
          width: 90px;
          min-width: 90px;
          border-radius: 5px 0 0 5px;
          -webkit-background-size: 12px;
          background-size: 12px;
          border-right: none;
        }
        .group {
          position: relative;
          padding: 0;
          margin-left: -1px;
          z-index: 5;
          input {
            border-radius: 0 5px 5px 0;
            min-width: 300px;
          }
          .btn_search {
            padding: 0;
            background: none;
            border: none;
            font-size: 20px;
            color: #C6C6C6;
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            &:hover {
              color: $color-text-paragraph;
            }
          }

          .tags_field {
            position: relative;
            .tags_container {
              position: absolute;
              bottom: 100%;
              left: 0;
              max-width: 100%;
              width: 100%;
              height: auto;
              z-index: 5;
              display: flex;
              flex-wrap: wrap;
              justify-content: flex-end;
              margin-bottom: 1px;
              @include transition(0.3);
              &:before, &:after {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                height: 100%;
                width: 10px;
                background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
                z-index: 5;
              }
              &:before {
                display: none;
              }
              &:after {
                left: auto;
                right: 0;
                background: linear-gradient(to left, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
              }
              .tags-list {
                max-width: 100%;
                width: 100%;
                display: flex;
                white-space: nowrap;
                overflow-x: auto;
              }
              .tag-item {
                border: none;
                display: inline-block;
                line-height: 1;
                background: #5D5D5D;
                box-shadow: 0px 2px 0px #444444;
                font-size: 10px;
                color: #FFF;
                position: relative;
                margin: 4px 7px 4px 0;
                padding: 4px 6px;
                padding-right: 20px;
                border-radius: 3px;
                button {
                  position: absolute;
                  right: 6px;
                  top: 50%;
                  transform: translateY(-55%);
                  font-size: 20px;
                  color: #fff;
                  padding: 0;
                  background: none;
                  border: none;
                  box-shadow: none;
                  display: inline-block;
                  cursor: pointer;
                  line-height: 1;
                  @include transition(0.4);
                  &:hover {
                    box-shadow: none;
                    top: 50%;
                    color: rgba(255, 255, 255, 0.62);
                  }
                }
              }
            }
            input {
              &:focus {
                ~.tags_container {
                  visibility: visible;
                  opacity: 1;
                }
              }
            }
          }
        }
      }
    }
  }
  &__gallery {
    background: #212125;
    padding: 40px 90px;
    &_list {
      padding: 0;
      margin: 0;
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      margin-left: -10px;
      margin-right: -10px;
      .item {
        padding: 10px;
        &.col-4 {
          width: 25%;
        }
        .img_wrapper {
          display: block;
          width: 100%;
          text-decoration: none;
          padding-top: 100%;
          position: relative;
          overflow: hidden;
          border-radius: 5px;
          background: #08080b;
          @include transition(0);
          img {
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            @include image-cover;
            @include transition(0.5);
            transition-delay: 0.1s;
          }

          .photo_overlay_contains {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            background: $color-text-paragraph;
            padding: 10px;
            z-index: 5;
            .overlay_contains {
              text-align: center;
              .title {
                font-size: 17px;
                color: #fff;
                font-weight: normal;
                display: block;
                line-height: 1.4;
                padding-bottom: 15px;
              }
            }
          }
          .row_tags {
            z-index: 15;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px;
            &__right {
              text-align: right;
            }
            .tag {
              display: inline-block;
              line-height: 1;
              font-size: 36px;
              margin: 5px;
              .fa-certificate {
                color: #E65F4F;
                text-shadow: 0px 2px 0px #c25345;
                &.new {
                  display: inline-block;
                  position: relative;
                  line-height: 1;
                  color: #91DC5A;
                  text-shadow: none;
                  span {
                    text-transform: uppercase;
                    color: #fff;
                    font-size: 10px;
                    text-align: center;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    font-weight: 500;
                    font-family: Arial;
                    transform: translate(-50%, -50%);
                  }
                }
              }
              .fa-star {
                color: #00A3B3;
                text-shadow: 0px 2px 0px #008a9a;
              }
              .fa-trophy {
                color: #F9C000;
                text-shadow: 0px 2px 0px #c19000;
              }
              .fa-child {
                color: #954FE6;
                text-shadow: 0px 2px 0px #603898;
              }
            }
          }
          .item__name {
            position: absolute;
            left: 0;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 25px 20px;
            @include transition(0.5);
            transition-delay: 0.1s;
            bottom: -100%;
            .name {
              font-size: 16px;
              color: #fff;
              font-weight: normal;
              display: inline-block;
              line-height: 1;
            }
            .row_comments {
              display: flex;
              align-items: center;
              justify-content: flex-end;
              .likes,
              .comments {
                display: inline-block;
                line-height: 1;
                color: #fff;
                font-size: 14px;
                i {
                  font-size: 18px;
                  margin-right: 5px;
                }
              }
              .comments {
                margin-left: 20px;
              }
            }
          }
          .edit_photo {
            position: absolute;
            left: 50%;
            @include transition(0.5);
            transform: translate(-50%, -50%);
            opacity: 0;
            top: 40%;
          }
          &:hover {
            img {
              transform: scale(1.07);
              opacity: 0.5;
              transition-delay: 0s;
            }
            .edit_photo {
              opacity: 1;
              top: 50%;
            }
            .item__name {
              bottom: 0;
              transition-delay: 0.1s;
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 1500px) {
    &__filter {
      padding: 15px 20px;
      .title {
        font-size: 18px;
      }
      &_left {
        .list_filter {
          li {
            margin-right: 5px;
            margin-bottom: 7px;
            .btn_filter {
              padding: 6px 13px;
              padding-left: 36px;
              font-size: 14px;
              box-shadow: 0px 3px 0px #C6C6C6;
            }
          }
        }
      }
      &_right {
        .group_select {
          padding: 5px 0;
          select {
            padding: 8px 10px;
            font-size: 15px;
            padding-right: 35px;
            -webkit-background-size: 10px;
            background-size: 10px;
          }
        }
        .group_search {
          margin-left: 25px;
          padding: 5px 0;
          select {
            padding: 8px 10px;
            padding-right: 25px;
            width: 80px;
            font-size: 15px;
            -webkit-background-size: 10px;
            background-size: 10px;
          }
          .group {
            input {
              padding: 8px 10px;
              min-width: 240px;
              font-size: 15px;
            }
            .btn_search {
              font-size: 16px;
              right: 5px;
            }
            .tags_field {
              position: relative;
            }
          }
        }
      }
    }
  }
  @include laptop {
    &__filter {
      position: relative;
      justify-content: flex-start;
      &_left {
        width: 100%;
        align-items: center;
        padding-bottom: 20px;
      }
      &_right {
        justify-content: flex-start;
        padding-top: 10px;
        width: 100%;
      }
    }
    &__gallery {
      padding: 30px 0px;
      &_list {
        .item {
          &.col-4 {
            width: 25%;
          }
          .img_wrapper {
            .row_tags {
              width: 100%;
              display: flex;
              align-items: center;
              justify-content: space-between;
              padding: 2px 5px;
              .tag {
                font-size: 21px;
                margin: 3px;
                .fa-certificate {
                  &.new {
                    span {
                      font-size: 6px;
                    }
                  }
                }
              }
            }
            .item__name {
              padding: 15px 10px;
              .name {
                font-size: 13px;
                width: 100%;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
              }
              .row_comments {
                white-space: nowrap;
                .likes,
                .comments {
                  font-size: 11px;
                  i {
                    font-size: 14px;
                    margin-right: 3px;
                  }
                }
                .comments {
                  margin-left: 10px;
                }
              }
            }
          }
        }
      }
    }
  }
  @include mobile {
    &__filter {
      position: relative;
      padding: 15px;
      .title {
        font-size: 13px;
        margin-right: 7px;
      }
      &_left {
        width: 100%;
        align-items: flex-start;
        padding-bottom: 20px;
        .title {
          position: relative;
          top: 17px;
        }
        .list_filter {
          li {
            .btn_filter {
              padding: 5px 13px;
              padding-left: 30px;
              font-size: 13px;
              box-shadow: 0px 3px 0px #C6C6C6;
              i {
                left: 7px;
                font-size: 16px;
              }
              &:hover,
              &:focus {
                top: 2px;
                text-decoration: none;
                box-shadow: 0px 2px 0px #C6C6C6;
                i {
                  transform: translateY(-50%) scale(1.1) rotateY(180deg);
                }
              }
              &:active {
                transform: scale(0.9);
              }
              &.active {
                background: #dadada;
                top: 2px;
                text-decoration: none;
                box-shadow: 0px 2px 0px #C6C6C6;
              }
            }
          }
        }
      }
      &_right {
        width: 100%;
        justify-content: flex-start;
        flex-wrap: wrap;
        .group_select {
          select {
            padding-right: 25px;
            padding-left: 10px;
            font-size: 14px;
            -webkit-background-size: 9px;
            background-size: 9px;
          }
        }
        .group_search {
          width: 100%;
          margin-left: 0px;
          padding-top: 25px;
          select {
            padding-right: 15px;
            width: 80px;
            padding-left: 10px;
            font-size: 14px;
            -webkit-background-size: 9px;
            background-size: 9px;
          }
          .group_select {
            width: fit-content;
            select {
              min-width: 75px;
              max-width: 75px;
              width: 75px;
            }
          }
          .group {
            input {
              min-width: 100%;
              width: 100%;
              font-size: 14px;
            }
            .btn_search {
              font-size: 17px;
              right: 7px;
            }
          }
        }
      }
    }
    &__gallery {
      padding: 20px 0px;
      &_list {
        .item {
          &.col-4 {
            width: 50%;
          }
          .img_wrapper {
            .row_tags {
              width: 100%;
              display: flex;
              align-items: center;
              justify-content: space-between;
              padding: 2px 5px;
              .tag {
                font-size: 21px;
                margin: 3px;
                .fa-certificate {
                  &.new {
                    span {
                      font-size: 6px;
                    }
                  }
                }
              }
            }
            .item__name {
              padding: 15px 10px;
              .name {
                font-size: 13px;
                width: 100%;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
              }
              .row_comments {
                white-space: nowrap;
                .likes,
                .comments {
                  font-size: 11px;
                  i {
                    font-size: 14px;
                    margin-right: 3px;
                  }
                }
                .comments {
                  margin-left: 10px;
                }
              }
            }
            .photo_overlay_contains {
              .overlay_contains {
                .title {
                  font-size: 10px;
                  line-height: 1.3;
                  padding-bottom: 7px;
                }
                .btn_default {
                  font-size: 10px;
                  padding: 3px 12px;
                  box-shadow: 0px 2px 0px #943E33;
                  &:hover {
                    box-shadow: 0px 1px 0px #943E33;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}