@import "../mixins/var-main";
@import "../mixins/mixins";

//Challenge_view
.challenge_view__intro {
  padding: 25px 20px;
  &_content {
    background: #F2F2F2;
    border-radius: 5px;
    padding: 30px 20px;
    box-shadow: 0px 6px 0px #C6C6C6;
    overflow: hidden;
    .block_caption {
      display: flex;
      justify-content: space-between;
      padding-bottom: 35px;
      &__left {width: 33.333%;}
      &__center {
        width: 33.333%;
        text-align: center;
        .caption {
          font-size: 60px;
          font-family: $fonts-Francisco;
          color: $color-main--red;
          margin: 0;
          padding: 0;
          padding-bottom: 20px;
        }
        .sub {
          display: inline-block;
          line-height: 1;
          padding: 0;
          margin: 0;
          font-size: 24px;
          color: $color-text-paragraph;
          font-family: $fonts-Condensed;
          font-weight: 300;
          padding-bottom: 10px;
        }
        .row_btn {
          padding-bottom: 10px;
        }
        .info_about_next_challenge {
          .date_submitted {
            display: block;
            white-space: nowrap;
            font-size: 17px;
            font-weight: normal;
            color: $color-text-paragraph2;
          }
        }
      }
      &__right {
        width: 33.333%;
        .timer {
          text-align: center;
          .title {
            font-size: 21px;
            color: $color-text-paragraph;
            padding-bottom: 20px;
            display: block;
            line-height: 1;
          }
          .timeTo.timeTo-white {
            figure {
              div {
                background: #fff!important;
              }
            }
          }
        }
      }
    }
    .img_wrapper {
      display: inline-block;
      width: 70%;
      overflow: hidden;
      border-radius: 7px;
      height: 500px;
      margin-bottom: 25px;
      img {
        @include image-cover;
      }
    }
    .description {
      text-align: left;
      padding: 0 90px;
      img {
        width: 100%!important;
        object-fit: cover;
      }
      p {
        font-size: 20px;
        line-height: 1.4;
        font-family: $fonts;
        color: $color-text-paragraph;
        font-weight: normal;
        padding-bottom: 15px;
        margin: 0;
      }
    }
  }
  @media screen and (max-width: 1790px) {
    .btn_default {
      &.btn_gray {
        padding: 7px 20px;
        padding-left: 35px;
        font-size: 16px;
        i {
          left: 13px;
        }
      }
    }

    &_content {
      .block_caption {
        padding-bottom: 35px;
        flex-direction: column;
        &__left {width: 100%;}
        &__center {
          width: 100%;
          text-align: center;
        }
        &__right {
          width: 100%;
          padding-top: 20px;
        }
      }
    }
  }
  @include laptop {
    padding: 20px;
    .column_left { padding-left: 0;width: 100%;padding-bottom: 20px;}
    .column_right {width: 100%;}
    &_content {
      width: 100%;
      padding: 20px 20px;
      .block_caption {
        padding-bottom: 35px;
        flex-direction: column;
        &__left {width: 100%;}
        &__center {
          width: 100%;
          text-align: center;
        }
        &__right {
          width: 100%;
          padding-top: 20px;
        }
      }
      .img_wrapper {
        width: 90%;
      }
      .description {
        padding: 0;
      }

    }
  }
  @include tablet {

    &_content {
      padding: 20px 20px;
      .block_caption {
        padding-bottom: 15px;
        &__center {
          .caption {
            font-size: 46px;
          }
          .sub {
            font-size: 18px;
          }
          .info_about_next_challenge {
            .date_submitted {
              white-space: normal;
              font-size: 15px;
            }
          }
        }
      }
    }
  }
  @include mobile {
    padding: 20px 0;
    .column_left { padding-left: 15px;width: 100%;padding-bottom: 20px;}
    .column_right {width: 100%;}
    &_content {
      width: 100%;
      padding: 20px;
      box-shadow: 0px 4px 0px #C6C6C6;
      .block_caption {
        padding-bottom: 15px;
        flex-direction: column;
        &__left {width: 100%;}
        &__center {
          width: 100%;
          text-align: center;
          .caption {
            font-size: 32px;
            padding-bottom: 10px;
          }
          .sub {
            font-size: 19px;
          }
        }
        &__right {
          width: 100%;
          padding-top: 20px;
          .timer {
            .title {
              font-size: 18px;
              padding-bottom: 15px;
            }
          }
        }
      }
      .img_wrapper {
        margin-top: 20px;
        width: 100%;
        border-radius: 5px;
        height: 200px;
        margin-bottom: 20px;
      }
      .description {
        padding: 0;
        h4 {
          img {
            max-width: 100%!important;
            object-fit: cover;
          }
        }
        p {
          font-size: 14px;
          padding-bottom: 15px;
        }
      }

    }
  }
}

.challenge_view__content {
  padding: 75px 30px;
  &.border_top_dashed {
    border-top: 2px dashed $color-border;
  }
  .box_left {
    border-right: 1px solid $color-border-form;
    padding-right: 60px;
    img {
      max-width: 100%!important;
      min-width: 100%!important;
      height: auto!important;
    }
  }
  .box_right {
    padding-left: 60px;
    img {
      max-width: 100%!important;
      min-width: 100%!important;
      height: auto!important;
    }
  }
  .image_grid {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 20px;
    &__item {
      height: 100px;
      width: auto;
      margin-right: 7px;
      margin-bottom: 7px;
      display: inline-block;
      img {
        height: 100%;
        width: auto;
        display: inline-block;
      }
    }
  }
  .upcoming-challenges {
    .block_caption {
      padding-bottom: 35px;
      text-align: center;
      h4 {
        padding-bottom: 15px;
      }
      .sub_caption {
        display: block;
        color: $color-text-paragraph2;
        font-size: 17px;
        line-height: 1.4;
        padding: 0;
        margin: 0;
      }
    }
    .list_upcoming {
      display: flex;
      flex-wrap: wrap;
      margin-left: -30px;
      margin-right: -30px;
      position: relative;
      &__item {
        width: 50%;
        margin: 0;
        padding: 0 30px;
        text-align: right;
        position: relative;
        @include mobile {
          width: 100%;
          text-align: left;
          &:nth-child(even) {
            &:before {
              display: none;
            }
            &:after {
              display: none;
            }
          }
        }
        &:nth-child(even) {
          text-align: left;
          &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 25px;
            margin-left: -7px;
            z-index: 5;
            width: 14px;
            height: 14px;
            border-radius: 50%;
            background: $color-main--blue;
          }
          &:after {
            content: '';
            position: absolute;
            left: 0;
            top: 24px;
            margin-left: -1px;
            width: 2px;
            border-left: 2px dashed #efefef;
            height: 100%;
          }
        }
        &:last-child {
          &:after {
            display: none;
          }
        }
        .wrap {
          padding: 20px 0;
          border-bottom: 1px solid $color-border;
          .title {
            font-size: 22px;
            font-weight: 500;
            color: $color-text-2--hover;
            padding-bottom: 20px;
          }
          .row_data {
            font-size: 14px;
            color: $color-text-paragraph2;
            line-height: 1.5;
            strong {
              font-weight: bold;
              color: $color-text-icon;
            }
          }
        }
      }

    }
  }

  @include tablet {
    .box_left {
      border: none;
      width: 100%;
      padding: 0 15px;
      border-bottom: 1px solid $color-border-form;
      padding-bottom: 30px;
      margin-bottom: 35px;
    }
    .box_right {
      width: 100%;
      padding: 0 15px;
    }
  }
  @include mobile {
    padding: 25px 15px;
    .box_left {
      border: none;
      width: 100%;
      padding: 0 15px;
    }
    .box_right {
      width: 100%;
      padding: 0 15px;
    }
    .image_grid {
      &__item {
        height: 50px;
      }
    }
  }
}

.challenge_view__submit_photo {
  padding: 20px 0 50px;
  &_row {
    text-align: center;
    .caption {
      display: inline-block;
      width: 80%;
      font-size: 56px;
      font-family: $fonts-Francisco;
      padding-bottom: 40px;
      margin: 0;
      line-height: 1.3;
      color: $color-main--red;
    }
    .deadline {
      display: block;
      line-height: 1;
      font-size: 26px;
      color: $color-main--blue;
      font-weight: 500;
      margin-bottom: 50px;
    }
    .img_wrapper {
      text-align: center;
      padding-bottom: 55px;
      img {
        width: 300px;
      }
    }
    .btn_default {
      margin-bottom: 30px;
    }
    .sub {
      display: block;
      font-family: $fonts-Semi-Condensed;
      line-height: 1;
      font-size: 20px;
      color: $color-text-paragraph;
      padding: 0;
    }
  }
  @include mobile {
    padding: 20px 0 50px;
    &_row {
      .caption {
        width: 100%;
        font-size: 28px;
        padding-bottom: 20px;
      }
      .deadline {
        font-size: 17px;
        margin-bottom: 40px;
      }
      .img_wrapper {
        padding-bottom: 35px;
        img {
          width: 130px;
        }
      }
      .btn_default {
        margin-bottom: 30px;
      }
      .sub {
        font-size: 17px;
        line-height: 1.3;
      }
    }
  }
}