@import "../mixins/var-main";
@import "../mixins/mixins";

//Photo_view
.photo_view {
  .container-fluid {
    padding: 0;
  }
  &__slider {
    width: 70%;
    display: block;
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    .item {
      padding: 0;
      .img_wrapper {
        display: flex;
        width: 100%;
        height: 100%;
        min-height: 500px;
        max-height: 700px;
        overflow: hidden;
        justify-content: center;
        img {
          display: inline-block;
          width: auto;
          height: auto;
          max-width: 100%;
          max-height: 100%;
          object-fit: contain;
        }
      }
    }

    .spinner_container_photo {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      .loader {
        width: 50px;
        height: 50px;
      }
    }
  }
  &__arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    padding: 0;
    font-size: 70px;
    color: rgba(255, 255, 255, 0.35);
    &:hover {
      color: rgba(255, 255, 255, 0.66);
    }

    &.arrow_left {
      left: -120px;
    }
    &.arrow_right {
      right: -120px;
    }
  }
  &__slider_small {
    padding: 0;
    list-style: none;
    margin: 0;
    width: 670px;
    .slick-prev,
    .slick-next {
      font-size: 40px;
      color: rgba(255, 255, 255, 0.35);
      &:hover {
        color: rgba(255, 255, 255, 0.66);
      }
    }
    .slick-prev {
      left: -35px;
    }
    .slick-next {
      right: -35px;
    }
    .item {
      padding: 3px;
      .img_wrapper {
        cursor: pointer;
        width: 100%;
        height: 85px;
        @include transition(0.3);
        border-radius: 5px;
        img {
          @include image-cover;
          border-radius: 5px;
          border: 2px solid transparent;
          overflow: hidden;
        }
      }
      &.slick-current {
        .img_wrapper {
          img {
            border-color: #fff;
          }
        }
      }
    }
  }
  &__gallery {
    background: #212125;
    padding: 20px;
    &_header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-bottom: 10px;
      .back {
        display: inline-block;
        line-height: 1;
        position: relative;
        color: #fff;
        font-weight: normal;
        font-size: 22px;
        text-decoration: none;
        padding-left: 30px;
        i {
          position: absolute;
          left: 0;
          top: 60%;
          transform: translateY(-50%);
        }
        &:hover {
          padding-left: 20px;
          text-decoration: underline;
          opacity: 0.7;
        }
      }
      .closed {
        display: inline-block;
        text-decoration: none;
        line-height: 1;
        font-size: 32px;
        color: rgba(255, 255, 255, 0.35);
        &:hover {
          color: rgba(255, 255, 255, 0.66);
          transform: rotate(180deg);
        }
      }
    }
    &_body {
      display: flex;
      justify-content: center;
      padding-bottom: 20px;
    }
    &_footer {
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: space-between;
      &_left {
        width: 33.333%;
      }
      &_center {
        width: 33.333%;
        display: flex;
        justify-content: center;
      }
      &_right {
        width: 33.333%;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      .btn_like,
      .btn_comment,
      .btn_mark {
        font-size: 22px;
        color: #fff;
        display: inline-block;
        line-height: 1;
        text-decoration: none;
        .number {
          margin-right: 7px;
          color: #fff;
        }
      }
      .btn_like {
        &:hover {
          color: #e33649;
        }
      }
      .btn_comment {
        margin-left: 20px;
        &:hover {
          color: #00A3B3;
        }
      }
      .btn_mark {
        margin-left: 110px;
        &:hover {
          color: #F9C000;
        }
      }
      .row_btn {
        display: flex;
        align-items: center;
      }
      .photo_count {
        display: inline-block;
        line-height: 1;
        font-size: 22px;
        color: #fff;
        display: inline-block;
        line-height: 1;
        text-decoration: none;
        i {
          margin: 0 1px;
        }
        .rest {
          display: inline-block;
          opacity: 0.5;
          transform: scale(0.85);
        }
      }
    }
  }
  @media (max-width: 1340px) {
    &__slider_small {
      width:540px;
      .slick-prev,
      .slick-next {
        font-size: 30px;
        color: rgba(255, 255, 255, 0.35);
        &:hover {
          color: rgba(255, 255, 255, 0.66);
        }
      }
      .slick-prev {
        left: -35px;
      }
      .slick-next {
        right: -35px;
      }
      .item {
        .img_wrapper {
          height: 67px;
        }
      }
    }
  }
  @include laptop {
    &__slider {
      width: 80%;
    }
    &__arrow {
      font-size: 50px;
      &.arrow_left {
        left: -90px;
      }
      &.arrow_right {
        right: -90px;
      }
    }
    &__slider_small {
      width:600px;
      .slick-prev,
      .slick-next {
        font-size: 30px;
        color: rgba(255, 255, 255, 0.35);
        &:hover {
          color: rgba(255, 255, 255, 0.66);
        }
      }
      .slick-prev {
        left: -35px;
      }
      .slick-next {
        right: -35px;
      }
    }
    &__gallery {
      &_header {
        padding-bottom: 30px;
        .back {
          font-size: 20px;
          padding-left: 25px;
          &:hover {
            padding-left: 20px;
          }
        }
        .closed {
          font-size: 28px;
        }
      }
      &_body {
        padding-bottom: 15px;
      }
      &_footer {
        flex-wrap: wrap;
        &_left {
          width: 50%;
          order: 1;
        }
        &_center {
          width: 100%;
          order: 2;
        }
        &_right {
          order: 1;
          width: 50%;
          justify-content: flex-end;
        }
      }
    }
  }
  @include tablet {
    &__slider {
      width: 80%;
      .item {
        .img_wrapper {
          min-height: 250px;
          max-height: 550px;
          img {
            min-width: 0;
            min-height: 0;
            max-width: 100%;
            max-height: 100%;
          }
        }
      }
    }
    &__arrow {
      font-size: 50px;
      &.arrow_left {
        left: -70px;
      }
      &.arrow_right {
        right: -70px;
      }
    }
    &__slider_small {
      width:500px;
      .slick-prev,
      .slick-next {
        font-size: 30px;
        color: rgba(255, 255, 255, 0.35);
        &:hover {
          color: rgba(255, 255, 255, 0.66);
        }
      }
      .slick-prev {
        left: -35px;
      }
      .slick-next {
        right: -35px;
      }
    }
    &__gallery {
      &_header {
        padding-bottom: 20px;
        .back {
          font-size: 20px;
          padding-left: 25px;
          &:hover {
            padding-left: 20px;
          }
        }
        .closed {
          font-size: 28px;
        }
      }
      &_body {
        padding-bottom: 20px;
      }
      &_footer {
        .btn_mark {
          margin-left: 40px;
        }
        &_right {
          justify-content: flex-end;
        }
      }
    }
  }
  @include mobile {
    &__gallery {
      &_header {
        padding-bottom: 20px;
        .back {
          font-size: 15px;
          padding-left: 20px;
          &:hover {
            padding-left: 15px;
          }
        }
        .closed {
          font-size: 22px;
        }
      }
      &_body {
        padding-bottom: 20px;
      }
      &_footer {
        flex-wrap: wrap;
        &_left {
          width: 50%;
          order: 1;
        }
        &_center {
          width: 100%;
          order: 2;
        }
        &_right {
          width: 50%;
          order: 1;
        }
        .btn_like,
        .btn_comment,
        .btn_mark {
          font-size: 15px;
          margin-left: 10px;
          .number {
            margin-right: 5px;
          }
        }
        .btn_mark {
          margin-left: 30px;
        }
        .photo_count {
          font-size: 15px;
          i {
            margin: 0;
          }
        }
      }
    }
    &__slider {
      width: 85%;
      .item {
        .img_wrapper {
          min-height: 150px;
          max-height: 350px;
          img {
            min-width: 0;
            min-height: 0;
            max-width: 100%;
            max-height: 100%;
          }
        }
      }
    }
    &__arrow {
      font-size: 30px;
      &.arrow_left {
        left: -30px;
      }
      &.arrow_right {
        right: -30px;
      }
    }
    &__slider_small {
      width: 290px;
      .slick-prev,
      .slick-next {
        font-size: 24px;
      }
      .slick-prev {
        left: -24px;
      }
      .slick-next {
        right: -24px;
      }
      .item {
        padding: 3px;
        .img_wrapper {
          height: 50px;
        }
      }
    }
  }
}

.photo_view_information {
  padding: 40px 0 90px;
  background: #fff;
  &__slider {
    width: 100%;
  }
  &__content {
    padding-right: 70px;
  }
  &__sitebar {
    padding-left: 0;
  }
  &__user {
    padding-bottom: 35px;
    .user {
      display: flex;
      padding-bottom: 15px;
      &__image {
        margin-right: 20px;
        width: 60px;
        min-width: 60px;
        height: 60px;
        border-radius: 50%;
        overflow: hidden;
        img {
          @include image-cover;
        }
      }
      &__name {
        display: flex;
        align-items: center;
        width: 100%;
        .name {
          display: inline-block;
          text-decoration: none;
          line-height: 1;
          font-size: 38px;
          white-space: nowrap;
          color: $color-text-paragraph;
          font-family: $fonts-Condensed;
          margin-right: 35px;
          &:hover {
            color: $color-text-paragraph2;
          }
        }
        .row_btn__user {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;
        }
      }
    }
    .description {
      padding-left: 80px;
      .row_title {
        display: flex;
        align-items: center;
        padding-bottom: 10px;
        .title {
          font-weight: 300;
          color: $color-text-paragraph;
          display: inline-block;
          line-height: 1;
          margin-right: 35px;
          font-size: 26px;
        }
      }
      p {
        font-size: 18px;
        color: $color-text-paragraph;
        font-weight: normal;
        line-height: 1.4;
        padding-bottom: 15px;
        margin: 0;
      }
    }
  }
  &__comments {
    .list_comments {
      padding: 0;
      margin: 0;
      list-style: none;
      .item {
        width: 100%;
        position: relative;
        z-index: 5;
        .wrap {
          display: flex;
          padding-bottom: 20px;
        }
        .img_wrapper {
          display: inline-block;
          text-decoration: none;
          border: 2px solid transparent;
          margin-right: 20px;
          width: 44px;
          min-width: 44px;
          height: 44px;
          border-radius: 50%;
          overflow: hidden;
          img {
            @include image-cover;
          }
          &:hover {
            border-color: $color-border-form;
          }
        }
        .comments {
          width: 100%;
          padding: 10px 15px;
          border-radius: 6px;
          background: #fff;
          border: 1px solid $color-border;
          box-shadow: 0px 3px 0px #C6C6C6;
          &__header {
            padding-bottom: 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .user_name {
              display: flex;
              align-items: center;
              .name {
                display: inline-block;
                line-height: 1;
                margin-right: 30px;
                font-size: 20px;
                color: #E65F4F;
                text-decoration: none;
                font-family: $fonts-Condensed;
                a {
                  text-decoration: none;
                  display: inline-block;
                  line-height: 1;
                  color: #E65F4F;
                }
              }
              .date {
                margin: 0;
                padding: 0;
                display: inline-block;
                line-height: 1;
                font-size: 14px;
                color: #C6C6C6;
                font-family: $fonts-Condensed;
              }
            }
            .dropdown_option {
              .btn_option {
                font-size: 18px;
                width: 34px;
                height: 34px;
                min-width: 34px;
                background: #fff;
                &:hover {
                  background: $bg-main;
                }
              }
              .dropdown-menu {
                border: none;
                box-shadow: none;
                padding: 0;
                left: auto;
                right: 90%;
                top: 50%;
                transform: translateY(-50%);
                margin: 0 10px 0 0;
                &:before,
                &:after {
                  display: none;
                }
                display: flex;
                align-items: center;
                min-width: 0;
                li {
                  padding: 5px 7px;
                  a {
                    font-size: 18px;
                    padding: 4px;
                    i {
                      margin: 0;
                      position: static;
                    }
                    &:hover {
                      padding: 4px;
                      left: 0;
                    }
                  }
                }
              }
              &.open {
                .btn_option {
                  transform: rotate(-90deg);
                  background: $bg-main;
                }
                .dropdown-menu {
                  right: 100%;
                  top: 50%;
                  margin: 0 10px 0 0;
                }
              }
            }
          }
          &__body {
            p {
              font-size: 16px;
              line-height: 1.4;
              padding: 0;
              color: $color-text-paragraph;
              font-weight: normal;
              margin: 0;
              padding-bottom: 10px;
            }
          }
          &__footer {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .reply {
              display: inline-block;
              line-height: 1;
              font-size: 14px;
              text-decoration: none;
              color: $color-main--blue;
              &:hover {
                color: $color-main--blue-hover;
                text-decoration: underline;
              }
            }
            .hide_replies {
              display: inline-block;
              line-height: 1;
              color: #C6C6C6;
              font-size: 14px;
              a {
                color: #C6C6C6;
                text-decoration: none;
                &:hover {
                  color: $color-main--yellow;
                  text-decoration: underline;
                }
              }
            }
          }
        }
        .photo_view_information__add_comments {
          .comments {
            border: none;
            box-shadow: none;
          }
        }
      }
      &.replies_comments {
        padding-left: 100px;
        .item_replies {
          position: relative;
          &:before {
            content: '';
            position: absolute;
            height: 100%;
            width: 2px;
            left: 21px;
            top: 5px;
            display: inline-block;
            background: #C6C6C6;
            z-index: -1;
          }
          &:last-child {
            &:before {
              display: none;
            }
          }
        }
      }
    }
    .photo_view_information__add_comments {
      display: flex;
      .img_wrapper {
        display: inline-block;
        text-decoration: none;
        border: 2px solid transparent;
        margin-right: 20px;
        width: 44px;
        min-width: 44px;
        height: 44px;
        border-radius: 50%;
        overflow: hidden;
        img {
          @include image-cover;
        }
        &:hover {
          border-color: $color-border-form;
        }
      }
      .comments {
        width: 100%;
        .comment-options {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          padding-bottom: 10px;
          .name {
            display: inline-block;
            line-height: 1;
            margin-right: 30px;
            font-size: 20px;
            color: #E65F4F;
            text-decoration: none;
            font-family: $fonts-Condensed;
            a {
              display: inline-block;
              line-height: 1;
              color: #E65F4F;
              text-decoration: none;
            }
          }
          .sub_status {
            display: inline-block;
            line-height: 1;
            font-size: 14px;
            color: #C6C6C6;
            font-family: $fonts-Condensed;
            padding: 0;
            margin: 0;
          }
        }
        textarea {
          border: none;
          width: 100%;
          padding: 10px 15px;
          border-radius: 6px;
          background: #fff;
          min-height: 90px;
          border: 1px solid $color-border;
          box-shadow: 0px 3px 0px #C6C6C6;
          resize: none;
          font-size: 18px;
          color: $color-text-paragraph;
          overflow: hidden;
          &::placeholder {
            color: $color-text-paragraph;
            position: relative;
            @include transition(0.3);
            left: 0;
          }
          &:focus {
            box-shadow: 0px 3px 0px $color-main--yellow;
            &::placeholder {
              opacity: 0;
              left: 10px;
            }
          }
        }
        .comment-textbox-holder {
          .comment-message {
            width: 100%;
            padding: 10px 15px;
            border-radius: 6px;
            background: #fff;
            min-height: 90px;
            border: 1px solid #e9e9e9;
            box-shadow: 0px 3px 0px #C6C6C6;
            resize: none;
            font-size: 18px;
            color: #444444;
            overflow: hidden;
            outline: none;
            margin-bottom: 10px;
          }
          .comment-message:focus {
            box-shadow: 0px 3px 0px #F9C000;
          }
          .comment-message:empty:before {
            content:attr(data-placeholder);
            color: #C6C6C6;
          }

          .comment-message__buttons {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .comment-tip {
              display: inline-block;
              line-height: 1;
              font-size: 14px;
              color: #C6C6C6;
              font-family: $fonts-Condensed;
              padding: 0;
              margin: 0;
            }
            .btn_default {
              margin-left: 10px;
            }
          }
        }
      }
    }
  }
  .wrap_advertising {
    text-align: center;
    margin-bottom: 20px;
    img {
      width: 100%;
    }
  }
  .sitebar_wrap {
    margin-bottom: 20px;
    padding: 15px 20px;
    border-radius: 6px;
    background: #fff;
    border: 1px solid $color-border;
    box-shadow: 0px 3px 0px #C6C6C6;
    &__caption {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-bottom: 20px;
      .caption {
        font-size: 24px;
        font-family: $fonts-Condensed;
        color: $color-text-paragraph;
        padding: 0;
        margin: 0;
      }
    }
  }
  .camera_options {
    &__name {
      display: flex;
      align-items: center;
      padding-bottom: 20px;
      .img_wrapper {
        margin-right: 20px;
        min-width: 80px;
        img {
          width: 100%;
        }
      }
      .description {
        width: 100%;
        .name {
          font-size: 24px;
          color: #444444;
          font-family: $fonts-Condensed;
          display: block;
          line-height: 1;
          padding-bottom: 8px;
        }
        .model {
          display: block;
          line-height: 1;
          font-size: 22px;
          color: #444444;
          font-family: $fonts-Condensed;
          font-weight: 300;
        }
      }
    }
    &__tools {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      margin-left: -7px;
      margin-right: -7px;
      .tools {
        display: flex;
        align-items: center;
        padding: 0 7px 10px;
        line-height: 1;
        font-size: 17px;
        white-space: nowrap;
        color: #444;
        font-family: $fonts-Condensed;
        font-weight: 300;
        .icon {
          width: 22px;
          height: 22px;
          object-fit: contain;
          margin-right: 4px;
        }
      }
    }
  }
  .tags_wrap {
    &__list {
      display: flex;
      flex-wrap: wrap;
      margin-right: -6px;
      .tag {
        font-size: 17px;
        font-family: $fonts-Condensed;
        font-weight: 300;
        display: inline-block;
        line-height: 1;
        padding: 6px 15px;
        background: #F2F2F2;
        border-radius: 5px;
        box-shadow: 0px 2px 0px #C6C6C6;
        margin-right: 6px;
        margin-bottom: 7px;
      }
    }
  }
  .critical_analysis {
    padding-top: 15px;
    padding-bottom: 20px;
    &__wrap {
      background: #5DADE2;
      border-radius: 5px;
      position: relative;
      display: flex;
      align-items: flex-start;
      box-shadow: 0px 4px 0px #4886AF;
      padding: 15px 15px;
      padding-left: 60px;
    }
    &__shred {
      background: #07B300;
      box-shadow: 0px 4px 0px #0B8007;
    }
    &__sensitive {
      background: #F9C000;
      box-shadow: 0px 4px 0px #CB9E06;
    }
    &__critique {
      background: #F93000;
      box-shadow: 0px 4px 0px #BF2500;
    }
    &__icon {
      position: absolute;
      left: 15px;
      top: 12px;
      width: 28px;
      min-width: 28px;
      display: inline-block;
      margin-right: 15px;
    }
    &__text {
      font-size: 18px;
      color: #222222;
      font-weight: 500;
      font-family: $fonts-Semi-Condensed;
      display: inline-block;
      line-height: 1.2;
    }
  }

  @include laptop {
    .camera_options {
      &__name {
        .description {
          .name {
            font-size: 20px;
          }
          .model {
            font-size: 16px;
          }
        }
      }
      &__tools {
        .tools {
          font-size: 16px;
          .icon {
            width: 23px;
            height: 23px;
          }
        }
      }
    }
    .tags_wrap {
      &__list {
        .tag {
          font-size: 16px;
        }
      }
    }
  }
  @include tablet {
    &__content {
      padding: 0 15px 45px;
    }
    &__sitebar {
      padding: 0 15px;
    }
    .row {
      justify-content: center;
    }
  }
  @include mobile {
    padding: 30px 0;
    overflow: hidden;
    width: 100%;
    &__content {
      padding: 0 15px 35px;
      border-bottom: 1px solid $color-border;
      margin-bottom: 35px;
    }
    &__sitebar {
      padding: 0 15px;
    }
    &__user {
      padding-bottom: 25px;
      .user {
        padding-bottom: 10px;
        &__image {
          margin-right: 10px;
          width: 40px;
          min-width: 40px;
          height: 40px;
        }
        &__name {
          width: 100%;
          justify-content: space-between;
          .name {
            font-size: 22px;
            margin-right: 0px;
          }
          .row_btn__user {
            justify-content: flex-end;
            width: auto;
            .dropdown_option {
              margin-left: 5px;
            }
          }
        }
      }
      .description {
        padding-left: 50px;
        .row_title {
          .title {
            font-size: 20px;
          }
        }
        p {
          font-size: 15px;
        }
      }
    }
    &__comments {
      .list_comments {
        .item {
          .img_wrapper {
            position: sticky;
            top: 0;
            margin-right: 10px;
            width: 40px;
            min-width: 40px;
            height: 40px;
          }
          .comments {
            padding: 10px;
            &__header {
              padding-bottom: 10px;
              .user_name {
                .name {
                  margin-right: 15px;
                  font-size: 18px;
                }
                .date {
                  font-size: 13px;
                }
              }
              .btn_option {
                font-size: 17px;
              }
            }
            &__body {
              p {
                font-size: 14px;
              }
            }
            &__footer {
              .reply {
                font-size: 13px;
              }
              .hide_replies {
                font-size: 12px;
              }
            }
          }
        }
        &.replies_comments {
          padding-left: 50px;
          .item {
            &:before {
              width: 1px;
              left: 20px;
            }
          }
        }
      }
    }
    &__add_comments {
      .img_wrapper {
        position: sticky;
        top: 0;
        margin-right: 10px;
        width: 40px;
        min-width: 40px;
        height: 40px;
      }
      .comments {
        textarea {
          font-size: 15px;
        }
      }
    }
    .sitebar_wrap {
      padding: 15px;
      &__caption {
        padding-bottom: 15px;
        .caption {
          font-size: 20px;
        }
      }
    }
    .camera_options {
      &__name {
        .description {
          .name {
            font-size: 20px;
          }
          .model {
            font-size: 16px;
          }
        }
      }
      &__tools {
        .tools {
          font-size: 16px;
          .icon {
            width: 23px;
            height: 23px;
          }
        }
      }
    }
    .tags_wrap {
      &__list {
        .tag {
          font-size: 16px;
        }
      }
    }
  }
}