<div ng-if="!$root.pageLoaded">
    <div class="container loading_container">
        <loading>Loading...</loading>
    </div>
</div>

<div ng-show="$root.pageLoaded">

    <div class="container terms">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h1>Terms of Service</h1>
            </div>
            <div class="panel-body">
                <p>Congratulations! You’ve reached the Terms of Service for the 52Frames website. You are also
                    encouraged to go
                    say hi to our <a href="/privacy">Privacy Policy</a>, which documents our how we handle any personal
                    information that you may provide on our site. We also ask (insist, really) that you visit our
                    <a href="/community-guidelines">Community Guidelines page</a> and make sure you
                    understand the rules and ethics of our community.</p>
                <p>To make sure we’re all on the same page, we require that you read, understand and agree to these
                    terms of
                    service. You may only create an account after reading and accepting these terms. After doing so, you
                    may
                    create an account and join the fun.</p>
                <p>We get that the Internet often features Terms of Services that are long, and sometimes
                    scary-sounding.
                    Because of the nature of our site &#8211; sharing photography, running contests, collecting feedback
                    &#8211;
                    there is a lot of legal ground to cover. We will try to provide you with some easy-to-read
                    explanations of
                    the terms, but these explanations are not themselves legally binding. If you have any questions,
                    please
                    email us at &#x68;e&#x6c;p&#x40;&#53;2&#x66;r&#x61;m&#x65;&#115;.&#x63;o&#x6d;</p>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-md-6">
                    <h3><strong><b>Terms of Service</b></strong></h3>
                    <p>The following terms and conditions govern all use of the 52Frames website and all content,
                        services
                        and products available at or through the website, including, but not limited to, 52Frames free
                        and
                        paid services, (taken together, the Website). The Website is owned and operated by “52Frames”.
                        The
                        Website is offered subject to your acceptance without modification of all of the terms and
                        conditions contained herein and all other operating rules, policies (including, without
                        limitation,
                        52Frames’s Privacy Policy) and procedures that may be published from time to time on this Site
                        by
                        52Frames (collectively, the “Agreement”).</p>
                    <p>Please read this Agreement carefully before accessing or using the Website. By accessing or
                        using any part of the web site, you agree to become bound by the terms and conditions of this
                        agreement. If you do not agree to all the terms and conditions of this agreement, then you may
                        not
                        access the Website or use any services. If these terms and conditions are considered an offer by
                        52Frames, acceptance is expressly limited to these terms.</p>
                </div>
                <div class="col-md-6 basically">
                    <p>Basically,</p>
                    <h3>By visiting 52Frames, you accept the terms laid out below.</h3>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-md-6">
                    <h3>Description Of Service</h3>
                    <p>The Site is an online platform intending to help users improve their photography skills by
                        sharing photographs and images in weekly photographic challenges, engage with a community of
                        other users, access educational content, share comments and critiques, and discover other
                        resources on the Site itself or linked to on other websites (“Services”). Services include
                        &#8211; but are not limited to &#8211; any service and/or content that 52Frames provides to you
                        or performs for you, as well as the display of any materials transmitted or performed on the
                        site or through the Services. Content (“Content”) includes &#8211; but is not limited to &#8211;
                        any text, blog post, article, video, user comment, message, data, image, graphic, announcement,
                        audio and software.<br/>
                        We are constantly working hard on improving 52Frames, but we can&#8217;t guarantee that the
                        Website will be up and running 24/7. We also reserve the right to suspend or restrict access to
                        some features to users. In any case, we will not be liable if for any reason all or any part of
                        the Website is unavailable at any time or for any period, nor for any data loss.</p>
                    <p>As is custom for internet websites, we reserve the right to disable any user account, or remove
                        content generated by any user account, at any time in our sole discretion for any or no reason,
                        including, if in our opinion you have failed to comply with any provision of these Terms of
                        Service. Do not rely on the Site for storage of your photographs, images, comments, or works;
                        you are advised to maintain your own copies of all Content shared with the site.</p>
                </div>
                <div class="col-md-6 basically">
                    <p>Basically,</p>
                    <h3>We manage a photography community with the goal of helping you improve your own photography, and
                        we will develop more features and services in the future. It’s possible that the site has issues
                        from time to time. Unlikely, but sometimes things can go really wrong &#8211; so please keep
                        your own backup of your work.</h3>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-md-6">
                    <h3>Registration</h3>
                    <p>To access certain features of the Website, you have to register by entering your email and
                        choosing a password and username as part of our security procedures. You must treat such
                        information as confidential, not disclosing it to any third party and only using 52Frames in
                        person. You are solely responsible for any activity resulting from the use of your account.
                        There is a password reset procedure in case you forget your password, but please notify us of
                        any breach of security. We highly recommend to choose a strong password and that you log out
                        from your account at the end of every session.</p>
                    <p>When choosing a username, you acknowledge that it is lawfully available for your use, and is not
                        subject to the rights of another person or entity whose proper authorization you do not have;
                        and that the username is not vulgar, obscene, or offensive.</p>
                    <p>Our site services are available to human beings who are at least 18 years old, or who are at
                        least 13 years old, and who have authorization by a parent or legal guardian. The parent or
                        legal guardian authorizing a minor to access the Site is responsible for the conduct of the
                        minor. Parents and legal guardians are advised that nudity may be displayed on the Site (a
                        filter is provided to allow the user to hide such nudity, but we do not guarantee that all such
                        content will be hidden universally across the Site), as well as references to violence, drug
                        use, or other themes that may be offensive to some.</p>
                    <p>Accounts can be created by individuals only, not by galleries, agents, or other intermediaries
                        who represent artists or sell their works. You may not create an account if you do not qualify
                        for registration.</p>
                </div>
                <div class="col-md-6 basically">
                    <p>Basically,</p>
                    <h3>To make the most of our website, you’ll need to register an account. But make sure you aren’t
                        violating others’ rights when doing so.</h3>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-md-6">
                    <h3>Appropriate Use</h3>
                    <p>The Site will do its best to assess any possible risks for users from third parties when they use
                        any Services provided on the Site, and will decide in each case whether it is appropriate to use
                        moderation of the relevant service (including what kind of moderation to use) in the light of
                        those risks. However, the Site is under no obligation to oversee, monitor or moderate any
                        Services we provide on the Site, in particular Content generated by its users, and expressly
                        excludes its liability for any loss or damage arising from the use of any Services by a user in
                        contravention of our content standards and community guidelines, whether the service is
                        moderated or not. Users are solely responsible for their accounts and the activity that occurs
                        while signed in to or while using their accounts.</p>
                    <p>You acknowledge that by accessing the Site, you may be exposed to Content that they find
                        offensive, objectionable, or indecent. Because Content is provided by users, the Site does not
                        guarantee that any such Content is accurate.</p>
                    <p>In order to use the Services of the site, you agree that you will not use those Services in any
                        way that is unlawful or prohibited by these Terms, or for any purpose not reasonably intended by
                        52Frames.</p>
                    <p>You may use the Site only for lawful purposes. You may not use the Site:</p>
                    <ul>
                        <li>in any way that breaches any applicable local, national or international law or
                            regulation;
                        </li>
                        <li>in any way that is unlawful or fraudulent, or has any unlawful or fraudulent purpose or
                            effect;
                        </li>
                        <li>for the purpose of harming or attempting to harm minors in any way;<br/>
                            to send, knowingly receive, upload, download, use or re-use any material which does not
                            comply with our content standards;
                        </li>
                        <li>to transmit, or procure the sending of, any unsolicited or unauthorised advertising or
                            promotional material or any other form of similar solicitation (spam); or
                        </li>
                        <li>to knowingly transmit any data, send or upload any material that contains viruses, Trojan
                            horses, worms, time-bombs, keystroke loggers, spyware, adware or any other harmful programs
                            or similar computer code designed to adversely affect the operation of any computer software
                            or hardware.
                        </li>
                    </ul>
                    <p>You also agree:</p>
                    <ul>
                        <li>not to reproduce, duplicate, copy or re-sell any part of the Site, including the content of
                            other Users, in contravention of the provisions of our terms of website use;
                        </li>
                        <li>not to access without authority, interfere with, damage or disrupt:<br/>
                            any part of the Site;
                        </li>
                        <li>any equipment or network on which the Site is stored;<br/>
                            any software used in the provision of the Site; or<br/>
                            any equipment or network or software owned or used by any third party.
                        </li>
                    </ul>
                    <p>Other inappropriate actions, include, but are not limited to:</p>
                    <ul>
                        <li>Posting information that is false, misleading, or malicious</li>
                        <li>Attempting to abuse, harass, intimidate or impersonate any individual or group</li>
                        <li>Posting any information that is abusive, threatening, obscene, defamatory, libelous,
                            pornographic, profane, or racially, sexually, religiously, or otherwise objectionable and
                            offensive;
                        </li>
                        <li>Submitting photos that breaches any applicable local, national or international law or
                            regulation;
                        </li>
                        <li>Creating multiple accounts on the Site, for the purpose of voting for or against users’
                            submissions or influencing the opinions of others<br/>
                            Posting copyrighted Content which you do not own
                        </li>
                        <li>Taking credit for &#8211; either explicitly or implicitly or by omission &#8211; works that
                            are not your own
                        </li>
                        <li>Generating, creating, or transmitting &#8211; or causing to be generated, created or
                            transmitted &#8211; any communication designed to obtain personal information or account
                            details of any 52Frames user.
                        </li>
                        <li>Interfering or attempting to interfere with the proper functioning of the Service</li>
                        <li>Making any automated use of the system, or taking any action that we deem to impose or to
                            potentially impose an unreasonable or disproportionately large load on our servers or
                            network infrastructure
                        </li>
                        <li>Bypassing any robot exclusion headers or other measures we take to restrict access to the
                            Service or use any software, technology, or device to scrape, spider, or crawl the Service
                            or harvest or manipulate data
                        </li>
                        <li>Publishing or linking to malicious content intended to damage or disrupt another user’s
                            browser or computer.
                        </li>
                        <li>Manipulating comments, critiques, votes, likes, shares, directly or indirectly in an effort
                            to sway perception or challenge outcomes, or for any purpose.
                        </li>
                        <li>Soliciting or advertising to any user of the Site or visitor to the Site, or using any
                            information gathered from the Site in an effort to contact users without explicit prior
                            consent.
                        </li>
                        <li>Selling Content of another person</li>
                        <li>Selling or transferring your account to another individual or entity</li>
                    </ul>
                    <p>You agree to notifying us of any suspected abuse of the Site or breach of the Terms (other than
                        copyright infringement which is addressed under “COPYRIGHT COMPLAINTS” below) by sending us
                        written notice at: &#x68;&#x65;&#x6c;&#x70;&#64;52Fr&#x61;&#x6d;&#x65;&#x73;&#46;com.</p>
                    <p>Without limiting any of those representations or warranties, 52Frames has the right (though not
                        the obligation) to, in 52Frames’s sole discretion (i) refuse or remove any content that, in
                        52Frames’s reasonable opinion, violates any 52Frames policy or is in any way harmful or
                        objectionable, including but not limited to violations of the 52Frames Community Guidelines
                        (found at this link), or (ii) terminate or deny access to and use of the Website to any
                        individual or entity for any reason, in 52Frames’s sole discretion. 52Frames will have no
                        obligation to provide a refund of any amounts previously paid.</p>
                    <p>52Frames may decide to mediate or monitor disputes between you and other users, but is not
                        obligated to do so. You are responsible for your own interactions with the Site’s other
                        users.</p>
                </div>
                <div class="col-md-6 basically">
                    <p>Basically,</p>
                    <h3>Be reasonable. Be decent. Be honest. Don’t post obscene material, don’t harass people, don’t
                        send spam, don’t try manipulating the voting system. Be responsible. Be kind. You’ll be
                        fine.</h3>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-md-6">
                    <h3>Content Submitted Or Made Available For Inclusion On The Service</h3>
                    <p>When submitting photographs to 52Frames, you retain the full rights to those works, such as you
                        had them prior to uploading, and 52Frames does not claim ownership to those works. At the same
                        time, by submitting Content to 52Frames for inclusion on your Website, you grant 52Frames a
                        world-wide, royalty-free, and non-exclusive license to reproduce, modify, adapt and publish the
                        Content for the purpose of displaying, distributing or promoting your account and the Site, and
                        are representing that you own the Content submitted, or that it is duly licensed to you, and
                        that is within the irrevocable rights of 52Frames to publish, distribute or use the content
                        without obtaining any further permission from you or any third party.</p>
                    <p>If you delete Content, 52Frames will use reasonable efforts to remove it from the Website, but
                        you acknowledge that caching or references to the Content may not be immediately deleted, and
                        that Content persist on third parties platforms.</p>
                    <p>By submitting content to the Site, you acknowledge that:</p>
                    <ul>
                        <li>52Frames does not claim ownership over submitted photographs or images to the site, and you
                            retain the original rights owned prior to submission
                        </li>
                        <li>Upon posting Content to the Site you hereby grant to 52Frames a non-exclusive, transferable,
                            worldwide, fully paid license (with the right to sublicense) to use, distribute, modify,
                            reproduce, adapt, publicly perform and publicly display such Content in connection with the
                            Services. This license will exist for the period during which the Content is posted on the
                            Site and will terminate automatically upon the removal of the Content from the Site;
                        </li>
                        <li>52Frames maintains the right to use your Content fully or partially for promotional and
                            educational reasons and to distribute and redistribute your Content to other parties,
                            web-sites, applications, and other entities. 52Frames pledges to attribute your work in
                            accordance with the credits (e.g. username, profile picture, photo title, descriptions,
                            tags, and other accompanying information) if any and as appropriate, all as submitted to
                            52Frames by you;
                        </li>
                        <li>Despite efforts to protect your works, 52Frames makes no claim and guarantee that Content
                            submitted to the Site will not be duplicated unlawfully without your consent.
                        </li>
                        <li>Subject to the terms of the foregoing license, you retain full ownership or other rights in
                            your Content and any intellectual property rights or other proprietary rights associated
                            with your Content.
                        </li>
                    </ul>
                    <p>You represent and warrant that:</p>
                    <ul>
                        <li>You are the owner of all rights, including all copyrights in and to all Content you submit
                            to the site;
                        </li>
                        <li>You have the full and complete right to enter into this agreement and to grant to 52Frames
                            the rights in the Content herein granted, and that no further permissions are required from,
                            nor payments required to be made to any other person in connection with the use by 52Frames
                            of the Content as contemplated herein; and
                        </li>
                        <li>The Content does not defame any person and does not infringe upon the copyright, moral
                            rights, publicity rights, privacy rights or any other right of any person, or violate any
                            law or judicial or governmental order.
                        </li>
                        <li>You shall not have any right to terminate the permissions granted herein, nor to seek,
                            obtain, or enforce any injunctive or other equitable relief against 52Frames, all of which
                            such rights are hereby expressly and irrevocably waived by you in favor of 52Frames.
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 basically">
                    <p>Basically,</p>
                    <h4>When you submit a photo to our site, the photo retains whatever copyright it had prior to
                        submission. Your work belongs to you.</h4>
                    <h4>We have the right to display it (e.g. sharing on our instagram account, or using your photo as
                        an example for a future challenge) but we will never sell it without your explicit permission,
                        and we will ALWAYS give credit to the photographer.</h4>
                    <h4>Also, you acknowledge that all work you upload to the site belongs to you and does not violate
                        any law.</h4>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-md-6">
                    <h3>Sale of Work</h3>
                    <p>52Frames may offer you the option for you to list your work for sale. 52Frames will make a
                        reasonable effort to connect you to interested buyers in your work, but bears no further
                        responsibility on the payment, legality, execution, transfer, reliability of the sale itself,
                        nor any other aspect of the transaction regardless of its completion. 52Frames has the right to
                        download or print your work in assisting the User with such a sale. This Service is offered As
                        Is, and may be removed at any time, or made available only for a fee.</p>
                </div>
                <div class="col-md-6 basically">
                    <p>Basically,</p>
                    <h4>You have the option to list your work for sale. If someone is interested in purchasing it, we
                        will try to help you complete the sale, to the best of our ability. This is just something we’re
                        testing out now for the benefit of the community, so we can’t make any guarantees about how it
                        will work. Even if we help you make a sale, we still don’t own any rights to the work
                        itself.</h4>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-md-6">
                    <h3>User Feedback and Improper Transmissions</h3>
                    <p>Except for Posted Information or personal information, if you transmit to or otherwise provide to
                        52Frames any feedback (such as questions, comments, suggestions, or the like) or data or
                        materials (&#8220;User Feedback&#8221;), such User Feedback shall be deemed to be
                        non-confidential and non-proprietary. 52Frames shall have no obligation of any kind with respect
                        to such User Feedback and shall be free to reproduce, use, disclose, modify, display and
                        distribute the User Feedback to others without limitation. By transmitting such User Feedback to
                        52Frames, you are deemed to grant to 52Frames a perpetual, worldwide, royalty-free, irrevocable,
                        non-exclusive license (with rights to sublicense) to use any ideas, concepts, know-how or
                        techniques contained in such User Feedback for any purpose whatsoever, including but not limited
                        to developing, manufacturing and marketing products incorporating such User Feedback.</p>
                    <p>You are prohibited from transmitting to the Service any unsolicited chain letters or &#8220;spam&#8221;,
                        or any threatening, harassing, libelous, false, defamatory, offensive, obscene, or pornographic
                        material, or other material that would violate any applicable law or regulation, including but
                        not limited to any federal or state laws or regulations governing equal employment
                        opportunities. However, if such communications do occur, 52Frames will have no liability related
                        to the content of any such communications.</p>
                </div>
                <div class="col-md-6 basically">
                    <p>Basically,</p>
                    <h3>You can leave comments on photos and blog posts. If you post a great tip, we might share it with
                        the world. If you give us some ideas for the site, we may use them. You agree not to leave
                        indecent, spammy or otherwise illegal comments, because you’re too nice for that.</h3>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-md-6">
                    <h3>Copyright Infringement and DMCA Policy.</h3>
                    <p>If you are a copyright owner or an agent thereof and believe, in good faith, that any materials
                        provided on the Service infringe upon your copyrights, you may submit a notification pursuant to
                        the Digital Millennium Copyright Act (see 17 U.S.C 512) (“DMCA”) by sending the following
                        information in writing to the Company’s designated copyright agent at &#x68;e&#x6c;&#x70;&#64;&#x35;&#50;f&#x72;&#97;m&#x65;&#115;.&#x63;&#111;m:</p>
                    <ol>
                        <li>The date of your notification;</li>
                        <li>A physical or electronic signature of a person authorized to act on behalf of the owner of
                            an exclusive right that is allegedly infringed;
                        </li>
                        <li>A description of the copyrighted work claimed to have been infringed, or, if multiple
                            copyrighted works at a single online site are covered by a single notification, a
                            representative list of such works at that site;
                        </li>
                        <li>A description of the material that is claimed to be infringing or to be the subject of
                            infringing activity and information sufficient to enable us to locate such work;
                        </li>
                        <li>Information reasonably sufficient to permit the service provider to contact you, such as an
                            address, telephone number, and/or email address;
                        </li>
                        <li>A statement that you have a good faith belief that use of the material in the manner
                            complained of is not authorized by the copyright owner, its agent, or the law; and
                        </li>
                        <li>A statement that the information in the notification is accurate, and under penalty of
                            perjury, that you are authorized to act on behalf of the owner of an exclusive right that is
                            allegedly infringed.
                        </li>
                    </ol>
                    <p>52Frames will terminate a user&#8217;s access to and use of the Website if, under appropriate
                        circumstances, the visitor is determined to be a repeat infringer of the copyrights or other
                        intellectual property rights of 52Frames or others, and reserves the right to terminate the
                        account after even a single offense at its sole discretion. In the case of such termination,
                        52Frames will have no obligation to provide a refund of any amounts previously paid to
                        52Frames.</p>
                </div>
                <div class="col-md-6 basically">
                    <p>Basically,</p>
                    <h3>We do not tolerate copyright infringement. If your copyright has been violated, please send an
                        email with all the details to <a target="_blank"
                                href="&#x6d;&#97;i&#x6c;&#x74;&#111;:&#x69;&#x6e;&#102;o&#x40;&#x35;2F&#x72;&#x61;me&#x73;&#46;co&#x6d;">info&#64;&#53;&#50;&#x46;&#x72;&#x61;&#x6d;&#x65;&#x73;&#x2e;com</a>.
                    </h3>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-md-6">
                    <h3>Content Posted on Other Websites.</h3>
                    <p>We have not reviewed, and cannot review, all of the material, including computer software, made
                        available through the websites and webpages to which 52Frames links, and that link to 52Frames.
                        52Frames does not have any control over those external websites and webpages, and is not
                        responsible for their contents or their use. By linking to an external website or webpage,
                        52Frames does not represent or imply that it endorses such website or webpage. You are
                        responsible for taking precautions as necessary to protect yourself and your computer systems
                        from viruses, worms, Trojan horses, and other harmful or destructive content. 52Frames disclaims
                        any responsibility for any harm resulting from your use of external websites and webpages.</p>
                </div>
                <div class="col-md-6 basically">
                    <p>Basically,</p>
                    <h3>Some people may post links, we are not responsible for those links. The Internet is a big
                        place.</h3>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-md-6">
                    <h3>Indemnification</h3>
                    <p>You agree to indemnify and hold harmless 52Frames, its contractors, and its licensors, and their
                        respective directors, officers, employees and agents from and against any and all claims and
                        expenses, including attorneys’ fees, arising directly or indirectly out of your use of the
                        Website, or the use of any third party through your account, including but not limited to your
                        violation of this Agreement.</p>
                    <p>You hereby agree to indemnify and hold harmless 52Frames, its affiliated and associated
                        companies, and their respective directors, officers, employees, agents, representatives,
                        independent and dependent contractors, licensees, successors and assigns from and against all
                        claims, losses, expenses, damages and costs (including, but not limited to, direct, incidental,
                        consequential, exemplary and indirect damages), and reasonable attorneys&#8217; fees, resulting
                        from or arising out of (i) a breach of these Terms, (ii) Content posted on the Site, (iii) the
                        use of the Services, by you or any person using your account or 52Frames Username and password,
                        (iv) the sale or use of your images, or (v) any violation of any rights of a third party.</p>
                </div>
                <div class="col-md-6 basically">
                    <p>Basically,</p>
                    <h3>We’re not responsible for your violations of these terms or improper use of the site.</h3>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-md-6">
                    <h3>Limitation Of Liability</h3>
                    <p>In no event will 52Frames, its directors, employees, officers, agents or operators &#8211; paid
                        or unpaid, or its suppliers or licensors, be liable with respect to any subject matter of this
                        agreement under any contract, negligence, strict liability or other legal or equitable theory
                        for: (i) any special, incidental or consequential damages; (ii) the cost of procurement for
                        substitute products or services; (iii) for interruption of use or loss or corruption of data;
                        (iv) any costs or fees related to third party services managed on behalf of users, violation of
                        the terms of third party services, or failures of third party services; or (v) for any amounts
                        that exceed the fees paid by you to 52Frames under this agreement during the twelve (12) month
                        period prior to the cause of action. 52Frames shall have no liability for any failure or delay
                        due to matters beyond their reasonable control. The foregoing shall not apply to the extent
                        prohibited by applicable law.</p>
                </div>
                <div class="col-md-6 basically">
                    <p>Basically,</p>
                    <h3>If a monster eats our servers, or something else goes wrong, we are not liable. Always have your
                        own backups of your work.</h3>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-md-6">
                    <h3>Intellectual Property</h3>
                    <p>This Agreement does not transfer from 52Frames to you any 52Frames or third party intellectual
                        property, and all right, title and interest in and to such property will remain (as between the
                        parties) solely with 52Frames. 52Frames, the 52Frames logo, and all other trademarks, service
                        marks, graphics and logos used in connection with 52Frames, or the Website are trademarks or
                        registered trademarks of 52Frames or 52Frames’s licensors. Other trademarks, service marks,
                        graphics and logos used in connection with the Website may be the trademarks of other third
                        parties. Your use of the Website grants you no right or license to reproduce or otherwise use
                        any 52Frames or third-party trademarks.We reserve all rights that are not expressly granted to
                        you under this Agreement.</p>
                </div>
                <div class="col-md-6 basically">
                    <p>Basically,</p>
                    <h3>Please respect our trademarks and brands.</h3>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-md-6">
                    <h3>Termination</h3>
                    <p>52Frames may terminate your access to all or any part of the Website at any time, with or without
                        cause, with or without notice, effective immediately. If you wish to terminate this Agreement or
                        your 52Frames account (if you have one), you may simply discontinue using the Website. All
                        provisions of this Agreement which by their nature should survive termination shall survive
                        termination, including, without limitation, ownership provisions, warranty disclaimers,
                        indemnity and limitations of liability.</p>
                </div>
                <div class="col-md-6 basically">
                    <p>Basically,</p>
                    <h3>We may stop providing services at any time. You can stop using your account or close it at any
                        time as well.</h3>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-md-6">
                    <h3>Changes</h3>
                    <p>52Frames reserves the right, at its sole discretion, to modify or replace any part of this
                        Agreement. It is your responsibility to check this Agreement periodically for changes. Your
                        continued use of or access to the Website following the posting of any changes to this Agreement
                        constitutes acceptance of those changes. 52Frames may also, in the future, offer new services
                        and/or features through the Website (including, the release of new tools and resources). Such
                        new features and/or services shall be subject to the terms and conditions of this Agreement.</p>
                </div>
                <div class="col-md-6 basically">
                    <p>Basically,</p>
                    <h3>These terms of service may change. If they do, we will notify you.</h3>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-md-6">
                    <h3>GENERAL TERMS</h3>
                    <p>If any part of this Agreement is held invalid or unenforceable, that portion of the Agreement
                        will be construed consistent with applicable law. The remaining portions will remain in full
                        force and effect. Any failure on the part of the Company to enforce any provision of this
                        Agreement will not be considered a waiver of our right to enforce such provision. Our rights
                        under this Agreement will survive any termination of this Agreement.<br/>
                        You agree that any cause of action related to or arising out of your relationship with the
                        Company must commence within ONE year after the cause of action accrues. Otherwise, such cause
                        of action is permanently barred.</p>
                    <p>These Terms of Service and your use of the Site are governed by the federal laws of the United
                        States of America and the laws of the State of New York, without regard to conflict of law
                        provisions.<br/>
                        The Company may assign or delegate these Terms of Service and/or the Company’s Privacy Policy,
                        in whole or in part, to any person or entity at any time with or without your consent. You may
                        not assign or delegate any rights or obligations under the Terms of Service or Privacy Policy
                        without the Company’s prior written consent, and any unauthorized assignment and delegation by
                        you is void.</p>
                    <p>YOU ACKNOWLEDGE THAT YOU HAVE READ THESE TERMS OF SERVICE, UNDERSTAND THE TERMS OF SERVICE, AND
                        WILL BE BOUND BY THESE TERMS AND CONDITIONS. YOU FURTHER ACKNOWLEDGE THAT THESE TERMS OF SERVICE
                        TOGETHER WITH THE PRIVACY POLICY REPRESENT THE COMPLETE AND EXCLUSIVE STATEMENT OF THE AGREEMENT
                        BETWEEN US AND THAT IT SUPERSEDES ANY PROPOSAL OR PRIOR AGREEMENT ORAL OR WRITTEN, AND ANY OTHER
                        COMMUNICATIONS BETWEEN US RELATING TO THE SUBJECT MATTER OF THIS AGREEMENT.</p>
                </div>
                <div class="col-md-6 basically">
                    <p>Basically,</p>
                    <h3>You have read and accepted these terms.</h3>
                </div>
            </div>
        </div>

    </div>

    <footer></footer>

</div>