<div id="modal-allow-upload-image-3" class="modal">
    <div class="modal-dialog">
        <div class="modal_main modal_upload_image modal_block">
            <div class="modal_main__header">
                <div class="modal_main__header_left">
                    <p class="caption">Week {{ currentAlbum.week_number }}: {{ currentAlbum.theme_title }}</p>
                    <span class="caption_sub">Extra Credit: {{ currentAlbum.extra_credit_title }}</span>
                </div>
                <div class="modal_main__header_right">
                    <div class="timer">
                        <span class="title">Time Remaining:</span>
                        <countdown-timer
                                ng-if="(currentAlbum.is_current_album || (!currentAlbum.before_upload_sched && !currentAlbum.after_upload_sched)) && currentAlbum.end_date_utc"
                                utc-target-time="currentAlbum.end_date_utc" time-arrived-display="00:00:00"
                                time-arrived-callback="timerEnded()"
                                ng-hide="(currentAlbum.before_upload_sched || currentAlbum.after_upload_sched) && !currentAlbum.is_current_album"
                        ></countdown-timer>
                    </div>
                </div>
            </div>
            <form action="">
                <div class="modal_main__body">
                    <div class="block__nice_work">
                        <p class="caption">Nice work! Your photo masterpiece has been submitted!</p>
                        <!--                        <div class="img_wrapper"><img src="img/jpg/nice_work.jpg" alt=""></div>-->
                        <span ng-bind-html="currentAlbum.upload_custom_msg | showAsHtml" ng-show="currentAlbum.upload_custom_msg" class="comment"></span>
                    </div>
                </div>
                <div class="modal_main__footer">
                    <div class="modal_main__footer_left"></div>
                    <div class="modal_main__footer_right">
                        <button class="btn_default btn_gray" ng-click="reviewSubmission($event)">Review my submission</button>
                        <a class="btn_default" data-dismiss="modal">Close</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>