<form ng-submit="nextPage()">
    <fieldset ng-disabled="processing">

        <div class="modal-content manifesto">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Build your Profile!</h4>
            </div>
            <div class="modal-body">

                <div ng-show="$root.user">

                    <div class="form-group">
                        <label for="signmanifesto-nickname" class="col-md-12 control-label">
                            Choose a Nickname:
                        </label>
                        <div class="col-md-12">
                            <div class="input-group input-has-loading-spinner">
                                <span class="input-group-addon" id="signmanifesto-nickname-group"
                                      ng-click="focusNickname()">{{ shortUrlBase }}</span>
                                <input type="text" class="form-control" id="signmanifesto-nickname"
                                       style="padding-right: 32px;"
                                       autocomplete="nickname"
                                       aria-describedby="signmanifesto-nickname-group"
                                       ng-model="manifestoInput.nickname"
                                       ng-focus="hideErrors('nickname')"
                                       ng-change="nicknameChanged()"
                                       ng-blur="nicknameChanged()">
                                <loading-spinner ng-show="nicknameLoading.indicator"></loading-spinner>
                                <span class="glyphicon glyphicon-ok-circle icon-success loading-ok"
                                      ng-show="nicknameLoading.ok"
                                >
                                </span>
                            </div>
                            <span class="help-block">
                                <span class="error">{{ errors.nickname[0] }}</span>
                            </span>
                            <span class="help-block">
                                <span>* Future feature</span>
                            </span>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12">
                            <input type="checkbox" id="signmanifesto-display-as-handle"
                                   ng-model="manifestoInput.display_as_handle"
                                   ng-click="hideErrors('display_as_handle')"
                                   ng-disabled="!manifestoInput.nickname">
                            <label for="signmanifesto-display-as-handle" class="control-label inline"
                                   ng-click="hideErrors('display_as_handle')">
                                Only show my nickname on the site and not my real name
                            </label>
                            <span class="help-block">
                                <span class="error">{{ errors.display_as_handle[0] }}</span>
                            </span>
                        </div>
                    </div>

                    <div class="clearfix">&nbsp;</div>

                    <div class="form-group">
                        <label for="photography_level" class="col-md-12 control-label">
                            What is your level of Photography?
                            <span class="required-field">*</span>
                        </label>
                        <div class="col-md-12">
                            <select name="photography_level" id="photography_level" class="form-control"
                                    ng-model="manifestoInput.photography_level"
                                    ng-click="hideErrors('photography_level')">
                                <option selected="selected"></option>
                                <option value="beginner">Beginner - I enjoy taking photos</option>
                                <option value="beginner_dslr">Beginner DSLR - I shoot with a DSLR, I understand my
                                    different
                                    lenses and some camera features, but not much more
                                </option>
                                <option value="intermediate">Intermediate - I shoot with a DSLR and understand most of
                                    my
                                    settings, but still learning more.
                                </option>
                                <option value="advanced">Advanced - I understand my camera settings and will also
                                    occasionally shoot with external flashes and stobes.
                                </option>
                                <option value="advanced_pro">Advanced Professional - I understand everything about how
                                    to
                                    take a photo, as well as studio lighting and at times make money with my
                                    photography.
                                </option>
                            </select>
                            <span class="help-block">
                                <span class="error">{{ errors.photography_level[0] }}</span>
                            </span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="camera_type" class="col-md-12 control-label">
                            What kind of camera are you currently using?
                            <span class="required-field">*</span>
                        </label>
                        <div class="col-md-12">
                            <select name="camera_type" id="camera_type" class="form-control"
                                    ng-model="manifestoInput.camera_type"
                                    ng-click="hideErrors('camera_type')">
                                <option selected="selected"></option>
                                <option value="dslr_entry">DSLR - Entry Level</option>
                                <option value="dslr_pro">DSLR - Professional Level</option>
                                <option value="mirrorless">Mirrorless</option>
                                <option value="point_and_shoot">Point and Shoot</option>
                                <option value="phone">Phone</option>
                                <option value="other">Other</option>
                            </select>
                            <span class="help-block">
                                <span class="error">{{ errors.camera_type[0] }}</span>
                            </span>
                        </div>
                    </div>

                    <div class="clearfix">&nbsp;</div>

                    <div class="form-group">
                        <label for="country" class="col-md-12 control-label">
                            What country do you live in?
                            <span class="required-field">*</span>
                        </label>
                        <div class="col-md-12">
                            <select name="country" id="country" class="form-control"
                                    ng-options="country as country.name for country in countries"
                                    ng-model="manifestoInput.country"
                                    ng-change="changeCountry()"
                                    autocomplete="shipping country"
                                    ng-click="hideErrors('country')">
                                <option selected="selected"></option>
                            </select>
                            <span class="help-block">
                                <span class="error">{{ errors.country[0] }}</span>
                            </span>
                        </div>
                    </div>

                    <div class="form-group" ng-show="manifestoInput.country.state_member_term">
                        <label for="state" class="col-md-12 control-label">
                            Which {{ manifestoInput.country.state_member_term }}?
                            <span class="required-field">*</span>
                        </label>
                        <div class="col-md-12">
                            <select name="state" id="state" class="form-control"
                                    ng-options="state as state.name for state in states"
                                    ng-model="manifestoInput.state"
                                    ng-change="changeState()"
                                    autocomplete="shipping region"
                                    ng-click="hideErrors('state')">
                                <option selected="selected"></option>
                            </select>
                            <span class="help-block">
                                <span class="error">{{ errors.state[0] }}</span>
                            </span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="city" class="col-md-12 control-label">
                            And your City?
                            <span class="required-field">*</span>
                        </label>
                        <div class="col-md-12">
                            <input id="city" name="city" type="text" class="form-control"
                                   autocomplete="shipping locality"
                                   bs3-typeahead
                                   bs3-afterSelect="citySelected"
                                   ng-model="manifestoInput.city"
                                   ng-change="suggestCity()"
                                   ng-click="hideErrors('city')">
                            <span class="help-block">
                                <span class="error">{{ errors.city[0] }}</span>
                            </span>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12">
                            <input type="checkbox" id="signmanifesto_dont_share_location"
                                   ng-model="manifestoInput.dont_share_location"
                                   ng-click="hideErrors('dont_share_location')"
                                   ng-disabled="!manifestoInput.city">
                            <label for="signmanifesto_dont_share_location" class="control-label inline"
                                   ng-click="hideErrors('dont_share_location')">
                                I do not want my City<span ng-show="manifestoInput.country.state_member_term">/{{
                                    manifestoInput.country.state_member_term
                                }}</span> to be displayed anywhere on the 52Frames site.
                            </label>
                            <span class="help-block">
                                <span class="error">{{ errors.dont_share_location[0] }}</span>
                            </span>
                        </div>
                    </div>

                    <div class="clearfix">&nbsp;</div>

                    <div class="form-group">
                        <label for="photowalks" class="col-md-12 control-label">
                            Would you be interested in running a 52Frames photowalk in your City?
                        </label>
                        <div class="col-md-12">
                            <select name="photowalks" id="photowalks" class="form-control"
                                    ng-model="manifestoInput.photowalks"
                                    ng-click="hideErrors('photowalks')">
                                <option selected="selected"></option>
                                <option value="yeah">Heck yea!</option>
                                <option value="not_for_me">Not for me, but I'd be interested in joining one!</option>
                                <option value="perhaps">Perhaps, would need to know more information.</option>
                            </select>
                            <span class="help-block">
                                <span class="error">{{ errors.photowalks[0] }}</span>
                            </span>
                        </div>
                    </div>

                    <div class="clearfix">&nbsp;</div>

                    <div class="form-group">
                        <label for="twitter_handle" class="col-md-12 control-label">
                            Twitter Handle
                        </label>
                        <div class="col-md-12">
                            <div class="input-group">
                                <span class="input-group-addon" id="twitter_addon">@</span>
                                <input type="text" id="twitter_handle" class="form-control" aria-describedby="twitter_addon"
                                       autocomplete="twitter"
                                       ng-model="manifestoInput.twitter_handle"
                                       ng-click="hideErrors('twitter_handle')">
                            </div>
                            <span class="help-block">
                                <span class="error">{{ errors.twitter_handle[0] }}</span>
                            </span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="instagram_handle" class="col-md-12 control-label">
                            Instagram Handle
                        </label>
                        <div class="col-md-12">
                            <div class="input-group">
                                <span class="input-group-addon" id="instagram_addon">@</span>
                                <input type="text" id="instagram_handle" class="form-control" aria-describedby="instagram_addon"
                                       autocomplete="instagram"
                                       ng-model="manifestoInput.instagram_handle"
                                       ng-click="hideErrors('instagram_handle')">
                            </div>
                            <span class="help-block">
                                <span class="error">{{ errors.instagram_handle[0] }}</span>
                            </span>
                        </div>
                    </div>

                    <div class="clearfix">&nbsp;</div>

                    <div class="form-group">
                        <label for="signmanifesto-how-did-hear" class="col-md-12 control-label"
                               ng-click="hideErrors('how_did_hear')">
                            How did you hear about us?
                        </label>
                        <div class="col-md-12">
                            <textarea name="how_did_hear" id="signmanifesto-how-did-hear" rows="3" class="form-control"
                                      ng-model="manifestoInput.how_did_hear"
                                      ng-click="hideErrors('how_did_hear')"></textarea>
                            <span class="help-block">
                                <span class="error">{{ errors.how_did_hear[0] }}</span>
                            </span>
                        </div>
                    </div>

                </div>

            </div>
            <div class="modal-footer">

                <div ng-show="$root.user">
                    <loading-spinner ng-show="processing"></loading-spinner>
                    <button type="submit" class="btn btn-primary">Continue</button>
                </div>

            </div>
        </div>

    </fieldset>
</form>