<div ng-if="!$root.pageLoaded">
    <div class="container loading_container">
        <loading>Loading...</loading>
    </div>
</div>

<div ng-show="$root.pageLoaded">

    <section class="album_index">
        <div class="container-fluid">
            <div class="album_index__header">
                <div class="album_index__header_left">
                    <h2 class="caption">Challenges Index</h2>
                </div>
                <div class="album_index__header_right">
                    <div class="btn-admin-actions" ng-if="$root.user.max_admin_points>=200000">
                        <div class="dropdown dropdown_default">
                            <button type="button" class="btn_default btn_red dropdown-toggle"
                                    data-toggle="dropdown"
                                    aria-expanded="false"
                                    aria-haspopup="true">
                                Admin Actions <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu position_right">
                                <li ng-show="$root.user.max_admin_points>=200000">
                                    <a href="#" ng-click="openAddNewAlbumModal()">Add New Album</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <a href="#" class="btn_default">See All Challenges</a>
                </div>
            </div>
            <div class="album_index__body" ng-repeat="yearData in allYearsAlbums">
                <ul class="album_index__filter">
                    <li class="active"><a href="#">{{ yearData.year }}</a></li>
                    <li><a href="#">2017</a></li>
                    <li><a href="#">2016</a></li>
                    <li><a href="#">2015</a></li>
                    <li><a href="#">2014</a></li>
                </ul>
                <ul class="row album_index__list">
                    <li class="col-md-2 item" ng-repeat="album in yearData.albums">
                        <a href="#" class="wrap" ng-click="showAlbumOrChallengePage(yearData, album)">
                            <img src="img/slider/slide2.jpg" alt="">
                            <div class="description">
                                <div class="description_header">
                                </div>
                                <div class="description_footer">
                                    <span class="week">Week {{ album.week_number }}:</span>
                                    <span class="name">{{ album.theme_title }}</span>
                                    <span ng-show="!album.publicly_visible">(not Visible to Public)</span>
                                    <span ng-show="album.publicly_visible && !album.live && $root.user.max_admin_points>100000">(not Live)</span>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="text-center" ng-show="!allYearsAlbums.length">
                <p>No Albums found.</p>
            </div>
        </div>
    </section>

    <script type="text/javascript">

        var width2 = $('.album_index__list .item .wrap').width();
        $('.album_index__list .item .wrap').css('height', width2 + 'px');

    </script>

    <!-- Add New Album Modal -->
    <div class="modal fade" id="newAlbumModal" role="dialog" ng-if="$root.user.max_admin_points>=200000">

        <script src="/vendor/tinymce/js/tinymce/tinymce.min.js"></script>

        <script src="/vendor/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
        <link href="/vendor/jquery-ui-1.12.1.custom/jquery-ui.css" rel="stylesheet" type="text/css">

        <script src="/vendor/momentjs/2.10.6/moment.min.js"></script>

        <script src="/vendor/lugolabs/weekpicker.js"></script>
        <link href="/vendor/lugolabs/weekpicker.css" rel="stylesheet" type="text/css">

        <div class="modal-dialog modal-lg" role="document">
            <new-album></new-album>
        </div>
    </div>

</div>