<div ng-if="!$root.pageLoaded">
    <div class="container loading_container">
        <loading>Loading...</loading>
    </div>
</div>

<div ng-show="$root.pageLoaded">

    <!--start section.profile-->
    <section class="profile">
        <div class="profile__image_wrap">
            <img src="img/bg/background_panel.jpg" alt="">
        </div>
        <div class="profile__header">
            <div class="profile__header_information">
                <div class="img_wrapper">
                    <img src="img/avatars/SVG/Avatar1.svg" alt="">
                </div>
                <p class="name">Jane Lane</p>
                <div class="profile_info">
                    <div class="profile_info__item">
                        <span class="text">10 photos</span>
                    </div>
                    <div class="profile_info__item">
                        <span class="text">Framer since 2018</span>
                    </div>
                    <div class="profile_info__item">
                        <address><i class="fas fa-map-marker-alt"></i>Lisbon, Portugal</address>
                    </div>
                </div>
                <ul class="networks">
                    <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                </ul>
            </div>
            <div class="profile__header_navbar">
                <ul class="list_navbar">
                    <li ui-sref-active="active" ui-sref="profileTest"><a class="link">Photos</a></li>
                    <li ui-sref-active="active" ui-sref="profileAboutTest"><a class="link">About</a></li>
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle">Followers</a>
                        <div class="dropdown-menu">
                            <p class="head_title">Followers</p>
                            <ul class="list_followers">
                                <li>
                                    <a href="#" class="wrap">
                                        <img src="img/avatars/SVG/Avatar10.svg" alt="" class="image">
                                        <span class="name">Mauricio Bello</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="wrap">
                                        <img src="img/avatars/SVG/Avatar11.svg" alt="" class="image">
                                        <span class="name">Mauricio Bello</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="wrap">
                                        <img src="img/avatars/SVG/Avatar12.svg" alt="" class="image">
                                        <span class="name">Mauricio Bello</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="wrap">
                                        <img src="img/avatars/SVG/Avatar13.svg" alt="" class="image">
                                        <span class="name">Mauricio Bello</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="wrap">
                                        <img src="img/avatars/SVG/Avatar4.svg" alt="" class="image">
                                        <span class="name">Mauricio Bello</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="wrap">
                                        <img src="img/avatars/SVG/Avatar10.svg" alt="" class="image">
                                        <span class="name">Mauricio Bello</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="wrap">
                                        <img src="img/avatars/SVG/Avatar11.svg" alt="" class="image">
                                        <span class="name">Mauricio Bello</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="wrap">
                                        <img src="img/avatars/SVG/Avatar12.svg" alt="" class="image">
                                        <span class="name">Mauricio Bello</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="wrap">
                                        <img src="img/avatars/SVG/Avatar13.svg" alt="" class="image">
                                        <span class="name">Mauricio Bello</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="wrap">
                                        <img src="img/avatars/SVG/Avatar4.svg" alt="" class="image">
                                        <span class="name">Mauricio Bello</span>
                                    </a>
                                </li>
                            </ul>
                        </div>

                    </li>
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle">Following</a>
                        <div class="dropdown-menu">
                            <p class="head_title">Following</p>
                            <ul class="list_followers">
                                <li>
                                    <a href="#" class="wrap">
                                        <img src="img/avatars/SVG/Avatar10.svg" alt="" class="image">
                                        <span class="name">Mauricio Bello</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="wrap">
                                        <img src="img/avatars/SVG/Avatar11.svg" alt="" class="image">
                                        <span class="name">Mauricio Bello</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="wrap">
                                        <img src="img/avatars/SVG/Avatar12.svg" alt="" class="image">
                                        <span class="name">Mauricio Bello</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="wrap">
                                        <img src="img/avatars/SVG/Avatar13.svg" alt="" class="image">
                                        <span class="name">Mauricio Bello</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="wrap">
                                        <img src="img/avatars/SVG/Avatar4.svg" alt="" class="image">
                                        <span class="name">Mauricio Bello</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="wrap">
                                        <img src="img/avatars/SVG/Avatar10.svg" alt="" class="image">
                                        <span class="name">Mauricio Bello</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="wrap">
                                        <img src="img/avatars/SVG/Avatar11.svg" alt="" class="image">
                                        <span class="name">Mauricio Bello</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="wrap">
                                        <img src="img/avatars/SVG/Avatar12.svg" alt="" class="image">
                                        <span class="name">Mauricio Bello</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="wrap">
                                        <img src="img/avatars/SVG/Avatar13.svg" alt="" class="image">
                                        <span class="name">Mauricio Bello</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="wrap">
                                        <img src="img/avatars/SVG/Avatar4.svg" alt="" class="image">
                                        <span class="name">Mauricio Bello</span>
                                    </a>
                                </li>
                            </ul>
                        </div>

                    </li>
                    <li ui-sref-active="active" ui-sref="profileLoveTest"><a class="link">Loves</a></li>
                </ul>
            </div>
        </div>
        <div class="profile__body">
            <div class="container">
                <ul class="profile_photo__list">
                    <li class="col-md-2 col-sm-3 col-xs-6 item">
                        <a href="#" class="img_wrapper"><img src="img/slider/slide1.jpg" alt=""></a>
                    </li>
                    <li class="col-md-2 col-sm-3 col-xs-6 item">
                        <a href="#" class="img_wrapper"><img src="img/slider/slide2.jpg" alt=""></a>
                    </li>
                    <li class="col-md-2 col-sm-3 col-xs-6 item">
                        <a href="#" class="img_wrapper"><img src="img/slider/slide3.jpg" alt=""></a>
                    </li>
                    <li class="col-md-2 col-sm-3 col-xs-6 item">
                        <a href="#" class="img_wrapper"><img src="img/slider/slide1.jpg" alt=""></a>
                    </li>
                    <li class="col-md-2 col-sm-3 col-xs-6 item">
                        <a href="#" class="img_wrapper"><img src="img/slider/slide2.jpg" alt=""></a>
                    </li>
                    <li class="col-md-2 col-sm-3 col-xs-6 item">
                        <a href="#" class="img_wrapper"><img src="img/slider/slide3.jpg" alt=""></a>
                    </li>
                    <li class="col-md-2 col-sm-3 col-xs-6 item">
                        <a href="#" class="img_wrapper"><img src="img/slider/slide1.jpg" alt=""></a>
                    </li>
                    <li class="col-md-2 col-sm-3 col-xs-6 item">
                        <a href="#" class="img_wrapper"><img src="img/slider/slide2.jpg" alt=""></a>
                    </li>
                    <li class="col-md-2 col-sm-3 col-xs-6 item">
                        <a href="#" class="img_wrapper"><img src="img/slider/slide3.jpg" alt=""></a>
                    </li>
                    <li class="col-md-2 col-sm-3 col-xs-6 item">
                        <a href="#" class="img_wrapper"><img src="img/slider/slide1.jpg" alt=""></a>
                    </li>
                    <li class="col-md-2 col-sm-3 col-xs-6 item">
                        <a href="#" class="img_wrapper"><img src="img/slider/slide2.jpg" alt=""></a>
                    </li>
                    <li class="col-md-2 col-sm-3 col-xs-6 item">
                        <a href="#" class="img_wrapper"><img src="img/slider/slide3.jpg" alt=""></a>
                    </li>
                    <li class="col-md-2 col-sm-3 col-xs-6 item">
                        <a href="#" class="img_wrapper"><img src="img/slider/slide1.jpg" alt=""></a>
                    </li>
                    <li class="col-md-2 col-sm-3 col-xs-6 item">
                        <a href="#" class="img_wrapper"><img src="img/slider/slide2.jpg" alt=""></a>
                    </li>
                    <li class="col-md-2 col-sm-3 col-xs-6 item">
                        <a href="#" class="img_wrapper"><img src="img/slider/slide3.jpg" alt=""></a>
                    </li>
                    <li class="col-md-2 col-sm-3 col-xs-6 item">
                        <a href="#" class="img_wrapper"><img src="img/slider/slide1.jpg" alt=""></a>
                    </li>
                    <li class="col-md-2 col-sm-3 col-xs-6 item">
                        <a href="#" class="img_wrapper"><img src="img/slider/slide2.jpg" alt=""></a>
                    </li>
                    <li class="col-md-2 col-sm-3 col-xs-6 item">
                        <a href="#" class="img_wrapper"><img src="img/slider/slide3.jpg" alt=""></a>
                    </li>
                    <li class="col-md-2 col-sm-3 col-xs-6 item">
                        <a href="#" class="img_wrapper"><img src="img/slider/slide1.jpg" alt=""></a>
                    </li>
                    <li class="col-md-2 col-sm-3 col-xs-6 item">
                        <a href="#" class="img_wrapper"><img src="img/slider/slide2.jpg" alt=""></a>
                    </li>
                    <li class="col-md-2 col-sm-3 col-xs-6 item">
                        <a href="#" class="img_wrapper"><img src="img/slider/slide3.jpg" alt=""></a>
                    </li>
                    <li class="col-md-2 col-sm-3 col-xs-6 item">
                        <a href="#" class="img_wrapper"><img src="img/slider/slide1.jpg" alt=""></a>
                    </li>
                    <li class="col-md-2 col-sm-3 col-xs-6 item">
                        <a href="#" class="img_wrapper"><img src="img/slider/slide2.jpg" alt=""></a>
                    </li>
                    <li class="col-md-2 col-sm-3 col-xs-6 item">
                        <a href="#" class="img_wrapper"><img src="img/slider/slide3.jpg" alt=""></a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <!--end section.profile-->

</div>