<div class="cookie_reminder_holder" ng-hide="ifCookiesAccepted">
    <div class="container">
        <div class="row">
            <div class="cookie_reminder">
                A cookie monster lives beneath these pages. By using our site you are agreeing to our use of cookies.
                <a class="link" ng-click="$navbar.openCookieReminderMessage()">Find out more</a>
            </div>
            <button class="btn_default btn_red btn_small" ng-click="$navbar.consentCookie()">Got it</button>
        </div>
    </div>
</div>

<!--start Header-->
<header class="header">
    <div class="container-fluid">
        <div class="row row__mobile_frame">
            <div class="col-xs-6 header__logo">
                <a class="logo" ui-sref="home"><img src="img/logo.svg" alt=""></a>
            </div>
            <div class="col-xs-6 header__button_navbar">
                <button id="btnNavbar" class="btn_navbar" ng-click="openNavbar()">
                    <span class="line1"></span>
                    <span class="line2"></span>
                    <span class="line3"></span>
                </button>
            </div>
        </div>
        <div class="row row__desktop_frame">
            <div class="col-md-3 header__logo">
                <a ui-sref="home" class="logo"><img src="img/logo.svg" alt=""></a>
            </div>
            <div class="col-md-6 header__navbar">
                <ul class="navbar_list">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Challenges
                            <i class="fas fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li ui-sref-active="active" ng-click="goToCurrentChallenge()">
                                <a class="link link_nav">Current Challenge</a>
                            </li>
                            <li ng-click="goToAllChallenges()"><a class="link link_nav">Past Challenges</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Albums
                            <i class="fas fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li ui-sref-active="active" ng-click="goToCurrentChallenge(true)">
                                <a class="link link_nav">This Week’s Album</a>
                            </li>
                            <li ui-sref="albumsList">
                                <a class="link link_nav">All Albums</a>
                            </li>
                        </ul>
                    </li>
                    <li><a href="#" class="link_nav">Shop</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">About<i
                            class="fas fa-angle-down"></i></a>
                        <ul class="dropdown-menu">
                            <li ui-sref-active="active" ui-sref="about"><a class="link link_nav">About 52Frames</a></li>
                            <li ui-sref-active="active" ui-sref="faq"><a class="link link_nav">FAQ</a></li>
                            <li ui-sref-active="active" ui-sref="contact"><a class="link link_nav">Contact Us</a></li>
                        </ul>
                    </li>
                    <li ui-sref-active="active" ui-sref="photographer({userIdOrShorturl: $navbar.getSelfHandleOrId()})"
                        ng-show="$root.user.signed_manifesto"><a class="link link_nav">Profile</a></li>
                </ul>
            </div>
            <div class="col-md-3 header__user_info">
                <div class="support_browser" ng-show="$root.unsupportedBrowser">
                    <div class="support_browser__item" ng-show="$root.unsupportedBrowser">
                        <span class="title">Unsupported Browser</span>
                    </div>
                </div>
                <div class="user_info" ng-show="!$root.unsupportedBrowser && $root.backendChecked">
                    <!--                    <div class="user_info__item">
                                            <a class="btn_default btn_red btn_small" ng-if="$root.albums_recent.album_current_week"
                                               ui-sref-active="active" ui-sref="weekChallenge({
                                                pathYear: $root.albums_recent.album_current_week.year,
                                                pathWeekTheme: helpers.getWeekShorturl($root.albums_recent.album_current_week)
                                            })">This Week's Challenge</a>
                                        </div>
                                        Week's Challenge end-->
                    <div ng-hide="$root.user" class="user_info__item">
                        <a ng-click="openSignUp()" data-toggle="{{ !$root.activeStepOfManifesto ? 'modal' : null }}"
                           data-target="#loginModal" href="javascript:;"
                           class="btn_default sign_up">Sign up</a>
                        <div class="user_select">
                            <a ng-click="openLogin()" data-toggle="modal" data-target="#loginModal" href="javascript:;"
                               class="log_in">
                                <i class="fas fa-user-circle"></i>Log In
                            </a>
                        </div>
                    </div>
                    <!--log-in end-->
                    <div style="position:relative;" class="user_info__item user_info__item_login">
                        <a class="btn_default btn_red submit-photo-btn"
                           ng-hide="$root.user.signed_manifesto || !$root.user"
                           data-placement="bottom" tabindex="0" role="button" data-toggle="popover" data-trigger="focus"
                           data-html="true" data-content="<div>
                           <p>Sign the <a class='link' onclick='angular.element(this).scope().signManifesto()'>Manifesto</a> to become a Framer and Submit your Masterpiece today! It only takes a few minutes!</p></div>"
                        >
                            Submit Photo
                        </a>


                        <a class="btn_default btn_red"
                           ng-show="$root.user.signed_manifesto && !currentAlbum.user_has_uploaded"
                           ng-click="submitPhoto()" data-toggle="modal">
                            Submit Photo
                        </a>

                        <div ng-show="currentAlbum.user_has_uploaded" class="dropdown dropdown_submit">
                            <a class="btn_default btn_red" href="#"
                               data-toggle="dropdown">
                                Submit Photo
                            </a>
                            <div class="dropdown-menu">
                                <div class="submit_box">
                                    <h5 class="title">You have already submitted your photo this week!</h5>
                                    <div class="text-center">
                                        <a href="#" ng-click="submitPhoto()" class="btn_default btn_small">Edit my
                                            photo</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div ng-hide="!$root.user" class="dropdown user_dropdown">
                            <a class="dropdown-toggle user_dropdown__btn" data-toggle="dropdown">
                                <div class="img_wrapper">
                                    <img ng-src="{{ $root.user.avatar.avatar_small }}">
                                </div>
                                <span class="name">{{ $root.user.firstname }} {{ $root.user.lastname }}</span>
                                <i class="fas fa-angle-down"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li ui-sref-active="active" ui-sref="migrationTool()"
                                    ng-show="$root.user.max_admin_points>=90000">
                                    <a class="link link_nav">Migration Tool</a>
                                </li>
                                <!--<li role="separator" class="divider" ng-show="$root.user.max_admin_points>=90000"></li>-->
                                <li ng-class="{'active': $navbar.isSelfIdOrHandle($stateParams.userIdOrShorturl)}"
                                    ui-sref="photographer({userIdOrShorturl: $navbar.getSelfHandleOrId()})"
                                    ng-show="$root.user.signed_manifesto">
                                    <a class="link link_nav">Profile</a>
                                </li>
                                <li ng-click="$navbar.logout()" class="logout_link">
                                    <a class="link link_nav"><i class="fas fa-sign-out-alt"></i>Logout</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--User end-->
                </div>
            </div>
        </div>
    </div>
</header>
<!--end Header-->

<!--Steps for upload photo-->
<div id="modal-upload-image" class="modal">
    <div class="modal-dialog">
        <div class="modal_main modal_upload_image modal_block">
            <div class="modal_main__header">
                <div class="modal_main__header_left">
                    <p class="caption">Week {{ currentAlbum.week_number }}: {{ currentAlbum.theme_title }}</p>
                    <span class="caption_sub">Extra Credit: {{ currentAlbum.extra_credit_title }}</span>
                </div>
                <div class="modal_main__header_right">
                    <div ng-if="(currentAlbum.is_current_album || (!currentAlbum.before_upload_sched && !currentAlbum.after_upload_sched)) && currentAlbum.end_date_utc" class="timer">
                        <span class="title">Time Remaining:</span>
                        <countdown-timer
                            utc-target-time="currentAlbum.end_date_utc" time-arrived-display="00:00:00"
                            time-arrived-callback="timerEnded()"
                            ng-hide="(currentAlbum.before_upload_sched || currentAlbum.after_upload_sched) && !currentAlbum.is_current_album"
                        ></countdown-timer>
                    </div>
                </div>
            </div>
            <div class="modal_main__body">
                <form action="" style="position: relative">
                    <input type="file"
                           id="dropZone"
                           accept="image/x-png,image/jpeg"
                           onchange="angular.element(this).scope().uploadFile(this.files)"
                           style="width: 100%; height: 100%; position: absolute; top: 0; left: 0; opacity: 0; z-index: 1000000">
                    <div ng-class="{'drag_over' : dragOver}" class="upload_image">
                        <p ng-class="{'position_drag' : dragOver}" class="title_drop">
                            <random-upload-texts class="green_text" ng-if="dragOver"></random-upload-texts>
                        </p>
                        <div ng-class="{'hide_drag' : dragOver}" class="upload_image__description">
                            <p class="title">
                                <span ng-if="!dragOver">Drag and drop photo here to upload</span>
                            </p>
                            <div class="row_img">
                                <img src="img/svg/icon_jpg.svg" alt="">
                                <img src="img/svg/icon_png.svg" alt="">
                            </div>
                            <span class="sub_info">Ideal settings: less than <b>5MB</b> and <b>2048px</b> on the longest side</span>
                            <div class="row_btn">
                                <span class="or">or</span>
                                <a href="" class="btn_default btn_gray">Choose file to upload</a>
                            </div>
                        </div>
                    </div>
                </form>
                <span class="error_article" ng-show="dragOver">
                * <strong>Note:</strong> Older browsers may need to be upgraded to support drag-and-drop.
            </span>
            </div>
            <div class="modal_main__footer">
                <div class="modal_main__footer_left"></div>
                <div class="modal_main__footer_right">
                    <a class="btn_default btn_gray" data-dismiss="modal">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</div>
<submit-photo2
    uploadme="uploadme"
    current-album="currentAlbum"
    sending-photo-form="sendingPhotoForm"
    file="file"
    should-file-be-here="shouldFileBeHere"
    is-file-changing="isFileChanging"
    if-file-editing="ifFileEditing"></submit-photo2>
<submit-photo3
    current-album="currentAlbum"></submit-photo3>

<!-- &lt;!&ndash; Login Modal &ndash;&gt;-->
<div class="modal fade higher-than-cookie-reminder" id="loginModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal_main modal_login modal_block">
            <button class="btn_closed__modal close" data-dismiss="modal"><i class="fas fa-times"></i></button>
            <div class="row">
                <div class="col-md-5 modal_login__description">
                    <div class="tab-content">
                        <div class="tab-pane fade active log-in-tab" id="log-in-tab">
                            <div class="bg_red">
                                <span class="title">Welcome back!</span>
                                <div class="icon_wrapper"><img src="img/svg/Camera%20&%20Stars.svg" alt=""></div>
                                <p>Together we’re making creativity a habit</p>
                            </div>
                        </div>
                        <div class="tab-pane  sign-up-tab">
                            <div class="bg_blue">
                                <span class="title">Unleash your creativity, one week at a time...</span>
                                <p>52Frames is a worldwide community of photography enthusiasts from all walks of life
                                    (ranging from novices to experts). Together we strive to improve as photographers by
                                    participating in weekly photo challenges.</p>
                                <p>We believe that everyone has the potential to be creative. All it takes is the
                                    commitment to make time to be creative, each and every week. In 52Frames, you also
                                    won’t be doing it alone, you’ll be part of a passionate community who can support,
                                    motivate, and inspire you</p>
                                <div class="icon_wrapper"><img src="img/svg/noun_68979_cc.svg" alt=""></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-7 modal_login__block_form">
                    <ul class="nav buttons_login">
                        <li><a data-toggle="tab" href="#log-in-tab" data-target=".log-in-tab" class="btn_tab">Log in</a>
                        </li>
                        <li><a data-toggle="tab" href="#sign-up-tab" data-target=".sign-up-tab" class="btn_tab btn_red">Sign
                            up</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade log-in-tab">
                            <login-page></login-page>
                        </div>
                        <div class="tab-pane fade sign-up-tab">
                            <signup-page></signup-page>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--&lt;!&ndash; User Choice Modal &ndash;&gt;-->
<div class="modal fade" id="userChoice" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal_main modal_login modal_block">
            <user-choice-page></user-choice-page>
        </div>
    </div>
</div>

<!--&lt;!&ndash; Signup Confirmation Modal &ndash;&gt;-->
<div class="modal fade" id="signupConfirmModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal_main modal_login modal_block">
            <signup-confirm-page></signup-confirm-page>
        </div>
    </div>
</div>

<!--&lt;!&ndash; User Choice Type Modal &ndash;&gt;-->
<div class="modal" id="userChoiceType" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal_main modal_signup_fan modal_block">
            <user-choice-type-page></user-choice-type-page>
        </div>
    </div>
</div>
<!--&lt;!&ndash; User Choice Sign Framer &ndash;&gt;-->
<div class="modal" id="signFramer" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <sign-framer-page></sign-framer-page>
    </div>
</div>

<!--&lt;!&ndash; Sign Accept Manifesto &ndash;&gt;-->
<div class="modal" id="signAccept" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal_main modal_sign_accept modal_block">
            <sign-accept-page></sign-accept-page>
        </div>
    </div>
</div>

<div class="modal" id="createAccountPhotographer" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal_main modal_signup_fan modal_block">
            <sign-create-account></sign-create-account>
        </div>
    </div>
</div>

<!-- Attach password to Facebook Login -->
<div class="modal fade higher-than-cookie-reminder" id="fbAttachPasswordModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <fb-attach-password></fb-attach-password>
    </div>
</div>

<!-- Facebook Login with an existing email -->
<div class="modal fade higher-than-cookie-reminder" id="fbLoginExistingEmailModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <fb-confirm-email-pass-page></fb-confirm-email-pass-page>
    </div>
</div>

<!-- Forgot Password Modal -->
<div class="modal fade higher-than-cookie-reminder" id="forgotPasswordModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <forgot-password-page></forgot-password-page>
    </div>
</div>

<!-- Forgot Password Email Sent Modal -->
<div class="modal fade higher-than-cookie-reminder" id="forgotPassEmailSentModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <forgot-pass-email-sent-page ng-if="!$root.user"></forgot-pass-email-sent-page>
    </div>
</div>

<!-- Reset Password Modal -->
<div class="modal fade higher-than-cookie-reminder" id="resetPasswordModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <reset-password-page ng-if="$root.resetPasswordToken"></reset-password-page>
    </div>
</div>

<!--
&lt;!&ndash; Signup Modal &ndash;&gt;
<div class="modal fade" id="signupModal" tabindex="-1" role="dialog">
<div class="modal-dialog" role="document">
<signup-page ng-if="$root.isGetStartedPage"></signup-page>
</div>
</div>


&lt;!&ndash; Session Expired Modal &ndash;&gt;
<div class="modal fade higher-than-cookie-reminder" id="sessionExpired" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <session-expired></session-expired>
    </div>
</div>


&lt;!&ndash; Sign Manifesto Modal &ndash;&gt;
<div class="modal fade" id="signManifestoModal" tabindex="-1" role="dialog">
<div class="modal-dialog" role="document">
<sign-manifesto-page
 <ng-if="$root.user && !$root.user.signed_manifesto"></sign-manifesto-page>
</div>
</div>

&lt;!&ndash; Manifesto Checkboxes Modal &ndash;&gt;
<div class="modal fade" id="signManifestoCheckboxesModal" tabindex="-1" role="dialog">
<div class="modal-dialog" role="document">
<sign-manifesto-checkboxes
ng-if="$root.user && $root.manifestoPageOpened"></sign-manifesto-checkboxes>
</div>
</div>

&lt;!&ndash; Manifesto Why Modal &ndash;&gt;
<div class="modal fade" id="signManifestoWhyModal" tabindex="-1" role="dialog">
<div class="modal-dialog" role="document">
<sign-manifesto-why ng-if="$root.user && $root.manifestoPageOpened"></sign-manifesto-why>
</div>
</div>


&lt;!&ndash; Cookie Reminder Message (Find out more) Modal &ndash;&gt;
<div class="modal fade higher-than-cookie-reminder" id="cookieReminderMessageModal" tabindex="-1" role="dialog">
<div class="modal-dialog" role="document">
<cookie-reminder-message></cookie-reminder-message>
</div>
</div>

&lt;!&ndash; Delete Account Modal &ndash;&gt;
<div class="modal fade higher-than-cookie-reminder" id="deleteAccountModal" tabindex="-1" role="dialog">
<div class="modal-dialog" role="document">
<delete-account></delete-account>
</div>
</div>


&lt;!&ndash; Photo-related Modals &ndash;&gt;
<div ng-if="$root.albums_recent">

    &lt;!&ndash; Album Expired Modal &ndash;&gt;
    <div class="modal fade" id="albumChallengeHasExpiredModal" data-toggle="modal">
        <div class="modal-dialog" role="document">
            <challenge-expired></challenge-expired>
        </div>
    </div>

</div>-->

<!--Manifesto Confirm Modal-->
<div class="modal fade" id="signManifestoConfirmModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <sign-manifesto-confirm></sign-manifesto-confirm>
    </div>
</div>