<!--<div class="photo-viewport modal-bg-blur" on-esc-key="gotoAlbum()">

    <div class="photo-view">
        <div ng-if="!photoSummary" class="loading-holder">
            <div class="vertical-center-prep"></div>
            <div class="vertical-center">
                <loading>Loading...</loading>
            </div>
        </div>
        <div ng-show="photoSummary" class="photo-holder photo-parent"
             on-left-arrow-key="gotoPreviousPhoto()"
             on-right-arrow-key="gotoNextPhoto()">
            <div class="photo-spinner-bg" ng-show="photoSummary.show || (!photoSummary.has_nudity && !photoSummary.is_graphic)">
                <div class="photo-placeholder non-mobile-view"
                     style="background-image: url('{{ photoSummary.hi_res_filename }}')">
                </div>
                <div class="photo-placeholder mobile-view">
                    <img ng-src="{{ photoSummary.hi_res_filename }}"
                         52f-image-loading-error="analytics.photoLoadingError(photoSummary.id)"
                         52f-image-loaded="analytics.photoLoaded(photoSummary.id)">
                </div>
            </div>
            <div class="next-previous-holder">
                <div class="previous-button-holder" ng-click="gotoPreviousPhoto()">
                    <div class="vertical-center-prep"></div>
                    <div class="vertical-center photo-arrow glyphicon glyphicon-menu-left"
                         ng-show="previousPhotoSummary"></div>
                </div>
                <div class="next-button-holder" ng-click="gotoNextPhoto()">
                    <div class="vertical-center photo-arrow glyphicon glyphicon-menu-right"
                         ng-show="nextPhotoSummary"></div>
                    <div class="vertical-center-prep"></div>
                </div>
            </div>
            <div class="photo-heart" ng-show="photo">
                <button type="button" class="photo-love-icon" ng-hide="$root.user"
                        data-placement="left"
                        data-toggle="popover"
                        data-trigger="focus"
                        data-html="true"
                        data-content="{{ variables.notSignedInLovePhoto }}">
                    &#9825;
                </button>
                <div ng-show="$root.user">
                    <div class="photo-love-icon"
                         ng-hide="photo.hearted"
                         ng-click="heartPhoto(photo); $event.stopPropagation();">&#9825;
                    </div>
                    <div class="photo-love-icon"
                         ng-show="photo.hearted"
                         ng-click="unheartPhoto(photo); $event.stopPropagation();">&#9829;
                    </div>
                </div>
                <div class="photo-loves-count" ng-show="photo.num_loves">{{ photo.num_loves }}</div>
            </div>
            <div class="photo-flags-parent" ng-show="!photoSummary.show && (photoSummary.has_nudity || photoSummary.is_graphic)">
                <div class="vertical-center-prep"></div>
                <div class="photo-flags-holder vertical-center">
                    <div class="fill-image has-nudity">
                        <div class="photo-overlay">
                            <div class="vertical-center-prep"></div>
                            <div class="vertical-center">
                                <div ng-show="photoSummary.is_graphic">Contains Graphic Content</div>
                                <div ng-show="photoSummary.has_nudity">Contains Nudity</div>
                                <div class="btn btn-sm btn-default" ng-click="showPhoto()">Show</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="photo-data-holder">
        <div class="photo-data">

            <div class="close-button" ng-click="gotoAlbum()">&times;</div>

            <div ng-show="photo">

                <h4>
                    <a target="_blank" ng-show="photo.owner.signed_manifesto"
                       href="{{ helpers.getPhotographerUrl(photo.owner) }}">
                        {{ helpers.getPhotographerHandleOrName(photo.owner) }}
                    </a>
                    <span ng-hide="photo.owner.signed_manifesto">
                        {{ helpers.getPhotographerHandleOrName(photo.owner) }}
                    </span>
                </h4>

                <user-city user="photo.owner"></user-city>
                <follow-unfollow
                        popover-placement="right"
                        target-user-id="photo.owner.id"
                        ng-hide="photo.owner.self_account || !photo.owner.signed_manifesto"
                        im-following="photo.owner.im_following">
                </follow-unfollow>

                <div class="clear-both">&nbsp;</div>

                <div ng-show="queryString().filter_by=='following' && !photo.owner.self_account && !photo.owner.im_following">
                    <div class="alert alert-info">You are not following this Photogapher, so this photo will not show-up
                        in the list of Filtered photos, behind this view.
                    </div>
                </div>

                <div class="alert alert-warning options-holder"
                     ng-show="photo.meta_editable || photo.photo_replaceable">
                    <form>
                        <fieldset ng-disabled="processing">
                            <div ng-show="isProfilePage" class="padding-bottom-6">
                                Week {{ photo.album.week_number }}:
                                <a href="{{ helpers.getChallengePageUrl(photo.album) }}" target="_blank">
                                    {{ photo.album.theme_title }}</a>
                                <small ng-show="$root.user.max_admin_points>=100000">({{ photo.album.year }})</small>
                            </div>
                            <div ng-show="isProfilePage && !photo.album.live" class="padding-bottom-6">
                                Album not live yet
                            </div>
                            <small>Menu:</small>
                            <span>&nbsp;&nbsp;</span>
                            <button class="btn btn-sm btn-primary"
                                    ng-show="photo.meta_editable"
                                    ng-click="editPhoto()">Edit Photo
                            </button>
                            <button class="btn btn-sm btn-danger"
                                    ng-show="photo.photo_replaceable"
                                    ng-click="deletePhoto()">Delete Photo
                            </button>
                            &nbsp;
                            <loading-spinner ng-show="processing"></loading-spinner>
                        </fieldset>
                    </form>
                </div>

                <p ng-show="photo.title">"{{ photo.title }}"</p>

                <div ng-show="photo.caption">
                    <div ng-hide="captionExpanded">
                        <div ng-bind-html="photo.caption | ellipsesAfter:variables.captionLimit.collapsed:true:true:'more':captionEllipsesCb | showAsHtml"></div>
                    </div>
                    <div ng-show="captionExpanded">
                        <div ng-bind-html="photo.caption | showAsHtml"></div>
                        <div class="caption-collapse" ng-show="captionHasEllipses">
                            <a href="#" ng-click="collapseCaption()">less caption</a>
                        </div>
                    </div>
                </div>

                &lt;!&ndash;<p>Photo Exifs</p> Lens info seems to have a link to Amazon?&ndash;&gt;

                <p ng-show="photo.location">Location: {{ photo.location }}</p>

                <p ng-show="photo.critique_level && findCritiqueLevel(photo.critique_level).name">
                    Critique: "{{ findCritiqueLevel(photo.critique_level).name }}"
                </p>

                <div class="clear-both">&nbsp;</div>

                <div ng-show="photo.commentsData.can_view_comments">
                    <div class="section-title"><h4>Moderator’s critique</h4></div>
                    <p class="coming-soon-text">Feature Coming Soon...</p>
                    <div class="clear-both">&nbsp;</div>
                </div>

                <div class="comment-main-holder" ng-show="photo.commentsData.can_view_comments">
                    <div class="section-title">
                        <h4>Comments</h4>
                    </div>
                    <div ng-show="commentsHolder.total">
                        <div ng-show="commentsHolder.can_load_previous" class="comment-load-more">
                            <a class="link" ng-click="loadMoreComments()">
                                Load previous {{ commentsHolder.can_load_previous }}
                                comment{{ commentsHolder.can_load_previous>1?'s':'' }}&hellip;
                            </a>
                            <loading-spinner ng-show="fetchingMoreComments" class="pull-right"></loading-spinner>
                        </div>
                        <div ng-repeat="comment in commentsHolder.comments" class="comment">
                            <comment-view comment="comment"
                                          owner="comment.owner"
                                          new-comment-callback="updatePhotoCommentsCount(comment, numPhotoComments, commentsLevelTotal)"
                                          comment-deleted-callback="commentRemoved(comment, numPhotoComments, commentsLevelTotal)">
                            </comment-view>
                        </div>
                    </div>
                    <div class="comment-new">
                        <div ng-show="$root.user">
                            <comment-view
                                    new-comment-callback="newCommentAdded(comment, numPhotoComments, commentsLevelTotal)"
                                    dont-show-cancel-button="1"
                                    dont-show-replies="1"
                                    show-comment-hint="1"
                                    comment="newComment"
                                    is-new-comment="1"
                                    owner="$root.user"
                                    show-form="1">
                            </comment-view>
                        </div>
                        <div ng-hide="$root.user" class="alert comment-invite"
                             ng-bind-html="variables.notLoggedInCommenter | showAsHtml">
                        </div>
                    </div>

                </div>

                <div class="alert comment-disabled" ng-hide="photo.commentsData.can_view_comments"
                     ng-bind-html="variables.hideCommentsIfAlbumNotLive | showAsHtml">
                </div>

            </div>
        </div>
    </div>

</div>-->

<div ng-if="!$root.pageLoaded">
    <div class="container loading_container">
        <loading>Loading...</loading>
    </div>
</div>


<div class="photo_view_container" style="position: absolute; top: 0; left: 0; width: 100%; z-index: 556" ng-show="$root.pageLoaded">
    <!--start section.photo_view-->
    <section class="photo_view">
        <div class="container-fluid">
            <div class="photo_view__gallery">
                <div class="photo_view__gallery_header">
                    <a href="#" ng-click="goBack()" class="back"><i class="fas fa-angle-left"></i>Back to album</a>
                    <a href="#" ng-click="goBack()" class="closed"><i class="fas fa-times"></i></a>
                </div>
                <div class="photo_view__gallery_body">
                    <ul class="photo_view__slider">
                        <button ng-show="photo.previousPhoto" ng-click="goPrev()" type="button" class="photo_view__arrow arrow_left"><i class="fa fa-angle-left" aria-hidden="true"></i></button>
                        <button ng-show="photo.nextPhoto" ng-click="goNext()" type="button" class="photo_view__arrow arrow_right"><i class="fa fa-angle-right" aria-hidden="true"></i></button>
                        <li on-finish-render="ngRepeatFinished" class="item">
                            <div class="img_wrapper"><img ng-src="{{ photo.hi_res_filename }}" alt=""></div>
                        </li>
                    </ul>
                </div>
                <div class="photo_view__gallery_footer">
                    <div class="photo_view__gallery_footer_left"></div>
                    <div class="photo_view__gallery_footer_center">
                        <ul class="photo_view__slider_small">
                        </ul>
                    </div>
                    <div class="photo_view__gallery_footer_right">
                        <div class="row_btn">
                            <a href="#" ng-click="heartPhoto(photo, $event); $event.stopPropagation()" class="btn_like">
                                <span ng-show="$root.user.max_admin_points>=90000" class="number">{{ photo.num_loves }}</span>
                                <i class="{{ photo.hearted ? 'fas fa-heart' : 'far fa-heart' }}"></i>
                            </a>
                            <a href="#" class="btn_comment"><span class="number">{{ photo.num_comments }}</span><i
                                class="far fa-comment"></i></a>
                        </div>
                        <a href="#" class="btn_mark"><i class="far fa-flag"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--end section.photo_view-->
    <!--start section.photo_view_information-->
    <section class="photo_view_information">
        <div class="container">
            <div class="photo_view_information__slider">
                <div class="item">
                    <div class="row">
                        <div class="col-md-8 photo_view_information__content">
                            <div class="photo_view_information__user">
                                <div class="user">
                                    <div class="user__image"><img src="img/avatars/SVG/Avatar1.svg" alt=""></div>
                                    <div class="user__name">
                                        <a href="#" class="name">{{ photo.owner.firstname + ' ' + photo.owner.lastname
                                            }}</a>
                                        <div class="row_btn__user">
                                            <a href="#" style="margin-right: 10px;"
                                               ng-hide="$root.user"
                                               data-placement="{{  popoverPlacement? popoverPlacement : 'bottom' }}"
                                               data-toggle="popover"
                                               data-trigger="focus"
                                               data-html="true"
                                               data-content="{{ variables.notSignedInFollowerHtml }}"
                                               class="btn_default btn_icon btn_small"
                                            >
                                                <i class="fas fa-star"></i>
                                                Follow
                                            </a>
                                            <a href="#" style="margin-right: 10px"
                                               ng-hide="photo.self_account || !$root.user"
                                               class="btn_default btn_icon btn_small"
                                               ng-click="imFollowing ? unfollow() : follow()"
                                            >
                                                <i class="fas fa-star"></i>
                                                {{imFollowing ? 'Unfollow' : 'Follow'}}
                                            </a>
                                            <loading-spinner ng-show="processing2"></loading-spinner>
                                            <loading-spinner ng-show="processing"></loading-spinner>
                                            <div ng-show="photo.meta_editable" class="dropdown dropdown_option">
                                                <button class="btn_option dropdown-toggle" data-toggle="dropdown"><i class="fas fa-ellipsis-h"></i></button>
                                                <ul class="dropdown-menu position_right small_list">
                                                    <li><a href="#" ng-disabled="processing" ng-click="editPhoto()" class="link_icon"><i class="fas fa-pencil-alt"></i>Edit</a></li>
                                                    <li><a href="#" ng-disabled="processing" ng-click="deletePhoto()" class="link_icon"><i class="far fa-trash-alt"></i>Delete</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="description">
                                    <div class="row_title">
                                        <span class="title">“ {{ photo.title }} ”</span>
                                    </div>
                                    <p ng-bind-html="photo.caption | showAsHtml"></p>
                                </div>
                            </div>
                            <div class="photo_view_information__comments">
                                <ul class="list_comments">
                                    <li class="item" ng-repeat="comment in commentsHolder.comments">
                                        <comment-view comment="comment"
                                                      owner="comment.owner"
                                                      new-comment-callback="updatePhotoCommentsCount(comment, numPhotoComments, commentsLevelTotal)"
                                                      comment-deleted-callback="commentRemoved(comment, numPhotoComments, commentsLevelTotal)">
                                        </comment-view>
                                    </li>
                                </ul>
                                <div class="photo_view_information__add_comments">
                                    <div style="width: 100%" ng-show="$root.user">
                                        <comment-view
                                            new-comment-callback="newCommentAdded(comment, numPhotoComments, commentsLevelTotal)"
                                            dont-show-cancel-button="1"
                                            dont-show-replies="1"
                                            show-comment-hint="1"
                                            comment="newComment"
                                            is-new-comment="1"
                                            owner="$root.user"
                                            show-form="1">
                                        </comment-view>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 photo_view_information__sitebar">
                            <div class="wrap_advertising">
                                <img src="img/png/Ad.png" alt="">
                            </div>
                            <div ng-show="photo.critique_level === '52f-cc_regular'" class="critical_analysis">
                                <div class="critical_analysis__wrap">
                                    <img src="img/svg/emoji/emoji_1.svg" alt="" class="critical_analysis__icon">
                                    <div class="critical_analysis__text">Regular Critique</div>
                                </div>
                            </div>
                            <div ng-show="photo.critique_level === 'shred_away'" class="critical_analysis">
                                <div class="critical_analysis__wrap critical_analysis__shred">
                                    <img src="img/svg/emoji/emoji_2.svg" alt="" class="critical_analysis__icon">
                                    <div class="critical_analysis__text">Shred away! I feel no pain.</div>
                                </div>
                            </div>
                            <div ng-show="photo.critique_level === 'extra_sensitive'" class="critical_analysis">
                                <div class="critical_analysis__wrap critical_analysis__sensitive">
                                    <img src="img/svg/emoji/emoji_3.svg" alt="" class="critical_analysis__icon">
                                    <div class="critical_analysis__text">Please be extra sensitive with your critique</div>
                                </div>
                            </div>
                            <div ng-show="photo.critique_level === 'no_critique'" class="critical_analysis">
                                <div class="critical_analysis__wrap critical_analysis__critique">
                                    <img src="img/svg/emoji/emoji_4.svg" alt="" class="critical_analysis__icon">
                                    <div class="critical_analysis__text">Not interested in critique but feel free to comment</div>
                                </div>
                            </div>
                            <div ng-show="photo.exif_answers.length" class="sitebar_wrap camera_options">
                                <div class="camera_options__name">
                                    <div class="img_wrapper"><img src="img/svg/camera/Camera%20icon.svg" alt=""></div>
                                    <div class="description">
                                        <span class="name">Canon EOS Rebel SL2</span>
                                        <span class="model">Canon EF 50mm f/1.8</span>
                                    </div>
                                </div>
                                <div class="camera_options__tools">
                                    <span ng-show="exif_answers[22]" class="tools">
                                        <img src="img/svg/camera/noun_1540533_cc.svg" alt="" class="icon">
                                        {{ exif_answers[22] }}
                                    </span>
                                    <span class="tools" ng-show="exif_answers[34]">
                                        <img src="img/svg/camera/noun_637706_cc.svg" alt="" class="icon">
                                        {{ exif_answers[34] }}
                                    </span>
                                    <span class="tools" ng-show="exif_answers[45]">
                                        <img
                                            src="img/svg/camera/iso-file-rounded-rectangular-outlined-interface-symbol.svg"
                                            alt="" class="icon">
                                        {{ exif_answers[45] }}
                                    </span>
                                    <span ng-show="exif_answers[55]" class="tools">
                                <img src="img/svg/camera/Group%20982.svg" alt="" class="icon">
                                {{ exif_answers[55] }}
                            </span>
                                    <span ng-show="exif_answers[298] !== 'The flash fired'" class="tools">
                                <img src="img/svg/camera/Path%20114.svg" alt="" class="icon">
                            </span>
                                    <span ng-show="exif_answers[298] === 'The flash fired'" class="tools">
                                <img src="img/svg/camera/Path%201141.svg" alt="" class="icon">
                            </span>
                                </div>
                            </div>
                            <div ng-show="photo.tags" class="sitebar_wrap tags_wrap">
                                <div class="sitebar_wrap__caption">
                                    <p class="caption">Tags</p>
                                </div>
                                <div class="tags_wrap__list">
                                    <span ng-repeat="tag in getTagsAsArray(photo.tags)" class="tag">{{ tag }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--end section.photo_view_information-->
</div>