<form ng-submit="deleteAccount()">
    <fieldset ng-disabled="processing">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Delete Account</h4>
            </div>
            <div class="modal-body modal-padding-top">

                <div ng-show="$root.user">

                    <div class="col-md-12" ng-show="$root.user.max_admin_points>=1000000">
                        <input type="checkbox" id="delete-my-account" ng-model="self_account">
                        <label for="delete-my-account" class="inline">
                            &nbsp;Delete my Account
                        </label>
                        <span class="help-block">
                            <span class="error">{{ errors.self_account[0] }}</span>
                        </span>
                    </div>

                    <div class="col-md-12" ng-hide="self_account">
                        <label for="target-user">Please choose an Account:</label>
                        <input type="text" class="form-control bg-white" autocomplete="off" id="target-user"
                               placeholder="First name, last name, nickname, email, or ID"
                               ng-click="hideErrors('target_user')"
                               ng-change="suggestUsers()"
                               ng-model="target_user"
                               bs3-typeahead
                               bs3-displayText="generateSuggestDisplay"
                               bs3-highlighter="autoSuggestHighlighter"
                               bs3-afterSelect="userSelected"
                               bs3-matcher="suggestionMatcher">
                        <span class="help-block">
                            <span class="error">{{ errors.target_user[0] }}</span>
                        </span>
                    </div>

                    <div class="col-md-12" ng-show="self_account || chosenSuggested.id">
                        <div class="alert alert-danger">

                            <p>Are you sure you want to permanently delete this Account from the System?</p>

                        </div>
                    </div>

                    <div class="col-md-12" ng-show="!self_account && !chosenSuggested.id">
                        <p>&nbsp;</p>
                    </div>

                </div>

                <div class="col-md-12" ng-hide="$root.user">

                    <div class="alert alert-warning">
                        Please login, so we can delete your account.
                    </div>

                </div>

            </div>
            <div class="modal-footer">
                <loading-spinner ng-show="processing"></loading-spinner>
                <button class="btn btn-default" ng-hide="$root.user" ng-click="openLoginModal()" data-dismiss="modal">
                    Login
                </button>
                <button type="submit" class="btn btn-danger" ng-show="$root.user && self_account || chosenSuggested.id">
                    Delete Account
                </button>
            </div>
        </div>

    </fieldset>
</form>