<form>
    <fieldset ng-disabled="processing">

        <div class="modal-content signup-confirm modal_block">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Please confirm your Deets!</h4>
            </div>
            <div class="modal-body">

                <div ng-hide="$root.user">

                    <div class="normal-login" ng-hide="fbAuth.userData || isFbSignup || instAuth.userData || isInstSignup">
                        <div class="form-group clear-both">
                            <label for="signupConfirm-firstname" class="col-md-3 control-label">First Name:</label>
                            <div class="col-md-8"><h4>{{ userData.firstname || '&nbsp;' }}</h4></div>
                        </div>

                        <div class="form-group clear-both">
                            <label for="signupConfirm-lastname" class="col-md-3 control-label">Last Name:</label>
                            <div class="col-md-8"><h4>{{ userData.lastname || '&nbsp;' }}</h4></div>
                        </div>

                        <div class="form-group clear-both">
                            <label for="signupConfirm-email" class="col-md-3 control-label">Email:</label>
                            <div class="col-md-8"><h4>{{ userData.email || '&nbsp;' }}</h4></div>
                        </div>
                    </div>

                    <div ng-show="fbAuth.userData || isFbSignup || instAuth.userData || isInstSignup">
                        <div class="form-group clear-both">
                            <label for="signupConfirm-firstname" class="col-md-3 control-label">First Name:</label>
                            <div class="col-md-8">
                                <input id="signupConfirm-firstname" type="text" class="form-control"
                                       ng-model="userData.firstname"
                                       ng-focus="hideErrors('firstname')">
                                <span class="help-block">
                                    <span class="error">{{ errors.firstname[0] }}</span>
                                </span>
                            </div>
                        </div>

                        <div class="form-group clear-both">
                            <label for="signupConfirm-lastname" class="col-md-3 control-label">Last Name:</label>
                            <div class="col-md-8">
                                <input id="signupConfirm-lastname" type="text" class="form-control"
                                       ng-model="userData.lastname"
                                       ng-focus="hideErrors('lastname')">
                                <span class="help-block">
                                    <span class="error">{{ errors.lastname[0] }}</span>
                                </span>
                            </div>
                        </div>

                        <div class="form-group clear-both">
                            <label for="signupConfirm-email" class="col-md-3 control-label">Email:</label>
                            <div class="col-md-8">
                                <input id="signupConfirm-email" type="email" class="form-control"
                                       ng-model="userData.email"
                                       ng-focus="hideErrors('email');hideErrors('email_confirmation');">
                                <span class="help-block">
                                    <span class="error">{{ errors.email[0] }}</span>
                                </span>
                            </div>
                        </div>

                        <div class="form-group clear-both">
                            <label for="signupConfirm-email_confirmation"
                                   class="col-md-3 control-label">Confirm Email:</label>
                            <div class="col-md-8">
                                <input id="signupConfirm-email_confirmation" type="email" class="form-control"
                                       ng-model="userData.email_confirmation"
                                       ng-focus="hideErrors('email');hideErrors('email_confirmation');">
                                <span class="help-block">
                                    <span class="error">{{ errors.email_confirmation[0] }}</span>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="clear-both">&nbsp;</div>

                    <div class="form-group">
                        <div class="col-md-3"></div>
                        <div class="col-md-9 align-left">
                            <span class="required-field">*</span>
                            <input type="checkbox" id="terms" name="terms" ng-model="userData.terms"
                                   ng-click="hideErrors('terms')">
                            &nbsp;
                            <label for="terms" class="control-label align-left inline" ng-click="hideErrors('terms')">
                                I've read and agree with the
                                <a href="/terms" target="_blank">Terms of Service</a></label>
                            <span class="help-block">
                                <span class="error">{{ errors.terms[0] }}</span>
                            </span>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-3"></div>
                        <div class="col-md-9 align-left">
                            <span class="required-field">*</span>
                            <input type="checkbox" id="newsletter" name="newsletter" ng-model="userData.newsletter"
                                   ng-click="hideErrors('newsletter')">
                            &nbsp;
                            <label for="newsletter" class="control-label align-left inline"
                                   ng-click="hideErrors('newsletter')">
                                I understand I'll be receiving the awesomely amazing Weekly Challenge email!</label>
                            <span class="help-block">
                                <span class="error">{{ errors.newsletter[0] }}</span>
                            </span>
                        </div>
                    </div>

                    <div ng-if="showCaptcha" class="col-md-9 col-md-offset-3">
                        <script src="https://www.google.com/recaptcha/api.js" async defer></script>
                        <div class="g-recaptcha" data-sitekey="{{nocaptchaSiteKey}}"></div>
                        <span class="help-block">
                            <span class="error">{{ errors.captcha[0] }}</span>
                        </span>
                    </div>

                </div>

            </div>
            <div class="modal-footer">

                <div ng-hide="$root.user">
                    <button type="button" class="btn btn-link pull-left" data-dismiss="modal"
                            ng-hide="fbAuth.userData || isFbSignup || instAuth.userData || isInstSignup"
                            ng-click="signupScreen()">
                        < Back
                    </button>
                    <button type="button" class="btn btn-link pull-left" data-dismiss="modal"
                            ng-show="fbAuth.userData || isFbSignup || instAuth.userData || isInstSignup"
                            ng-click="fbLoginGoBack()">
                        < Back
                    </button>
                    <loading-spinner ng-show="processing"></loading-spinner>
                    <button type="button" class="btn btn-primary" ng-click="createAccount()">
                        I'm just a Fan
                    </button>
                    <button type="button" class="btn btn-primary" ng-click="signManifesto()">
                        Start my Journey!
                    </button>
                </div>

            </div>
        </div>

    </fieldset>
</form>