
<fieldset ng-disabled="processing">
    <div class="modal_main modal_choose_account modal_block">
        <div class="modal_main__header">
            <div ng-hide="$root.user">
                <a class="btn_back" data-dismiss="modal"
                ng-hide="fbAuth.userData || isFbSignup || instAuth.userData || isInstSignup"
                ng-click="signupScreen()">
                    Back</a>
            </div>
            <p class="caption">Choose your account type:</p>
        </div>
        <div class="row">
            <div class="col-md-6 modal_choose_account__item">
                <div class="img_wrapper"><img src="img/svg/Fan_Teal.svg" alt=""></div>
                <span class="title">Fan</span>
                <ul class="list_choose">
                    <li>Follow your favorite Framers</li>
                    <li>Comment on photos</li>
                    <li>Receive notifications when a new album goes live</li>
                </ul>
                <div class="row_btn">
                    <button class="btn_default btn_gray" ng-click="createAccount()">I’m just a fan*</button>
                </div>
            </div>
            <div class="col-md-6 modal_choose_account__item">
                <div class="img_wrapper"><img src="img/svg/Framer%20icon.svg" alt=""></div>
                <span class="title">Framer</span>
                <ul class="list_choose">
                    <li>All the fan perks, plus:</li>
                    <li>Build a profile</li>
                    <li>Participate in the weekly challenge</li>
                    <li>Earn badges and awards</li>
                </ul>
                <div class="row_btn">
                    <button class="btn_default btn_red" ng-click="toSignAcceptPage()">I want to be a Framer!</button>
                </div>
            </div>
        </div>
        <div class="text-center"><loading-spinner ng-show="processing"></loading-spinner></div>
        <span class="sub">*Don’t worry! You can always upgrade later :)</span>
    </div>
</fieldset>