<form ng-submit="addPassword()">
    <fieldset ng-disabled="processing">

        <div class="modal_main modal_block modal__forget_password">
            <div class="modal_main__header">
                <a data-src="#modal-choose-account" ng-hide="$root.user" ng-click="loginScreen()" data-dismiss="modal" class="btn_back">Back</a>
                <p class="caption">Add Password to your Account</p>
            </div>
            <div class="modal_main__body">

                <input type="hidden" name="access_token" ng-model="userData.access_token">

                <div class="group">
                    <label for="attach-pass-fbEmail" class="title">Email</label>
                    <input id="attach-pass-fbEmail" type="email" name="email"
                           ng-model="userData.email" ng-focus="hideErrors('email')" disabled="disabled">
                    <div class="help-block" ng-show="errors.email[0]">
                        <span class="error">{{ errors.email[0] }}</span>
                    </div>
                </div>

                <div class="group">
                    <label for="fbPassword" class="title">Password</label>
                    <input id="fbPassword" type="password" name="password"
                           required
                           autofocus
                           ng-model="userData.password" ng-focus="hideErrors('password');hideErrors('password_confirmation')">
                    <div class="help-block" ng-show="errors.password[0]">
                        <span class="error">{{ errors.password[0] }}</span>
                    </div>
                </div>

                <div class="group">
                    <label for="fbPasswordConfirmation" class="title">Confirm Password</label>
                    <input id="fbPasswordConfirmation" type="password" name="password_confirmation"
                           required
                           ng-model="userData.password_confirmation" ng-focus="hideErrors('password');hideErrors('password_confirmation')">
                    <div class="help-block" ng-show="errors.password_confirmation[0]">
                        <span class="error">{{ errors.password_confirmation[0] }}</span>
                    </div>
                </div>

            </div>
            <div class="modal_main__footer">
                <loading-spinner ng-show="processing"></loading-spinner>
                <button type="submit" class="btn_default">Add Password</button>
            </div>
        </div>

    </fieldset>
</form>