<form ng-submit="saveChanges()">
    <fieldset ng-disabled="processing">

        <div class="modal_main modal_block assign_roles">
            <button class="btn_closed__modal close" data-dismiss="modal" aria-label="Close">
                <i class="fas fa-times"></i>
            </button>
            <div class="modal_main__header">
                <h4 class="caption">Assign a Role to this User!</h4>
            </div>

            <div class="modal_main__body">

                <ul class="list-group" ng-show="roles">
                    <li class="list-group-item"
                        ng-repeat="role in roles"
                        ng-click="roleClicked(role)"
                        ng-class="{
                                    'no_active': !hasRole(role),
                                    'active': hasRole(role)
                                  }"
                    >
                        {{ role.display_name }}
                        <i class="far fa-check-circle"></i>
                    </li>
                </ul>

            </div>
            <div class="modal_main__footer">
                <button type="button" class="btn_default btn_gray" ng-click="revokeAccess()">Revoke Access</button>
                <div class="row_btn">
                    <loading-spinner ng-show="processing"></loading-spinner>
                    <button type="submit" class="btn_default">Save Changes!</button>
                </div>
            </div>
        </div>

    </fieldset>
</form>