<div ng-hide="user.dont_share_location || !user.city">
    <span>{{ user.city.name }},</span>
    <span ng-show="user.city.state">{{ user.city.state.name }},</span>
    <span>{{ user.city.country.name }}</span>
</div>