<form ng-submit="saveAlbumEdit()">
    <fieldset ng-disabled="processing">

        <div class="modal_main modal_block album_edit">
            <button class="btn_closed__modal close" data-dismiss="modal" aria-label="Close">
                <i class="fas fa-times"></i>
            </button>

            <div class="modal_main__header">
                <div class="modal_main__header_left">
                    <h4 class="caption">Edit Album!</h4>
                </div>
                <div class="modal_main__header_right"></div>
            </div>

            <div class="modal_main__body">

                <div class="row row_form">
                    <div class="col-md-3 box_form">
                        <div class="group" error-scroll="year">
                            <label for="albumEdit-year" class="title">Title</label>
                            <input id="albumEdit-year" type="text"
                                   ng-model="albumEdit.year"
                                   ng-focus="hideErrors('week_number');hideErrors('year')"
                                   ng-change="shorturlChanged()">
                            <div class="help-block">
                                <span style="color: red;" class="error">{{ errors.year[0] }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 box_form">
                        <div class="group" error-scroll="week_number">
                            <label for="albumEdit-week" class="title">Week Number</label>
                            <input id="albumEdit-week" type="text"
                                   ng-model="albumEdit.week_number"
                                   ng-focus="hideErrors('week_number');hideErrors('year')"
                                   ng-change="shorturlChanged()">
                            <div class="help-block">
                                <span style="color: red;" class="error">{{ errors.week_number[0] }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 box_form">
                        <div class="group" error-scroll="start_date">
                            <label for="albumEdit-start-date" class="title">Start Date (EST)</label>
                            <div class="group_for_icon">
                                <input id="albumEdit-start-date" type="text"
                                       readonly="readonly"
                                       ng-model="albumEdit.display_start_date"
                                       ng-focus="hideErrors('start_date');hideErrors('end_date')">
                                <div class="input-group-addon calendar-icon"></div>
                                <i class="far fa-calendar-alt"></i>
                            </div>
                            <div class="help-block">
                                <span class="error">{{ errors.start_date[0] }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 box_form">
                        <div class="group" error-scroll="end_date">
                            <label for="albumEdit-end-date" class="title">End Date (EST)</label>
                            <div class="group_for_icon">
                                <input id="albumEdit-end-date" type="text"
                                       readonly="readonly"
                                       ng-model="albumEdit.display_end_date"
                                       ng-focus="hideErrors('end_date');hideErrors('start_date')">
                                <i class="far fa-calendar-alt"></i>
                            </div>
                            <div class="help-block">
                                <span class="error">{{ errors.end_date[0] }}</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row row_form">
                    <div class="col-md-6 box_form">
                        <div class="group" error-scroll="theme_title">
                            <label for="albumEdit-theme" class="title">Album Theme</label>
                            <input id="albumEdit-theme" type="text"
                                   ng-model="albumEdit.theme_title"
                                   ng-focus="hideErrors('theme_title')"
                                   ng-change="updateShorturl()">
                            <div class="help-block">
                                <span class="error">{{ errors.theme_title[0] }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 box_form">
                        <div class="group" error-scroll="shorturl">
                            <label for="albumEdit-shorturl" class="title">Page Url</label>
                            <div class="group_double input-has-loading-spinner">
                                <span class="input-group-addon title" id="albumEdit-shorturl-group"
                                      ng-click="focusShorturl()">
                                    {{ baseurl }}albums/<span ng-show="albumEdit.year">{{
                                        albumEdit.year
                                    }}/week-{{
                                        albumEdit.week_number
                                    }}-</span>
                                </span>
                                <input type="text"
                                       id="albumEdit-shorturl"
                                       style="border-left: 0; padding-right: 32px;"
                                       aria-describedby="albumEdit-shorturl-group"
                                       ng-focus="hideErrors('shorturl')"
                                       ng-change="shorturlChanged()"
                                       ng-blur="shorturlChanged()"
                                       ng-model="albumEdit.shorturl"
                                       ng-trim="false">
                                <loading-spinner ng-show="albumEdit.shorturlLoading"></loading-spinner>
                                <i class="far fa-check-circle loading-ok" ng-show="albumEdit.shorturlLoadingOk"></i>
                                <i class="far fa-times-circle loading-failed" ng-show="albumEdit.shorturlLoadingFail"></i>
                            </div>
                            <div class="help-block">
                                <span class="error">{{ errors.shorturl[0] }}</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="line_gray"></div>

                <div class="group" error-scroll="blurb">
                    <label for="albumEdit-blurb" class="title">
                        Album Blurb
                    </label>
                    <textarea id="albumEdit-blurb" class="form-control"></textarea>
                    <div class="help-block">
                        <span class="error">{{ errors.blurb[0] }}</span>
                    </div>
                </div>

                <div class="line_gray"></div>

                <div class="group" error-scroll="short_blurb">
                    <label for="albumEdit-short-blurb" error-scroll="short_blurb" class="title">
                        Shorter Blurb (for when the Album goes Live and shows all Photos uploaded)
                    </label>
                    <textarea id="albumEdit-short-blurb" class="form-control"></textarea>
                    <div class="help-block">
                        <span class="error">{{ errors.short_blurb[0] }}</span>
                    </div>
                </div>

                <div class="line_gray"></div>

                <div class="row row_form"error-scroll="temp_cover_photo">
                    <div class="col-md-6 box_form">
                        <div class="group">
                            <div ng-hide="albumEdit.temp_cover_photo.replace_file">
                                <label class="title">
                                    Temporary Cover Photo
                                </label>
                                <div class="group_double">
                                    <span class="title btn_replace"
                                          ng-click="replacePhoto('temp_cover_photo')">
                                        Replace
                                    </span>
                                    <input class="width-full" type="text" value="{{ temp_cover_photo_existing.filename }}" readonly>
                                </div>
                            </div>
                            <div ng-show="albumEdit.temp_cover_photo.replace_file" error-scroll="temp_cover_photo.file">
                                <label for="albumEdit-temp-cover-photo-file" class="title">
                                    Temporary Cover Photo
                                </label>
                                <input type="file" accept="image/*"
                                       id="albumEdit-temp-cover-photo-file"
                                       ng-click="hideErrors('temp_cover_photo.file')">
                            </div>
                            <div class="help-block">
                                <span class="error">{{ errors['temp_cover_photo.file'][0] }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 box_form">
                        <div class="group" error-scroll="temp_cover_photo.owner_name">
                            <label class="title" for="albumEdit-temp-cover-photo-owner-name">
                                Photo By
                            </label>
                            <input type="text"
                                   id="albumEdit-temp-cover-photo-owner-name"
                                   ng-model="albumEdit.temp_cover_photo.owner_name"
                                   ng-focus="hideErrors('temp_cover_photo.owner_name')">
                            <div class="help-block">
                                <span class="error">{{ errors['temp_cover_photo.owner_name'][0] }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 box_form">
                        <div class="group" error-scroll="temp_cover_photo.album_theme">
                            <label class="title" for="albumEdit-temp-cover-photo-album-theme">
                                "Previous" Album Theme
                            </label>
                            <input type="text"
                                   placeholder="Black and White, 2017"
                                   id="albumEdit-temp-cover-photo-album-theme"
                                   ng-model="albumEdit.temp_cover_photo.album_theme"
                                   ng-focus="hideErrors('temp_cover_photo.album_theme')">
                            <div class="help-block">
                                <span class="error">{{ errors['temp_cover_photo.album_theme'][0] }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 box_form">
                        <div class="group" error-scroll="temp_cover_photo.album_week_number">
                            <label class="title" for="albumEdit-temp-cover-photo-album-number">
                                Week Number
                            </label>
                            <input type="text"
                                   id="albumEdit-temp-cover-photo-album-number"
                                   ng-model="albumEdit.temp_cover_photo.album_week_number"
                                   ng-focus="hideErrors('temp_cover_photo.album_week_number')">
                            <div class="help-block">
                                <span class="error">{{ errors['temp_cover_photo.album_week_number'][0] }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 box_form">
                        <div class="group" error-scroll="temp_cover_photo.url">
                            <label class="title" for="albumEdit-temp-cover-photo-url">
                                Target URL (optional, may never be used)
                            </label>
                            <input type="text"
                                   id="albumEdit-temp-cover-photo-url"
                                   ng-model="albumEdit.temp_cover_photo.url"
                                   ng-focus="hideErrors('temp_cover_photo.url')">
                            <div class="help-block">
                                <span class="error">{{ errors['temp_cover_photo.url'][0] }}</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="line_gray"></div>

                <div class="row row_form" error-scroll="sample_photo">
                    <div class="col-md-6 box_form">
                        <div class="group">
                            <div ng-hide="albumEdit.sample_photo.replace_file">
                                <label class="title">
                                    Sample Photo
                                </label>
                                <div class="group_double">
                                    <span class="title btn_replace"
                                          ng-click="replacePhoto('sample_photo')">
                                        Replace
                                    </span>
                                    <input class="width-full" type="text" value="{{ sample_photo_file_exiting.filename }}" readonly>
                                </div>
                            </div>
                            <div ng-show="albumEdit.sample_photo.replace_file" error-scroll="sample_photo.file">
                                <label class="title" for="albumEdit-sample-photo-file">
                                    Sample Photo
                                </label>
                                <input type="file" accept="image/*"
                                       id="albumEdit-sample-photo-file"
                                       ng-click="hideErrors('sample_photo.file')">
                            </div>
                            <div class="help-block">
                                <span class="error">{{ errors['sample_photo.file'][0] }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 box_form">
                        <div class="group" error-scroll="sample_photo.owner_name">
                            <label class="title" for="albumEdit-sample-photo-owner-name">
                                Photo By
                            </label>
                            <input type="text"
                                   id="albumEdit-sample-photo-owner-name"
                                   ng-model="albumEdit.sample_photo.owner_name"
                                   ng-focus="hideErrors('sample_photo.owner_name')">
                            <div class="help-block">
                                <span class="error">{{ errors['sample_photo.owner_name'][0] }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 box_form">
                        <div class="group" error-scroll="sample_photo.album_theme">
                            <label class="title" for="albumEdit-sample-photo-album-theme">
                                "Previous" Album Theme
                            </label>
                            <input type="text"
                                   placeholder="Black and White, 2017"
                                   id="albumEdit-sample-photo-album-theme"
                                   ng-model="albumEdit.sample_photo.album_theme"
                                   ng-focus="hideErrors('sample_photo.album_theme')">
                            <div class="help-block">
                                <span class="error">{{ errors['sample_photo.album_theme'][0] }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 box_form">
                        <div class="group" error-scroll="sample_photo.album_week_number">
                            <label class="title" for="albumEdit-sample-photo-album-number">
                                Week Number
                            </label>
                            <input type="text"
                                   id="albumEdit-sample-photo-album-number"
                                   ng-model="albumEdit.sample_photo.album_week_number"
                                   ng-focus="hideErrors('sample_photo.album_week_number')">
                            <span class="help-block">
                            <span class="error">{{ errors['sample_photo.album_week_number'][0] }}</span>
                        </span>
                        </div>
                    </div>
                    <div class="col-md-4 box_form">
                        <div class="group" error-scroll="sample_photo.url">
                            <label class="title" for="albumEdit-sample-photo-url">
                                Target URL
                            </label>
                            <input type="text"
                                   id="albumEdit-sample-photo-url"
                                   ng-model="albumEdit.sample_photo.url"
                                   ng-focus="hideErrors('sample_photo.url')">
                            <div class="help-block">
                                <span class="error">{{ errors['sample_photo.url'][0] }}</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="line_gray"></div>

                <div class="group" error-scroll="extra_credit_title">
                    <label for="albumEdit-extra-credit-title" class="title">
                        Extra Credit Title
                    </label>
                    <input id="albumEdit-extra-credit-title" type="text"
                           ng-model="albumEdit.extra_credit_title"
                           ng-focus="hideErrors('extra_credit_title')">
                    <div class="help-block">
                        <span class="error">{{ errors.extra_credit_title[0] }}</span>
                    </div>
                </div>

                <div class="group" error-scroll="extra_credit_body">
                    <label for="albumEdit-extra-credit-body" class="title">
                        Extra Credit Body
                    </label>
                    <textarea id="albumEdit-extra-credit-body" class="form-control"></textarea>
                    <div class="help-block">
                        <span class="error">{{ errors.extra_credit_body[0] }}</span>
                    </div>
                </div>

                <div class="group" error-scroll="tips_body">
                    <label for="albumEdit-tips-body" class="title">
                        Tips and Tuts
                    </label>
                    <textarea id="albumEdit-tips-body" class="form-control"></textarea>
                    <div class="help-block">
                        <span class="error">{{ errors.tips_body[0] }}</span>
                    </div>
                </div>

                <div class="group" error-scroll="tags">
                    <label for="albumEdit-tags" class="title">
                        Tags
                    </label>
                    <div class="frame_tags no-height cursor-text" tabindex="0" ng-click="focusTagsInput()">
                            <span class="tags-list" ng-repeat="tag in tagsList">
                                #{{ tag }}
                                <span class="remove-tag" ng-click="removeTag($index)">&times;</span>
                            </span>
                        <input id="albumEdit-tags" type="text"
                               on-backspace="onBackspaceInsideTagInput()"
                               on-enter-key="onEnterKeyInsideTagInput()"
                               ng-focus="hideErrors('tags')"
                               ng-change="checkTagInput()"
                               ng-blur="tagInputBlur()"
                               ng-model="tagInput"
                               ng-trim="false">
                    </div>
                    <div class="help-block">
                        <span class="error">{{ errors.tags[0] }}</span>
                    </div>
                </div>

                <div class="group">
                    <label for="custom_message" class="title">
                        Custom Message (Text on confirmation page)
                    </label>
                    <textarea id="custom_message"></textarea>
                    <div class="help-block">
                        <span class="error">{{ errors.upload_custom_msg[0] }}</span>
                    </div>
                </div>

            </div>

            <div class="modal_main__footer">
                <span ng-show="uploadProgress.value">{{ uploadProgress.value }}&nbsp;</span>
                <loading-spinner ng-show="processing"></loading-spinner>
                <button type="submit" class="btn_default">Save Changes!</button>
            </div>
        </div>

    </fieldset>
</form>