<form ng-submit="showLoginScreen()">
    <fieldset ng-disabled="processing">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Session Expired</h4>
            </div>
            <div class="modal-body">

                <div class="col-md-12 modal-padding-top">
                    <div>Your login session has expired. Please login again.</div>
                    <div class="clear-both">&nbsp;</div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Login</button>
            </div>
        </div>

    </fieldset>
</form>