<form ng-submit="makeLive()">
    <fieldset ng-disabled="processing">

        <div class="modal_main modal_block modal_live">
            <button class="btn_closed__modal close" data-dismiss="modal" aria-label="Close">
                <i class="fas fa-times"></i>
            </button>

            <div class="modal_main__header">
                <div class="modal_main__header_left">
                    <h4 class="caption">Go Live!</h4>
                </div>
                <div class="modal_main__header_right"></div>
            </div>

            <div class="modal_main__body">

                <div class="frame_alert" ng-show="!album.short_blurb || !album.extra_credit_title || !album.tips_body">
                    <div class="alert alert-warning">
                        <p ng-hide="album.short_blurb">
                            <strong>Important:</strong> Short Blurb is required for the Album to go Live.
                        </p>
                        <p ng-hide="album.extra_credit_title">This album has no Extra Challenge.</p>
                        <p ng-hide="album.tips_body">This album has no Tips and Tuts.</p>
                        <small><a href="#" ng-click="showEditAlbumModal()">Edit Album</a></small>
                    </div>
                    <div class="help-block">
                        <span class="error">{{ errors.short_blurb[0] }}</span>
                    </div>
                </div>

                <div class="frame__select_file" ng-repeat="(sectionName, sectionTitle) in {winners: 'Select Winners', runners_up: 'Select Runners-up'}">

                    <h2 class="caption">{{ sectionTitle }}</h2>
                    <div class="row list__select_file">
                        <div class="item col-md-4 col-sm-4 col-xs-12" ng-repeat="index in ['First','Second','Third']">
                            <div class="group">
                                <input type="text"
                                       id="{{ sectionName+$index }}"
                                       autocomplete="off"
                                       placeholder="({{ index }}) Type the photo filename"
                                       bs3-typeahead
                                       bs3-afterSelect="filenameSelected"
                                       ng-change="suggestFilename(sectionName,$index)"
                                       ng-blur="suggestFilename(sectionName,$index,true)"
                                       ng-focus="saveOnFocus(sectionName,$index)"
                                       ng-click="hideErrors('filenames.'+sectionName, $index)"
                                       ng-model="filenames[sectionName][$index]">
                                <div class="help-block">
                                    <span class="error">{{ errors['filenames.'+sectionName+'.'+$index][0] }}</span>
                                </div>
                            </div>

                            <div class="winning_photo_default" ng-hide="selectedPhoto[sectionName][$index]">
                                <label for="{{ sectionName+$index }}" class="wrap"></label>
                            </div>

                            <div class="winning_photo"
                                 ng-show="selectedPhoto[sectionName][$index]"
                                 style="background-image: url('{{ selectedPhoto[sectionName][$index].thumbnail_filename }}')"></div>
                            <h5 class="title_photo">{{ selectedPhoto[sectionName][$index].title }}</h5>
                            <textarea cols="30" rows="4" class="form-control"
                                      id="notesFromYosef{{sectionName}}{{$index}}"
                                      placeholder="Notes from Yosef">{{ notes[sectionName][$index] }}</textarea>
                            <div class="help-block">
                                <span class="error">{{ errors['notes.'+sectionName+'.'+$index][0] }}</span>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="line_gray"></div>

                <div class="row frame__winning_photo_holder">
                    <div class="col-md-6 col-sm-6 col-xs-12 winning_photo_holder"
                         ng-repeat="(sectionName, sectionTitle) in {patreon: 'Patreon Card', flier: 'Flier Card'}">
                        <h2 class="caption">{{ sectionTitle }}</h2>
                        <input type="file"
                               class="hidden"
                               accept="image/*"
                               id="{{sectionName}}CardPhoto"
                               ng-click="hideErrors(sectionName, 'file')">
                        <label for="{{sectionName}}CardPhoto" class="btn_file"
                               ng-click="hideErrors(sectionName, 'file')">
                            <span class="frame_button">
                                <i ng-show="selectedPhoto[sectionName]" class="fas fa-times" ng-click="removeFlier(sectionName, $event)"></i>
                                <span ng-show="selectedPhoto[sectionName]" class="btn_default btn_gray btn_small btn_icon">
                                    {{ selectedPhoto[sectionName].name }}
                                </span>
                            </span>
                            <span class="btn_default btn_red btn_small" ng-hide="selectedPhoto[sectionName]">
                                <span>Click to choose a File</span>
                            </span>

                        </label>
                        <div class="help-block">
                            <span class="error">{{ errors[sectionName+'.photo'][0] }}</span>
                        </div>
                        <div class="winning_photo_default" ng-hide="selectedPhoto[sectionName]">
                            <label for="{{sectionName}}CardPhoto" class="wrap"></label>
                        </div>
                        <div ng-show="selectedPhoto[sectionName]">
                            <div class="winning_photo">
                                <img id="{{sectionName}}CardPreview" class="winning-photo--item">
                            </div>
                            <div class="group">
                                <input type="text" id="photoTitle{{sectionName}}"
                                       ng-click="hideErrors(sectionName+'.title')"
                                       placeholder="Flier/Photo Title">
                                <div class="help-block">
                                    <span class="error">{{ errors[sectionName+'.title'][0] }}</span>
                                </div>
                            </div>
                            <textarea cols="30" rows="4" class="form-control"
                                      id="photoCaption{{sectionName}}"
                                      placeholder="Photo/Flier Caption">
                            {{ selectedPhoto[sectionName].caption }}
                        </textarea>
                            <span class="help-block">
                            <span class="error">{{ errors[sectionName+'.caption'][0] }}</span>
                        </span>
                        </div>
                    </div>
                </div>

                <div class="line_gray"></div>

            </div>

            <div class="modal_main__footer">
                <loading-spinner ng-show="processing"></loading-spinner>
                <button type="button" class="btn_default btn_gray" ng-click="saveOnly()">Save Only</button>
                <button ng-hide="album.live" type="submit" class="btn_default">Go Live!</button>
            </div>
        </div>

    </fieldset>
</form>