<div>
    <div ng-show="subMenuData.getMenu('CSV File Management').active">
        <button ng-show="subMenuData.getMenu('CSV File Management').pageLoaded" ng-click="openCsvUploadWizardModal()"
                class="btn btn-default pull-right">
            CSV Import Wizard
        </button>
    </div>

    <ul class="nav nav-pills" ng-show="subMenuData.settings.menuVisible">
        <li class="nav-pills-well-inset-on-active" ng-repeat="subMenu in subMenuData.list"
            ng-class="{'nav-pills-opacity-9-on-active active': subMenu.active}">
            <a href="#" class="nav-pills-as-btn-padding" ng-click="subMenuData.swapSubMenu(subMenu)">
                <span>{{ subMenu.name }}</span>
                <span class="badge">{{ subMenu.badge }}</span>
            </a>
        </li>
    </ul>
</div>

<div class="clearfix" ng-repeat="subMenu in subMenuData.list" ng-show="subMenu.active">
    <div ng-switch="subMenu.name">
        <div ng-switch-when="CSV File Management">
            <migration-tool-users-tab-csv-file-management sub-menu-settings="subMenuData.settings"
                                                          modals-connection="modalsConnection"
                                                          sub-menu-self="subMenu">
            </migration-tool-users-tab-csv-file-management>
        </div>
        <div ng-switch-when="Valid Entries">
            <p>&nbsp;</p>
            <p>&nbsp;</p>
        </div>
        <div ng-switch-when="Migrated Over">
            <p>&nbsp;</p>
            <p>&nbsp;</p>
        </div>
    </div>
</div>