<h5>{{ columnInfo.keyword | changeCase }}</h5>

<div ng-show="!fieldData._config.show_with || columnInfo.data[fieldData._config.show_with].value"
     ng-repeat="(fieldKw, fieldData) in columnInfo.data" ng-if="fieldKw!='_config'"
     class="form-group clearfix margin-bottom-0">

    <div ng-if="fieldData._config.group" class="col-md-11 col-md-offset-1 padding-0">
        <csv-column-section column-info="{keyword: fieldKw, data: fieldData}"
                            csv-header-columns="csvHeaderColumns"
                            validation-errors="validationErrors"
                            parent-object="columnInfo">
        </csv-column-section>
    </div>

    <div ng-if="!fieldData._config.group"
         ng-init="registerElemId($elemId='columns-matching-'+columnInfo.keyword+'-'+fieldKw, fieldData, fieldKw)">

        <div ng-if="fieldKw=='_extras'" ng-repeat="extraData in fieldData" class="alert margin-bottom-5"
             ng-class="{'alert-{{extraData._config.class_type}}':$class_type=extraData._config.class_type,'alert-warning':!$class_type}">
            {{ extraData._config.suggestion }}
        </div>

        <div ng-if="fieldKw!='_extras'"
             error-scroll="{{ (parentObject?parentObject.keyword+'.':'')+columnInfo.keyword+'.'+fieldKw }}">

            <div ng-if="!fieldData._config.type">
                <label class="col-md-4 control-label form-label-vcenter text-align-right"
                       52f-set-unset-attr="{for: $labelTarget}">
                    <span>{{ fieldData._config.alias || (fieldKw | changeCase) }}:&nbsp;<span
                            ng-if="($reqSoft=fieldData.required_softly) || fieldData.required"
                            ng-class="{'required-softly':$reqSoft,'required-field':!$reqSoft}">*</span>
                    </span>
                </label>
                <div class="col-md-7">

                    <div ng-if="$replacement=columnInfo.data._config.replacement"
                         ng-show="$replacement.when.disabled && $isDisabled">
                        <input ng-model="$replacement.data[fieldKw].value"
                               type="text" class="form-control"
                               ng-disabled="true">
                    </div>
                    <div ng-hide="$isDisabled=columnInfo.data[fieldData._config.disable_with].value && $replacement.when.disabled">
                        <div ng-show="$controlEditableWith=columnInfo.data[fieldData._config.control_editable_by].value || fieldData._config.use_manual_input">
                            <div class="input-group" ng-show="$weekPicker=fieldData._config.special=='week_picker'">
                                <input 52f-on-visible="$labelTarget = $elemIdManualInputWeekPicker; changeWeekPickerTarget(fieldData)"
                                       ng-click="hideErrors((parentObject?parentObject.keyword+'.':'')+columnInfo.keyword+'.'+fieldKw)"
                                       id="{{ $elemIdManualInputWeekPicker = $elemId+'-manual-input-week-picker' }}"
                                       type="text" class="form-control" readonly="readonly"
                                       ng-model="fieldData.displayText">
                                <span class="input-group-addon calendar-icon glyphicon glyphicon-calendar"></span>
                            </div>
                            <div ng-hide="$weekPicker">
                                <input ng-click="hideErrors((parentObject?parentObject.keyword+'.':'')+columnInfo.keyword+'.'+fieldKw)"
                                       placeholder="{{ fieldData._config.editable.placeholder }}"
                                       id="{{ $elemIdManualInput = $elemId+'-manual-input' }}"
                                       52f-on-visible="$labelTarget=$elemIdManualInput"
                                       ng-disabled="$isDisabled || fieldData.disabled"
                                       ng-readonly="fieldData._config.read_only"
                                       type="text" class="form-control"
                                       ng-model="fieldData.value">
                            </div>
                        </div>
                        <div ng-hide="$controlEditableWith || fieldData._config.use_manual_input">
                            <select ng-click="hideErrors((parentObject?parentObject.keyword+'.':'')+columnInfo.keyword+'.'+fieldKw)"
                                    ng-options="$columnIndex as columnName for ($columnIndex, columnName) in csvHeaderColumns"
                                    ng-disabled="$isDisabled || fieldData.disabled || fieldData._config.disable_dropdown"
                                    id="{{ $elemId }}" ng-model="fieldData.column_id" class="form-control"
                                    52f-on-visible="$labelTarget=$elemId">
                                <option selected="selected"></option>
                            </select>
                        </div>
                    </div>
                    <div ng-if="$suggestion=fieldData._config.suggestion" ng-show="!$error && !$isDisabled">
                        <span class="error required-softly">{{ $suggestion }}</span>
                    </div>
                    <span class="help-block">
                        <span class="error">{{ $error=validationErrors[(parentObject?parentObject.keyword+'.':'')+columnInfo.keyword+'.'+fieldKw][0] }}</span>
                    </span>
                </div>
                <div class="col-md-1 padding-left-0 form-label-vcenter">
                    <input ng-model="fieldData._config.use_manual_input"
                           ng-if="fieldData._config.control_editable"
                           ng-hide="$isDisabled"
                           type="checkbox">
                </div>
            </div>

            <div ng-if="fieldData._config.type=='checkbox'">
                <div class="col-md-4 text-align-right">
                    <input type="checkbox" id="{{ $elemIdCheckbox = $elemId+'-checkbox' }}" ng-model="fieldData.value"
                           ng-click="hideErrors((parentObject?parentObject.keyword+'.':'')+columnInfo.keyword+'.'+fieldKw)"
                           52f-on-visible="$labelTarget=$elemIdCheckbox"
                           ng-disabled="fieldData._config.read_only">
                </div>
                <div class="col-md-7">
                    <label class="control-label inline" 52f-set-unset-attr="{for: $labelTarget}">
                        <span>{{ fieldData._config.alias || (fieldKw | changeCase) }}</span>
                        <span class="required-field" ng-if="fieldData.required">*</span>
                    </label>
                    <span class="help-block clearfix">
                        <span class="error">{{ validationErrors[(parentObject?parentObject.keyword+'.':'')+columnInfo.keyword+'.'+fieldKw][0] }}</span>
                    </span>
                </div>
            </div>

        </div>

    </div>

</div>