<form ng-submit="linkAccount()">
    <fieldset ng-disabled="processing">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Existing Account Found</h4>
            </div>
            <div class="modal-body">

                <div class="col-md-12 intro">
                    <label class="control-label">
                        Please enter the password associated with your 52Frames account:
                    </label>
                </div>

                <div class="form-group">
                    <label for="fbEmail" class="col-md-3 control-label">Email</label>
                    <div class="col-md-7">
                        <input id="fbEmail" type="email" class="form-control" name="email"
                               ng-model="userData.email" ng-focus="hideErrors('email')" disabled="disabled">
                        <span class="help-block">
                            <span class="error">{{ errors.email[0] }}</span>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="fbEmailPassword" class="col-md-3 control-label">Password</label>
                    <div class="col-md-7">
                        <input id="fbEmailPassword" type="password" class="form-control" name="password"
                               required
                               autofocus
                               ng-model="userData.password" ng-focus="hideErrors('password')">
                        <span class="help-block">
                            <span class="error">{{ errors.password[0] }}</span>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3"></div>
                    <div class="col-md-9 align-left">
                        <a class="link" ng-click="forgotPassword()" data-dismiss="modal">Forgot password?</a>
                        <span class="help-block">
                            <span class="error">{{ errors.forgot_password }}</span>
                        </span>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <loading-spinner ng-show="processing"></loading-spinner>
                <button type="submit" class="btn btn-primary">Link Accounts</button>
            </div>
        </div>

    </fieldset>
</form>