<div class="modal_main__header">
    <a data-src="#modal-sign-accept" class="btn_back" ng-click="back()">Back</a>
    <p class="caption">You made it! The very last step!</p>
</div>
<div class="modal_main__body">
    <form ng-submit="finish()">
        <fieldset ng-disabled="processing">
            <div class="row">
                <div class="col-md-8 box_fom">
                    <div class="group">
                        <span class="title">Tell us, what are you looking to achieve in 52Frames? WHY are you joining? <i class="red_asterisk">*</i></span>
                        <textarea
                                required
                                placeholder="Really…take a moment to really think about what you hope to achieve; your motivations and goals.

Bare your soul a bit!

(Don’t worry though, this bit is for your eyes only)"
                                name="why"
                                id="why"
                                ng-model="manifestoInput.why"
                                ng-click="hideErrors('why')"
                        >
                            </textarea>
                    </div>
                    <div class="frame_check">
                        <label for="terms" class="check_default" ng-click="hideErrors('terms')">
                            <input type="checkbox"
                                   required
                                   id="terms"
                                   name="terms"
                                   ng-model="manifestoInput.terms"
                                   ng-click="hideErrors('terms')"
                            >
                            <i class="icon_check"></i>
                            <span>I’ve read and agree to the <a href="#" style="white-space: nowrap">Terms of Service</a><i class="red_asterisk">*</i></span>
                            <div class="help-block" ng-show="errors.terms[0]">
                                <span class="error">{{ errors.terms[0] }}</span>
                            </div>
                        </label>
                        <label for="newsletter" class="check_default">
                            <input type="checkbox"
                                   required
                                   id="newsletter"
                                   name="newsletter"
                                   ng-model="manifestoInput.newsletter"
                                   ng-click="hideErrors('newsletter')"
                            >
                            <i class="icon_check"></i>
                            <span>I understand I’ll be receiving the <br>Weekly Challenge email <i class="red_asterisk">*</i></span>
                            <div class="help-block" ng-show="errors.newsletter[0]">
                                <span class="error">{{ errors.newsletter[0] }}</span>
                            </div>
                        </label>
                    </div>
                    <div class="group_btn loader_horizontal">
                        <loading-spinner ng-show="processing"></loading-spinner>
                        <button ng-disabled="processing" type="submit" class="btn_default btn_red">Create my account!</button>
                        <span class="yeah_promp">Yay! <i>:D</i></span>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
</div>