
<!--modal for edit photo-->
<div id="modal-edit-image" class="modal">
    <div class="modal-dialog">
        <div class="modal_main modal_upload_image modal_block">
            <div class="modal_main__header">
                <div class="modal_main__header_left">
                    <h2>Edit photo!</h2>
                </div>
                <div class="modal_main__header_right">
                    <p>Photographer: <a href="#">{{ photo.owner.firstname + ' ' + photo.owner.lastname }}</a></p>
                </div>
                <!--                <div class="modal_main__header_left">
                                    <p class="caption">Week {{ currentAlbum.week_number }}: {{ currentAlbum.theme_title }}</p>
                                    <span class="caption_sub">Extra Credit: {{ currentAlbum.extra_credit_title }}</span>
                                </div>
                                <div class="modal_main__header_right">
                                    <div class="timer">
                                        <span class="title">Time Remaining:</span>
                                        <countdown-timer
                                            ng-if="(currentAlbum.is_current_album || (!currentAlbum.before_upload_sched && !currentAlbum.after_upload_sched)) && currentAlbum.end_date_utc"
                                            utc-target-time="currentAlbum.end_date_utc" time-arrived-display="00:00:00"
                                            time-arrived-callback="timerEnded()"
                                            ng-hide="(currentAlbum.before_upload_sched || currentAlbum.after_upload_sched) && !currentAlbum.is_current_album"
                                        ></countdown-timer>
                                    </div>
                                </div>-->
            </div>
            <form action="">
                <div class="modal_main__body">
                    <div class="row">
                        <div class="col-md-8 modal_upload_image__form">
                            <div class="group">
                                <span class="title">Title</span>
                                <input required type="text" ng-model="sendingPhotoForm.title"
                                       placeholder="Photo McPhotoface">
                            </div>
                            <div class="group">
                                <span class="title">Description</span>
                                <textarea ng-model="sendingPhotoForm.caption" required
                                          placeholder="Tell us a little about your shot. What was your inspiration? Did you use a certain technique? Is there a funny backstory?">
                                </textarea>
                            </div>
                            <div class="group">
                                <span class="title">Tags</span>
                                <div class="textarea_frame">
                                    <div>
                                        <span class="tag-item" ng-repeat="tag in sendingPhotoForm.tags track by $index">
                                            {{ tag }}
                                            <button ng-click="deleteTag($index, $event)">×</button>
                                        </span>
                                    </div>
                                    <textarea
                                        tabindex="0"
                                        ng-keyup="keyupFunction($event)"
                                        ng-blur="addNewTag()"
                                        ng-model="tagText"
                                        id="tagsTextarea"
                                        placeholder="Add tags to your photo to make it easy to search \n\nSome examples: colors, technique used, mood, genre"></textarea>
                                    <div class="row_add">
                                        <span class="title">Need inspiration? Click the buttons below for helpful tags to use</span>
                                        <a
                                            ng-click="addNewTag()"
                                            href="#"
                                            class="btn_default btn_black btn_small">Add a technique</a>
                                        <a href="#" class="btn_default btn_black btn_small">Add genre/subject</a>
                                    </div>
                                </div>
                            </div>
                            <div id="technical-frame-2" style="display: none;" class="block__technical_details">
                                <p class="caption">Technical details (
                                    <small>Optional</small>
                                    )
                                </p>
                                <div class="row row_group">
                                    <div class="col-md-4 col-sm-4 group">
                                        <span class="title">Camera Brand</span>
                                        <select>
                                            <option value="">Nikon</option>
                                            <option value="">Canon</option>
                                            <option value="">Sony</option>
                                        </select>
                                    </div>
                                    <div class="col-md-4 col-sm-4 group">
                                        <span class="title">Camera Model</span>
                                        <select>
                                            <option value="">D5100</option>
                                            <option value="">D5100</option>
                                            <option value="">D5100</option>
                                        </select>
                                    </div>
                                    <div class="col-md-4 col-sm-4 group">
                                        <span class="title">Lens</span>
                                        <select ng-model="sendingPhotoForm.camera_settings_answers[55]">
                                            <option ng-repeat="lensItem in exifItems[8].members" value="{{ lensItem.id }}">{{ lensItem.name }}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row row_group">
                                    <div class="col-md-3 col-sm-3 group">
                                        <span class="title">Shutter Speed</span>
                                        <select ng-model="sendingPhotoForm.camera_settings_answers[22]">
                                            <option ng-repeat="shutterSpeedItem in exifItems[2].members" value="{{ shutterSpeedItem.id }}">{{ shutterSpeedItem.name }}</option>
                                        </select>
                                    </div>
                                    <div class="col-md-3 col-sm-3 group">
                                        <span class="title">Aperture</span>
                                        <select ng-model="sendingPhotoForm.camera_settings_answers[34]">
                                            <option ng-repeat="apertureItem in exifItems[3].members" value="{{ apertureItem.id }}">{{ apertureItem.name }}</option>
                                        </select>
                                    </div>
                                    <div class="col-md-3 col-sm-3 group">
                                        <span class="title">ISO</span>
                                        <select ng-model="sendingPhotoForm.camera_settings_answers[45]">
                                            <option ng-repeat="isoItem in exifItems[4].members" value="{{ isoItem.id }}">{{ isoItem.name }}</option>
                                        </select>
                                    </div>
                                    <div class="col-md-3 col-sm-3 group">
                                        <span class="title">Lighting</span>
                                        <select ng-model="sendingPhotoForm.camera_settings_answers[298]">
                                            <option ng-repeat="flashItem in exifItems[9].members" value="{{ flashItem.id }}">{{ flashItem.name }}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div id="location-frame-2" style="display: none;" class="block__location">
                                <div class="row row_group" style="justify-content: flex-start">
                                    <div class="col-md-12 col-sm-12 group">
                                        <span class="title">Photo Location</span>
                                        <input ng-model="sendingPhotoForm.location" class="input-search" type="text">
                                    </div>
                                    <!--<div class="col-md-6 col-sm-6 group">
                                        <span class="title">What country was this photo taken in?</span>
                                        <select
                                            ng-model="selectedCountry"
                                            ng-change="onChangeCountry(selectedCountry)"
                                            ng-options="country.name for country in countries"></select>
                                    </div>
                                    <div ng-show="states.length" class="col-md-3 col-sm-3 group">
                                        <span class="title">Which state/territory?</span>
                                        <select
                                            ng-model="selectedState"
                                            ng-change="onChangeState(selectedState)"
                                            ng-options="state.name for state in states"></select>
                                    </div>
                                    <div style="position: relative;" class="col-md-3 col-sm-3 group">
                                        <span class="title">What city/town?</span>
                                        <input
                                            class="input-search"
                                            ng-focus="openInputDropdown()"
                                            ng-change="onChangeCity(selectedCity)"
                                            type="text"
                                            ng-model="selectedCity"
                                        >
                                        <ul
                                            ng-show="isDropdownOpen"
                                            class="input-search-list"
                                            id="inputSearchList">
                                            <li ng-click="onClickCity(city.name)" ng-repeat="city in cities">{{
                                                city.name }}
                                            </li>
                                        </ul>
                                    </div>-->
                                </div>
                            </div>
                            <div class="row__btn_add">
                                <a id="technical-btn-2" class="btn_default">+ Add Technical Details (EXIF)</a>
                                <a id="location-btn-2" class="btn_default">+ Add Location</a>
                            </div>
                            <div class="check_block">
                                <span class="title">Select all that apply to this photo:</span>
                                <label for="check21" class="check_default">
                                    <input ng-model="sendingPhotoForm.qualifies_extra_credit" type="checkbox" id="check21">
                                    <i class="icon_check"></i>
                                    <span>This shot qualifies for the extra credit challenge: Advertisement without words</span>
                                </label>
                                <label for="check22" class="check_default">
                                    <input type="checkbox" id="check22">
                                    <i class="icon_check"></i>
                                    <span>I am interested in making this photo available for sale (Future feature. This setting can be changed later)</span>
                                </label>
                                <label for="check23" class="check_default">
                                    <input ng-model="sendingPhotoForm.has_nudity" type="checkbox" id="check23">
                                    <i class="icon_check"></i>
                                    <span>This photo contains sensitive content (such as nudity, violence, weapons)
                                        <a href="#">Read our content policy</a>
                                    </span>
                                </label>
                                <div ng-show="sendingPhotoForm.has_nudity" class="nudity-info">
                                    <h2>*Nude Content*</h2>
                                    <p>
                                        REMINDER: You have checked above that your photo contains nudity or graphic content! Your photo will appear with a "placeholder image" on facebook, with an (off Facebook) link to the actual photo, in the description text.
                                    </p>
                                    <p>
                                        Please note that the subject in your photo must be at least 18 years of age (or higher, if the age of majority in your country is higher) and IF REQUESTED, you'll need to provide a
                                        <a href="https://www.asmp.org/releases/model-releases/adults-model-release/">model release form</a> (stating permission to post on 52Frames and that model is of full age).
                                    </p>
                                    <p>
                                        If your subject is less than 18 years of age, i.e. a child, the photo will not be submitted to the album.
                                    </p>
                                    <label for="check24" class="check_default">
                                        <input required ng-model="sendingPhotoForm.model_consent" type="checkbox" id="check24">
                                        <i class="icon_check"></i>
                                        <span>My subject is of full age and if requested I can provide a model release form.</span>
                                    </label>
                                </div>
                            </div>
                            <div class="select__level_would">
                                <span
                                    class="title">What kind of critique level would you like from the community?</span>
                                <div class="group">
                                    <select ng-model="sendingPhotoForm.critique_level">
                                        <option value="52f-cc_regular">52F-CC-Regular</option>
                                        <option value="shred_away">SHRED AWAY! I feel no pain.</option>
                                        <option value="extra_sensitive">Please be extra sensitive with your critique.</option>
                                        <option value="no_critique">Not interested in a critique this week, but feel free to comment! :)</option>
                                    </select>
                                    <a href="#" class="link">Learn about critique levels</a>
                                </div>
                            </div>
                            <div class="raiting_frame">
                                <span class="title">How would you rate this week’s challenge? 5 stars - I’d love to do this one again next year! 1 star - Ugh.</span>
                                <ul id="stars" class="raiting">
                                    <li class="star" data-value="1">
                                        <i class="fas fa-star"></i>
                                    </li>
                                    <li class="star" data-value="2">
                                        <i class="fas fa-star"></i>
                                    </li>
                                    <li class="star" data-value="3">
                                        <i class="fas fa-star"></i>
                                    </li>
                                    <li class="star" data-value="4">
                                        <i class="fas fa-star"></i>
                                    </li>
                                    <li class="star" data-value="5">
                                        <i class="fas fa-star"></i>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4 modal_upload_image__pre">
                            <div ng-show="uploadme.src" class="img_wrapper">
                                <img src="{{ uploadme.src }}" alt="">
                                <a ng-show="uploadme.src" ng-click="onDeletePhoto()" href="#" class="delete__image">x</a>
                            </div>
                            <div ng-show="!uploadme.src"  class="mini__dropzone">
                                <span>Wrong photo? Click browse to select a different one</span>
                                <input type="file" accept="image/*" ng-required="!isFileChanging || shouldFileBeHere === false"
                                       onchange="angular.element(this).scope().uploadFile(this.files)"
                                       style="width: 100%; height: 100%; opacity: 0; position: absolute; top: 0; left: 0; z-index: 1000000">
                            </div>
                            <div class="group_button">
                                <button class="btn_group">Browse</button>
                                <input type="file" accept="image/*"
                                       onchange="angular.element(this).scope().uploadFile(this.files)"
                                       style="width: 100%; height: 100%; position: absolute; top: 0; left: 0; opacity: 0; z-index: 1000000"
                                >
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal_main__footer">
                    <div class="modal_main__footer_left"></div>
                    <div class="modal_main__footer_center">
                        <button ng-click="goToStep3($event)"
                                type="submit"
                                class="btn_default btn_red"
                        >Submit photo!
                        </button>
                    </div>
                    <div class="modal_main__footer_right">
                        <a class="btn_default btn_gray" data-dismiss="modal">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>