<li class="item col-4" ui-sref-active="active">
    <a href="#" class="img_wrapper">
        <div class="sensitive_content" ng-show="!photo.show && (photo.has_nudity || photo.is_graphic)">
            <div class="photo_overlay_contains">
                <div class="overlay_contains">
                    <div ng-show="photo.is_graphic" class="title">This photo may contain graphic content</div>
                    <div ng-show="photo.has_nudity" class="title">This photo contains nude content</div>
                    <button class="btn_default btn_red btn_small" ng-click="showPhoto()">Show</button>
                </div>
            </div>
        </div>
        <img ng-click="clickHandler({photo: photo})"
             ng-show="photo.show || (!photo.has_nudity && !photo.is_graphic)"
             ng-src="{{ photo.thumbnail_filename }}" alt="">
        <div class="row_tags">
            <div class="row_tags__left">
                <span ng-if="photo.qualifies_extra_credit" class="tag"><i class="fas fa-certificate"></i></span>
                <span ng-if="photo.im_following" class="tag"><i class="fas fa-star"></i></span>
                <span ng-if="photo.staff_pick" class="tag"><i class="fas fa-trophy"></i></span>
            </div>
            <div class="row_tags__right">
                <span ng-if="photo.newbie" class="tag"><i class="fas fa-certificate new"><span>New</span></i></span>
                <span ng-if="photo.self_account" class="tag"><i class="fas fa-child"></i></span>
            </div>
        </div>
        <div class="item__name">
            <span class="name">{{ photo.owner.firstname + ' ' + photo.owner.lastname }}</span>
            <div class="row_comments">
            <span class="likes">
                <button ng-hide="$root.user" href="#" class="like_btn"
                        data-placement="top"
                        data-toggle="popover" data-trigger="focus" data-html="true" data-content="<div>
                               <p>You must be logged in to ‘heart’ a photo, you can
                               <a class='link'
                               data-toggle='modal' data-target='#loginModal' href='javascript:;'
                               onclick='angular.element(this).scope().openLogin()'>login here</a>
                               Don’t have an account yet?
                               <a class='link'
                               data-toggle='{{ !$root.activeStepOfManifesto ? 'modal' : null }}' data-target='#loginModal' href='javascript:;'
                               onclick='angular.element(this).scope().openSignUp()'>Sign up here</a>
                               , it only takes a minute!
                               </p></div>"
                >
                    <i class="far fa-heart"></i>
                </button>
                <button ng-show="$root.user" class="like_btn"
                        ng-click="heartPhoto(photo, $event); $event.stopPropagation()">
                    <i ng-click="allowClickPropagation()"
                       class="{{ photo.hearted ? 'fas fa-heart' : 'far fa-heart' }}"></i>
                </button>
                <span ng-show="$root.user.max_admin_points>=90000">{{ photo.num_loves }}</span>
            </span>
                <span class="comments"><i class="far fa-comment"></i>{{ photo.num_comments }}</span>
                <span ng-show="$root.user.max_admin_points>=90000" class="comments">Views {{ photo.num_views }}</span>
            </div>
        </div>
        <!--<div ng-show="photo.meta_editable" class="edit_photo">
            <button type="button" class="btn_default btn_small btn_icon"
                    ng-click="editPhotoCallback({photo: photo}); $event.preventDefault()"><i class="fas fa-pencil-alt"></i>Edit Photo
            </button>
        </div>-->
    </a>
</li>