<div class="panel panel-default csv-file-summary">

    <div class="panel-heading">
        <span>{{ csvFile.filename }}</span>
        <div class="progress inline-progress-bar pull-right" ng-show="widgets.getCurrentState('barProgress')">
            <div ng-repeat="progress in widgets.getCurrentState('barProgress').progress"
                 style="width: {{ progress.value }}%"
                 ng-class="{
                    'active': widgets.getCurrentState('barProgress').active,
                    'progress-bar progress-bar-striped progress-bar-info progress-bar-navy-blue': progress.type=='migrated',
                    'progress-bar progress-bar-striped progress-bar-success': progress.type=='success',
                    'progress-bar progress-bar-striped progress-bar-warning': progress.type=='warning',
                    'progress-bar progress-bar-striped progress-bar-danger': progress.type=='failed',
                    'progress-bar progress-bar-striped progress-bar-info': progress.type=='info',
                    'progress-bar-blank': progress.type=='blank'
                }">
                <span class="sr-only">{{ progress.value }}% Complete ({{ widgets.repos.barProgress.extra[progress.type] }})</span>
            </div>
        </div>
        <a class="alert-danger pull-right background-color-initial" href="#"
           ng-show="widgets.getCurrentState('wizardButtons')"
           ng-click="widgets.getCurrentState('wizardButtons').clickHandler()">
            {{ widgets.getCurrentState('wizardButtons').text }}
        </a>
        <div class="btn-group caret-inline" role="group" aria-expanded="false">
            <div class="dropdown-toggle hitpoint" data-toggle="dropdown" aria-haspopup="true">
                <span class="caret"></span>
            </div>
            <ul class="dropdown-menu">
                <li ng-click="repickColumns()"><a href="#">Repick Columns</a></li>
                <li ng-click="deleteCsv()" class="bg-danger" ng-show="$root.user.max_admin_points>=900100">
                    <a href="#">Delete</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="panel-body" ng-class="{'padding-bottom-6': csvFile.columns_selected}">
        <div class="col-md-6">
            <p>Total Users detected: <strong>{{ csvFile.records_found | number: 0 }}</strong></p>
            <div>Status: <strong ng-show="widgets.getCurrentState('statuses')"
                                 class="background-color-initial"
                                 ng-class="{
                                    'alert-success': widgets.getCurrentState('statuses').type > 0,
                                    'alert-warning': widgets.getCurrentState('statuses').type === 0,
                                    'alert-danger': widgets.getCurrentState('statuses').type < 0,
                                    'alert-info': widgets.getCurrentState('statuses').type === null
                                }">{{ widgets.getCurrentState('statuses').text }}</strong>
            </div>
        </div>
        <div class="col-md-6 text-align-right">
            <p>{{ $root.$navbar.getSelfHandleOrName(csvFile.uploader) }}</p>
            <p>{{ csvFile.created_at | moment:'fromNow' }}</p>
        </div>
    </div>

    <div class="panel-body padding-0 position-relative" ng-show="csvFile.columns_selected">
        <ul class="col-md-12 nav nav-tabs padding-0-15">
            <li role="presentation" ng-click="showHideRows()"
                ng-class="{active: csvFile.showMembers}">
                <a href="#">View Report</a>
            </li>
        </ul>
        <div ng-show="csvFile.showMembers">
            <div class="view-report-controls">
                <div class="btn-group caret-inline filter-dropdown" role="group" aria-expanded="false">
                    <div class="hitpoint" data-toggle="dropdown" aria-haspopup="true">
                        <span>{{ rowsFilters[rowsFilter] }}</span>
                        <span class="dropdown-toggle">
                            <span class="caret caret-margin"></span>
                        </span>
                    </div>
                    <ul class="dropdown-menu">
                        <li ng-click="filterRows('all')"><a href="#">Show All</a></li>
                        <li role="separator" class="divider"></li>
                        <li ng-click="filterRows('ok')"><a href="#">Valid records only</a></li>
                        <li ng-click="filterRows('warning')"><a href="#">Warnings only</a></li>
                        <li ng-click="filterRows('error')"><a href="#">Errors only</a></li>
                        <li role="separator" class="divider"></li>
                        <li ng-click="filterRows('migrated')"><a href="#">Migrated records</a></li>
                        <li ng-click="filterRows('waiting')"><a href="#">On Validation queue</a></li>
                    </ul>
                </div>
                <span ng-show="!csvRows.isFetching" class="total-indicator">Total: {{ csvRows.total }}</span>
            </div>
            <div class="view-report-far-right">
                <loading-spinner ng-show="migratingAllValidRecords"></loading-spinner>
                <button class="btn btn-sm btn-success migrate-all"
                        ng-click="migrateAllValidRecords()"
                        ng-disabled="migratingAllValidRecords"
                        ng-show="rowsFilter=='ok' && csvRows.records.length">
                    Migrate All
                </button>
                <a href="#" class="glyphicon glyphicon-repeat refresh-rows pull-right"
                   ng-class="{'gly-spin': reloadingRows}"
                   ng-click="refreshRowsList()"></a>
            </div>
        </div>
    </div>

    <div class="overflow-auto width-100-percent max-height-700px"
         ng-show="csvFile.columns_selected && csvFile.showMembers">

        <table class="table csv-rows">
            <tr>
                <th class="border-top-none background-color-initial alert-info text-align-center">
                    Validation Result
                </th>
                <th ng-repeat="column in csvFile.header_columns track by $index" class="border-top-none">
                    {{ column }}
                </th>
            </tr>
            <tr ng-repeat="row in csvRows.records">
                <td class="text-align-center font-size-19">
                    <div class="link background-color-initial glyphicon glyphicon-info-sign alert-info"
                          title="Migrated" ng-show="row.migrated" ng-click="alreadyMigrated(row)"></div>
                    <div ng-hide="row.migrated">
                        <div title="Waiting..." class="opacity-minor-info">
                            <loading-spinner ng-hide="row.validation_report"></loading-spinner>
                        </div>
                        <div ng-show="$validationReport=row.validation_report">
                            <div ng-switch="$overall=$validationReport.metadata.overall"
                                 ng-hide="$validationReport.metadata.cancelled">
                            <span ng-click="showErrorMessages(row)">
                                <span class="link background-color-initial glyphicon glyphicon-ok-sign alert-success"
                                      title="Can be Migrated"
                                      ng-switch-when="ok"></span>
                                <span class="link glyphicon glyphicon-ok-sign warning-text-color"
                                      title="Show Warning Messages"
                                      ng-switch-when="warning"></span>
                                <span class="link background-color-initial glyphicon glyphicon-remove-sign alert-danger"
                                      title="Show Error Messages"
                                      ng-switch-when="error"></span>
                            </span>
                            </div>
                        </div>
                    </div>
                </td>
                <td ng-repeat="cellData in row.row_data track by $index">
                    {{ cellData }}
                </td>
            </tr>
            <tr ng-show="!csvRows.isFetching && !csvRows.records.length">
                <td colspan="{{ csvFile.header_columns.length +1 }}" class="text-align-center padding-top-25-impt">
                    No Records to show. Please try another Filter.
                </td>
            </tr>
        </table>

        <loading-spinner class="display-block min-height-34 padding-top-5 margin-5 text-align-center"
                         ng-show="csvRows.isFetching"></loading-spinner>

        <div class="btn btn-primary display-block margin-5" ng-click="loadMoreRows()"
             ng-show="!csvRows.isFetching && csvRows.tryNextPage && !reloadingRows">
            Load More
        </div>

    </div>

</div>