<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu+Mono">

<div ng-if="!$root.pageLoaded">
    <div class="container loading_container">
        <loading>Loading...</loading>
    </div>
</div>

<div ng-show="$root.pageLoaded" class="not_admin_page">
    <div class="container">
        <div class="row">
            <h2 class="caption"><span class="style_caption">Whoa there pardner,</span> you gotta be an admin to view this page</h2>
            <div class="img_wrapper"><img src="/img/jpg/do-not-enter.jpg" alt=""></div>
            <a href="/" class="btn_default">Now get on outta here…</a>
        </div>
    </div>
</div>