<div ng-if="!$root.pageLoaded">
    <div class="container loading_container">
        <loading>Loading...</loading>
    </div>
</div>

<div ng-show="$root.pageLoaded">

    <!--start section.profile-->
    <section class="profile">
        <div class="profile__image_wrap">
            <img src="img/bg/background_panel.jpg" alt="">
        </div>
        <div class="profile__header">
            <div class="profile__header_information">
                <div class="img_wrapper">
                    <img src="img/avatars/SVG/Avatar1.svg" alt="">
                </div>
                <p class="name">Jane Lane</p>
                <div class="profile_info">
                    <div class="profile_info__item">
                        <span class="text">10 photos</span>
                    </div>
                    <div class="profile_info__item">
                        <span class="text">Framer since 2018</span>
                    </div>
                    <div class="profile_info__item">
                        <address><i class="fas fa-map-marker-alt"></i>Lisbon, Portugal</address>
                    </div>
                </div>
                <ul class="networks">
                    <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                </ul>
            </div>
            <div class="profile__header_navbar">
                <ul class="list_navbar">
                    <li ui-sref-active="active" ui-sref="profileTest"><a href="#">Photos</a></li>
                    <li class="active"><a href="#">About</a></li>
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle">Followers</a>
                        <div class="dropdown-menu">
                            <p class="head_title">Followers</p>
                            <ul class="list_followers">
                                <li>
                                    <a href="#" class="wrap">
                                        <img src="img/avatars/SVG/Avatar10.svg" alt="" class="image">
                                        <span class="name">Mauricio Bello</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="wrap">
                                        <img src="img/avatars/SVG/Avatar11.svg" alt="" class="image">
                                        <span class="name">Mauricio Bello</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="wrap">
                                        <img src="img/avatars/SVG/Avatar12.svg" alt="" class="image">
                                        <span class="name">Mauricio Bello</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="wrap">
                                        <img src="img/avatars/SVG/Avatar13.svg" alt="" class="image">
                                        <span class="name">Mauricio Bello</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="wrap">
                                        <img src="img/avatars/SVG/Avatar4.svg" alt="" class="image">
                                        <span class="name">Mauricio Bello</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="wrap">
                                        <img src="img/avatars/SVG/Avatar10.svg" alt="" class="image">
                                        <span class="name">Mauricio Bello</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="wrap">
                                        <img src="img/avatars/SVG/Avatar11.svg" alt="" class="image">
                                        <span class="name">Mauricio Bello</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="wrap">
                                        <img src="img/avatars/SVG/Avatar12.svg" alt="" class="image">
                                        <span class="name">Mauricio Bello</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="wrap">
                                        <img src="img/avatars/SVG/Avatar13.svg" alt="" class="image">
                                        <span class="name">Mauricio Bello</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="wrap">
                                        <img src="img/avatars/SVG/Avatar4.svg" alt="" class="image">
                                        <span class="name">Mauricio Bello</span>
                                    </a>
                                </li>
                            </ul>
                        </div>

                    </li>
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle">Following</a>
                        <div class="dropdown-menu">
                            <p class="head_title">Following</p>
                            <ul class="list_followers">
                                <li>
                                    <a href="#" class="wrap">
                                        <img src="img/avatars/SVG/Avatar10.svg" alt="" class="image">
                                        <span class="name">Mauricio Bello</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="wrap">
                                        <img src="img/avatars/SVG/Avatar11.svg" alt="" class="image">
                                        <span class="name">Mauricio Bello</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="wrap">
                                        <img src="img/avatars/SVG/Avatar12.svg" alt="" class="image">
                                        <span class="name">Mauricio Bello</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="wrap">
                                        <img src="img/avatars/SVG/Avatar13.svg" alt="" class="image">
                                        <span class="name">Mauricio Bello</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="wrap">
                                        <img src="img/avatars/SVG/Avatar4.svg" alt="" class="image">
                                        <span class="name">Mauricio Bello</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="wrap">
                                        <img src="img/avatars/SVG/Avatar10.svg" alt="" class="image">
                                        <span class="name">Mauricio Bello</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="wrap">
                                        <img src="img/avatars/SVG/Avatar11.svg" alt="" class="image">
                                        <span class="name">Mauricio Bello</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="wrap">
                                        <img src="img/avatars/SVG/Avatar12.svg" alt="" class="image">
                                        <span class="name">Mauricio Bello</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="wrap">
                                        <img src="img/avatars/SVG/Avatar13.svg" alt="" class="image">
                                        <span class="name">Mauricio Bello</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="wrap">
                                        <img src="img/avatars/SVG/Avatar4.svg" alt="" class="image">
                                        <span class="name">Mauricio Bello</span>
                                    </a>
                                </li>
                            </ul>
                        </div>

                    </li>
                    <li ui-sref-active="active" ui-sref="profileLoveTest"><a href="#">Loves</a></li>
                </ul>
            </div>
        </div>
        <div class="profile__body">
            <div class="container">
                <div class="row profile__about">
                    <div class="col-md-8 about_description">
                        <h5 class="caption">Bio</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet debitis delectus eum inventore ipsa laborum numquam reiciendis repellendus tempore, veniam. Asperiores at expedita magni molestiae nulla repellat reprehenderit velit! Eveniet, fuga, magnam.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore facilis nobis quasi quo sunt?</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium, aspernatur beatae consectetur cum cumque dignissimos, dolores dolorum incidunt iste laborum natus nulla, perspiciatis possimus ratione reiciendis sit.</p>
                    </div>
                    <div class="col-md-4 about_photo">
                        <h5 class="caption">Gear</h5>
                        <div class="about_photo__item">
                            <span class="title">Camera</span>
                            <a href="#" class="name">Nikon D7200</a>
                        </div>
                        <div class="about_photo__item">
                            <span class="title">Lens</span>
                            <a href="#" class="name">Nikkor 50mm 1.8</a>
                        </div>
                        <div class="about_photo__item">
                            <span class="title">Software</span>
                            <a href="#" class="name">Lightroom CC</a>
                            <a href="#" class="name">Photoshop CC</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--end section.profile-->

</div>