<div id="modal-allow-upload-image" class="modal">
    <div class="modal-dialog">
        <div class="modal_main modal_upload_image modal_block">
            <div class="modal_main__header">
                <div class="modal_main__header_left">
                    <p class="caption">Week {{ currentAlbum.week_number }}: {{ currentAlbum.theme_title }}</p>
                    <span class="caption_sub">Extra Credit: {{ currentAlbum.extra_credit_title }}</span>
                </div>
                <div class="modal_main__header_right"></div>
            </div>
            <div class="modal_main__body">
                <form action="" style="position: relative">
                    <input type="file"
                           id="dropZoneAllowUpload"
                           accept="image/x-png,image/jpeg"
                           onchange="angular.element(this).scope().uploadFile(this.files)"
                           style="width: 100%; height: 100%; position: absolute; top: 0; left: 0; opacity: 0; z-index: 1000000">
                    <div ng-class="{'drag_over' : dragOver}" class="upload_image">
                        <p ng-class="{'position_drag' : dragOver}" class="title_drop">
                            <random-upload-texts class="green_text" ng-if="dragOver"></random-upload-texts>
                        </p>
                        <div ng-class="{'hide_drag' : dragOver}" class="upload_image__description">
                            <p class="title">
                                <span ng-if="!dragOver">Drag and drop photo here to upload</span>
                            </p>
                            {{ dragOver }}
                            <div class="row_img">
                                <img src="img/svg/icon_jpg.svg" alt="">
                                <img src="img/svg/icon_png.svg" alt="">
                            </div>
                            <span class="sub_info">Ideal settings: less than <b>5MB</b> and <b>2048px</b> on the longest side</span>
                            <div class="row_btn">
                                <span class="or">or</span>
                                <a href="" class="btn_default btn_gray">Choose file to upload</a>
                            </div>
                        </div>
                    </div>
                </form>
                <span class="error_article" ng-show="dragOver">
                * <strong>Note:</strong> Older browsers may need to be upgraded to support drag-and-drop.
            </span>
            </div>
            <div class="modal_main__footer">
                <div class="modal_main__footer_left"></div>
                <div class="modal_main__footer_right">
                    <a class="btn_default btn_gray" data-dismiss="modal">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</div>