@import "mixins/var-main";
@import "mixins/mixins";

.cookie_reminder_holder {
  background: #272727;
  .row {
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    .cookie_reminder {
      color: #fff;
      font-size: 13px;
    }
  }
}

.digital_camera {
  padding: 50px 0;
  .img_wrapper {
    padding: 20px 30px;
    img {
      width: 100%;
      display: block;
    }
  }
}

//Not-Admin
.not_admin_page {
  padding: 70px 0;
  .row {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .caption {
      .style_caption {
        font-family: $fonts-Francisco;
        font-size: 46px;
        color: $color-main--red;
        padding-bottom: 45px;
      }
    }
    .img_wrapper {
      width: 700px;
      margin-bottom: 45px;
      img {
        width: 100%;
        display: block;
      }
    }
    .link_get {
      font-size: 18px;
    }
  }

  @include mobile {
    padding: 50px 0;
    .row {
      text-align: center;
      padding: 0 20px;
      .caption {
        font-size: 22px;
        padding-bottom: 25px;
        .style_caption {
          font-size: 26px;
        }
      }
      .img_wrapper {
        width: 100%;
        margin-bottom: 25px;
      }
      .link_get {
        font-size: 18px;
      }
    }
  }
}

//Main-site-bar
.main_frame__sitebar {
  .featured_photos__list {
    margin-bottom: 65px;
    .item {
      padding: 0;
      padding-bottom: 30px;
    }
  }
  @include tablet {
    .featured_photos__list {
      margin-bottom: 35px;
      .item {
        padding: 0 15px 30px;
      }
    }
  }
  @include mobile {
    .featured_photos__list {
      margin-bottom: 35px;
    }
  }
}

//List-featured
.featured_photos__list {
  padding: 0;
  margin: 0;
  list-style: none;
  flex-wrap: wrap;
  .item {
    padding: 0 15px 20px;
    .img_wrapper {
      display: block;
      position: relative;
      z-index: 5;
      @include transition(0.2);
      left: 0;
      top: 0;
      &:after {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        right: -5px;
        bottom: -5px;
        border-radius: 4px;
        background: $color-main--red;
        @include transition(0.2);
        z-index: -1;
      }
      img {
        width: 100%;
        height: 230px;
        border-radius: 4px;
        overflow: hidden;
        object-fit: cover;
      }
      &:hover {
        box-shadow: 2px  4px 6px rgba(0, 0, 0, 0.29);
        left: 3px;
        top: 3px;
        &:after {
          right: 0;
          bottom: 0;
        }
      }
    }
    &__description {
      position: absolute;
      bottom: 20px;
      left: 0;
      width: 98%;
      background: rgba(255, 255, 255, 0.81);
      padding: 25px;
      font-size: 18px;
      color: $color-text-paragraph;
      font-weight: 500;
    }
  }
  @include desktop {
    margin-left: -15px;
    margin-right: -15px;
    .item {
      .img_wrapper {
        img {
          height: 190px;
        }
      }
      &__description {
        padding: 15px;
        font-size: 16px;
      }
    }
  }
  @include tablet {
    .item {
      width: 50%;
      .img_wrapper {
        img {
          height: 190px;
        }
      }
      &__description {
        padding: 15px;
        font-size: 16px;
      }
    }
  }
  @include mobile {
    margin-left: -15px;
    margin-right: -15px;
    .item {
      width: 100%;
      .img_wrapper {
        img {
          height: 190px;
        }
      }
      &__description {
        padding: 15px;
        font-size: 16px;
      }
    }
  }
}

//Video-frame
.video_frame__youtube {
  width: 100%;
  height: 750px;
  margin-top: 100px;
  margin-bottom: 100px;
  @include desktop {
    margin: 80px 0;
    height: 510px;
  }
  @include laptop {
    margin: 80px 0;
    height: 410px;
  }
  @include mobile {
    margin: 60px 0;
    height: 210px;
  }
}

//Intro-main
.intro_main {
  background: url(/img/jpg/Sample-image.jpg) center no-repeat;
  -webkit-background-size: cover!important;
  background-size: cover!important;
  .row {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 0;
    min-height: 700px;
  }
  .btn_default {
    font-size: 28px;
    font-weight: normal;
    padding: 15px 40px;
  }
  &__timer {
    width: 615px;
    display: inline-block;
    overflow: hidden;
    .timer_header {
      background: rgba(62, 62, 62, 0.76);
      border-radius: 5px 5px 0 0;
      padding: 70px 15px;
      text-align: center;
      .title {
        font-size: 42px;
        color: $color-main--red;
        font-family: $fonts-Semi-Condensed;
        font-weight: normal;
        line-height: 1;
        margin: 0;
        padding-bottom: 10px;
      }
      .sub_title {
        display: inline-block;
        font-size: 24px;
        color: #fff;
        font-family: $fonts-Condensed;
        line-height: 1;
      }
    }
    .timer_body {
      padding: 35px;
      background: rgba(255, 255, 255, 0.76);
      border-radius: 0 0 5px 5px;
    }
    .row_btn {
      padding: 70px 0 5px;
      .btn_default {
        width: 100%;
        text-align: center;
      }
    }
  }
  @include mobile {
    .row {
      padding: 60px 15px;
      min-height: 500px;
    }
    .btn_default {
      font-size: 16px;
      padding: 12px 30px;
    }
    &__timer {
      width: 100%;
      .timer_header {
        padding: 35px 15px;
        .title {
          font-size: 25px;
          padding-bottom: 10px;
        }
        .sub_title {
          font-size: 18px;
        }
      }
      .timer_body {
        padding: 35px 5px;
        background: rgba(255, 255, 255, 0.76);
        border-radius: 0 0 5px 5px;
      }
      .row_btn {
        padding: 40px 0 5px;
      }
    }
  }
}

//Featured-company
.featured_company {
  padding: 40px 0;
  background: #272727;
  .row {
    padding: 0 15px;
  }
  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    .item {
      padding: 0 15px;
      margin: 0;
      text-align: center;
      &.title {
        text-align: left;
        white-space: nowrap;
        span {
          color: #fff;
          font-family: $fonts-Condensed;
          font-weight: normal;
          font-size: 30px;
        }
      }
      .img_wrapper {
        display: block;
        width: 100%;
        text-decoration: none;
        img {
          width: 100%;
          max-width: 150px;
        }
      }
      a.img_wrapper {
        &:hover {
          opacity: 0.7;
        }
      }
    }
  }
  @include desktop {
    &__list {
      .item {
        width: 100%;
        padding: 10px 20px;
        &.title {
          width: 100%;
          span {
            font-size: 22px;
          }
        }
      }
    }
  }
  @include tablet {
    padding: 30px 0;
    &__list {
      flex-wrap: wrap;
      .item {
        width: 33.333%;
        padding: 10px 35px;
        &.title {
          width: 100%;
          span {
            font-size: 22px;
          }
        }
      }
    }
  }
  @include mobile {
    padding: 30px 0;
    &__list {
      flex-wrap: wrap;
      .item {
        width: 33.333%;
        padding: 10px 15px;
        &.title {
          width: 100%;
          span {
            font-size: 22px;
          }
        }
      }
    }
  }
}

//Banner
.banner_frame {
  padding: 70px 0;
  background: url(/img/jpg/Banner.jpg) center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  &__box {
    text-align: center;
    .caption {
      font-size: 45px;
      color: #fff;
      font-weight: normal;
      font-family: $fonts-Francisco;
      margin: 0;
      padding-bottom: 40px;
    }
    p {
      display: inline-block;
      width: 55%;
      color: #fff;
      font-size: 22px;
      line-height: 1.5;
      font-family: $fonts-Condensed;
      font-weight: normal;
      padding: 0;
      margin: 0;
    }
  }
  @include tablet {
    &__box {
      p {
        width: 80%;
      }
    }
  }
  @include mobile {
    padding: 50px 0;
    &__box {
      .caption {
        font-size: 28px;
        line-height: 1.5;
        padding-bottom: 20px;
      }
      p {
        width: 90%;
        font-size: 16px;
      }
    }
  }
}

//Slider
.slider_challenge {
  padding: 0 80px 90px;
  &__slick {
    padding: 0;
    margin: 0;
    list-style: none;
    .item {
      .img_wrapper {
        border-radius: 5px;
        overflow: hidden;
        height: 600px;
        position: relative;
        img {
          @include image-cover;
        }
        .slide_description {
          position: absolute;
          z-index: 55;
          top: 40px;
          left: 0;
          background: rgba(255, 255, 255, 0.83);
          padding: 15px;
          border-radius: 0 5px 5px 0;
          .album {
            font-size: 16px;
            color: $color-text-paragraph;
            font-family: $fonts-Condensed;
            font-weight: normal;
            display: inline-block;
            line-height: 1;
            padding-bottom: 10px;
          }
          .name {
            margin: 0;
            padding-bottom: 10px;
            line-height: 1;
            font-size: 28px;
            color: $color-main--red;
            font-weight: normal;
          }
          .author {
            font-size: 14px;
            color: $color-text-paragraph;
            font-family: $fonts-Condensed;
            font-weight: normal;
            display: inline-block;
            line-height: 1;
          }
        }
      }
    }
  }
  @include desktop {
    padding: 0 70px 80px;
    &__slick {
      .item {
        .img_wrapper {
          height: 390px;
        }
      }
    }
  }
  @include laptop {
    padding: 0 70px 80px;
    &__slick {
      .item {
        .img_wrapper {
          height: 350px;
        }
      }
    }
  }
  @include mobile {
    padding: 0 0px 50px;
    &__slick {
      width: 100%;
      .slick-prev,
      .slick-next {
        display: none!important;
      }
      .item {
        .img_wrapper {
          height: 230px;
          .slide_description {
            .album {
              font-size: 14px;
              padding-bottom: 7px;
            }
            .name {
              font-size: 22px;
              padding-bottom: 7px;
            }
          }
        }
      }
    }
  }
}

//Featured-photos
.featured_photos {
  border: 3px dotted #C6C6C6;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 65px;
  .caption {
    font-size: 32px;
    font-family: $fonts-Francisco;
    font-weight: normal;
    margin: 0;
    padding-bottom: 20px;
  }
  .link {
    font-size: 18px;
    font-weight: normal;
  }
  @include mobile {
    padding: 15px;
    margin-bottom: 45px;
    .caption {
      text-align: center;
      font-size: 28px;
      padding-bottom: 15px;
    }
    .link {
      font-size: 15px;
    }
  }
}

//Frame_subsribe
.frame_subsribe {
  background: #F2F2F2;
  padding: 35px 60px;
  border: 2px dashed #707070;
  border-radius: 4px;
  margin-bottom: 55px;
  .caption {
    text-align: center;
    font-size: 32px;
    font-family: $fonts-Francisco;
    color: $color-main--red;
    margin: 0;
    padding-bottom: 35px;
  }
  .row {
    align-items: center;
  }
  .description {
    p {
      font-size: 18px;
      line-height: 1.4;
      font-weight: normal;
      color: $color-text-paragraph;
      padding: 0;
      margin: 0;
    }
  }
  .form {
    .group {
      display: flex;
      align-items: center;
      input {
        position: relative;
        top: 2px;
        width: 100%;
        padding: 10px 20px;
        border-radius: 5px;
        border: 1px solid $color-border-form;
        font-size: 18px;
        font-weight: normal;
        &::placeholder {
          position: relative;
          left: 0;
          @include transition(0.3);
        }
        &:focus {
          border: 1px solid $color-main--yellow;
          box-shadow: 0px 0px 4px $color-main--yellow;
          &::placeholder {
            left: 20px;
            opacity: 0;
          }
        }
      }
      .btn_default {
        margin-left: 30px;
        white-space: nowrap;
      }
    }
  }
  @include desktop {
    margin-bottom: 35px;
    .description {
      width: 100%;
      text-align: center;
      padding-bottom: 25px;
    }
    .form {
      width: 100%;
    }
  }
  @include mobile {
    margin-bottom: 35px;
    padding: 20px 20px;
    .caption {
      font-size: 26px;
      padding-bottom: 15px;
    }
    .description {
      text-align: center;
      width: 100%;
      padding-bottom: 20px;
      p {
        font-size: 14px;
      }
    }
    .form {
      .group {
        input {
          padding: 7px 10px;
          font-size: 14px;
        }
        .btn_default {
          margin-left: 10px;
          white-space: nowrap;
          padding: 6px 25px;
          font-size: 14px;
        }
      }
    }
  }
}

