// Fonts
//@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import url("https://fonts.googleapis.com/css?family=Dosis");

// Variables
@import "base/_variables";

@import "animation/gly-animate";

//////////////////////////// settings for v1.0.0 only ////////////////////////////////

$base-font-family: "Dosis", sans-serif;

body {
  font-family: $base-font-family;
  font-size: $base-font-size;
}

a:hover,
a:focus {
  text-decoration: none;
}

//////////////////////////////////////////////////////////////////////////////////////

@mixin transition($transition...) {
  -webkit-transition: $transition; /* Safari/Chrome */
  -moz-transition: $transition; /* Firefox */
  -o-transition: $transition; /* Opera */
  transition: $transition; /* IE10+ and Future Browsers */
}

.animate-show-hide {
  &.ng-animate {
    @include transition(1s linear all);
  }
  &.ng-enter {
    opacity: 0;

    &.ng-enter-active {
      opacity: 1;
    }
  }
  &.ng-leave {
    opacity: 1;

    &.ng-leave-active {
      opacity: 0;
    }
  }
}

.min-height-34 {
  min-height: 34px;
}

.padding-top-5 {
  padding-top: 5px;
}

.margin-5 {
  margin: 5px;
}

table.csv-rows {
  th {
    font-size: 17px;
  }
}

.warning-text-color {
  color: #dab800;
}

.font-size-19 {
  font-size: 19px;
}

.opacity-minor-info {
  opacity: 0.25;
}

.padding-top-25-impt {
  padding-top: 25px !important;
}

.csv-file-summary {

  .view-report-controls {
    position: absolute;
    font-size: 14px;
    left: 145px;
    top: 12px;

    .filter-dropdown {
      top: -2px;
    }

    .total-indicator {
      margin-left: 10px;
      color: #999;
    }
  }

  .view-report-far-right {
    position: absolute;
    right: 0;
    top: 7px;

    .migrate-all {
      margin-right: 8px;
    }

    .refresh-rows {
      margin-right: 10px;
      padding: 5px;
      top: 5px;
    }
  }
}

.display-inline-block {
  display: inline-block;
}

.progress-bar-blank {
  height: 20px;
  float: left;
}

.progress-bar-navy-blue {
  background-color: #02a8da;
}

.background-color-initial {
  background-color: initial;
}

.border-top-none {
  border-top: none;
}

.border-radius-top-none {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.nav-pills-as-btn-padding {
  padding: 6px 12px !important;
}

.nav-pills-well-inset-on-active.active {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.nav-pills-opacity-9-on-active {
  opacity: .9;
}

.tabs-display-flex-on-mobile {
  @media (max-width: 767px) {
    overflow-y: hidden;
    display: flex;
  }
}

.margin-0-important {
  margin: 0 !important;
}

.columns-matching h5 {
  margin-top: 30px;
}

.required-softly {
  color: #f97474;
}

.font-weight-100 {
  font-weight: 100;
}

.width-100-percent {
  width: 100%;
}

.overflow-auto {
  overflow: auto;
}

.max-height-700px {
  max-height: 700px;
}

.padding-0-15 {
  padding: 0 15px;
}

.border-top-none {
  border-top: none !important;
}

.inline-progress-bar {
  vertical-align: bottom;
  display: inline-block;
  background: #d4d4d4;
  margin-left: 5px;
  width: 175px;
  margin: 0;
}

.ui-datepicker {
  a.ui-state-default {
    padding: 0 7px !important;
  }
}

.caret-inline {
  line-height: 15px;
  top: -3px;

  .hitpoint {
    padding: 1px 0;
    padding-left: 4px;
    padding-right: 5px;
    cursor: pointer;
  }

  .caret-margin {
    margin: -2px 5px 0 5px;
  }
}

// Site CSS

.unsupported-browser {
  margin-top: 10px;
}

.form-label-vcenter {
  margin-top: 7px;
}

.text-align-right {
  text-align: right;
}

.csv-import-wizard {

  .guide-column {
    ul {
      list-style: circle;
      color: #ccc;

      li {
        cursor: default;

        &.active,
        &.completed {
          color: green;
        }
        &.completed {
          list-style: initial;
        }
      }
    }
  }

  .wizard-content {
    border-left: 1px solid #eee;
    min-height: 250px;
    margin: 10px 0;
  }
}

.text-overflow {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.input-has-loading-spinner .text-overflow {
  margin-right: 15px;
}

.higher-than-cookie-reminder {
  z-index: 11000;
}

.cookie-reminder-holder {
  position: fixed;
  z-index: 10000;
  bottom: 0;

  .cookie-reminder {
    border-top: 1px solid $laravel-border-color;
    text-align: center;
    padding: 5px;
    position: fixed;
    bottom: -44px;
    background-color: #fff;
    width: 100%;
    z-index: 1;
  }
}

.terms {
  .basically {
    margin-top: 32px;
  }
}

.about {

  .mission .summary {
    padding: 0 10px 15px 10px;
  }
}

.faq {

  .tab-content .panel-group .panel {
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    .panel-heading {
      text-align: left;
      padding-left: 0;
      border: 0;

      h4 {
        margin-left: 10px;
        display: inline;
      }

      &:focus {
        outline: none;
      }

      &:hover > h4 {
        text-decoration: underline;
      }

      .caret {
        top: -2px;
        position: relative;
        transition: transform .25s linear;
        -webkit-transition: -webkit-transform .25s linear;
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
      }

      &[aria-expanded="true"] .caret {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
      }
    }

    .panel-collapse {
      padding-left: 10px;

      .panel-body {
        border: none;
        padding-bottom: 35px;
      }
    }
  }
}

footer {
  border-top: 1px solid $laravel-border-color;
  background-color: #fff;
  //margin-top: 50px;

  .newsletter {
    border-bottom: 1px solid $laravel-border-color;
    padding-bottom: 25px;

    .newsletter-holder {
      padding: 0;

      .email {
        margin-top: 10px;
      }

      .submit {

        @media (min-width: 992px) {
          margin-top: 10px;
          padding-left: 0;
        }
      }

      .subscribed {

        @media (max-width: 991px) {
          margin-top: 10px;
        }

        span {
          display: inline-block;
          margin-bottom: 0;
        }
      }
    }

  }

  ul {
    padding-top: 10px;
    list-style: none;
    padding-left: 0;

    li {
      display: inline;
      padding: 0 4px;
    }
  }

  .social-media {
    text-align: center;

    .social-media-content {
      padding: 25px 0;
    }

    a {
      border: 1px solid $laravel-border-color;
      background-color: #fff;
      padding: 3px 8px;
      border-radius: 3px;
    }
  }

  .as-featured {
    text-align: center;
    padding: 20px 0;
    background-color: #0d0d0d;

    img {
      padding: 5px;
    }
  }

  .footer-menu-holder {
    border-bottom: 1px solid $laravel-border-color;

    .pull-right {
      padding-top: 10px;
    }
  }
}

.get-started {

  .intro {
    text-align: center;
  }

  .more-info {
    padding-left: 20px;
  }
}

.modal-open {

  .modal-bg-blur,
  .container-fluid,
  .container {
    -webkit-filter: $modal-opened-main-content-filter;
    -moz-filter: $modal-opened-main-content-filter;
    -ms-filter: $modal-opened-main-content-filter;
    -o-filter: $modal-opened-main-content-filter;
    filter: $modal-opened-main-content-filter;

    .photo-thumbnail,
    .photo-placeholder {
      -webkit-filter: $modal-opened-main-content-filter-images;
      -moz-filter: $modal-opened-main-content-filter-images;
      -ms-filter: $modal-opened-main-content-filter-images;
      -o-filter: $modal-opened-main-content-filter-images;
      filter: $modal-opened-main-content-filter-images;
    }
  }
}

.modal {
  padding-right: 0 !important;

  .modal-body {
    padding: 0;

    textarea {
      resize: vertical;
    }
  }

  .modal-padding-top {
    padding-top: 18px;
  }

  .modal-margin-top {
    margin-top: 18px;
  }

  .modal-single-liner {
    padding: 25px 15px;
  }

  .modal-content {

    .modal-header {

      button.close {
        margin-top: 0;
        outline: none;
        width: 20px;
      }
    }

    .modal-body {

      clear-floats [ng-transclude] {
        margin-bottom: 5px;
        clear: both;
      }
    }

    .intro {

      @media (max-width: 991px) {
        margin-top: 15px;
        margin-bottom: 5px;
      }
      @media (min-width: 992px) {
        margin-bottom: 15px;
        padding-left: 45px;
      }
    }

    label.control-label {

      &.col-md-3, &.col-md-2, &.col-md-1 {
        margin-top: 8px;
      }
    }

    &.signup-confirm {

      .normal-login {

        .form-group {
          display: block;
        }

        label.control-label {

          &.col-md-3 {
            margin-top: 13px;
          }
        }

        @media (max-width: 991px) {

          .form-group {
            margin-bottom: 0;
          }
          .col-md-3 {
            width: 100px;
          }
          .col-md-8 {
            display: inline-block;
            margin-left: -5px;
          }
        }
      }

      @media (max-width: 991px) {
        .g-recaptcha > div {
          margin: auto;
        }
      }
    }
  }

  .modal-footer {

    button {
      margin-top: 2px;
    }
  }

}

.error-404 {
  font-family: 'Ubuntu Mono', monospace;
  background: url('/img/bg-404.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  height: 800px;
  color: #fff;

  h2 {
    font-size: 29px;
    float: left;
  }

  .reasons {
    margin-top: 30px;
    font-size: 18px;
    width: 300px;
    float: right;
  }

  a {
    background-color: rgba(255, 255, 255, 0.05);
    border: 2px solid #fff;
    text-decoration: none;
    border-radius: 3px;
    padding: 10px 15px;
    position: absolute;
    font-size: 17px;
    bottom: 25px;
    right: 25px;
    color: #fff;
  }

  .credits {
    color: rgba(255, 255, 255, .4);
    position: absolute;
    margin: 10px 15px;
    bottom: 0;
    left: 0;
  }

  @media (max-width: 991px) {

    h2 {
      font-size: 22px;
    }

    .reasons {
      font-size: 16px;
      width: 270px;
    }

  }

  @media (min-width: 480px) {

    .mobile-reminder {
      display: none;
    }

    .mobile-title {
      display: none;
    }
  }

  @media (max-width: 479px) {
    margin-top: -25px;

    h2 {
      display: none;
    }

    .mobile-reminder {
      color: rgb(226, 159, 61);
      text-align: center;
      margin-top: 23px;
      font-size: 14px;
    }

    .mobile-title {
      background: rgba(0, 0, 0, .5);
      border-radius: 10px;
      margin-top: 215px;
      line-height: 1.1;
      font-weight: 500;
      font-size: 22px;
      display: block;
      padding: 10px;
    }

    .reasons {
      background: rgba(0, 0, 0, .5);
      border-radius: 10px;
      padding: 5px 10px;
      font-size: 14px;
      float: left;
      width: 100%;
    }

    a {
      display: none;
    }

  }

}

.input-has-loading-spinner {
  position: relative;

  loading-spinner {
    position: absolute;
    z-index: 100;
    right: 0;
    top: 6px;
  }

  .loading-ok, .loading-failed {
    position: absolute;
    z-index: 100;
    right: 10px;
    top: 10px;
  }
}

.icon-success {
  color: #55aa55;
}

.icon-danger {
  color: #f13633;
}

.padding-left-0 {
  padding-left: 0;
}

.padding-right-0 {
  padding-right: 0;
}

.margin-10 {
  margin: 10px;
}

.margin-bottom-0 {
  margin-bottom: 0;
}

.margin-bottom-5 {
  margin-bottom: 5px;
}

.mce-branding-powered-by {
  display: none;
}

.calendar-icon {
  position: relative;
  cursor: pointer;
  top: 0;

  .ui-datepicker-inline {
    position: absolute;
    background-color: #fff;
    cursor: default;
    z-index: 1000;
    top: 35px;
    right: 0;
  }
}

.g-recaptcha {
  padding-bottom: 5px;

  @media (max-width: 320px) {
    transform: scale(0.88);
    transform-origin: 0 0;
  }

  @media (min-width: 321px) {
    overflow: hidden;
  }
}

.loading-indicator {
  margin-right: 10px;
  width: 16px;
}

.modal-footer, .clear-both {
  clear: both;
}

.required-field {
  color: #f00;
}

.account-error {
  color: #999;
}

.btn-link, .noOutline {
  outline: 0 !important;
}

.link {
  cursor: pointer;
}

.error {
  color: #f00;
}

.form-group label {

  &.col-md-1, &.col-md-2, &.col-md-3 {
    text-align: right;
  }
}

.font-size-14 {
  font-size: 14px;
}

.inline {
  display: inline !important;
}

.align-left {
  text-align: left !important;
}

.align-right {
  text-align: right !important;
}

.facebookSpinner {
  margin: auto;
  background: #4267b2;
  border-radius: 5px;
  color: white;
  height: 40px;
  text-align: center;
  padding: 10px;
  width: 250px;
}

.facebookLoginButtonLocation {
  padding-bottom: 10px;
  text-align: center;
  height: 40px;

  > div {
    position: relative;
    width: 250px;
    margin: auto;

    .fb-login-button {
      position: absolute;
      left: 0;
      top: 0;
    }
  }

}

.login-social-separator {
  position: relative;

  .login-social-separator-center {
    position: absolute;
    top: -10px;
    left: 50%;
    margin-left: -15px;
    padding: 0 10px;
    background-color: #fff;
  }
}

.container {
  position: relative;

  .btn-admin-actions {
    position: absolute;
    margin-right: 30px;
    margin-top: 40px;
    right: 0;
  }
}

.assign-roles {

  .list-group {

    li {
      cursor: pointer;
      padding: 12px 15px;

      span {
        position: relative;
        top: 6px;
      }
    }
  }
}

.icon-grey {
  color: #ddd;
}

.border-radius-right-4px {
  border-top-right-radius: 4px !important;
  border-bottom-right-radius: 4px !important;
}

.loading-ok, .loading-failed, loading-spinner {
  pointer-events: none;
}

.no-height {
  height: unset;
}

.no-border {
  border: 0;
  outline: none;
}

.cursor-text {
  cursor: text;
}

.cursor-default {
  cursor: default;
}

.color-on-disabled:disabled {
  cursor: not-allowed;
  background: #eee;
}

.tags-list {
  background-color: #d4e1ff;
  display: inline-block;
  word-break: break-all;
  margin: 1px 8px 1px 0;
  padding: 0 4px 0 8px;
  border-radius: 6px;

  .remove-tag {
    cursor: pointer;
    padding: 0 4px;
    color: #888;

    &:hover {
      color: #000;
    }
  }
}

.tags-from-album {
  background-color: #e5e5e5;
  padding-right: 10px;
}

.box__insidetarget,
.box__droptarget,
.box__dragndrop,
.box__uploading,
.box__success,
.box__error {
  display: none;
}

.has-advanced-upload {
  .box__photo {
    display: none !important;
  }
  .box__dragndrop {
    display: inline;
  }
}

.box__label,
.box__droptarget,
.box__insidetarget {
  background-color: #f3f3f3;
  outline: 2px dashed #bbb;
  outline-offset: -6px;
  text-align: center;
  margin-bottom: 0;
  padding: 120px 0;
  width: 100%;
}

.box__droptarget,
.box__insidetarget {
  background-color: #fff;
  outline-offset: -15px;
}

.box__insidetarget {
  outline-color: #5aa55a;
  color: #2a7d2a;
}

.is-dragover {
  .box__mainholder {
    display: block !important;

    .box__label {
      display: none;
    }
    .box__droptarget {
      display: block;
    }
  }
  .box__preview {
    display: none;
  }
}

.is-insidebox {
  .box__droptarget {
    display: none !important;
  }
  .box__insidetarget {
    display: block;
  }
}

.photo-spinner-bg {
  background: url(/img/loading.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
}

.photo-preview-holder {
  background: #f8f8f8;
  position: relative;

  img {
    border: 1px solid #ccd0d2;
    background-size: 20px;
    border-radius: 4px;
    min-height: 200px;
    width: 100%;
  }

  .choose-again-holder {
    background: url(/img/photo-upload-replace-bg.png);
    background-repeat: no-repeat;
    background-position: 6px 0;
    position: absolute;
    right: 0;
    top: 0;

    .choose-again {
      padding: 8px 8px 16px 8px;
      margin-left: 75px;
      line-height: 8px;
      font-size: 40px;
      cursor: pointer;
      color: #aaa;
    }
  }

  .not-editable-holder {
    position: absolute;
    text-align: center;
    padding-top: 15px;
    height: 100%;
    width: 100%;
    top: 0;

    .not-editable-msg {
      padding: 8px 12px;
      cursor: default;
      opacity: .93;
    }
  }
}

.photos-holder {
  padding: 0;

  @media (min-width: 768px) {
    padding-top: 3px;
  }
}

.photos-nothing-to-show {
  text-align: center;
  padding: 100px 0;
}

.album-page {

  .panel-heading {
    text-align: center;

    p {
      margin: 4px 0;
    }
  }

}

photo {
  display: inline-block;
  width: 100%;

  @media (min-width: 768px) {
    margin: 4px;
    margin-top: 1px;
    width: 336px;
  }
  @media (min-width: 992px) {
    width: 294px;
  }
  @media (min-width: 1200px) {
    width: 269px;
  }
}

.fill-image {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  padding-bottom: 100%;
  width: 100%;
}

.photo-heart {
  position: absolute;
  text-align: right;
  font-size: 32px;
  color: #fff;
  right: 5px;
  top: 0;

  .popover {
    left: -280px !important;
    top: 5px !important;
    color: $text-color;

    .arrow {
      margin-top: -20px;

      @media (max-width: 991px) {
        top: 110px !important;
      }
    }

    @media (max-width: 991px) {
      top: -76px !important;
    }
  }

  .photo-love-icon {
    cursor: pointer;
  }

  button.photo-love-icon {
    background-color: transparent;
    outline: none;
    border: none;
    padding: 0;
  }

  .photo-loves-count {
    line-height: 32px;
  }
}

.photo-viewport .photo-heart {

  .photo-loves-count {
    pointer-events: none;
    cursor: pointer;
  }

  @media (max-width: 991px) {
    top: initial;
    bottom: 0;

    .photo-loves-count {
      position: absolute;
      bottom: 9px;
      right: 38px;
    }
  }
}

photo .photo-heart .popover {
  left: -217px !important;
  width: 215px;

  .arrow {
    margin-top: -75px;
  }
}

photo .photo-parent {
  background-color: #f3f3f3;
}

.photo-parent, .photo-flags-holder {
  border-radius: 4px;
  position: relative;
  overflow: hidden;
  width: 100%;

  .has-nudity {
    background-color: #fff;
    text-align: center;

    .photo-overlay {
      border: 1px solid #ccc;
      border-radius: 4px;
    }
  }

  .photo-thumbnail {
    cursor: pointer;
    color: #fff;

    .not-live-holder {
      text-align: center;
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;

      .not-live-indicator {
        padding: 7px 14px;
        opacity: 0.85;
        margin: 0;
      }
    }

    .photo-overlay {
      display: none;
      height: 100%;

      .edit-photo-button {
        position: absolute;
        padding: 5px;
        bottom: 0;
      }
    }

    &:hover .photo-overlay {
      display: block;
    }

  }

  .photo-overlay {
    display: inline-block;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;

    .photo-title {
      background-repeat: repeat-x;
      padding-bottom: 20px;
      padding-right: 42px;
      padding-left: 7px;
      padding-top: 5px;
    }

    .title-1line {
      background-image: url(/img/photo-overlay-top-1liner.png);
      min-height: 50px;
    }

    .title-2lines {
      background-image: url(/img/photo-overlay-top-2liners.png);
      min-height: 75px;
    }

    .photo-social-points {
      background-image: url(/img/photo-overlay-bottom.png);
      background-repeat: repeat-x;
      position: absolute;
      padding-top: 25px;
      width: 100%;
      bottom: 0;
      left: 0;

      span {
        padding: 0 4px;
        float: right;
      }
    }
  }
}

.vertical-center-prep {
  vertical-align: middle;
  display: inline-block;
  height: 100%;
}

.vertical-center {
  vertical-align: middle;
  display: inline-block;
}

.exif-group:not(:first-child) .exif-group-title {
  padding-top: 12px;
}

.option-group-well {
  display: inline-block;
  margin-bottom: 0;
  width: 100%;
}

.white-bg {
  background-color: #fff;
}

.rounded-textbox-border {
  border: 1px solid rgb(166, 166, 166);
  border-radius: 5px;
  padding: 0 7px;
}

fieldset[disabled] .disable-with-fieldset {
  background-color: #eeeeee;
  cursor: not-allowed;
  opacity: 1;
}

.photo-viewport {
  background: rgba(0, 0, 0, 0.9);
  position: fixed;
  z-index: 1000;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;

  .photo-view {

    text-align: center;
    overflow: hidden;

    .loading-holder {
      height: 100%;

      > .vertical-center-prep {
        @media (max-width: 991px) {
          min-height: 320px;
        }
        @media (max-width: 480px) {
          min-height: 200px;
        }
      }

      loading {
        display: inline-block;

        div[loading-holder] {
          border-radius: 4px;
          background: #fff;
          padding: 10px;
        }
      }
    }

    .photo-flags-parent {
      height: 100%;
      width: 100%;

      > .vertical-center-prep {
        @media (max-width: 991px) {
          min-height: 320px;
        }
        @media (max-width: 480px) {
          min-height: 200px;
        }
      }

      .photo-flags-holder {
        background-color: #fff;
        height: 150px;
        width: 200px;
        margin: auto;
      }
    }

    .next-previous-holder {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;

      .previous-button-holder {
        text-align: left;
        height: 100%;
        float: left;
        width: 25%;
      }

      .next-button-holder {
        text-align: right;
        height: 100%;
        float: right;
        width: 75%;
      }

      .photo-arrow {
        font-size: 40px;
        color: #888888;
        padding: 15px;
        opacity: 0.15;
      }

      .previous-button-holder, .next-button-holder {
        cursor: pointer;

        &:hover {
          .photo-arrow {
            opacity: 0.9;
          }
        }
      }

    }

    .photo-holder {

      .photo-spinner-bg {
        background-size: 21px;

        @media (min-width: 992px) {
          height: 100%;
        }

        .photo-placeholder {
          border: 1px solid rgba(255, 255, 255, 0.1);
          background-position: 50% 50%;
          background-repeat: no-repeat;
          background-size: contain;
          position: relative;

          &.non-mobile-view {
            height: 100%;

            @media (max-width: 991px) {
              display: none;
            }
          }

          &.mobile-view {
            img {
              max-width: 100%;

              @media (max-width: 991px) {
                min-height: 320px;
              }
              @media (max-width: 480px) {
                min-height: 200px;
              }
            }

            @media (min-width: 992px) {
              display: none;
            }
          }
        }
      }

      @media (min-width: 992px) {
        height: 100%;
      }

    }

    @media (min-width: 992px) {
      margin-right: 370px;
      height: 100%;
    }
    @media (max-width: 991px) {
      min-height: 320px;
    }
    @media (max-width: 480px) {
      min-height: 200px;
    }
  }

  .photo-data {
    background: #fff;
    padding: 13px;

    .close-button {
      position: absolute;
      line-height: 10px;
      cursor: pointer;
      padding: 10px;
      color: #888;
      right: 0;
      top: 0;

      @media (min-width: 992px) {
        font-size: 28px;
      }

      @media (max-width: 991px) {
        font-size: 50px;
        opacity: 0.9;
      }

      &:hover {
        @media (min-width: 992px) {
          color: #000;
        }
      }
    }

    h4 {
      margin-bottom: 0;
    }

    follow-unfollow {
      margin-top: 5px;
      display: block;

      .popover {
        margin-right: 5px;

        @media (min-width: 992px) {
          top: 5px !important;

          .arrow {
            margin-top: -16px;
          }
        }
      }

    }

    @media (min-width: 992px) {
      position: absolute;
      overflow: auto;
      height: 100%;
      width: 370px;
      right: 0;
      top: 0;
    }

    @media (max-width: 991px) {
      min-height: 411px;
    }

    .options-holder {
      display: inline-block;

      small {
        vertical-align: middle;
      }
    }
  }

  @media (max-width: 991px) {
    overflow: auto;
  }
}

.padding-bottom-6 {
  padding-bottom: 6px;
}

follow-unfollow {

  .following:after {
    content: 'Following...';
  }

  .following:hover:after {
    content: 'Unfollow';
  }
}

.mce-tooltip {
  display: none;
}

.text-align-center {
  text-align: center;
}

.caption-collapse {
  margin: -9px 0 12.5px 0;
}

.margin-same-as-p {
  margin-bottom: 12.5px;
}

.border-radius-4px {
  border-radius: 4px;
}

.user-menu {
  padding: 0 12px 8px 12px;
  margin-top: 5px;
}

.bg-danger {

  a:hover {
    background-color: #f2cdd2 !important;
  }
}

.winning-photo-holder {
  .winning-photo {
    padding-bottom: 100%;
    border-radius: 4px;
    overflow: hidden;
    width: 100%;
  }

  .winning-photo-default {
    border: 1px dashed #ccc;
    margin-bottom: -2px;
  }

  .flier-card-preview {
    margin-bottom: 10px;
    padding-bottom: 0;
  }

  @media (max-width: 991px) {
    margin-bottom: 35px;
  }
}

.hide-scrollbar {
  overflow: hidden;
}

.margin-0 {
  margin: 0;
}

.padding-0 {
  padding: 0;
}

.margin-10-0 {
  margin: 10px 0;
}

.force-show-tinymce {
  display: block !important;
}

.first-poster {
  p {
    margin: 0 0 12.5px;
  }
}

.photo-viewport .photo-data {

  .section-title {
    border-bottom: 1px solid #ddd;

    h4 {
      margin: 12px 0;
      color: #777;
    }
  }

  .coming-soon-text {
    margin-top: 8px;
    color: #bbb;
  }
}

.comment-main-holder {

  .comment-load-more {
    font-size: 15px;
    padding: 8px 0;
  }

  .comment, .comment-load-more {
    border-bottom: 1px solid #ddd;
  }

  .comment-options a.pull-right {
    margin-left: 8px;
    margin-top: 2px;
  }

  .comment-edited, .comment-timestamp, .comment-time-now {
    font-size: 14px;
    margin: 0 2px;
  }

  .comment-edited {
    color: #70bfef;
  }

  .comment-edit-cancel {
    font-size: 14px;
    color: #aaa;
  }

  .comment-timestamp {
    color: #aaa;
  }

  .submit-comment {
    font-size: 14px;
    padding: 0;
  }

  .comment-textbox-holder {

    .comment-tip {
      font-size: 12px;
      color: #3097d1;
    }
  }

  .comment-message {
    background: linear-gradient(to bottom, #fff, #fff, #fff, #fff, #fff, #def);
    border-bottom: 1px solid #3097d1;
    padding-bottom: 8px;
    border-radius: 4px;
    min-height: 60px;
    outline: none;
    cursor: text;
  }

  .comment-message, .comment-message-html {
    margin: 2px 0;
  }

  [placeholder]:empty:before {
    content: attr(placeholder);
    color: #ccc;
  }

  .comment {
    padding-top: 12px;
    display: block;

    .comment-from-fan {
      color: #555;
    }

    .comment-buttons {
      border-radius: 4px;
      color: #bbb;

      &:hover {
        background-color: #f3f3f3;
        cursor: pointer;
        color: #777;
      }
    }

    .comment-edit {
      font-size: 14px;
      margin: 0 2px;
      padding: 4px;
    }

    .comment-delete {
      padding: 2px 5px 7px 5px;
      margin: 1px 2px 0 2px;
      line-height: 14px;
      font-size: 29px;
    }
  }

  .comment-new {
    padding: 12px 0;

    .comment-invite {
      background-color: #f3f3f3;
    }
  }

  .ellipses-less, .ellipses-more {
    font-size: 13px;
  }
}

.comment-disabled {
  background-color: #f3f3f3;
}

.padding-5-0 {
  padding: 5px 0;
}

.display-block {
  display: block;
}

.top-6 {
  top: 6px;
}

.replies-main-holder {
  border-top: 1px solid #f8f8f8;
  padding-bottom: 2px;
  margin-top: 4px;

  .reply-arrow {
    font-size: 13px;
    color: #ccc;
  }

  .replies-holder {
    margin-left: 20px;
    margin-top: -23px;

    .replies-load-more, .reply-options {
      font-size: 13px;
    }

    .reply-options {
      line-height: 25px;
    }

    .replies-load-more, .reply {
      border-bottom: 1px solid #f8f8f8;
    }
  }
}

.flip-vertically {
  transform: scaleY(-1);
  -moz-transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  -ms-transform: scaleY(-1);
}

.hidden {
  display: none;
}

.upload-confirmation {
  .masterpiece-submitted {
    h4 {
      margin: 0;
    }
    .next-album {
      margin-top: 12.5px;
    }
  }

  .photo-spinner-bg {
    min-height: 100px;
  }
}

.challenge-page {
  img {
    height: initial;
    max-width: 100%;
  }

  .info-coming-soon {
    color: #ccc;
  }

  .countdown-timer {
    font-size: 34px;
  }

  .upcoming-challenges {
    h4 {
      margin: 5px 0;
    }

    .upcoming-album-holder {
      margin-top: 5px;
    }
  }

}

.photo-upload {
  .countdown-timer {
    line-height: 40px;
  }
}

.box__mainholder {

  .box__label {
    padding: 77px 0;
  }

  .upload-icon-big {
    font-size: 32px;
    color: #ddd;
  }
}

.position-relative {
  position: relative;
}

.flier-close-button {
  position: absolute;
  line-height: 24px;
  cursor: pointer;
  font-size: 24px;
  padding: 5px;
  right: 5px;
  top: 0;
}

.inline-button {
  padding-bottom: 3px;
  margin-right: 8px;
  padding: 1px 7px;
  cursor: pointer;
}

.avatar {
  margin: -34px 5px -30px 0;
  border-radius: 15px;
  overflow: hidden;
  height: 30px;
  width: 30px;
}

.suggestion-holder {
  position: relative;

  img {
    position: absolute;
    left: -5px;
    top: 38px;
  }

  .name-holder {
    padding-left: 33px;
  }

  .email-holder {
    font-size: 12px;
  }

}

.upload-bypass {

  .add-user-loading {
    position: absolute;
    right: 16px;
    top: 5px;
  }

  .users-list-row {
    position: relative;
    padding: 10px 5px;
    cursor: default;

    .suggestion-holder {
      img {
        left: 0;
      }
      .name-holder {
        padding-left: 38px;
      }
    }

    .users-list-remove,
    .users-list-loading {
      position: absolute;
      font-size: 22px;
      cursor: pointer;
      padding: 0 5px;
      color: #aaa;
      right: 2px;
      top: 11px;

      &:hover {
        color: #000;
      }
    }

    .users-list-loading {
      margin-right: -8px;
      padding: 0;
    }
  }

}

.bg-white {
  background-color: #fff !important;
}

.mce-notification {
  display: none;
}

































