<form enctype="multipart/form-data">
    <fieldset ng-disabled="processing">

        <div class="modal-content upload-bypass">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Validation Report</h4>
            </div>

            <div class="modal-body modal-padding-top">

                <div class="col-md-12" ng-show="row.validation_report.metadata.overall=='ok'">
                    <div class="alert alert-success margin-bottom-0">
                        <div class="padding-bottom-6">Valid Record 🤓</div>
                        <small>Ready.</small>
                    </div>
                    <div class="clear-both">&nbsp;</div>
                </div>

                <div class="col-md-12 font-size-14" ng-show="$result=row.validation_report.result">
                    <div ng-repeat="(column, errors) in $result">
                        <h5>{{ (categories[category][column] || column) | changeCase }}</h5>
                        <div ng-repeat="errorData in errors" class="margin-bottom-5" ng-class="{
                            'alert alert-warning': errorData.warning,
                            'alert alert-danger': errorData.error }">
                            <span>{{ errorData.message }}</span>
                            <a href="#" class="glyphicon glyphicon-info-sign"
                               ng-click="errorData.info_show=!errorData.info_show"
                               ng-show="errorData.info"></a>
                            <pre ng-show="errorData.info_show">{{ errorData.info | prettyJSON }}</pre>
                        </div>
                        <div class="clear-both">&nbsp;</div>
                    </div>
                </div>

            </div>

            <div class="modal-footer">
                <loading-spinner ng-show="processing"></loading-spinner>
                <button class="btn btn-primary" ng-hide="row.validation_report.metadata.overall=='error'"
                        ng-click="migrateRow()">
                    <span ng-show="row.validation_report.metadata.new_account">Migrate User Account to Live Database</span>
                    <span ng-show="row.validation_report.metadata.new_album">Migrate Album to Live Database</span>
                    <span ng-show="row.validation_report.metadata.new_photo">Migrate Photo to Live Database</span>
                </button>
                <button class="btn btn-default" disabled ng-show="row.validation_report.metadata.overall=='error'">
                    Can't Migrate, Record has <span class="alert-danger">Errors</span>
                </button>
            </div>
        </div>

    </fieldset>
</form>