<div ng-if="!$root.albums_recent || !$root.pageLoaded">
    <div class="container loading_container">
        <loading>Loading...</loading>
    </div>
</div>

<div ng-if="$root.albums_recent && $root.pageLoaded">

    <!--start section.intro_main-->
    <section class="intro_main" ng-style="{background: $root.currentAlbum.cover_photo ? 'url(' + $root.currentAlbum.cover_photo.photo.hi_res_filename + ')' : 'url(/img/no-cover-image.jpg) center / cover no-repeat'}">
        <div class="container">
            <div class="row">
                <div class="intro_main__timer">
                    <div class="timer_header">
                        <p class="title">Week {{ $root.currentAlbum.week_number }}: {{ $root.currentAlbum.theme_title }}</p>
                        <span class="sub_title">Extra Credit: {{ $root.currentAlbum.extra_credit_title }}</span>
                    </div>
                    <div class="timer_body">
                        <countdown-timer
                            black="true"
                            ng-if="($root.currentAlbum.is_current_album || (!$root.currentAlbum.before_upload_sched && !$root.currentAlbum.after_upload_sched)) && $root.currentAlbum.end_date_utc"
                            utc-target-time="$root.currentAlbum.end_date_utc" time-arrived-display="00:00:00"
                            time-arrived-callback="timerEnded()"
                            ng-hide="($root.currentAlbum.before_upload_sched || $root.currentAlbum.after_upload_sched) && !$root.currentAlbum.is_current_album"
                        ></countdown-timer>
                    </div>
                    <div ng-show="$root.user" class="row_btn">
                        <div ng-show="$root.currentAlbum.user_has_uploaded" class="dropdown dropdown_submit">
                            <a class="btn_default btn_red" href="#"
                               data-toggle="dropdown">
                                Submit your photo
                            </a>
                            <div class="dropdown-menu">
                                <div class="submit_box">
                                    <h5 class="title">You have already submitted your photo this week!</h5>
                                    <div class="text-center">
                                        <a href="#" ng-click="onSubmitClicked()" class="btn_default btn_small">Edit my
                                            photo</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a ng-click="onSubmitClicked()" ng-show="$root.user.signed_manifesto && !$root.currentAlbum.user_has_uploaded" class="btn_default btn_red">Submit your photo!</a>
                        <a class="btn_default btn_red submit-photo-btn" ng-hide="$root.user.signed_manifesto" data-placement="bottom"
                           tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-html="true" data-content="<div>
                           <p>Sign the <a class='link' onclick='angular.element(this).scope().signManifesto()'>Manifesto</a> to become a Framer and Submit your Masterpiece today! It only takes a few minutes!</p></div>"
                        >
                            Submit your photo!
                        </a>
                    </div>

                    <div ng-show="!$root.user" class="row_btn">
                        <a class="btn_default btn_red submit-photo-btn" data-placement="bottom"
                           tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-html="true" data-content="<div>
                           <p>Please
                           <a class='link'
                           data-toggle='modal' data-target='#loginModal' href='javascript:;'
                           onclick='angular.element(this).scope().openLogin()'>login</a>
                           in order to submit your photo! Don’t have an account yet?
                           <a class='link'
                           data-toggle='{{ !$root.activeStepOfManifesto ? 'modal' : null }}' data-target='#loginModal' href='javascript:;'
                           onclick='angular.element(this).scope().openSignUp()'>Sign up here</a>
                           , it only takes a minute!
                           </p></div>"
                        >
                            Submit Photo
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!--end section.intro_main-->

    <!--start section.main_frame-->
    <section class="main_frame">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-9 col-md-9 col-xs-12 main_frame__content">
                    <div class="slider_challenge">
                        <ul class="slider_challenge__slick">
                            <li class="item">
                                <div class="img_wrapper">
                                    <img src="img/slider/slide1.jpg" alt="">
                                    <div class="slide_description">
                                        <span class="album">Latest Album</span>
                                        <p class="name">Week #: Challenge Name</p>
                                        <span class="author">Extra Credit: Anthopomorphic</span>
                                    </div>
                                </div>
                            </li>
                            <li class="item">
                                <div class="img_wrapper">
                                    <img src="img/slider/slide2.jpg" alt="">
                                    <div class="slide_description">
                                        <span class="album">Latest Album</span>
                                        <p class="name">Week #: Challenge Name</p>
                                        <span class="author">Extra Credit: Anthopomorphic</span>
                                    </div>
                                </div>
                            </li>
                            <li class="item">
                                <div class="img_wrapper">
                                    <img src="img/slider/slide3.jpg" alt="">
                                    <div class="slide_description">
                                        <span class="album">Latest Album</span>
                                        <p class="name">Week #: Challenge Name</p>
                                        <span class="author">Extra Credit: Anthopomorphic</span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- slider end -->
                    <div class="featured_photos">
                        <h4 class="caption">This week’s featured photos</h4>
                        <ul class="featured_photos__list d-flex">
                            <li class="col-md-4 item">
                                <a href="#" class="img_wrapper">
                                    <img src="img/slider/slide3.jpg" alt="">
                                    <span class="item__description">
                                                <span class="name">“Photo Title” by User Name</span>
                                            </span>
                                </a>
                            </li>
                            <li class="col-md-4 item">
                                <a href="#" class="img_wrapper">
                                    <img src="img/slider/slide2.jpg" alt="">
                                    <span class="item__description">
                                                <span class="name">“Photo Title” by User Name</span>
                                            </span>
                                </a>
                            </li>
                            <li class="col-md-4 item">
                                <a href="#" class="img_wrapper">
                                    <img src="img/slider/slide1.jpg" alt="">
                                    <span class="item__description">
                                                <span class="name">“Photo Title” by User Name</span>
                                            </span>
                                </a>
                            </li>
                        </ul>
                        <div class="text-right"><a href="#" class="link">See the album…</a></div>
                    </div>
                    <!-- featured_photos end -->
                    <div class="video_frame__youtube">
                        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/-H4FqySxWaU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <!-- video_frame__youtube end -->
                    <div class="frame_subsribe">
                        <h4 class="caption">Join our weekly mailing list!</h4>
                        <div class="row">
                            <div class="col-md-6 description">
                                <p>Each week we send out an email containing all the great highlights of the project, including album winners, popular tutorials, and general 52Frames photo goodness. Sign up for a weekly blast of colorful creativity in your inbox.</p>
                            </div>
                            <div class="col-md-6 form">
                                <form action="">
                                    <div class="group">
                                        <input type="email" placeholder="Enter your email…">
                                        <button class="btn_default">Subscribe</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-xs-12 main_frame__sitebar">
                    <div class="sitebar_caption">
                        <p class="caption yellow">Announcements</p>
                    </div>
                    <ul class="announcement_list">
                        <li>
                            <span class="date">12/09/2018</span>
                            <p>Upcoming trip to Iceland. <a href="#">Sign up</a> before the end of the month!</p>
                        </li>
                        <li>
                            <span class="date">12/09/2018</span>
                            <p><a href="#">Album name</a> is live! Check out all these fantastic faces!</p>
                        </li>
                        <li>
                            <span class="date">12/09/2018</span>
                            <p><a href="#">New Brunswick photo walk</a> is next week! Don’t miss it!</p>
                        </li>
                    </ul>
                    <div class="sitebar_caption">
                        <p class="caption blue">Trending Photos</p>
                    </div>
                    <ul class="featured_photos__list d-flex">
                        <li class="item">
                            <a href="#" class="img_wrapper">
                                <img src="img/slider/slide3.jpg" alt="">
                                <span class="item__description">
                                                <span class="name">“Photo Title” by User Name</span>
                                            </span>
                            </a>
                        </li>
                        <li class="item">
                            <a href="#" class="img_wrapper">
                                <img src="img/slider/slide2.jpg" alt="">
                                <span class="item__description">
                                                <span class="name">“Photo Title” by User Name</span>
                                            </span>
                            </a>
                        </li>
                        <li class="item">
                            <a href="#" class="img_wrapper">
                                <img src="img/slider/slide1.jpg" alt="">
                                <span class="item__description">
                                                <span class="name">“Photo Title” by User Name</span>
                                            </span>
                            </a>
                        </li>
                    </ul>
                    <div class="sitebar_caption">
                        <p class="caption red">Streakers List</p>
                    </div>
                    <ul class="speakers__list">
                        <li class="item">
                            <span class="number">213</span>
                            <a href="#">Andrea Makinski</a>
                        </li>
                        <li class="item">
                            <span class="number">213</span>
                            <a href="#">Andrea Makinski</a>
                        </li>
                        <li class="item">
                            <span class="number">213</span>
                            <a href="#">Andrea Makinski</a>
                        </li>
                        <li class="item">
                            <span class="number">213</span>
                            <a href="#">Andrea Makinski</a>
                        </li>
                        <li class="item">
                            <span class="number">213</span>
                            <a href="#">Andrea Makinski</a>
                        </li>
                        <li class="item">
                            <span class="number">213</span>
                            <a href="#">Andrea Makinski</a>
                        </li>
                        <li class="item">
                            <span class="number">213</span>
                            <a href="#">Andrea Makinski</a>
                        </li>
                        <li class="item">
                            <span class="number">213</span>
                            <a href="#">Andrea Makinski</a>
                        </li>
                        <li class="item">
                            <span class="number">213</span>
                            <a href="#">Andrea Makinski</a>
                        </li>
                        <li class="item">
                            <span class="number">213</span>
                            <a href="#">Andrea Makinski</a>
                        </li>
                        <li class="item">
                            <span class="number">213</span>
                            <a href="#">Andrea Makinski</a>
                        </li>
                        <li class="item">
                            <span class="number">213</span>
                            <a href="#">Andrea Makinski</a>
                        </li>
                        <li class="item">
                            <span class="number">213</span>
                            <a href="#">Andrea Makinski</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!--end section.main_frame-->

    <!--start section.banner_frame-->
    <section class="banner_frame">
        <div class="container">
            <div class="banner_frame__box">
                <h4 class="caption">The Weekly Photography Project to Frame your World</h4>
                <p>52Frames is a (free!) community of photography enthusiasts from around the world, working together to improve their photography skills. Join us to receive weekly guided photo challenges, share your work, and get tons of feedback from a supportive community!</p>
            </div>
        </div>
    </section>
    <!--end section.banner_frame-->
    <!--start section.featured_company-->
    <section class="featured_company">
        <div class="container-fluid">
            <div class="row">
                <ul class="featured_company__list">
                    <li class="item title">
                        <span>As featured in:</span>
                    </li>
                    <li class="item">
                        <a href="http://www.buzzfeed.com/ryanhatesthis/dont-expect-me-to-feed-my-kid-there" target="_blank" class="img_wrapper"><img src="img/png/logos/buzzfeed.png" alt=""></a>
                    </li>
                    <li class="item">
                        <div class="img_wrapper"><img src="img/png/logos/upworthy.png" alt=""></div>
                    </li>
                    <li class="item">
                        <a href="/digital-camera" target="_blank" class="img_wrapper"><img src="img/png/logos/digital_camera.png" alt=""></a>
                    </li>
                    <li class="item">
                        <div class="img_wrapper"><img src="img/png/logos/huffington.png" alt=""></div>
                    </li>
                    <li class="item">
                        <a href="https://youtu.be/_FNgGyG46is" target="_blank" class="img_wrapper"><img src="img/png/logos/tedx.png" alt=""></a>
                    </li>
                    <li class="item">
                        <div class="img_wrapper"><img src="img/png/logos/usaToday.png" alt=""></div>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <!--end section.featured_company-->

    <script>
          $('.submit-photo-btn').popover({
            trigger: 'focus'
          });
        function openNavbar() {
            document.getElementById('wrapper').classList.toggle('open_navbar');
        }

        function addId() {
            document.getElementById('input-id').style.display = "block";
            document.getElementById('add-id').style.display = "none";
        }

        $(document).ready(function () {
            $('.slider_challenge__slick').slick({
                slidesToShow: 1,
                slidesToScroll: 1,
                fade: true,
                arrows: true,
                dots: true,
                prevArrow:"<button type='button' class='slick-prev pull-left'><i class='fa fa-angle-left' aria-hidden='true'></i></button>",
                nextArrow:"<button type='button' class='slick-next pull-right'><i class='fa fa-angle-right' aria-hidden='true'></i></button>"
            });
            $('#countdown-1').timeTo({
                timeTo: new Date(new Date('Mon Apr 29 2019 00:00:00 GMT+0600 (Восточный Казахстан)')),
                displayDays: 2,
                displayCaptions: true,
                fontSize: 48,
                captionSize: 14,
                languages: {
                    pl: {days: 'Days', hours: 'Hours', min: 'Minutes', sec: 'Second'}
                },
                lang: 'pl'
            });
            $('#countdown-4').timeTo({
                timeTo: new Date(new Date('Mon Apr 29 2019 00:00:00 GMT+0600 (Восточный Казахстан)')),
                displayDays: 2,
                displayCaptions: true,
                fontSize: 48,
                captionSize: 14,
                languages: {
                    pl: {days: 'Days', hours: 'Hours', min: 'Minutes', sec: 'Second'}
                },
                lang: 'pl'
            });
            $('#countdown-2').timeTo({
                timeTo: new Date(new Date('Mon Apr 29 2019 00:00:00 GMT+0600 (Восточный Казахстан)')),
                displayDays: 2,
                displayCaptions: true,
                fontSize: 48,
                captionSize: 14,
                languages: {
                    pl: {days: 'Days', hours: 'Hours', min: 'Minutes', sec: 'Second'}
                },
                lang: 'pl'
            });
            $('#countdown-3').timeTo({
                timeTo: new Date(new Date('Mon Apr 29 2019 00:00:00 GMT+0600 (Восточный Казахстан)')),
                displayDays: 2,
                theme: "black",
                displayCaptions: true,
                fontSize: 48,
                captionSize: 14,
                languages: {
                    pl: {days: 'Days', hours: 'Hours', min: 'Minutes', sec: 'Second'}
                },
                lang: 'pl'
            });
        });
    </script>

    <!--<div class="container">-->

        <!--<h1>Welcome!</h1>-->

        <!--<p>52Frames is an established photography community (~3,000 people, ~600 active participants) from over 50-->
            <!--different-->
            <!--countries. Participants are mostly amateur photographers that have been participating in the project for-->
            <!--over 6-->
            <!--years now.-->
        <!--</p>-->

        <!--<style>-->
            <!--/* styles :) */-->
            <!--.temp-pre-small-font {-->
                <!--font-size: 10px-->
            <!--}-->

            <!--countdown-timer .default-view {-->
                <!--font-size: 22px;-->
            <!--}-->

            <!--.temp-timer-holder {-->
                <!--padding: 10px;-->
            <!--}-->

            <!--.temp-time-holder {-->
                <!--border: 1px solid #ccc;-->
                <!--display: inline-block;-->
                <!--text-align: center;-->
                <!--margin-right: 7px;-->
                <!--width: 65px;-->
            <!--}-->

            <!--.temp-timer-digit {-->
                <!--font-size: 32px;-->
            <!--}-->

        <!--</style>-->


        <!--<div class="temp-note-YOU-MAY-WAIT-FOR-THE-ALBUM-DATA-TO-BE-AVAILABLE-BEFORE-ACTIVATING-THIS-ELEM-AND-ITS-CHILDREN"-->
             <!--ng-if="$root.albums_recent.album_current_week">-->


            <!--<p>&nbsp;</p>-->
            <!--<p>&nbsp;</p>-->


            <!--normal/default implementation of our countdown timer directive:-->
            <!--<countdown-timer ng-if="$root.albums_recent.album_current_week"-->
                             <!--utc-target-time="$root.albums_recent.album_current_week.end_date_utc">-->
            <!--</countdown-timer>-->


            <!--<p>&nbsp;</p>-->


            <!--customized &#45;&#45;this is probably what you want (remaining time):-->
            <!--&lt;!&ndash; note: the HTML structure may change &#45;&#45;check it out so your css will target elements properly &ndash;&gt;-->

            <!--<countdown-timer ng-if="$root.albums_recent.album_current_week"-->
                             <!--utc-target-time="$root.albums_recent.album_current_week.end_date_utc"-->
                             <!--save-timer-data-here="thisVarIsInitiatedHereButWillHaveDataAndAlsoBeInScopeAutom"-->
                             <!--ng-show="thisVarIsInitiatedHereButWillHaveDataAndAlsoBeInScopeAutom">-->

                <!--&lt;!&ndash; (technique) ng-if: waits for the album first, then starts running the scripts of this directive &#45;&#45;you can control that, this way &ndash;&gt;-->
                <!--&lt;!&ndash; (technique) ng-show: preloads everything first (lets the scripts run), before showing the below children elements to the screen of the user &ndash;&gt;-->


                <!--&lt;!&ndash; please name the variables properly :) &ndash;&gt;-->


                <!--&lt;!&ndash;<span>this can be the final variable name: (you decide)</span>&ndash;&gt;-->
                <!--&lt;!&ndash;<span>(example) remaining days: {{ currentWeekRemainingTime.days }}days</span>&ndash;&gt;-->


                <!--&lt;!&ndash; slightly formatted &ndash;&gt;-->

                <!--<div class="temp-timer-holder">-->

                    <!--<div class="temp-time-holder">-->
                        <!--<div class="temp-timer-digit">-->
                            <!--{{ thisVarIsInitiatedHereButWillHaveDataAndAlsoBeInScopeAutom.days }}-->
                        <!--</div>-->
                        <!--<div>days</div>-->
                    <!--</div>-->

                    <!--<div class="temp-time-holder">-->
                        <!--<div class="temp-timer-digit">-->
                            <!--{{ thisVarIsInitiatedHereButWillHaveDataAndAlsoBeInScopeAutom.hours }}-->
                        <!--</div>-->
                        <!--<div>hours</div>-->
                    <!--</div>-->

                    <!--<div class="temp-time-holder">-->
                        <!--<div class="temp-timer-digit">-->
                            <!--{{ thisVarIsInitiatedHereButWillHaveDataAndAlsoBeInScopeAutom.minutes }}-->
                        <!--</div>-->
                        <!--<div>minutes</div>-->
                    <!--</div>-->

                    <!--<div class="temp-time-holder">-->
                        <!--<div class="temp-timer-digit">-->
                            <!--{{ thisVarIsInitiatedHereButWillHaveDataAndAlsoBeInScopeAutom.seconds }}-->
                        <!--</div>-->
                        <!--<div>seconds</div>-->
                    <!--</div>-->

                <!--</div>-->


                <!--<p>you can add leading zer0s in front of the digits (useful when the value is less than ten) &#45;&#45;here's an-->
                    <!--example:-->
                    <!--{{ thisVarIsInitiatedHereButWillHaveDataAndAlsoBeInScopeAutom.seconds | digitsCount: 2 }}-->
                    <!--(seconds)-->
                <!--</p>-->


                <!--<div>all available data:</div>-->
                <!--<pre class="temp-pre-small-font">{{ thisVarIsInitiatedHereButWillHaveDataAndAlsoBeInScopeAutom | prettyJSON }}</pre>-->

            <!--</countdown-timer>-->


            <!--<p>&nbsp;</p>-->


            <!--<div>extras:</div>-->
            <!--<div>open the file <strong>/angular/common/directives.js</strong> &#45;&#45;to familiarize yourself and learn more about our use-cases.</div>-->
            <!--<div><strong>note:</strong> you can see all available html "params" that you can use in your templates, in that same directives.js file (see the <strong>scope{ }</strong> sections)</div>-->
            <!--<div>our /filters/ folder is also very useful, please check it out, so you can maximize the functions that we already have.</div>-->
            <!--<div>/services/challenge-helpers.js (in Angular it's just called Helpers) can help you generate album URLs, among other things; so you don't have to build those, just reuse what we already have.</div>-->
            <!--<div>ask me if you have other questions, so i can help you out &#45;&#45;something that you're looking for (or building now) could already be in the system, just ask me first :) thanks</div>-->
            <!--<div>//mantz</div>-->


            <!--<p>&nbsp;</p>-->


            <!--<div>$root.user: </div>-->
            <!--<div>this variable will have data when there is a user logged-in; will be empty "immediately" when the user logs-out</div>-->
            <!--<div>same with everything else that we have on the $root scope</div>-->
            <!--<pre class="temp-pre-small-font">{{ $root.user | prettyJSON }}</pre>-->


            <!--<p>&nbsp;</p>-->


            <!--<p>album-related data sources:</p>-->

            <!--<div>$root.albums_recent:</div>-->
            <!--<pre class="temp-pre-small-font">{{ $root.albums_recent | prettyJSON }}</pre>-->



        <!--</div>-->


        <!--<p>&nbsp;</p>-->
        <!--<p>&nbsp;</p>-->
        <!--<p>&nbsp;</p>-->
        <!--<p>&nbsp;</p>-->
        <!--<p>&nbsp;</p>-->
        <!--<p>&nbsp;</p>-->
        <!--<p>&nbsp;</p>-->
        <!--<p>&nbsp;</p>-->
        <!--<p>&nbsp;</p>-->
        <!--<p>&nbsp;</p>-->
        <!--<p>&nbsp;</p>-->

    <!--</div>-->

</div>