<form>
    <fieldset ng-disabled="processing">

        <div class="modal-content upload-confirmation" ng-show="album.user_has_uploaded">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Photo Submitted!</h4>
            </div>
            <div class="modal-body modal-padding-top">

                <div class="col-md-12 text-align-center">
                    <div class="alert alert-success masterpiece-submitted">
                        <h4>Congratulations! Your photo masterpiece has been submitted.</h4>
                        <div ng-show="album.upcoming_albums[0]" class="next-album">
                            Time to think about the next challenge, which is <a
                                target="_blank"
                                ng-href="/albums/{{
                                    album.upcoming_albums[0].year
                                }}/week-{{
                                    album.upcoming_albums[0].week_number
                                }}-{{
                                    album.upcoming_albums[0].shorturl
                                }}/challenge">{{ album.upcoming_albums[0].theme_title }}</a>,
                            which is going to begin in
                            <countdown-timer utc-target-time="album.upcoming_albums[0].start_date_utc"
                                             time-arrived-display="0h 0m 0s"
                                             day-or-hrs-only="1"
                                             make-inline="1">
                            </countdown-timer>.
                        </div>
                    </div>
                    <h4>This is the information you submitted:</h4>
                </div>

                <div class="col-md-8">
                    <img ng-src="{{ album.user_has_uploaded.hi_res_filename }}"
                         class="img-responsive border-radius-4px photo-spinner-bg">
                    <div class="clear-both">&nbsp;</div>
                </div>

                <div class="col-md-4">

                    <p ng-show="album.user_has_uploaded.title">
                        "{{ album.user_has_uploaded.title }}"
                    </p>

                    <div ng-show="album.user_has_uploaded.caption">
                        <div ng-hide="captionExpanded">
                            <div ng-bind-html="album.user_has_uploaded.caption | ellipsesAfter:variables.captionLimit.collapsed:true:true:'more':captionEllipsesCb | showAsHtml"></div>
                        </div>
                        <div ng-show="captionExpanded">
                            <div ng-bind-html="album.user_has_uploaded.caption | showAsHtml"></div>
                            <div class="caption-collapse"><a href="#" ng-click="collapseCaption()">less caption</a>
                            </div>
                        </div>
                    </div>

                    <div ng-show="album.user_has_uploaded.location" class="margin-same-as-p">
                        Photo Location: {{ album.user_has_uploaded.location }}
                    </div>

                    <div class="margin-same-as-p">
                        <a ng-click="showHideExifData()" class="link">EXIF Data:</a>
                        <div ng-show="showExifData">
                            <div ng-show="hasExifData(album.user_has_uploaded)">
                                <div ng-show="exifData.shutter">Shutter: {{ exifData.shutter }}</div>
                                <div ng-show="exifData.aperture">Aperture: {{ exifData.aperture }}</div>
                                <div ng-show="exifData.iso">ISO: {{ exifData.iso }}</div>
                                <div ng-show="exifData.lens">Lens: {{ exifData.lens }}</div>
                            </div>
                            <div ng-hide="hasExifData(album.user_has_uploaded)">
                                <div>No EXIF data available. Click <a href="#">here</a> if you'd like to know more about
                                    EXIF
                                    data and why it's important for this project.
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="margin-same-as-p">
                        <a ng-click="showHideCheckboxes()" class="link">Confirmation checkboxes:</a>
                        <div ng-show="showCheckboxes">
                            <div ng-show="album.extra_credit_title">
                                <input type="checkbox" ng-checked="album.user_has_uploaded.qualifies_extra_credit"
                                       disabled>
                                &nbsp;
                                This photo qualifies for the "Extra Credit" challenge: "{{ album.extra_credit_title }}"
                            </div>
                            <div>
                                <input type="checkbox" ng-checked="album.user_has_uploaded.is_graphic" disabled>
                                &nbsp;
                                This photo contains Graphic content.
                            </div>
                            <div>
                                <input type="checkbox" ng-checked="album.user_has_uploaded.has_nudity" disabled>
                                &nbsp;
                                This photo contains Nudity.
                            </div>
                        </div>
                    </div>

                    <div class="margin-same-as-p">
                        <div ng-show="album.tags || album.user_has_uploaded.tags">Tags: {{ getTags(album) }}</div>
                        <div ng-show="findCritiqueLevel(album.user_has_uploaded.critique_level).name">
                            Critique: "{{ findCritiqueLevel(album.user_has_uploaded.critique_level).name }}"
                        </div>
                        <div ng-show="showShootAndProc">Shooting and Processing: {{
                            getShootingAndProcessing(album.user_has_uploaded) }}
                        </div>
                        <div ng-show="showSubjectMatter">Subject Matter: {{ getSubjectMatters(album.user_has_uploaded)
                            }}
                        </div>
                    </div>

                    <!--<div class="margin-same-as-p">-->
                    <!--<div>What is your favorite part of 52Frames?</div>-->
                    <!--<div>{{ critiqueLevels[album.user_has_uploaded.critique_level] }}</div>-->
                    <!--</div>-->

                </div>

            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">
                    Looks Good!
                </button>

                <loading-spinner ng-show="processing"></loading-spinner>
                <button type="button" class="btn btn-danger" ng-show="!album.live && !album.after_upload_sched"
                        ng-click="deleteEntry()">
                    Delete Submission
                </button>
                <button type="button" class="btn btn-primary" ng-show="!album.after_upload_sched"
                        ng-click="editPhoto()">
                    Edit my Submission
                </button>

            </div>
        </div>

    </fieldset>
</form>