<div class="transcluded-content" ng-transclude ng-show="transcluded"></div>
<div ng-if="!transcluded" class="countdown-timer default-view">
    <div ng-hide="black === true" class="timeTo timeTo-white" style="font-family: Verdana, sans-serif; font-size: 48px;">
        <figure style="width:113px">
            <div class="first" style="width:45px; height:52px;">
                <ul style="left:5px; top:-52px">
                    <li>{{ days[0] }}</li>
                    <li>{{ days[0] }}</li>
                </ul>
            </div>
            <div style="width:45px; height:52px;margin-right:19px">
                <ul style="left:5px; top:-52px">
                    <li>{{ days[1] }}</li>
                    <li>{{ days[1] }}</li>
                </ul>
            </div>
            <figcaption style="font-size:14px;padding-right:19px">Days</figcaption>
        </figure>
        <figure style="max-width:93px">
            <div class="first" style="width:45px; height:52px;">
                <ul style="left:5px; top:-52px">
                    <li>{{ hours[0] }}</li>
                    <li>{{ hours[0] }}</li>
                </ul></div>
            <div style="width:45px; height:52px;">
                <ul style="left:5px; top:-52px">
                    <li>{{ hours[1] }}</li>
                    <li>{{ hours[1] }}</li>
                </ul>
            </div>
            <figcaption style="font-size:14px;">Hours</figcaption>
        </figure>
        <span>:</span>
        <figure style="max-width:93px">
            <div class="first" style="width:45px; height:52px;">
                <ul style="left:5px; top:-52px">
                    <li>{{ minutes[0] }}</li>
                    <li>{{ minutes[0] }}</li>
                </ul></div>
            <div style="width:45px; height:52px;">
                <ul style="left:5px; top:-52px">
                    <li>{{ minutes[1] }}</li>
                    <li>{{ minutes[1] }}</li>
                </ul>
            </div>
            <figcaption style="font-size:14px;">Minutes</figcaption>
        </figure>
        <span>:</span>
        <figure style="max-width:93px">
            <div class="first" style="width:45px; height:52px;">
                <ul style="left:5px; top:-52px">
                    <li>{{ seconds[0] }}</li>
                    <li>{{ seconds[0] }}</li>
                </ul></div>
            <div style="width:45px; height:52px;">
                <ul style="left:5px; top:-52px">
                    <li>{{ seconds[1] }}</li>
                    <li>{{ seconds[1] }}</li>
                </ul>
            </div>
            <figcaption style="font-size:14px;">Second</figcaption>
        </figure>
    </div>

    <div ng-show="black === true" class="timeTo timeTo-black" style="font-family: Verdana, sans-serif; font-size: 48px;">
        <figure style="width:113px">
            <div class="first" style="width:45px; height:52px;">
                <ul style="left:5px; top:-52px">
                    <li>{{ days[0] }}</li>
                    <li>{{ days[0] }}</li>
                </ul>
            </div>
            <div style="width:45px; height:52px;margin-right:19px">
                <ul style="left:5px; top:-52px">
                    <li>{{ days[1] }}</li>
                    <li>{{ days[1] }}</li>
                </ul>
            </div>
            <figcaption style="font-size:14px;padding-right:19px">Days</figcaption>
        </figure>
        <figure style="max-width:93px"><div class="first" style="width:45px; height:52px;">
            <ul style="left:5px; top:-52px">
                <li>{{ hours[0] }}</li>
                <li>{{ hours[0] }}</li>
            </ul>
        </div>
            <div style="width:45px; height:52px;">
                <ul style="left:5px; top:-52px">
                    <li>{{ hours[1] }}</li>
                    <li>{{ hours[1] }}</li>
                </ul>
            </div>
            <figcaption style="font-size:14px;">Hours</figcaption>
        </figure>
        <span>:</span>
        <figure style="max-width:93px">
            <div class="first" style="width:45px; height:52px;">
                <ul style="left:5px; top:-52px">
                    <li>{{ minutes[0] }}</li>
                    <li>{{ minutes[0] }}</li>
                </ul>
            </div>
            <div style="width:45px; height:52px;">
                <ul style="left:5px; top:-52px">
                    <li>{{ minutes[1] }}</li>
                    <li>{{ minutes[1] }}</li>
                </ul>
            </div>
            <figcaption style="font-size:14px;">Minutes</figcaption>
        </figure>
        <span>:</span>
        <figure style="max-width:93px">
            <div class="first" style="width:45px; height:52px;">
                <ul style="left:5px; top:-52px">
                    <li>{{ seconds[0] }}</li>
                    <li>{{ seconds[0] }}</li>
                </ul>
            </div>
            <div style="width:45px; height:52px;">
                <ul style="left:5px; top:-52px">
                    <li>{{ seconds[1] }}</li>
                    <li>{{ seconds[1] }}</li>
                </ul>
            </div>
            <figcaption style="font-size:14px;">Second</figcaption>
        </figure>
    </div>
</div>