<div ng-if="!$root.pageLoaded">
    <div class="container loading_container">
        <loading>Loading...</loading>
    </div>
</div>

<div ng-show="$root.pageLoaded">

    <div class="container about">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h1>About 52Frames</h1>
            </div>
            <div class="panel-body">

                <div class="col-md-4">
                    <img src="/img/52bw.jpg" class="img-responsive">
                    <small>Matt Goldsmith &#8211; Week 12 (2013) &#8211; &#8220;Black and White&#8221;</small>
                </div>

                <div class="col-md-8">
                    <h3>52Frames offers a <strong>guided weekly photography challenge</strong>,
                        designed to help you improve your skills.</h3>
                    <p>Every week, we send you a new assignment. You have 7 days to take your shot and share it with the
                        community. Together, we give feedback and guidance to help you grow. Oh, and it&#8217;s totally
                        free.</p>
                    <a href="/get-started" class="btn btn-info center-block">Join The Community</a>
                </div>

            </div>
        </div>

        <div class="panel panel-default mission">
            <div class="panel-heading">
                <h3>Our Mission</h3>
            </div>
            <div class="panel-body">

                <div class="summary">
                    <h3>52Frames has a single mission: to turn you into a truly awesome photographer.
                        We believe that the recipe for creating awesome photographers is actually pretty simple.
                        We call them the 3 C’s:</h3>
                </div>

                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4>CONSISTENCY</h4>
                        </div>
                        <div class="panel-body">
                            <p>Like any skill worth having, learning photography takes practice. And hard work. And
                                patience.<strong> That’s why the core of 52Frames is the weekly challenge.</strong>
                                Every week we present a photographic challenge designed to stimulate your creativity,
                                expand your expertise, and refine your personal voice. Don’t miss a week – the
                                consistency is kind of a big deal. I even said so in a <a
                                        href="http://www.youtube.com/watch?v=_FNgGyG46is" target="_blank">TEDx talk</a>.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4>COMMUNITY</h4>
                        </div>
                        <div class="panel-body">
                            <p>You don’t become great all by yourself. (Well, that one guy did, but we can all agree he
                                was a jerk, right?). It takes a community of support, motivation, and the occasional
                                tough love to help someone grow. <strong>At 52Frames, that means offering great
                                    critique, sharing inspiration, or even just walking around town with some other
                                    eager photographers.</strong></p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4>CREATIVITY</h4>
                        </div>
                        <div class="panel-body">
                            <p>And the 3rd, maybe most important C, and that’s creativity. Because at the end of the day
                                (or week?)<strong> you are gifting yourself a slice of creativity in your otherwise busy
                                    life.</strong> In this chaotic world of e-mails, meetings, and diapers, we invite
                                you to take a little “me-time.” To identify the beauty that surrounds all of us. To look
                                through that viewfinder… to wait for just the right moment… and to click.</p>
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>


    </div>

</div>