<!--<div class="newsletter" ng-hide="$root.user">-->
    <!--<form ng-submit="subscribeToNewsletter()">-->
        <!--<div class="container newsletter-holder">-->
            <!--<div class="container">-->
                <!--<h3>Sign up for our Weekly Newsletter!</h3>-->
            <!--</div>-->
            <!--<div>-->
                <!--<div class="col-md-7">-->
                    <!--Each week we send out a newsletter containing all the great highlights of the project,-->
                    <!--including album winners, popular tutorials, and general 52Frames photo goodness. Sign up for a-->
                    <!--weekly blast of colorful creativity in your inbox.-->
                <!--</div>-->
                <!--<div class="col-md-4 email" ng-hide="subscribed">-->
                    <!--<input type="email" ng-model="email" class="form-control" placeholder="Email Address"-->
                           <!--required="required" autocomplete="email">-->
                    <!--<span class="help-block">-->
                        <!--<span class="error">{{ email_error }}</span>-->
                    <!--</span>-->
                <!--</div>-->
                <!--<div class="col-md-1 submit" ng-hide="subscribed">-->
                    <!--<button class="btn btn-default">Subscribe</button>-->
                <!--</div>-->
                <!--<div class="col-md-5 subscribed" ng-show="subscribed">-->
                    <!--<span ng-show="already_subscribed" class="alert alert-success">-->
                        <!--You are already Subscribed to the Newsletter! 🙂-->
                    <!--</span>-->
                    <!--<span ng-hide="already_subscribed" class="alert alert-success">-->
                        <!--Thank you for your Subscription! 🙂-->
                    <!--</span>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</form>-->
<!--</div>-->

<!--<div class="social-media">-->
    <!--<div class="container">-->
        <!--<div class="col-md-6 col-md-offset-3 social-media-content">-->
            <!--<h4>52Frames.com - Where Photographers Click</h4>-->
            <!--<div>52Frames.com is a (free!) community of photography enthusiasts from around the world, working together-->
                <!--to-->
                <!--improve their photography skills. Join us to receive a guided photo challenge every week. Share your-->
                <!--work,-->
                <!--and get tons of feedback from a supportive community, as well as great tutorials, tips, and inspiration.-->
            <!--</div>-->
            <!--<ul class="social-footer-container">-->
                <!--<li class="facebook"><a href="https://www.facebook.com/52frames" target="_blank"><i-->
                        <!--class="fa fa-facebook"></i></a></li>-->
                <!--<li class="instagram"><a href="http://www.instagram.com/52frames" target="_blank"><i-->
                        <!--class="fa fa-instagram"></i></a></li>-->
                <!--<li class="twitter"><a href="https://www.twitter.com/52frames" target="_blank"><i-->
                        <!--class="fa fa-twitter"></i></a>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<!--<div class="as-featured clear-both">-->
    <!--<div class="container">-->
        <!--<h4>As Featured In:</h4>-->
        <!--<div>-->
            <!--<a href="http://www.buzzfeed.com/ryanhatesthis/dont-expect-me-to-feed-my-kid-there" target="_blank">-->
                <!--<img src="/img/buzzfeed.png"/>-->
            <!--</a>-->
            <!--<img src="/img/upworthy.png"/>-->
            <!--<img src="/img/huffington.png"/>-->
            <!--<img src="/img/yahoo.png"/>-->
            <!--<img src="/img/abc.png"/>-->
            <!--<img src="/img/usaToday.png"/>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->


<!--start Footer-->
<div class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 footer__navbar">
                <ul class="list_navbar">
                    <li><a href="/community-guidelines">Community Guidelines</a></li>
                    <li><a href="/privacy">Privacy Policy</a></li>
                    <li><a href="/terms">Terms of Service</a></li>
                    <li><a href="/contact">Contact Us</a></li>
                </ul>
            </div>
            <div class="col-md-6 footer__sub">
                <p class="sub">© 52Frames 2019</p>
            </div>
        </div>
    </div>
</div>
<!--end Footer-->