<form ng-submit="submit()">
    <div class="modal_main__header">
        <a data-fancybox data-src="#modal-sign-framer" data-dismiss="modal" class="btn_back" ng-click="back()">Back</a>
        <div class="block_caption_center">
            <span class="before_caption">This is something we like to call…</span>
            <p class="caption">The 52Frames Manifesto</p>
            <span class="after_caption">(Click each card below to accept)</span>
        </div>
    </div>
    <div class="modal_main__body">
        <ul class="list__checkout_accept">
            <li class="item">
                <div class="wrap">
                    <label for="commitment_understanding" class="click_wrapper" ng-click="hideErrors('commitment_understanding'); getActiveStep(0)">
                        <input type="checkbox"
                               id="commitment_understanding"
                               name="commitment_understanding"
                               id="accept1"
                               ng-model="manifestoInput.commitment_understanding"
                               ng-click="hideErrors('commitment_understanding')"
                        >
                        <div class="icon_wrapper"><img src="img/svg/accepted_icons/icon_accept1.svg" alt=""></div>
                        <div class="description">
                            <p>I understand that my only commitment is to submit one photo per week.</p>
                            <span ng-if="!manifestoInput.commitment_understanding && activeStep === 0" class="promp_thumb">
                                <i class="far fa-hand-point-right"></i>
                            </span>
                            <div class="click_accept">
                                    <span
                                            class="click"
                                            for="commitment_understanding"
                                            ng-click="hideErrors('commitment_understanding')"
                                    >
                                    Click to accept</span>
                                <span class="accepted">Nice and easy!<i class="icon_like"><img src="img/svg/thumbsUp.svg"></i></span>
                            </div>
                        </div>
                    </label>
                </div>
            </li>
            <li class="item">
                <div class="wrap">
                    <label for="understanding_to_release_the_notion_of_perfection" class="click_wrapper"
                           ng-click="hideErrors('understanding_to_release_the_notion_of_perfection'); getActiveStep(1)">
                        <input type="checkbox"
                               id="understanding_to_release_the_notion_of_perfection"
                               name="understanding_to_release_the_notion_of_perfection"
                               ng-model="manifestoInput.understanding_to_release_the_notion_of_perfection"
                               ng-click="hideErrors('understanding_to_release_the_notion_of_perfection')"
                        >
                        <div class="icon_wrapper"><img src="img/svg/accepted_icons/icon_accept2.svg" alt=""></div>
                        <div class="description">
                            <p>I promise that every photo I submit will be my own and it will be taken the week of the challenge.</p>
                            <span ng-if="!manifestoInput.understanding_to_release_the_notion_of_perfection && activeStep === 1" class="promp_thumb">
                                <i class="far fa-hand-point-right"></i>
                            </span>
                            <div class="click_accept">
                                <span class="click"
                                      for="understanding_to_release_the_notion_of_perfection"
                                      ng-click="hideErrors('understanding_to_release_the_notion_of_perfection')"
                                >
                                    Click to accept</span>
                                <span class="accepted">Let’s keep it fun & fair!<i class="icon_like"><img src="img/svg/thumbsUp.svg"></i></span>
                            </div>
                        </div>
                    </label>
                </div>
            </li>
            <li class="item">
                <div class="wrap">
                    <label for="being_constant_understanding" ng-click="hideErrors('being_constant_understanding'); getActiveStep(2)" class="click_wrapper">
                        <input type="checkbox"
                               id="being_constant_understanding"
                               name="being_constant_understanding"
                               ng-model="manifestoInput.being_constant_understanding"
                               ng-click="hideErrors('being_constant_understanding')"
                        >
                        <div class="icon_wrapper"><img src="img/svg/accepted_icons/icon_accept3.svg" alt=""></div>
                        <div class="description">
                            <p>I promise that no matter how crazy life gets, I will do my best to have 52Frames be a constant in my life.</p>
                            <span ng-if="!manifestoInput.being_constant_understanding && activeStep === 2" class="promp_thumb">
                                <i class="far fa-hand-point-right"></i>
                            </span>
                            <div class="click_accept">
                                <span class="click"
                                      ng-click="hideErrors('being_constant_understanding')"
                                      for="being_constant_understanding"
                                >
                                    Click to accept</span>
                                <span class="accepted">There’s no try, only do!<i class="icon_like"><img src="img/svg/thumbsUp.svg"></i></span>
                            </div>
                        </div>
                    </label>
                </div>
            </li>
            <li class="item">
                <div class="wrap">
                    <label ng-click="hideErrors('understanding_for_the_sake_of_consistency'); getActiveStep(3)"
                           for="understanding_for_the_sake_of_consistency" class="click_wrapper">
                        <input
                                type="checkbox"
                                name="understanding_for_the_sake_of_consistency"
                                ng-model="manifestoInput.understanding_for_the_sake_of_consistency"
                                ng-click="hideErrors('being_constant_understanding')"
                                id="understanding_for_the_sake_of_consistency">
                        <div class="icon_wrapper"><img src="img/svg/accepted_icons/icon_accept4.svg" alt=""></div>
                        <div class="description">
                            <p>I understand that submitting consistently every week is more important than every photo being a masterpiece.</p>
                            <span ng-if="!manifestoInput.understanding_for_the_sake_of_consistency && activeStep === 3" class="promp_thumb">
                                <i class="far fa-hand-point-right"></i>
                            </span>
                            <div class="click_accept">
                                <span
                                        ng-click="hideErrors('understanding_for_the_sake_of_consistency')"
                                        for="understanding_for_the_sake_of_consistency"
                                        class="click">Click to accept</span>
                                <span class="accepted">Perfection’s overrated anyways!<i class="icon_like"><img src="img/svg/thumbsUp.svg"></i></span>
                            </div>
                        </div>
                    </label>
                </div>
            </li>
            <li class="item">
                <div class="wrap">
                    <label ng-click="hideErrors('creative_process_understanding'); getActiveStep(4)" for="creative_process_understanding" class="click_wrapper">
                        <input
                                name="creative_process_understanding"
                                id="creative_process_understanding"
                                ng-model="manifestoInput.creative_process_understanding"
                                ng-click="hideErrors('creative_process_understanding')"
                                type="checkbox">
                        <div class="icon_wrapper"><img src="img/svg/accepted_icons/icon_accept5.svg" alt=""></div>
                        <div class="description">
                            <p>I will allow myself to be vulnerable in my creative process. I will treat 52Frames as a safe space to learn and grow.</p>
                            <span ng-if="!manifestoInput.creative_process_understanding && activeStep === 4" class="promp_thumb">
                                <i class="far fa-hand-point-right"></i>
                            </span>
                            <div class="click_accept">
                                <span
                                        ng-click="hideErrors('creative_process_understanding')"
                                        for="creative_process_understanding"
                                        class="click">Click to accept</span>
                                <span class="accepted">No Judgement Zone. Got it!<i class="icon_like"><img src="img/svg/thumbsUp.svg"></i></span>
                            </div>
                        </div>
                    </label>
                </div>
            </li>
        </ul>
    </div>
    <div class="modal_main__footer d-flex a-center j-flex-end">
        <span ng-show="errors.creative_process_understanding || errors.understanding_for_the_sake_of_consistency
            || errors.being_constant_understanding || errors.understanding_to_release_the_notion_of_perfection
            || errors.commitment_understanding" class="after_caption error">Hey, whoa, you need to sign the manifesto by clicking on each card!</span>
        <loading-spinner ng-show="processing"></loading-spinner>
        <button
                ng-disabled="processing"
                data-src="#modal-sign-create-account"
                href="javascript:;"
                class="btn_default btn_red"
                type="submit"
        >
            Hurray! Onto the last step!</button>
    </div>
</form>

<!--
ng-disabled="!manifestoInput.creative_process_understanding || !manifestoInput.understanding_for_the_sake_of_consistency
|| !manifestoInput.being_constant_understanding || !manifestoInput.understanding_to_release_the_notion_of_perfection
|| !manifestoInput.commitment_understanding"-->
