<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu+Mono">

<div ng-if="!$root.pageLoaded">
    <div class="container loading_container">
        <loading>Loading...</loading>
    </div>
</div>

<div ng-show="$root.pageLoaded">

    <div class="error_page">
        <div class="container">
            <div class="row">
                <div class="col-md-6 error_page">
                    <h2 class="title">Well, this is strange.</h2>
                    <h2 class="title">The page you requested does not exist.</h2>
                    <h2 class="title">They tell me it’s called a</h2>
                    <span class="error_text">“404 Error”</span>
                    <ul class="list_reasons">
                        <li class="title">Some reasons this might be:</li>
                        <li>Someone here at 52F Headquarters screwed up (very possible)</li>
                        <li>The page is out-dated and has been removed</li>
                        <li>The address (url) wasn’t typed correctly</li>
                        <li>The internet has a vendetta against you and is blocking your every move</li>
                    </ul>
                </div>
                <div class="col-md-6 error_page__box">
                    <div class="img_wrapper"><img src="img/jpg/404.jpg" alt=""></div>
                </div>
            </div>
            <div class="text-center">
                <a href="/" class="btn_default btn_icon"><i class="fas fa-home"></i>Click here to get back to our Homepage.</a>
            </div>
        </div>
    </div>

</div>