<modal class="modal fade" tabindex="-1" role="dialog" modal-on-destroy="fadeBackdrop()" modal-on-backdrop-click="goToParentUrl()">
    <div class="modal-dialog" role="document">

        <form ng-submit="saveChanges()">
            <fieldset ng-disabled="processing">

                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                                ng-click="goToParentUrl()"><span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">Daily Email Notification Emails</h4>
                    </div>
                    <div class="modal-body modal-padding-top">

                        <ui-view></ui-view>

                    </div>
                    <div class="modal-footer">
                        <div>
                            <loading-spinner ng-show="processing"></loading-spinner>
                            <!--<button type="submit" class="btn btn-primary">Save Changes</button>-->
                        </div>
                    </div>
                </div>

            </fieldset>
        </form>

    </div>
</modal>