<div ng-if="!$root.pageLoaded">
    <div class="container loading_container">
        <loading>Loading...</loading>
    </div>
</div>

<div ng-show="$root.pageLoaded" on-esc-key>
    <!--start section.challenge_view__intro-->
    <section class="challenge_view__intro">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2 column_left">
                    <a href="#" ng-click="goToAllChallenges()" class="btn_default btn_gray btn_icon"><i
                        class="fas fa-angle-left"></i>All Challenges</a>
                </div>
                <div class="col-md-8 challenge_view__intro_content">
                    <div class="block_caption">
                        <div class="block_caption__left"></div>
                        <div class="block_caption__center">
                            <h2 class="caption">Week {{ album.week_number }}: {{ album.theme_title }}</h2>
                            <h5 class="sub">Extra Credit: {{ album.extra_credit_title }}</h5>
                            <div class="row_btn" ng-if="!album.is_current_album"><a href="#" ng-click="goToAlbumPage()"
                                                                                    class="btn_default ng-binding">See
                                the album!</a></div>
                            <div class="info_about_next_challenge">
                                <span ng-if="album.before_upload_sched">To be submitted from:</span>
                                <span ng-if="album.before_upload_sched" class="date_submitted">Monday, {{ album.start_date | moment:'format':'MMMM D, YYYY' }} until Sunday, {{ album.end_date | moment:'format':'MMMM D, YYYY' }} (12:00 midnight, Eastern Time)</span>
                            </div>
                        </div>
                        <div class="block_caption__right">
                            <div
                                ng-if="(album.is_current_album || (!album.before_upload_sched && !album.after_upload_sched)) && album.end_date_utc"
                                class="timer">
                                <span class="title">Time Remaining:</span>
                                <countdown-timer
                                    utc-target-time="album.end_date_utc" time-arrived-display="00:00:00"
                                    time-arrived-callback="timerEnded()"
                                    ng-hide="(album.before_upload_sched || album.after_upload_sched) && !album.is_current_album"
                                ></countdown-timer>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <div ng-show="album.temp_cover_photo" class="img_wrapper"><img
                            src="{{ album.temp_cover_photo.photo.hi_res_filename }}" alt=""></div>
                    </div>
                    <div ng-bind-html="album.blurb | showAsHtml" class="description"></div>
                </div>
                <div class="col-md-2 column_right"></div>
            </div>
        </div>
    </section>
    <!--end section.challenge_view__intro-->
    <!--start section.challenge_view__content-->
    <section class="challenge_view__content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 box_left">
                    <a smooth-scroll-name="tips"></a>
                    <h4>Tips & Tutorials</h4>
                    <div ng-show="album.tips_body" ng-bind-html="album.tips_body | showAsHtml"></div>
                </div>
                <div class="col-md-6 box_right">
                    <h4>Extra Credit: {{ album.extra_credit_title }}</h4>
                    <div ng-show="album.extra_credit_body" ng-bind-html="album.extra_credit_body | showAsHtml"></div>
                </div>
            </div>
        </div>
    </section>
    <!--end section.challenge_view__content-->
    <!--start section.challenge_view__submit_photo-->
    <!--    challenge_view__submit_photo-->
    <section class="">
        <div class="container">
            <div class="challenge_view__submit_photo_row">
                <!--                <h2 class="caption">Remember, you can only submit photos taken during the week of the challenge!</h2>-->
                <!--                <span class="deadline">Deadline: {{-->
                <!--                            album.end_date | moment:'format':'MMMM D, YYYY'-->
                <!--                            }} - 11:59pm (Eastern US)</span>-->
                <!--                <div class="img_wrapper"><img src="img/svg/photographer.svg" alt=""></div>-->
                <a href="#" ng-click="onSubmitClicked()"
                   ng-show="$root.user.signed_manifesto && submitBtnVisible && (album.allows_uploads || album.is_current_album)"
                   class="btn_default btn_red">Submit Your Photo!</a>
                <a class="btn_default btn_red submit-photo-btn" ng-hide="$root.user.signed_manifesto"
                   data-placement="bottom"
                   tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-html="true" data-content="<div>
                           <p>Sign the <a class='link' onclick='angular.element(this).scope().signManifesto()'>Manifesto</a> to become a Framer and Submit your Masterpiece today! It only takes a few minutes!</p></div>"
                >
                    Submit Photo
                </a>
                <span>{{ $root.oldAlbumForUpload }}</span>
                <!--                <span class="sub">Have you seen my video about the best export settings for your photos? <a href="https://www.youtube.com/watch?v=OHw7ue0ZP_Q" target="_blank">Check it out!!</a></span>-->
            </div>

        </div>
    </section>
    <!--end section.challenge_view__submit_photo-->
    <!--start section.challenge_view__submit_photo-->
    <section class="challenge_view__content border_top_dashed">

        <div class="container">
            <div class="upcoming-challenges">
                <div class="block_caption">
                    <h4>Upcoming Challenges</h4>
                    <span class="sub_caption">Remember, you can only submit photos taken during the week of the challenge!</span>
                </div>
                <div class="list_upcoming">
                    <div class="list_upcoming__item">
                        <div class="wrap">
                            <h3 class="title">Week {{ album.week_number }}: {{ album.theme_title }} <em>(That’s THIS
                                Week!)</em></h3>
                            <div ng-show="album.extra_credit_title" class="row_data"><strong>Extra Credit: {{
                                album.extra_credit_title }}</strong></div>
                            <div class="row_data"><strong>Due:</strong> {{ album.end_date | moment:'format':'dddd, MMMM D, YYYY' }} at <strong>11:59pm, Eastern U.S. time</strong></div>
                        </div>
                    </div>
                    <div ng-repeat="nextAlbum in album.upcoming_albums" class="list_upcoming__item">
                        <div class="wrap">
                            <h3 class="title">Week {{ nextAlbum.week_number }}: {{ nextAlbum.theme_title }}</h3>
                            <div class="row_data" ng-show="nextAlbum.extra_credit_title"><strong>Extra Credit: {{
                                nextAlbum.extra_credit_title }}</strong></div>
                            <div class="row_data"><strong>Due:</strong> {{ nextAlbum.end_date | moment:'format':'dddd, MMMM D, YYYY' }} at <strong>11:59pm, Eastern U.S. time</strong></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--end section.challenge_view__submit_photo-->

    <!--modal for upload photo to old albums-->
    <allow-upload-photo current-album="album"></allow-upload-photo>
    <allow-upload-photo2
        uploadme="$root.uploadme"
        file="$root.file"
        current-album="album"></allow-upload-photo2>
    <allow-upload-photo3 current-album="album"></allow-upload-photo3>

    <script>
      $('#countdown-6').timeTo({
        timeTo: new Date(new Date('Fri Apr 12 2019 09:00:00 GMT+0600 (Восточный Казахстан)')),
        displayDays: 2,
        displayCaptions: true,
        fontSize: 48,
        captionSize: 14,
        languages: {
          pl: {days: 'Days', hours: 'Hours', min: 'Minutes', sec: 'Second'}
        },
        lang: 'pl'
      });
    </script>

    <!--<div class="container album-page challenge-page">


        <div class="panel panel-default">

            <div class="panel-heading">

                <div class="pull-right" ng-if="$root.user.max_admin_points>=100000">
                    <div class="btn-group">
                        <button type="button" class="btn btn-danger dropdown-toggle user-menu"
                                data-toggle="dropdown"
                                aria-expanded="false"
                                aria-haspopup="true">
                            .&nbsp;.&nbsp;.
                        </button>
                        <ul class="dropdown-menu pull-right">
                            <li class="bg-danger"
                                ng-show="$root.user.max_admin_points>=100000">
                                <a href="{{ albumPath }}">Album Page</a>
                            </li>
                            <li class="bg-danger"
                                ng-show="$root.user.max_admin_points>=200000">
                                <a class="link" ng-click="editAlbum()">Edit Album</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <h1>It's Week #{{ album.week_number }}: {{ album.theme_title }}!</h1>
                <a href="{{albumPath}}" ng-show="album.live"><img src="/img/birdy.jpg" width="200"></a>
                <div ng-hide="album.live">To be shot and submitted between {{
                    album.start_date | moment:'format':'dddd, MMMM D'
                    }}, and {{
                    album.end_date | moment:'format':'dddd, MMMM D, YYYY'
                    }} (midnight, Eastern)
                </div>
            </div>

            <div class="panel-body">

                <div class="col-md-12" ng-bind-html="album.blurb | showAsHtml"></div>

                <div class="col-md-6">
                    <a smooth-scroll-name="tips"></a>
                    <h3>Tips and Tuts for this week:</h3>
                    <div ng-show="album.tips_body" ng-bind-html="album.tips_body | showAsHtml"></div>
                    <div ng-hide="album.tips_body" class="info-coming-soon">Information Coming Soon</div>
                </div>

                <div class="col-md-6">
                    <a smooth-scroll-name="extra-credits"></a>
                    <h3>Extra Credit: {{ album.extra_credit_title }}</h3>
                    <div ng-show="album.extra_credit_body" ng-bind-html="album.extra_credit_body | showAsHtml"></div>
                    <div ng-hide="album.extra_credit_body" class="info-coming-soon">Information Coming Soon</div>
                </div>

                <div class="clear-both">&nbsp;</div>

                <div class="col-md-12 text-align-center" id="submitButtonSection">
                    <countdown-timer
                            ng-if="(album.is_current_album || (!album.before_upload_sched && !album.after_upload_sched)) && album.end_date_utc"
                            utc-target-time="album.end_date_utc"
                            time-arrived-display="00:00:00"
                            time-arrived-callback="timerEnded()"
                            ng-hide="(album.before_upload_sched || album.after_upload_sched) && !album.is_current_album">
                    </countdown-timer>
                    <div class="countdown-timer" ng-show="album.after_upload_sched">00:00:00</div>
                    <div class="countdown-timer" ng-show="album.before_upload_sched && !album.is_current_album">7d 0h 0m 0s</div>

                    <a href="#" tabindex="-1" class="btn btn-primary" ng-hide="$root.user"
                       data-placement="bottom"
                       data-toggle="popover"
                       data-trigger="focus"
                       data-html="true"
                       data-content="{{ variables.notSignedInPhotoSubmitHtml }}">
                        Submit Your Photo!
                    </a>
                    <div ng-show="$root.user">
                        <a href="#" tabindex="-1" class="btn btn-primary" ng-hide="$root.user.signed_manifesto"
                           data-placement="{{  popoverPlacement? popoverPlacement : 'bottom' }}"
                           data-toggle="popover"
                           data-trigger="focus"
                           data-html="true"
                           data-content="{{ variables.noManifestoPhotoSubmitHtml }}">
                            Submit Your Photo!
                        </a>
                        <div ng-show="$root.user.signed_manifesto">
                            <button class="btn btn-default"
                                    ng-show="album.before_upload_sched">
                                Challenge Has Not Started Yet
                            </button>
                            <button class="btn btn-primary"
                                    ng-click="submitPhoto()"
                                    ng-show="album.allows_uploads && !album.grace_period_running">
                                Submit Your Photo!
                            </button>
                            <div ng-show="shouldShowDeadline()">
                                <img src="/img/deadline.jpg">
                                <h4>The deadline for this week’s challenge has passed.</h4>
                                <h4 ng-show="album.upcoming_albums[0]">
                                    <em>Stay tuned for info on our next challenge:
                                        "<a target="_blank" ng-href="/albums/{{
                                                album.upcoming_albums[0].year
                                            }}/week-{{
                                                album.upcoming_albums[0].week_number
                                            }}-{{
                                                album.upcoming_albums[0].shorturl
                                            }}/challenge">{{ album.upcoming_albums[0].theme_title }}</a>"
                                    </em>
                                </h4>
                                <h4 ng-show="!album.live"><a href="https://www.facebook.com/groups/52fadmin/"
                                                             target="_blank">
                                    Join the discussion
                                </a> while you wait!!</h4>
                            </div>
                        </div>
                    </div>

                    <div ng-hide="shouldShowDeadline()">
                        <div>Have you seen my video about the best export settings for your photos?</div>
                        <div><a href="https://www.youtube.com/watch?v=OHw7ue0ZP_Q" target="_blank">Check it out!!</a>
                        </div>
                        <h4>Deadline: {{
                            album.end_date | moment:'format':'MMMM D, YYYY'
                            }} - 11:59pm (Eastern US)</h4>
                    </div>
                </div>

                <div class="col-md-12 text-align-center upcoming-challenges">

                    <hr>

                    <h3>Upcoming Challenges</h3>
                    <div>Remember, you can only submit photos taken during the week of the challenge!</div>

                    <div class="clear-both">&nbsp;</div>

                    <h4>Week {{ album.week_number }}: {{ album.theme_title }} <em>(That’s THIS Week!)</em></h4>
                    <div ng-show="album.extra_credit_title">
                        <strong>Extra Credit: {{ album.extra_credit_title }}</strong>
                    </div>
                    <div><strong>Due:</strong> {{
                        album.end_date | moment:'format':'dddd, MMMM D, YYYY'
                        }} at <strong>11:59pm, Eastern U.S. time</strong></div>

                    <div ng-repeat="nextAlbum in album.upcoming_albums" class="upcoming-album-holder">
                        <div>—</div>

                        <h4>Week {{ nextAlbum.week_number }}: {{ nextAlbum.theme_title }}</h4>
                        <div ng-show="nextAlbum.extra_credit_title"><strong>Extra Credit: {{
                            nextAlbum.extra_credit_title }}</strong></div>
                        <div><strong>Due:</strong> {{
                            nextAlbum.end_date | moment:'format':'dddd, MMMM D, YYYY'
                            }} at <strong>11:59pm, Eastern U.S. time</strong></div>
                    </div>

                </div>

                <div class="col-md-12">

                    <hr>

                    <h3>Past Challenges 2017</h3>

                    <ul>
                        <li><a href="#">Week 1: Self Portrait</a></li>
                        <li><a href="#">Week 2: Rule of Thirds</a></li>
                        <li><a href="#">Week 3: Black and White</a></li>
                        <li><a href="#">Week 4: Leading Lines</a></li>
                        <li><a href="#">Week 5: Falling</a></li>
                        <li><a href="#">Week 6: Complementary Colors</a></li>
                        <li><a href="#">Week 7: My Other Hobby</a></li>
                        <li><a href="#">Week 8: Religion</a></li>
                        <li><a href="#">Week 9: Negative Space</a></li>
                        <li><a href="#">Week 10: Pattern</a></li>
                        <li><a href="#">Week 11: High Key</a></li>
                        <li><a href="#">Week 12: Gratitude</a></li>
                        <li><a href="#">Week 13: Details</a></li>
                        <li><a href="#">Week 14: Big Picture</a></li>
                        <li><a href="#">Week 15: Street Photography</a></li>
                        <li><a href="#">Week 16: Lamp</a></li>
                        <li><a href="#">Week 17: Headspace</a></li>
                        <li><a href="#">Week 18: Abandoned</a></li>
                        <li><a href="#">Week 19: Paper</a></li>
                        <li><a href="#">Week 20: Looking into the Frame</a></li>
                        <li><a href="#">Week 21: Edited by Someone Else</a></li>
                        <li><a href="#">Week 22: Shadows</a></li>
                        <li><a href="#">Week 23: Geometric Shapes</a></li>
                        <li><a href="#">Week 24: Think!</a></li>
                        <li><a href="#">Week 25: Wabi Sabi</a></li>
                        <li><a href="#">Week 26: Single Focal Point</a></li>
                        <li><a href="#">Week 27: Magic Hour</a></li>
                        <li><a href="#">Week 28: Portrait of a Stranger</a></li>
                        <li><a href="#">Week 29: Rule of Odds</a></li>
                        <li><a href="#">Week 30: Light</a></li>
                        <li><a href="#">Week 31: Minimalist</a></li>
                        <li><a href="#">Week 32: Inspired by a Famous Photographer</a></li>
                        <li><a href="#">Week 33: Your Backyard</a></li>
                        <li><a href="#">Week 34: Poetry</a></li>
                        <li><a href="#">Week 35: Night Photography</a></li>
                        <li><a href="#">Week 36: Unexplored</a></li>
                        <li><a href="#">Week 37: Choose a Color</a></li>
                        <li><a href="#">Week 38: Water</a></li>
                        <li><a href="#">Week 39: Abstract</a></li>
                        <li><a href="#">Week 40: Blue Hour</a></li>
                        <li><a href="#">Week 41: Food</a></li>
                        <li><a href="#">Week 42: Signs</a></li>
                    </ul>

                </div>

                <div class="col-md-12">

                    <hr>

                    <h3>Past Challenges 2016</h3>

                    <ul class="col-md-4">
                        <li><a href="#">Week 1: Self-Portrait</a></li>
                        <li><a href="#">Week 2: Black and White</a></li>
                        <li><a href="#">Week 3: Greetings From</a></li>
                        <li><a href="#">Week 4: Shoot from Below</a></li>
                        <li><a href="#">Week 5: Shoot from Above</a></li>
                        <li><a href="#">Week 6: Levitation</a></li>
                        <li><a href="#">Week 7: Lines</a></li>
                        <li><a href="#">Week 8: Complementary Colors</a></li>
                        <li><a href="#">Week 9: Pattern</a></li>
                        <li><a href="#">Week 10: Kiss</a></li>
                        <li><a href="#">Week 11: Rule of Thirds</a></li>
                        <li><a href="#">Week 12: A Chair</a></li>
                        <li><a href="#">Week 13: Line from a Song</a></li>
                        <li><a href="#">Week 14: Negative Space</a></li>
                        <li><a href="#">Week 15: Magic Hour</a></li>
                        <li><a href="#">Week 16: Food</a></li>
                        <li><a href="#">Week 17: Macro</a></li>
                        <li><a href="#">Week 18: Red</a></li>
                    </ul>

                    <ul class="col-md-4">
                        <li><a href="#">Week 19: Blue</a></li>
                        <li><a href="#">Week 20: High Key</a></li>
                        <li><a href="#">Week 21: My Bedroom</a></li>
                        <li><a href="#">Week 22: Architecture</a></li>
                        <li><a href="#">Week 23: Abstract</a></li>
                        <li><a href="#">Week 24: Depth of Field</a></li>
                        <li><a href="#">Week 25: Books</a></li>
                        <li><a href="#">Week 26: 5:00</a></li>
                        <li><a href="#">Week 27: Water</a></li>
                        <li><a href="#">Week 28: Low Key</a></li>
                        <li><a href="#">Week 29: Transportation</a></li>
                        <li><a href="#">Week 30: Calm</a></li>
                        <li><a href="#">Week 31: Chaos</a></li>
                        <li><a href="#">Week 32: Night Photography</a></li>
                        <li><a href="#">Week 33: Portrait of a Stranger</a></li>
                        <li><a href="#">Week 34: Silhouette</a></li>
                        <li><a href="#">Week 35: Windows</a></li>
                        <li><a href="#">Week 36: Wabi Sabi</a></li>
                    </ul>

                    <ul class="col-md-4">
                        <li><a href="#">Week 37: Emotions</a></li>
                        <li><a href="#">Week 38: Hands</a></li>
                        <li><a href="#">Week 39: Path</a></li>
                        <li><a href="#">Week 40: Unity</a></li>
                        <li><a href="#">Week 41: Freeze the Action</a></li>
                        <li><a href="#">Week 42: Sound</a></li>
                        <li><a href="#">Week 43: In Your Bag</a></li>
                        <li><a href="#">Week 44: Ordinary Moment</a></li>
                        <li><a href="#">Week 45: Birds-eye</a></li>
                        <li><a href="#">Week 46: Masculinity</a></li>
                        <li><a href="#">Week 47: Break the Rules</a></li>
                        <li><a href="#">Week 48: Inspired by a Famous Photographer</a></li>
                        <li><a href="#">Week 49: B&W Minimalism</a></li>
                        <li><a href="#">Week 50: A Different Perspective</a></li>
                        <li><a href="#">Week 51: Two Challenges Combined</a></li>
                        <li><a href="#">Week 52: Artist’s Choice</a></li>
                    </ul>

                </div>

                <div class="col-md-12">

                    <hr>

                    <h3>Past Challenges 2015</h3>

                    <ul class="col-md-4">
                        <li><a href="#">Week 1: Self-Portrait</a></li>
                        <li><a href="#">Week 2: Silhouette</a></li>
                        <li><a href="#">Week 3: Lines</a></li>
                        <li><a href="#">Week 4: Complementary Colors</a></li>
                        <li><a href="#">Week 5: Greetings From</a></li>
                        <li><a href="#">Week 6: Love Story</a></li>
                        <li><a href="#">Week 7: Rule of Odds</a></li>
                        <li><a href="#">Week 8: Make a Statement</a></li>
                        <li><a href="#">Week 9: Black and White</a></li>
                        <li><a href="#">Week 10: Reflection</a></li>
                        <li><a href="#">Week 11: Ritual</a></li>
                        <li><a href="#">Week 12: Straight out of Camera</a></li>
                        <li><a href="#">Week 13: Levitation</a></li>
                        <li><a href="#">Week 14: Abstract</a></li>
                        <li><a href="#">Week 15: Nature</a></li>
                        <li><a href="#">Week 16: Through a Child’s Eye</a></li>
                    </ul>

                    <ul class="col-md-4">
                        <li><a href="#">Week 17: Macro</a></li>
                        <li><a href="#">Week 18: Behind the Scenes</a></li>
                        <li><a href="#">Week 19: A New Technique</a></li>
                        <li><a href="#">Week 20: Single Light Source</a></li>
                        <li><a href="#">Week 21: Architecture</a></li>
                        <li><a href="#">Week 22: Advertisement</a></li>
                        <li><a href="#">Week 23: Focus</a></li>
                        <li><a href="#">Week 24: Transportation</a></li>
                        <li><a href="#">Week 25: Dress Up</a></li>
                        <li><a href="#">Week 26: Negative Space</a></li>
                        <li><a href="#">Week 27: Water</a></li>
                        <li><a href="#">Week 28: Repetition</a></li>
                        <li><a href="#">Week 29: Street Photography</a></li>
                        <li><a href="#">Week 30: Unusual</a></li>
                        <li><a href="#">Week 31: Magic Hour</a></li>
                        <li><a href="#">Week 32: Edited by Someone Else</a></li>
                    </ul>

                    <ul class="col-md-4">
                        <li><a href="#">Week 33: Night Photography</a></li>
                        <li><a href="#">Week 34: Wabi Sabi</a></li>
                        <li><a href="#">Week 35: Fire</a></li>
                        <li><a href="#">Week 36: Dreams & Fantasies</a></li>
                        <li><a href="#">Week 37: Run</a></li>
                        <li><a href="#">Week 38: My Personality</a></li>
                        <li><a href="#">Week 39: Break the Rules</a></li>
                        <li><a href="#">Week 40: Sound</a></li>
                        <li><a href="#">Week 41: Inspired by a Famous Photographer</a></li>
                        <li><a href="#">Week 42: Future</a></li>
                        <li><a href="#">Week 43: Mashup</a></li>
                        <li><a href="#">Week 44: Emotion</a></li>
                        <li><a href="#">Week 45: Freeze the Action</a></li>
                        <li><a href="#">Week 46: Extreme Angle</a></li>
                        <li><a href="#">Week 47: Animals</a></li>
                        <li><a href="#">Week 48: Abandoned</a></li>
                        <li><a href="#">Week 49: Behind the Subject</a></li>
                        <li><a href="#">Week 50: Body</a></li>
                        <li><a href="#">Week 51: Two Challenges Combined</a></li>
                        <li><a href="#">Week 52: “52Frames: What I’ve Learned”</a></li>
                    </ul>

                </div>

            </div>

        </div>

    </div>

    <footer></footer>


    &lt;!&ndash; Scripts needed for the modals &ndash;&gt;
    <script src="/vendor/tinymce/js/tinymce/tinymce.min.js"></script>
    <script src="/vendor/plugins/tinymce.charcount.js"></script>
    <link href="/vendor/plugins/tinymce.charcount.css" rel="stylesheet">


    <div ng-if="$root.user.signed_manifesto && album.allows_uploads">

        &lt;!&ndash; Submit your Photo Modal &ndash;&gt;
        <div class="modal fade" id="uploadPhotoModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <upload-photo ng-if="album" album="album"
                              success-callback="uploadSuccessCallback(photo)"></upload-photo>
            </div>
        </div>

        &lt;!&ndash; Edit your Photo Modal &ndash;&gt;
        <div class="modal fade" id="editPhotoModal" tabindex="-1" role="dialog"
             ng-if="album.user_has_uploaded">
            <div class="modal-dialog" role="document">
                <edit-photo ng-if="album"
                            album="album"
                            photo="album.user_has_uploaded"
                            is-from-challenge-page="true"
                            success-callback="uploadSuccessCallback(photo)">
                </edit-photo>
            </div>
        </div>

        &lt;!&ndash; Submit Photo Success Modal &ndash;&gt;
        <div class="modal fade" id="uploadPhotoSuccessModal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
                <upload-photo-confirm ng-if="album" album="album"
                                      delete-success-callback="photoDeleteCallback(has_uploaded_before)">
                </upload-photo-confirm>
            </div>
        </div>

        &lt;!&ndash; Timer Ended Modal &ndash;&gt;
        <div class="modal fade" id="timerEndedModal" data-toggle="modal" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog modal-sm" role="document">
                <upload-timer-ended callback="swapTimerModalWithUploadForm()"></upload-timer-ended>
            </div>
        </div>

    </div>


    &lt;!&ndash; Edit Album modal &ndash;&gt;
    <div class="modal fade" id="editAlbumModal" tabindex="-1" role="dialog" ng-if="$root.user.max_admin_points>=200000">

        <script src="/vendor/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
        <link href="/vendor/jquery-ui-1.12.1.custom/jquery-ui.css" rel="stylesheet" type="text/css">

        <script src="/vendor/momentjs/2.10.6/moment.min.js"></script>

        <script src="/vendor/lugolabs/weekpicker.js"></script>
        <link href="/vendor/lugolabs/weekpicker.css" rel="stylesheet" type="text/css">

        <div class="modal-dialog modal-lg" role="document">
            <edit-album ng-if="album" album="album" extra-album-path="/challenge"></edit-album>
        </div>
    </div>-->

</div>