<div ng-if="!$root.pageLoaded">
    <div class="container loading_container">
        <loading>Loading...</loading>
    </div>
</div>

<div ng-show="$root.pageLoaded">

    <div class="container faq">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h1>Frequently Asked Questions</h1>
            </div>
            <div class="panel-body">
                <div class="col-md-3">
                    <ul class="nav nav-pills nav-stacked margin-10-0">
                        <li class="active"><a href="#general" data-toggle="tab" ng-click="scrollTo('#general')">General FAQ</a></li>
                        <li><a href="#members" data-toggle="tab" ng-click="scrollTo('#members')">Members FAQ</a></li>
                    </ul>
                </div>
                <div class="tab-content clearfix">

                    <div class="tab-pane active" id="general">
                        <div class="col-md-9">

                            <h3>About 52Frames:</h3>

                            <div class="panel-group">

                                <div class="panel panel-default">
                                    <button class="panel-heading" data-toggle="collapse" data-target="#whats-52frames">
                                        <span class="caret"></span>
                                        <h4 class="panel-title">What’s 52Frames all about anyway?</h4>
                                    </button>
                                    <div class="panel-collapse collapse" id="whats-52frames">
                                        <div class="panel-body">
                                            52Frames is about making you into a better photographer. It’s about helping
                                            you carve out some time for creativity during your week. 52Frames is a space
                                            where creatives from all over the world can communicate, experiment,
                                            support, and motivate. The cornerstone of 52Frames is the Weekly Challenge.
                                            Every week, members have 7 days to think, shoot, edit, and post a photo.
                                            It’s this creative exercise, along with ongoing feedback from the group,
                                            that makes 52Frames so special to our community.
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <button class="panel-heading" data-toggle="collapse" data-target="#rockstar">
                                        <span class="caret"></span>
                                        <h4 class="panel-title">I want to be a rock star photographer! How’s it
                                            work?</h4>
                                    </button>
                                    <div class="panel-collapse collapse" id="rockstar">
                                        <div class="panel-body">
                                            We’re not gonna lie, it takes some work. The core of the project is a weekly
                                            photo challenge. We stimulate your imagination with a directed assignment,
                                            supported by great lessons and a vibrant community – and you go and make
                                            magic. Submit your photo each week and we’ll give you some feedback to make
                                            your next week even better. There’s lots of other puzzle pieces beyond the
                                            weekly challenge: photowalks, screencasts, tutorials, discussions… but at
                                            the end of the day the single best way to improve your photography is to
                                            take a photo each week.
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <button class="panel-heading" data-toggle="collapse" data-target="#does-work">
                                        <span class="caret"></span>
                                        <h4 class="panel-title">So, does it work?</h4>
                                    </button>
                                    <div class="panel-collapse collapse" id="does-work">
                                        <div class="panel-body">
                                            In short: Yes, and it doesn’t matter. Photographers who stick with the
                                            weekly challenge see incredible improvement in their work. They know their
                                            gear better, they train their eyes to see the world differently and capture
                                            amazing scenes, they learn how to compose, expose, repose (okay, that last
                                            one doesn’t really make sense, but we really wanted a third verb that
                                            rhymed). That being said, the most important part of the project is taking
                                            the time each week to flex your creative muscle. The improvement of your
                                            skills is almost secondary to the creative exercise. With increased
                                            creativity, you’ll see the benefits in all aspects of your work and life –
                                            not just your photography.
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <button class="panel-heading" data-toggle="collapse" data-target="#cost">
                                        <span class="caret"></span>
                                        <h4 class="panel-title">Ok… What’s it going to cost me?</h4>
                                    </button>
                                    <div class="panel-collapse collapse" id="cost">
                                        <div class="panel-body">
                                            52Frames is, and will always be, free to participate. If you’d like to help
                                            support the community, for as little as $1 a week, you can become a patron
                                            over at <a href="http://patreon.com/52frames" target="_blank">our Patreon
                                            Page</a>.
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <button class="panel-heading" data-toggle="collapse" data-target="#can-join">
                                        <span class="caret"></span>
                                        <h4 class="panel-title">Can I join, please?</h4>
                                    </button>
                                    <div class="panel-collapse collapse" id="can-join">
                                        <div class="panel-body">
                                            <p>Sure, since you asked so nicely. All you need to do is <a
                                                    href="/get-started" target="_blank">sign the manifesto</a>! You will
                                                be issued an ID# within a few days and you can then check out the
                                                challenge of the week, and submit your photo, on <a href="/challenge"
                                                                                                    target="_blank">our
                                                    Challenge Page</a>.</p>
                                            <p>Check out our <a href="http://www.facebook.com/groups/52fadmin/"
                                                                target="_blank">52Frames Photographers Group</a> on
                                                Facebook to join the lively discussion that occurs each week, and you’ll
                                                be a part of the family in a flash. (Get it? Photography pun!)</p>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="clearfix"></div>

                            <h3>Joining 52Frames:</h3>

                            <div class="panel-group">

                                <div class="panel panel-default">
                                    <button class="panel-heading" data-toggle="collapse" data-target="#not-fancy">
                                        <span class="caret"></span>
                                        <h4 class="panel-title">Can I join the project if I don't have a fancy camera,
                                            or if I’m just using my phone?</h4>
                                    </button>
                                    <div class="panel-collapse collapse" id="not-fancy">
                                        <div class="panel-body">
                                            No. Only great cameras can make great photos. Wait. No. The other thing.
                                            <strong><b>Yes!</b></strong> Anyone who wants to improve their photography
                                            is welcome to join – we only ask that you commit to yourself to submit
                                            weekly and take part of the community discussions.
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <button class="panel-heading" data-toggle="collapse" data-target="#phone">
                                        <span class="caret"></span>
                                        <h4 class="panel-title">So… Wait. I can do this with my phone?</h4>
                                    </button>
                                    <div class="panel-collapse collapse" id="phone">
                                        <div class="panel-body">
                                            Yeah. If your phone has a camera. Listen, we definitely will want you to get
                                            to a point where you want to start taking advantage of all the extra
                                            features a real camera can offer, but we love how technology is making
                                            photography accessible to everyone these days. One thing to keep in mind –
                                            there might be some weekly challenges that require a bit more than your
                                            cameraphone can provide. In those cases, we’ll direct you to borrow a
                                            camera, or to use an app you can download to complete the challenge.
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <button class="panel-heading" data-toggle="collapse" data-target="#fancy-awards">
                                        <span class="caret"></span>
                                        <h4 class="panel-title">I have a lot of fancy photography awards or something
                                            something. Why should I join?</h4>
                                    </button>
                                    <div class="panel-collapse collapse" id="fancy-awards">
                                        <div class="panel-body">
                                            We encourage professional photographers to join our project for two main
                                            reasons. The first – you can always be better. (Sorry, we tried breaking it
                                            to you gently). Our community will offer you unbiased, thoughtful feedback
                                            on your work so you can continue to improve. The second – we’ve seen too
                                            many photographers burn out because of their professional work. Hell, we’ve
                                            experienced it ourselves. Being paid to take photos for other people can be
                                            draining. By taking on this personal creative challenge, we’re hoping to
                                            refuel your original passion for photography, allowing you to carve out some
                                            time to experiment in a judgement-free, risk-free environment, and cultivate
                                            your own artistic voice.
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <button class="panel-heading" data-toggle="collapse"
                                            data-target="#copyrighted-photos">
                                        <span class="caret"></span>
                                        <h4 class="panel-title">Will I lose my copyright by submitting my photos to your
                                            site?</h4>
                                    </button>
                                    <div class="panel-collapse collapse" id="copyrighted-photos">
                                        <div class="panel-body">
                                            No. We wanted to be clear about this by leaving this answer with just the
                                            single word “no,” but then it felt a bit cold. But, emphatically, the answer
                                            is no. Your photos are your photos. We will never, ever make any claim to
                                            the ownership of your photos, and we’re very sensitive to always crediting
                                            the photographer wherever your photos are displayed.
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <button class="panel-heading" data-toggle="collapse" data-target="#im-sold">
                                        <span class="caret"></span>
                                        <h4 class="panel-title">I’m sold. Where do I sign up?</h4>
                                    </button>
                                    <div class="panel-collapse collapse" id="im-sold">
                                        <div class="panel-body">
                                            <p>Sure, since you asked so nicely. All you need to do is <a
                                                    href="/get-started" target="_blank">sign the manifesto</a>! And you
                                                can then check out the challenge of the week, and submit your photo, on
                                                <a href="/challenge" target="_blank">our Challenge Page</a>.</p>
                                            <p>Check out our <a href="http://www.facebook.com/groups/52fadmin/"
                                                                target="_blank">52Frames Photographers Group</a> on
                                                Facebook to join the lively discussion that occurs each week, and you’ll
                                                be a part of the family in a flash. (Get it? Photography pun!)</p>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="clearfix"></div>

                            <h3>Questions about Photography:</h3>

                            <div class="panel-group">
                                <!--
                                                                <div class="panel panel-default">
                                                                    <button class="panel-heading" data-toggle="collapse" data-target="#how-camera">
                                                                        <span class="caret"></span>
                                                                        <h4 class="panel-title">Where can I learn more about how my camera works?</h4>
                                                                    </button>
                                                                    <div class="panel-collapse collapse" id="how-camera">
                                                                        <div class="panel-body">
                                                                            Where can I learn more about how my camera works? Two ways. First, by using
                                                                            your camera. We don’t mean to be flip here; that’s really the best way to
                                                                            learn. (And that’s what we are going to help you do). Second, check out our
                                                                            comprehensive <a href="/photography-guide" target="_blank">Guide for New
                                                                            Photographers</a>. We’ve collected some of the best
                                                                            tutorials from around the web and organized them into a coherent,
                                                                            self-guided syllabus. Third (we lied, sue us) – check out our <a
                                                                                href="/blog" target="_blank">Blog</a> where we
                                                                            regularly post great inspiration, tips, tutorials, and videos. <strong><b>Stick
                                                                            around,
                                                                            you’ll find some great stuff.</b></strong>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                -->
                                <div class="panel panel-default">
                                    <button class="panel-heading" data-toggle="collapse" data-target="#recommeded">
                                        <span class="caret"></span>
                                        <h4 class="panel-title">You have any recommendations for what DSLR I should
                                            buy?</h4>
                                    </button>
                                    <div class="panel-collapse collapse" id="recommeded">
                                        <div class="panel-body">
                                            Yes! Soon! Exclamation!
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <button class="panel-heading" data-toggle="collapse"
                                            data-target="#recommend-photographer">
                                        <span class="caret"></span>
                                        <h4 class="panel-title">Can you recommend a photographer?</h4>
                                    </button>
                                    <div class="panel-collapse collapse" id="recommend-photographer">
                                        <div class="panel-body">
                                            Yes! Soon! More exclamation!
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="clearfix"></div>

                            <h3>Partnering with Us:</h3>

                            <div class="panel-group">

                                <div class="panel panel-default">
                                    <button class="panel-heading" data-toggle="collapse"
                                            data-target="#id-like-to-advertise">
                                        <span class="caret"></span>
                                        <h4 class="panel-title">I’d like to advertise on 52Frames!</h4>
                                    </button>
                                    <div class="panel-collapse collapse" id="id-like-to-advertise">
                                        <div class="panel-body">
                                            Not a question, but we appreciate the enthusiasm. We work hard to ensure we
                                            deliver high-quality, highly-targeted ads to our users. We respect our
                                            users, and insist on working only with advertisers who do as well.
                                            Interested in learning more? Send us an email at <a
                                                href="mailto:ads@52frames.com">ads@52frames.com</a>.
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <button class="panel-heading" data-toggle="collapse" data-target="#sponsor">
                                        <span class="caret"></span>
                                        <h4 class="panel-title">How can I sponsor a Weekly Challenge?</h4>
                                    </button>
                                    <div class="panel-collapse collapse" id="sponsor">
                                        <div class="panel-body">
                                            First, have something awesome to offer our users. There are a limited number
                                            of Weekly Challenges (52, actually), so we want to make sure that the ones
                                            that are Sponsored are ones that fill us with pride to present. Second, <a
                                                href="mailto:partners@52frames.com">be in touch</a>.
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <button class="panel-heading" data-toggle="collapse"
                                            data-target="#great-content">
                                        <span class="caret"></span>
                                        <h4 class="panel-title">I’ve been around the block, and have some great content
                                            to offer your community. Can I?</h4>
                                    </button>
                                    <div class="panel-collapse collapse" id="great-content">
                                        <div class="panel-body">
                                            Possibly! Let’s talk. We love offering tailored, high-quality content to our
                                            users. We’re open to all sorts of partnerships. <a
                                                href="mailto:partners@52frames.com">Let’s talk</a>.
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <button class="panel-heading" data-toggle="collapse" data-target="#photo-tours">
                                        <span class="caret"></span>
                                        <h4 class="panel-title">I heard something about Photo Tours? I think we may be
                                            interested in something like that...?</h4>
                                    </button>
                                    <div class="panel-collapse collapse" id="photo-tours">
                                        <div class="panel-body">
                                            Hey there, explorer! Mosey on over to the Photo Walks section of the FAQ.
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="clearfix"></div>

                            <h3>Photowalks:</h3>

                            <div class="panel-group">

                                <div class="panel panel-default">
                                    <button class="panel-heading" data-toggle="collapse" data-target="#photo-walks">
                                        <span class="caret"></span>
                                        <h4 class="panel-title">Photowalks? What that?</h4>
                                    </button>
                                    <div class="panel-collapse collapse" id="photo-walks">
                                        <div class="panel-body">
                                            Photowalks are walks where we take photos. Right? Right. Ok, here’s more.
                                            Every month, in cities around the world, we get together to explore a bit
                                            and take some photos. This has a few great benefits: It gets us off our
                                            butts and into the real world. It connects us – in person – with our
                                            community. It allows us to see how other people shoot, and be immediately
                                            inspired. It will help you get married. (No joke! 2 of our Tel Aviv Framers
                                            got married after meeting at a photowalk!).
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <button class="panel-heading" data-toggle="collapse" data-target="#no-photowalk">
                                        <span class="caret"></span>
                                        <h4 class="panel-title">You don’t have a photowalk in my city. What’s up with
                                            that?</h4>
                                    </button>
                                    <div class="panel-collapse collapse" id="no-photowalk">
                                        <div class="panel-body">
                                            There’s absolutely nothing to photograph in your city. Just kidding! Want to
                                            organize your own photowalk? We’ll give you whatever support you need and
                                            help others find you. Be in touch with us to discuss. Email <a
                                                href="mailto:info@52frames.com">info@52frames.com</a>.
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <button class="panel-heading" data-toggle="collapse"
                                            data-target="#what-about-photo-tours">
                                        <span class="caret"></span>
                                        <h4 class="panel-title">What about photo tours? Do you lead those?</h4>
                                    </button>
                                    <div class="panel-collapse collapse" id="what-about-photo-tours">
                                        <div class="panel-body">
                                            We’re planning potential global tours in the future. In the meantime, if
                                            you’re visiting Tel Aviv and want us to run a photo tour for you here, email
                                            us at <a href="mailto:photowalks@52frames.com">photowalks@52frames.com</a>
                                            and we can work it out for you. Same goes if you want to propose photo tours
                                            anywhere else in the world, we have amazingly talented photographers from
                                            around the globe, and we can make some connections for you.
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <button class="panel-heading" data-toggle="collapse"
                                            data-target="#should-be-a-member">
                                        <span class="caret"></span>
                                        <h4 class="panel-title">Do I have to be a member of 52Frames to join the
                                            photowalk?</h4>
                                    </button>
                                    <div class="panel-collapse collapse" id="should-be-a-member">
                                        <div class="panel-body">
                                            Nope! All are welcome! No fancy camera required! We may have some tours that
                                            have limited spaces, in which we’ll give first access to Framers, but our
                                            main goal here is to spread photolove!
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>

                    <div class="tab-pane" id="members">
                        <div class="col-md-9">

                            <h3>The Weekly Challenge:</h3>

                            <div class="panel-group">

                                <div class="panel panel-default">
                                    <button class="panel-heading" data-toggle="collapse"
                                            data-target="#weekly-challenge">
                                        <span class="caret"></span>
                                        <h4 class="panel-title">Lemme shoot! Where do I find this week’s challenge?</h4>
                                    </button>
                                    <div class="panel-collapse collapse" id="weekly-challenge">
                                        <div class="panel-body">
                                            You can always find the week’s challenge on <a
                                                href="/challenge"
                                                target="_blank">this</a> page, along with
                                            great tips, tutorials and a look ahead at the coming weeks’ challenges.
                                            Bookmark it for
                                            easy access!
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <button class="panel-heading" data-toggle="collapse" data-target="#extra-credit">
                                        <span class="caret"></span>
                                        <h4 class="panel-title">What’s this “Extra Credit” thing all about?</h4>
                                    </button>
                                    <div class="panel-collapse collapse" id="extra-credit">
                                        <div class="panel-body">
                                            We’re excited to introduce the “Extra Credit” Challenge. Every week we’ll
                                            offer a small twist for more ambitious photographers who want some direction
                                            in pushing themselves just a bit harder. Each week, you can decide to take
                                            it on, or not. It’s extra credit!
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <button class="panel-heading" data-toggle="collapse" data-target="#submit-photo">
                                        <span class="caret"></span>
                                        <h4 class="panel-title">I got my shot! Where do I submit my photo?</h4>
                                    </button>
                                    <div class="panel-collapse collapse" id="submit-photo">
                                        <div class="panel-body">
                                            Simply go to our <a href="/challenge" target="_blank">Challenge Page</a>,
                                            click on the “Submit Your Photo” button towards the bottom of the page,
                                            upload your photo, check the appropriate boxes, and submit!
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <button class="panel-heading" data-toggle="collapse" data-target="#photo-submitted">
                                        <span class="caret"></span>
                                        <h4 class="panel-title">I submitted my photo, but I don’t see it on the
                                            site!</h4>
                                    </button>
                                    <div class="panel-collapse collapse" id="photo-submitted">
                                        <div class="panel-body">
                                            Your photos aren’t immediately visible. Once the week’s deadline hits
                                            (that’s every Sunday at midnight, Eastern U.S. time), our panel of judges
                                            select the week’s winners, and then we publish the album on our <a
                                                href="/albums" target="_blank">albums page</a>. This may take a few
                                            hours, but we’ll make an announcement on our <a
                                                href="http://www.facebook.com/groups/52fadmin/" target="_blank">Facebook
                                            Group</a> once the album is live! (So make sure you’ve joined the <a
                                                href="http://www.facebook.com/groups/52fadmin/"
                                                target="_blank">group</a>!)
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <button class="panel-heading" data-toggle="collapse" data-target="#winners-chosen">
                                        <span class="caret"></span>
                                        <h4 class="panel-title">How are the winners chosen?</h4>
                                    </button>
                                    <div class="panel-collapse collapse" id="winners-chosen">
                                        <div class="panel-body">
                                            <p>Bribery, pure and simple. (I kid, I kid.)</p>
                                            <p>52Frames is not a competition. There are no real winners and losers here
                                                at 52Frames. We do choose 3 photos to highlight in the beginning of the
                                                album, which we’ve judged to be the best representatives of our album.
                                                We take the judging very seriously (which, incidentally, is sometimes
                                                why there are delays posting the album). 52F has a special “committee”
                                                of volunteers that have been the project for many years. We consider
                                                storytelling, technique, creativity, and the connection between the
                                                photo and the week’s challenge. Sometimes we see a fantastic photo that
                                                feels like a “shoe-horn” (that’s what we call a photo that doesn’t
                                                reeeeally fit the theme), which is ok as a submission, but not for a
                                                “top 3 award”.</p>
                                            <p>Art is necessarily a subjective experience, so we try to assemble a panel
                                                of judges with different styles, tastes and preferences. Some of the
                                                most spirited arguments we’ve ever had were focused on which photograph
                                                should “win” a challenge. But we’re still friends. At the end of the
                                                day, it’s not about the likes and recognition, but more about submitting
                                                a photo, each week, consistently. So don’t worry too much about the
                                                accolades and worry more about what photo you are taking this week
                                                :)</p>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="clearfix"></div>

                            <h3>The Rules:</h3>

                            <div class="panel-group">

                                <div class="panel panel-default">
                                    <button class="panel-heading" data-toggle="collapse" data-target="#comm-guidelines">
                                        <span class="caret"></span>
                                        <h4 class="panel-title">I sure would love to see a page of the community
                                            guidelines, and rules. Where can I find such a thing?</h4>
                                    </button>
                                    <div class="panel-collapse collapse" id="comm-guidelines">
                                        <div class="panel-body">
                                            That wasn’t at all a contrived question that we had our fictional questioner
                                            pose! In fact, we do have such a page. <a href="/community-guidelines"
                                                                                      target="_blank">Over here</a>.
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <button class="panel-heading" data-toggle="collapse" data-target="#old-photos">
                                        <span class="caret"></span>
                                        <h4 class="panel-title">I have a great photo in my archive that’s PERFECT for
                                            this week. Can I submit it?</h4>
                                    </button>
                                    <div class="panel-collapse collapse" id="old-photos">
                                        <div class="panel-body">
                                            No. You may ONLY submit a photo that was taken taken during the week of the
                                            present challenge.
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <button class="panel-heading" data-toggle="collapse" data-target="#last-hours">
                                        <span class="caret"></span>
                                        <h4 class="panel-title">Can I submit a photo that was shot just a few hours
                                            before last week’s deadline?</h4>
                                    </button>
                                    <div class="panel-collapse collapse" id="last-hours">
                                        <div class="panel-body">
                                            No. The 52Frames project is a 7-day challenge, so push yourself to get one
                                            really creative and inventive shot, each week. The clock starts at 12:01am,
                                            each Monday, Eastern U.S. time, and ends at midnight Sunday, the following
                                            week. Don’t think too much, just do it. 🙂
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <button class="panel-heading" data-toggle="collapse" data-target="#change-photo">
                                        <span class="caret"></span>
                                        <h4 class="panel-title">Can I change my photo (or photo details) once I’ve
                                            submitted?</h4>
                                    </button>
                                    <div class="panel-collapse collapse" id="change-photo">
                                        <div class="panel-body">
                                            Yes. (See? It’s not all “no”s). Simply go to your <span
                                                ng-show="!$root.user || !$root.user.signed_manifesto">profile page</span><span
                                                ng-show="$root.user && $root.user.signed_manifesto"><a
                                                href="/photographer/{{$root.$navbar.getSelfHandleOrId()}}"
                                                target="_blank">
                                                    profile page
                                                </a></span>, and click on
                                            the photo you submitted to bring up the details. You should be able to edit
                                            all your information, including replacing the photo, so long as the weekly
                                            deadline hasn’t passed.
                                            Once the deadline has passed, you can still edit your caption text, but you
                                            can no longer replace your photo.
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <button class="panel-heading" data-toggle="collapse" data-target="#deadline">
                                        <span class="caret"></span>
                                        <h4 class="panel-title">When is the deadline for the weekly challenge?</h4>
                                    </button>
                                    <div class="panel-collapse collapse" id="deadline">
                                        <div class="panel-body">
                                            The deadline each week is Sunday night at midnight (11:59pm) Eastern U.S.
                                            time. See those timers we have all over the site? Yea, those are sync’d to
                                            the deadline time! (When in doubt, just google: “What time is it in New
                                            York”), but your best bet is simply not to wait until the last minute.
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <button class="panel-heading" data-toggle="collapse" data-target="#missed">
                                        <span class="caret"></span>
                                        <h4 class="panel-title">If I miss a week, am I allowed to continue the
                                            project?</h4>
                                    </button>
                                    <div class="panel-collapse collapse" id="missed">
                                        <div class="panel-body">
                                            Yes! But you will no longer be considered a “Weekly Warrior”, and you won’t
                                            be eligible for any badges or contests associated with it. While a
                                            successful 52-week run is ideal, we understand that life sometimes gets in
                                            the way, and it’s more important to just have fun, and post when you can! We
                                            believe consistency is the most important thing, so go ahead and submit a
                                            photo even if you’re not crazy about it! We’ll understand. (Also, some of
                                            the best shots we’ve seen were submitted by completely unenthusiastic
                                            members just trying to stay “consistent”).
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <button class="panel-heading" data-toggle="collapse" data-target="#submit-after">
                                        <span class="caret"></span>
                                        <h4 class="panel-title">Can I submit a photo after the deadline?</h4>
                                    </button>
                                    <div class="panel-collapse collapse" id="submit-after">
                                        <div class="panel-body">
                                            No. The deadline is a HARD deadline, like a turtle shell, or umm, a very
                                            stale piece of bread. Any submission sent in after Sunday 11:59pm Eastern
                                            U.S., will NOT be accepted for that week’s album.
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="clearfix"></div>

                            <h3>Other Questions:</h3>

                            <div class="panel-group">

                                <div class="panel panel-default">
                                    <button class="panel-heading" data-toggle="collapse" data-target="#tech-prob">
                                        <span class="caret"></span>
                                        <h4 class="panel-title">I have a tech-related problem, like I’m having trouble
                                            submitting my photo, or there’s something wrong with the site. Whom do I
                                            contact?</h4>
                                    </button>
                                    <div class="panel-collapse collapse" id="tech-prob">
                                        <div class="panel-body">
                                            Let me know! You can contact me using this <a href="/contact"
                                                                                          target="_blank">handy-dandy
                                            form</a> if you’re having
                                            trouble, or ask a question on the “<a
                                                href="https://www.facebook.com/groups/52fadmin/permalink/1286898628015360/"
                                                target="_blank">tech-support thread</a>”, where you’ll get a
                                            quicker response! We have a dedicated committee on the group that’s there to
                                            help out with any questions or problems you may have!
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <button class="panel-heading" data-toggle="collapse" data-target="#meet">
                                        <span class="caret"></span>
                                        <h4 class="panel-title">I want to meet you. Do you have regular meetups “in real
                                            life”?</h4>
                                    </button>
                                    <div class="panel-collapse collapse" id="meet">
                                        <div class="panel-body">
                                            Yes! 52Frames runs monthly “Photowalks” in different cities around the
                                            world. Tag Ernst in our <a href="http://www.facebook.com/groups/52fadmin/"
                                                                       target="_blank">Facebook Group</a> and he’ll
                                            point you in the right direction!
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default" ng-show="$root.user">
                                    <button class="panel-heading" data-toggle="collapse" data-target="#delete-account">
                                        <span class="caret"></span>
                                        <h4 class="panel-title">If I want to delete my account, how can I do that?</h4>
                                    </button>
                                    <div class="panel-collapse collapse" id="delete-account">
                                        <div class="panel-body">
                                            You should be able to delete your account by
                                            <a class="link" ng-click="openDeleteAccountModal()">clicking
                                                here</a>. You will then receive an Email notification after we erase all
                                            your Photos and related information about your account from our database.
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <button class="panel-heading" data-toggle="collapse" data-target="#question">
                                        <span class="caret"></span>
                                        <h4 class="panel-title">I have a question that’s not on here, whom do I
                                            ask?</h4>
                                    </button>
                                    <div class="panel-collapse collapse" id="question">
                                        <div class="panel-body">
                                            If you’re not already in our <a
                                                href="http://www.facebook.com/groups/52fadmin/" target="_blank">52Frames
                                            Photographers’ Facebook group</a>, check it out and ask your question there;
                                            we’re a very helpful community. You can also contact us using this <a
                                                href="/contact" target="_blank">handy-dandy form</a> if you’re having
                                            other trouble.
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>


    </div>

    <footer></footer>

</div>