<fieldset ng-disabled="processing">
    <div class="modal_main__header">
        <a ng-click="signupScreen()" data-src="#modal-choose-account" class="btn_back">Back</a>
        <p class="caption">Almost done! Please review your details below:</p>
    </div>
    <div class="modal_main__body">
        <form action="">
            <div class="row">
                <div class="col-md-8 box_fom">
                    <div class="group_double">
                        <span class="title">Name:</span>
                        <input type="text" value="{{ userData.firstname || '&nbsp;' }}">
                    </div>
                    <div class="group_double">
                        <span class="title">Email:</span>
                        <input type="text" value="{{ userData.email || '&nbsp;' }}">
                    </div>
                    <!--                        <div class="group_double">-->
                    <!--                            <span class="title">Account level:</span>-->
                    <!--                            <input type="text" value="{{ userData.is_fan ? 'Fan' : ' ' }}">-->
                    <!--                        </div>-->
                    <div class="frame_check">
                        <label for="check1" class="check_default" ng-click="hideErrors('terms')">
                            <input type="checkbox" id="check1" ng-click="hideErrors('terms')" ng-model="userData.terms">
                            <i class="icon_check"></i>
                            <span>I’ve read and agree to the <a href="/terms" target="_blank">Terms of Service</a></span>
                        </label>
                        <label for="newsletter"
                               class="check_default"
                               ng-model="userData.newsletter"
                               ng-click="hideErrors('newsletter')"
                        >
                            <input type="checkbox"
                                   id="newsletter"
                                   name="newsletter"
                                   ng-model="userData.newsletter"
                                   ng-click="hideErrors('newsletter')"
                            >
                            <i class="icon_check"></i>
                            <span>I understand I’ll be receiving the <br>Weekly Challenge email</span>
                        </label>
                    </div>
                    <div class="group_btn">
                        <loading-spinner ng-show="processing"></loading-spinner>
                        <a ng-disabled="processing" href="#" class="btn_default btn_red" ng-click="createAccount()">Create my account!</a>
                        <span class="yeah_promp">Yay! <i>:D</i></span>
                    </div>
                </div>
            </div>
        </form>
    </div>
</fieldset>