<form style="display: inline-block;">
    <fieldset ng-disabled="processing">
        <button class="btn btn-primary btn-sm" ng-hide="$root.user"
                data-placement="{{  popoverPlacement? popoverPlacement : 'bottom' }}"
                data-toggle="popover"
                data-trigger="focus"
                data-html="true"
                data-content="{{ variables.notSignedInFollowerHtml }}">
            Follow
        </button>
        <button class="btn btn-primary btn-sm" ng-show="$root.user && !imFollowing" ng-click="follow()">
            Follow
        </button>
        <button class="btn btn-default btn-sm following" ng-show="$root.user && imFollowing" ng-click="unfollow()">
        </button>
        <loading-spinner ng-show="processing"></loading-spinner>
    </fieldset>
</form>