<div class="modal_main modal_block modal_signup_framer">
    <div class="modal_main__header">
        <a data-src="#modal-choose-account" ng-hide="$root.user" ng-click="singupScreen()" class="btn_back">Back</a>
        <p class="caption">Terrific! Tell us a little about yourself:</p>
    </div>
    <div class="modal_main__body">
        <form ng-submit="submit()">
            <div class="row row_form">
                <div class="col-md-6 col-xs-12 row_group">
                    <div class="group">
                        <label for="photography_level">
                            <span class="title">What is your level of photography?<i class="red_asterisk">*</i></span>
                        </label>
                        <select name="photography_level"
                                id="photography_level"
                                ng-model="manifestoInput.photography_level"
                                ng-click="hideErrors('photography_level')"
                                required
                        >
                            <option value="beginner">Beginner - I enjoy taking photos</option>
                            <option value="beginner_dslr">Beginner DSLR - I shoot with a DSLR, I understand my
                                different
                                lenses and some camera features, but not much more
                            </option>
                            <option value="intermediate">Intermediate - I shoot with a DSLR and understand most of
                                my
                                settings, but still learning more.
                            </option>
                            <option value="advanced">Advanced - I understand my camera settings and will also
                                occasionally shoot with external flashes and stobes.
                            </option>
                            <option value="advanced_pro">Advanced Professional - I understand everything about how
                                to
                                take a photo, as well as studio lighting and at times make money with my
                                photography.
                            </option>
                        </select>
                        <span ng-if="errors.photography_level" class="error_text">Please fill out this field.</span>
                    </div>
                </div>
                <div class="col-md-6 col-xs-12 row_group">
                    <div class="group">
                        <label for="camera_type">
                            <span class="title">What kind of camera are you currently using?<i class="red_asterisk">*</i></span>
                        </label>
                        <select name="camera_type"
                                id="camera_type"
                                ng-model="manifestoInput.camera_type"
                                ng-click="hideErrors('camera_type')"
                                required
                        >
                            <option value="dslr_entry">DSLR - Entry Level</option>
                            <option value="dslr_pro">DSLR - Professional Level</option>
                            <option value="mirrorless">Mirrorless</option>
                            <option value="point_and_shoot">Point and Shoot</option>
                            <option value="phone">Phone</option>
                            <option value="other">Other</option>
                        </select>
                        <span ng-if="errors.camera_type" class="error_text">Please fill out this field.</span>
                    </div>
                </div>
                <div class="col-md-6 col-xs-12 row_group">
                    <div class="group">
                        <span class="title">What is your camera’s brand?</span>
                        <select>
                            <option value="">Canon, Nikon, Sony, etc.</option>
                            <option value="">Canon, Nikon, Sony, etc.</option>
                            <option value="">Canon, Nikon, Sony, etc.</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6 col-xs-12 row_group">
                    <div class="group">
                        <span class="title">What is your camera’s model?</span>
                        <select>
                            <option value="">D700, T20</option>
                            <option value="">D700, T20</option>
                            <option value="">D700, T20</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12 row_group">
                    <div class="group relative_help_container">
                        <label for="country">
                            <span class="title">What country do you live in?<i class="red_asterisk">*</i></span>
                        </label>
                        <select name="country" id="country" required
                                ng-options="country as country.name disable when country.disabled for country in countries"
                                ng-model="manifestoInput.country"
                                ng-change="changeCountry()"
                                autocomplete="shipping country"
                                ng-click="hideErrors('country')"
                                ng-mouseover="onFieldMouseOver(0, '.help_note_framer', true)"
                                ng-mouseleave="onFieldMouseOver(null, '.help_note_framer')"
                        >
                        </select>
                        <span ng-if="errors.country" class="error_text">Please fill out this field.</span>
                        <div class="help_note help_note_framer help_note_bottom">
                            We've had members from over 50 countries!! We'd love to map everyone out, and coordinate photowalk meetups, wherever possible!
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12 row_group" ng-show="manifestoInput.country.state_member_term">
                    <div class="group">
                        <label for="state">
                            <span class="title">Which {{ manifestoInput.country.state_member_term }}?<i class="red_asterisk">*</i></span>
                        </label>
                        <select name="state"
                                id="state"
                                ng-options="state as state.name for state in states"
                                ng-model="manifestoInput.state"
                                ng-change="changeState()"
                                autocomplete="shipping region"
                                ng-click="hideErrors('state')"
                        >
                            <option selected="selected"></option>
                        </select>
                        <span ng-if="errors.state" class="error_text">Please fill out this field.</span>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12 row_group">
                    <div class="group">
                        <label for="city">
                            <span class="title">City/Town (optional)</span>
                        </label>
                        <input id="city"
                               name="city"
                               type="text"
                               autocomplete="shipping locality"
                               bs3-typeahead
                               bs3-afterSelect="citySelected"
                               ng-model="manifestoInput.city"
                               ng-change="suggestCity()"
                               ng-click="hideErrors('city')"
                        >
                    </div>
                </div>
                <div class="col-md-12 col-xs-12 row_group">
                    <label for="check3" class="check_default">
                        <input ng-model="country_accept" type="checkbox" id="check3">
                        <i class="icon_check"></i>
                        <span style="font-size: 16px;">I agree that my Country and State can appear on the 52Frames Map and elsewhere on the site.</span>
                    </label>
                </div>
                <!--<div class="col-md-6 col-xs-12 row_group">
                    <div class="group">
                        <span class="title">Would you be interested in running a 52Frames photowalk in your city?</span>
                        <select name="photowalks"
                                id="photowalks"
                                ng-model="manifestoInput.photowalks"
                                ng-click="hideErrors('photowalks')"
                        >
                            <option selected="selected"></option>
                            <option value="yeah">Heck yea!</option>
                            <option value="not_for_me">Not for me, but I'd be interested in joining one!</option>
                            <option value="perhaps">Perhaps, would need to know more information.</option>
                        </select>
                    </div>
                </div>-->
                <div class="col-md-12 col-xs-12 row_group">
                    <div class="group">
                        <label for="how_did_hear">
                            <span class="title">How did you hear about us? (optional)</span>
                        </label>
                        <input id="how_did_hear"
                               name="how_did_hear"
                               type="text"
                               ng-model="manifestoInput.how_did_hear"
                        >
                    </div>
                </div>
                <div class="col-md-4 col-xs-12 row_group">
                    <div class="group">
                        <span class="title">Twitter</span>
                        <span class="input_add">
                            <i>@</i>
                            <input type="text"
                                   placeholder="Username"
                                   id="twitter_handle"
                                   aria-describedby="twitter_addon"
                                   autocomplete="twitter"
                                   ng-model="manifestoInput.twitter_handle"
                                   ng-click="hideErrors('twitter_handle')"
                            >
                        </span>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12 row_group">
                    <div class="group">
                        <span class="title">Instagram</span>
                        <span class="input_add">
                            <i>@</i>
                            <input type="text"
                                   placeholder="Username"
                                   id="instagram_handle"
                                   aria-describedby="instagram_addon"
                                   autocomplete="instagram"
                                   ng-model="manifestoInput.instagram_handle"
                                   ng-click="hideErrors('instagram_handle')"
                            >
                        </span>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12 row_group"></div>
            </div>
            <div class="group_btn">
                <input
                    ng-disabled="processing"
                    type="submit" class="btn_default btn_red" value="Time to sign the Manifesto!"/>
            </div>
        </form>
    </div>
</div>