<div ng-if="!$root.pageLoaded || $root.willSignManifesto">
    <div class="container loading_container">
        <loading>Loading...</loading>
    </div>
</div>

<div ng-show="$root.pageLoaded && !$root.willSignManifesto">

    <div class="container get-started">

        <div class="panel panel-default">

            <div class="panel-heading">
                <div class="intro">
                    <h2>Today is the first frame of the rest of your life.</h2>
                    <div>(Already a member? <a href="#" class="noOutline" data-toggle="modal" data-target="#loginModal">Login</a>
                        then head over to our Challenge page to submit)
                    </div>
                </div>
            </div>

            <div class="panel-body">
                <div class="col-md-5">
                    <img src="/img/get-started-plant.jpg" alt="Sarah Raanan – Week 2 (2014) – “In the Beginning”"
                         class="img-responsive">
                    <small>Sarah Raanan – Week 2 (2014) – “In the Beginning”</small>
                    <div class="clearfix"></div>
                </div>
                <div class="col-md-7">
                    <h4><strong>52Frames is a worldwide community of photography enthusiasts, undertaking a new photo
                        challenge each week, working together to improve their skills.</strong></h4>
                    <p>When you join the 52Frames community, you are ensuring that a moment of each week is dedicated to
                        creativity, passion and growth.</p>
                    <p>Also, all the cool people are doin it.. so yea, whatever, no big deal.</p>
                    <div class="clearfix"></div>
                    <p>Please
                        <button class="btn btn-primary" data-toggle="modal" data-target="#signupModal">Sign up</button>
                        to join.
                    </p>
                    <p>Once you’re in, we’ll add you to our Weekly Challenge email list. Keep an eye out for your first
                        assignment! You can unsubscribe from this email at any time!</p>
                    <div class="clearfix"></div>
                    <ul class="more-info">
                        <li>Have more questions about how it works?
                            Check out our official <a href="/about" target="_blank">“About”</a> page to learn more, and
                            make sure to <a href="http://www.facebook.com/52frames" target="_blank">“Like” us on
                                Facebook</a>.
                        </li>
                        <li>Something else on your mind? <a href="/contact" target="_blank">Send us a message!</a></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>

    <footer></footer>

</div>