<!--<div ng-show="$root.pageLoaded">

&lt;!&ndash;<div ng-show="$root.pageLoaded" on-esc-key>&ndash;&gt;

    <div class="container">

        <div class="btn-admin-actions pull-right" ng-if="userData.profile && $root.user.max_admin_points>=1000000">
            <div class="btn-group">
                <button type="button" class="btn btn-danger dropdown-toggle"
                        data-toggle="dropdown"
                        aria-expanded="false"
                        aria-haspopup="true">
                    Admin Actions <span class="caret"></span>
                </button>
                <ul class="dropdown-menu pull-right">
                    <li ng-show="$root.user.max_admin_points>=1000000">
                        <a href="#" ng-click="adminActions.openAssignRolesModal()">Assign Roles</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="panel panel-default" ng-show="userData">

            <div class="panel-heading">
                <h2 style="display: inline-block">
                    <span style="margin-right: 10px">{{ $root.$navbar.getSelfHandleOrName(userData) }}</span>
                    <button type="button" class="btn btn-sm btn-default"
                            ng-show="userData.profile && (userData.self_account || $root.user.max_admin_points>=100000)"
                            ng-click="openEditManifestoModal()">
                        Edit
                    </button>
                    <follow-unfollow ng-hide="userData.self_account"
                                     im-following="userData.im_following"
                                     target-user-id="userData.id">
                    </follow-unfollow>
                </h2>
                <user-city ng-show="userData.manifesto" user="userData"></user-city>
            </div>

            <div class="panel-body">

                <div ng-show="userData.manifesto">

                    <div class="clearfix">
                        <div class="col-md-1">
                            Followers:
                        </div>
                        <div class="col-md-11">
                            {{ userData.followers_count }}
                        </div>
                    </div>

                    <div class="clearfix">
                        <div class="col-md-1">
                            Following:
                        </div>
                        <div class="col-md-11">
                            {{ userData.following_count }}
                        </div>
                    </div>

                    <hr>

                    <div ng-show="userData.external_pages.length">

                        <div class="clearfix" ng-show="userData.external_pages.length">
                            <div ng-repeat="externalPage in userData.external_pages">
                                <div class="col-md-2">
                                    {{ externalPage.provider }} handle:
                                </div>
                                <div class="col-md-10">
                                    <a href="{{ externalPage.url }}" target="_blank" ng-show="externalPage.url">
                                        @{{ externalPage.handle }}
                                    </a>
                                    <span ng-hide="externalPage.url">
                                    @{{ externalPage.handle }}
                                </span>
                                </div>
                            </div>
                        </div>

                        <hr>

                    </div>

                    <div ng-show="userData.profile.photography_level || userData.profile.camera_type">
                        <div class="clearfix" ng-show="userData.profile.photography_level">
                            <div class="col-md-3">
                                Level of Photography:
                            </div>
                            <div class="col-md-9">
                                {{ userData.profile.photography_level }}
                            </div>
                        </div>

                        <div class="clearfix" ng-show="userData.profile.camera_type">
                            <div class="col-md-3">
                                Kind of camera being used:
                            </div>
                            <div class="col-md-9">
                                {{ userData.profile.camera_type }}
                            </div>
                        </div>

                        <hr>
                    </div>

                    <div ng-show="userData.profile.photowalks_level">
                        <div class="clearfix">
                            <div class="col-md-12">
                                Interested in running a 52Frames photowalks: {{ userData.profile.photowalks_level }}
                            </div>
                        </div>

                        <hr>
                    </div>

                    <div ng-show="userData.manifesto.why">
                        <div class="clearfix">
                            <div class="col-md-12">
                                <div>Why did you join us:</div>
                                <div>{{ userData.manifesto.why }}</div>
                            </div>
                        </div>

                        <hr>
                    </div>

                    <div ng-show="userData.profile || userData.gears.length || userData.software.length">
                        <div class="clearfix">
                            <div class="col-md-12">
                                <div><u>Other Manifesto Questions:</u></div>
                                <div>Current Streak: {{ userData.profile.current_streak }}</div>
                                <div>Profile photo url: {{ userData.profile.profile_photo }}</div>
                                <div>Shortbio: {{ userData.profile.shortbio }}</div>
                                <div>Gears: {{ userData.gears }}</div>
                                <div>Software: {{ userData.software }}</div>
                            </div>
                        </div>

                        <hr ng-show="userPhotos.length">
                    </div>

                    &lt;!&ndash;<div ng-show="userPhotos.length">
                        <div class="photos-holder" infinite-scroll="loadMorePhotos()">
                            <photo ng-repeat="photo in userPhotos" photo="photo" album="photo.album"
                                   edit-photo-callback="editPhoto(photo)"
                                   click-handler="viewPhoto(photo)"
                                   is-from-profile-page="true"></photo>
                        </div>
                    </div>&ndash;&gt;

                </div>

            </div>

        </div>

    </div>

    <footer></footer>

</div>-->

<!--NEW COMPONENT-->

<div ng-if="!$root.pageLoaded">
    <div class="container loading_container">
        <loading>Loading...</loading>
    </div>
</div>

<div ng-show="$root.pageLoaded">

    <!--start section.profile-->
    <section class="profile">
        <div class="profile__image_wrap relative_help_container">

            <div class="btn__admin_actions" ng-if="userData.profile && $root.user.max_admin_points>=1000000">
                <div class="dropdown dropdown_default">
                    <button type="button" class="btn_default dropdown-toggle"
                            data-toggle="dropdown"
                            aria-expanded="false"
                            aria-haspopup="true">
                        Admin Actions <i class="fas fa-angle-down"></i>
                    </button>
                    <ul class="dropdown-menu position_right">
                        <li ng-show="$root.user.max_admin_points>=1000000">
                            <a href="#" ng-click="adminActions.openAssignRolesModal()">Assign Roles</a>
                        </li>
                    </ul>
                </div>
            </div>

            <img ng-src="{{ userData.background ? userData.background.background_big : 'img/bg/background_panel.jpg' }}" alt="">

            <div ng-show="bgLoading" class="spinner_container spinner_white">
                <loading-spinner></loading-spinner>
            </div>
            <label for="addCover" class="change_cover"
                   ng-show="userData.profile && userData.self_account && !bgLoading">
                <input onchange="angular.element(this).scope().onAvatarChange(this.files, 'background')" type="file" id="addCover">
                <span class="change_cover__btn">You can replace the cover of your page.</span>
            </label>
        </div>

        <div class="profile__header">
            <div class="profile__header_information">
                <div class="img_wrapper relative_help_container">
                    <div ng-show="avatarLoading" class="spinner_container spinner_white">
                        <loading-spinner></loading-spinner>
                    </div>
                    <img ng-src="{{ userData.avatar ? userData.avatar.avatar_big : 'img/avatars/SVG/Avatar1.svg' }}" alt="">
                    <label for="addPhoto" class="change_photo"
                           ng-show="userData.profile && userData.self_account && !avatarLoading">
                        <input onchange="angular.element(this).scope().onAvatarChange(this.files, 'avatar')" type="file" id="addPhoto">
                        <span class="change_photo__btn"></span>
                    </label>
                </div>
                <div class="row_name">
                    <p class="name">
                        {{ $root.$navbar.getSelfHandleOrName(userData) }}
                        <button class="btn_edit"
                                ng-show="userData.profile && (userData.self_account || $root.user.max_admin_points>=100000)"
                                ng-click="openEditManifestoModal()">
                            <i class="fas fa-pencil-alt"></i>
                            <span class="tooltip">
                                <span class="text">Edit profile</span>
                            </span>
                        </button>
                    </p>
                </div>
                <div class="profile_info">
                    <div class="profile_info__item">
                        <span class="text">{{ userData.photosData.total + ((userData.photosData.total > 1) ? ' photos' : ' photo') }}</span>
                    </div>
                    <div class="profile_info__item">
                        <span class="text">Framer since {{ framerSince }}</span>
                    </div>
                    <div ng-hide="userData.dont_share_location" class="profile_info__item">
                        <address><i class="fas fa-map-marker-alt"></i>{{ userData.city.name + ', ' +
                            userData.city.country.name }}
                        </address>
                    </div>
                </div>
                <a href="#"
                   ng-click="userData.im_following ? unfollow() : follow()"
                   class="btn_default btn_icon btn_small btn_fallow"
                   ng-if="!userData.self_account" ng-click="">
                    <i class="fas fa-star"></i>
                    {{ userData.im_following ? 'Unfollow' : (userData.follows_me ? 'Follow back' : 'Follow') }}
                </a>
                <loading-spinner ng-show="processing2"></loading-spinner>
                <ul ng-show="userData.external_pages.length" class="networks">
                    <li ng-if="userData.external_pages[0]">
                        <a target="_blank" href="{{ userData.external_pages[0].handle }}">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li ng-if="userData.external_pages[1]">
                        <a target="_blank" href="{{ userData.external_pages[1].handle }}">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="profile__header_navbar">
                <ul class="list_navbar">
                    <li ng-click="toggleTabs(0)" ng-class="{'active' : tabs[0].active}"><a class="link">Photos</a></li>
                    <li ng-click="toggleTabs(1)" ng-class="{'active' : tabs[1].active}"><a class="link">About</a></li>
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle">Followers</a>
                        <div class="dropdown-menu">
                            <p ng-if="!userData.followers.data.length" class="head_title">Followers</p>
                            <ul class="list_followers">
                                <p ng-if="!userData.followers.data.length" class="no_data">No followers</p>
                                <li ng-repeat="follower in userData.followers.data">
                                    <a ng-click="goToUsersPage(follower)" href="#" class="wrap">
                                        <img src="img/avatars/SVG/Avatar10.svg" alt="" class="image">
                                        <span class="name">{{ follower.firstname + ' ' + follower.lastname }}</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle">Following</a>
                        <div class="dropdown-menu">
                            <p class="head_title">Following</p>
                            <ul class="list_followers">
                                <p ng-if="!userData.following.data.length" class="no_data">No following users</p>
                                <li ng-repeat="followingUser in userData.following.data">
                                    <a href="#" ng-click="goToUsersPage(followingUser)" class="wrap">
                                        <img src="img/avatars/SVG/Avatar10.svg" alt="" class="image">
                                        <span
                                            class="name">{{ followingUser.firstname + ' ' + followingUser.lastname }}</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li ng-click="toggleTabs(2)" ng-class="{'active' : tabs[2].active}"><a class="link">Loves</a></li>
                </ul>
            </div>
        </div>
        <div class="profile__body">
            <div class="container">
                <ul ng-if="tabs[0].active" class="profile_photo__list">
                    <p ng-if="!userData.photosData.data.length" class="no_data">No photos here</p>
                    <li ng-click="openPhoto(photo)" ng-repeat="photo in userData.photosData.data"
                        class="col-md-2 col-sm-3 col-xs-6 item">
                        <a href="#" class="img_wrapper"><img src="{{ photo.thumbnail_filename }}" alt=""></a>
                    </li>
                </ul>
                <div ng-if="tabs[1].active" class="row profile__about">
                    <div class="col-md-8 about_description">
                        <h5 class="caption">Bio</h5>
                        <p>{{ userData.profile.shortbio }}</p>
                    </div>
                    <div class="col-md-4 about_photo">
                        <h5 class="caption">Gear</h5>
                        <div class="about_photo__item">
                            <span class="title">Camera</span>
                            <a href="#" class="name">Nikon D7200</a>
                        </div>
                        <div class="about_photo__item">
                            <span class="title">Lens</span>
                            <a href="#" class="name">Nikkor 50mm 1.8</a>
                        </div>
                        <div class="about_photo__item">
                            <span class="title">Software</span>
                            <a href="#" class="name">Lightroom CC</a>
                            <a href="#" class="name">Photoshop CC</a>
                        </div>
                    </div>
                </div>
                <ul ng-if="tabs[2].active" class="profile_loves__list">
                    <p ng-if="!userData.loves.data.length" class="no_data">No liked photos here</p>
                    <li ng-click="openPhoto(photo, true)" ng-repeat="photo in userData.loves.data"
                        class="item col-md-2 col-sm-3 col-xs-6">
                        <div class="wrap">
                            <img src="{{ photo.thumbnail_filename }}" alt="">
                            <div class="wrap_description">
                                <span class="name">{{ photo.owner.handle || photo.owner.firstname + ' ' + photo.owner.lastname }}</span>
                                <div class="row_comments_like">
                                    <span class="likes"><span class="numbers">{{ photo.num_loves }}</span><i
                                        class="far fa-thumbs-up"></i></span>
                                    <span class="comments"><span class="numbers">{{ photo.num_comments }}</span><i
                                        class="far fa-comment"></i></span>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <!--end section.profile-->

    <!-- Scripts needed for the modals -->
    <script src="/vendor/tinymce/js/tinymce/tinymce.min.js"></script>
    <script src="/vendor/plugins/tinymce.charcount.js"></script>
    <link href="/vendor/plugins/tinymce.charcount.css" rel="stylesheet">


    <!-- Edit Photographer Modal -->
    <div class="modal fade" id="editManifestoModal" tabindex="-1" role="dialog"
         ng-if="userData.profile && (userData.self_account || $root.user.max_admin_points>=100000)">
        <div class="modal-dialog" role="document">
            <edit-manifesto user-data="userData"
                            ng-if="userData && editingManifesto"
                            success-callback="editProfileSuccess(userData)">
            </edit-manifesto>
        </div>
    </div>

    <!-- Assign Roles Modal -->
    <div class="modal fade" id="assignRolesModal" tabindex="-1" role="dialog"
         ng-if="userData.profile && $root.user.max_admin_points>=1000000">
        <div class="modal-dialog modal-sm" role="document">
            <assign-roles ng-if="userData" user-data="userData"></assign-roles>
        </div>
    </div>


    <!-- Edit Photo Modal -->
    <div class="modal fade" id="editPhotoModalOnProfilePage" tabindex="-1" role="dialog" ng-if="photoIsForEditing">
        <div class="modal-dialog" role="document">
            <edit-photo album="photoIsForEditing.album"
                        photo="photoIsForEditing"
                        is-from-profile-page="true"
                        modal-id="editPhotoModalOnProfilePage"
                        modal-closed-callback="editPhotoModalClosed()"
                        success-callback="editPhotoSuccess(photo)">
            </edit-photo>
        </div>
    </div>

</div>

<ui-view></ui-view>