<div ng-hide="csvFiles.isFetching">
    <h4 ng-hide="csvFiles.total">
        Welcome! Please try uploading a file. If you run into any issues, please let us know. Thanks!
    </h4>
    <div ng-show="csvFiles.total">
        <div>&nbsp;</div>
        <div ng-repeat="csvFile in csvFiles.records" class="clearfix animate-show-hide">
            <migration-tool-photos-tab-csv-file-management-upload-summary
                    on-delete="fileDeleted(csvFile)"
                    csv-file="csvFile">
            </migration-tool-photos-tab-csv-file-management-upload-summary>
        </div>
    </div>
</div>

<div ng-show="csvFiles.isFetching" class="text-align-center">
    <loading-spinner></loading-spinner>
</div>