<form ng-submit="finish()">
    <fieldset ng-disabled="processing">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Why?</h4>
            </div>
            <div class="modal-body">

                <div ng-show="$root.user">

                    <div class="form-group">
                        <label for="why" class="col-md-12 control-label align-left"
                               ng-click="hideErrors('why')">
                            What are you looking to achieve in 52Frames? WHY are you joining?<br>
                            (Really WHY.. take a moment to think about your answer)
                        </label>
                        <div class="col-md-12">
                            <textarea name="why" id="why" rows="10" class="form-control"
                                  ng-model="manifestoInput.why"
                                  ng-click="hideErrors('why')"></textarea>
                            <span class="help-block">
                                <span class="error">{{ errors.why[0] }}</span>
                            </span>
                        </div>
                    </div>

                </div>

            </div>
            <div class="modal-footer">

                <div ng-show="$root.user">
                    <button type="button" class="btn btn-link pull-left" ng-click="back()" data-dismiss="modal">< Back
                    </button>
                    <loading-spinner ng-show="processing"></loading-spinner>
                    <button type="submit" class="btn btn-primary">Finish!</button>
                </div>

            </div>
        </div>

    </fieldset>
</form>