<div ng-if="!$root.pageLoaded">
    <div class="container loading_container">
        <loading>Loading...</loading>
    </div>
</div>

<div ng-show="$root.pageLoaded">
<!--    <div ng-show="cardsRendering" class="cards_loader">-->
<!--        <loading-spinner></loading-spinner>-->
<!--    </div>-->
    <!--start section.album_intro-->
    <section id="albumWeek" class="album_intro">
        <div class="container-fluid">
            <div class="album_intro__header" style="display: flex; justify-content: space-between"></div>
            <div class="album_intro__body">
                <div class="album_week">
                    <div class="block_caption">
                        <div class="row__caption">
                            <div class="row__caption_left">
                                <a href="#" class="btn_default btn_gray btn_back" ui-sref="albumsList"><i class="fas fa-angle-left"></i>All Albums</a>
                            </div>
                            <div class="row__caption_center">
                                <h2 class="caption">Week {{ album.week_number }}: {{ album.theme_title }}</h2>
                            </div>
                            <div class="row__caption_right">
                                <div ng-show="$root.user.max_admin_points>=200000" class="dropdown dropdown_option">
                                    <button class="btn_option dropdown-toggle" data-toggle="dropdown"><i class="fas fa-ellipsis-h"></i></button>
                                    <ul class="dropdown-menu position_right small_list">
                                        <li>
                                            <a class="link" href="#" ng-click="makeAlbumPublic()">
                                                {{ album.publicly_visible ? "Make Album hidden" : "Make Album visible"}}
                                            </a>
                                        </li>
                                        <li>
                                            <a class="link" ng-click="editAlbum()">Edit Album</a>
                                        </li>
                                        <li class="bg-danger"
                                            ng-show="album.can_go_live && album.publicly_visible && $root.user.max_admin_points>=200000">
                                            <a class="link" ng-click="showAlbumSetLiveModal()">Set the Album to Live</a>
                                        </li>
                                        <li class="bg-danger"
                                            ng-show="album.live && $root.user.max_admin_points>=200000">
                                            <a href="#" class="link" ng-click="showAlbumSetLiveModal()">Change Winners</a>
                                        </li>
                                        <li>
                                            <a href="#" ng-click="deleteAlbum()" class="link">Delete album and challenge</a>
                                        </li>
                                        <li ng-show="album.live || album.after_upload_sched">
                                            <a class="link" ng-click="openBypassUploadModal()">Allow Someone to Upload</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <span ng-show="photos && !album.live">&sdot;</span>
                        <h5 class="sub">{{ album.year }} - {{ total_photos }} photos - Extra Credit Challenge: {{ album.extra_credit_title }}</h5>
                    </div>
                    <div class="text_description relative_help_container">
                        <p>
                            <span ng-class="{'hidden-block' : hiddenBlock}" id="shortBlurb" ng-show="album.short_blurb" ng-bind-html="album.short_blurb | showAsHtml"></span>
                        </p>
                    </div>
                    <div class="btn_row">
                        <a ng-if="!hiddenBtn" class="show_more" ng-click="showMore()" href="#">{{ hiddenBlock ? 'Show more' : 'Hide' }}</a>
                        <a ng-href="{{'/albums/' + album.year + '/week-' + album.week_number + '-' + album.shorturl + '/challenge#tips'}}" class="btn_default">Check out the Tips & Tutorials</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--start section.album_intro-->

    <!--start section.album_item-->
    <section class="album_item">
        <div class="album_item__filter">
            <div class="container-fluid">
                <div class="row">
                    <div class="album_item__filter_left">
                        <span class="title">View:</span>
                        <ul class="list_filter">
                            <li ng-repeat="button in viewData">
                                <button ng-click="viewFilter($index, button.filter, searchParams)" ng-class="{ 'active' : button.active }" class="btn_filter">
                                    <i class="{{ 'fas ' + button.iconClass }}">
                                        <span ng-if="button.value === 'New'">New</span>
                                    </i>
                                    {{ button.value }}
                                </button>
                            </li>
                        </ul>
                    </div>
                    <div class="album_item__filter_right">
                        <div class="group group_select">
                            <span class="title">Sort by:</span>
                            <select ng-model="sort_by" ng-change="onSortByChange($event)">
                                <option value="">Default (Top 3 then random)</option>
                                <option ng-show="$root.user.max_admin_points>=200000" value="loves, desc">Most Loved</option>
                                <option ng-show="$root.user.max_admin_points>=200000" value="loves, asc">Least Loved</option>
                                <option value="views, desc">Most Viewed</option>
                                <option value="comments, desc">Most Commented</option>
                                <option value="comments, asc">Least Commented</option>
                                <option value="new_random">Random</option>
                            </select>
                        </div>
                        <div class="group_search">
                            <span class="title">Search:</span>
                            <div class="group group_select">
                                <select ng-change="inputSearchParam = ''" ng-model="searchParam">
                                    <option value="username">Name</option>
                                    <!--<option value="country">Country</option>
                                    <option value="level">Level</option>-->
                                    <option value="tags">Tags</option>
                                </select>
                            </div>
                            <div class="group relative_help_container">
                                <select style="position: absolute; width: 85%; height: 100%; top: 0; left: 0; z-index: 100"
                                        ng-show="searchParam === 'level'" ng-model="levelParam">
                                    <option value="beginner">Beginner</option>
                                    <option value="beginner_dslr">Beginner DSLR</option>
                                    <option value="intermediate">Intermediate</option>
                                    <option value="advanced">Advanced</option>
                                    <option value="advanced_pro">Advanced Professional</option>
                                </select>
                                <div class="tags_field">
                                    <input
                                        ng-required="searchParam !== 'level'"
                                        ng-keyup="searchParam === 'tags' ? keyupFunction($event) : nameLifeSearch($event)"
                                        ng-blur="onTagsSearchFocus(false)"
                                        ng-focus="onTagsSearchFocus(true)"
                                        ng-model="inputSearchParam"
                                        type="search" placeholder="Type here"
                                        id="tagsInput"
                                        class="tags_input">
                                    <div class="tags_container">
                                        <div class="tags-list">
                                            <span class="tag-item" ng-repeat="tag in tags track by $index">
                                                {{ tag }}
                                                <button ng-click="deleteTag($index, $event)">×</button>
                                            </span>
                                        </div>
                                    </div>
                                    <div ng-show="lifeSearchVariants.length && tagsSearchFocus" class="tags_variants">
                                        <ul>
                                            <li ng-click="chooseTagVariant(item)" class="tag-item" ng-repeat="item in lifeSearchVariants">
                                                <span>{{ item }}</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <button ng-click="viewFilter()" class="btn_search"><i class="fas fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="album_item__gallery">
            <div class="container-fluid">
                <ul class="row album_item__gallery_list">
                    <photo ng-repeat="photo in photos" photo="photo"
                           album="album" on-start-render="startRepeat()"
                           on-finish-render="finishRender()"
                           edit-photo-callback="editPhoto(photo)"
                           click-handler="viewPhoto(photo)"></photo>
                </ul>
                <!--<div class="pagination">
                    <button ng-click="prevPage($event)"><</button>
                    <button ng-repeat="number in album.pagination">{{ number }}</button>
                    <button ng-click="nextPage($event)">></button>
                </div>-->
                <div style="text-align: center" class="photos-nothing-to-show" ng-hide="photos.length">
                    <div style="color: #fff; font-size: 24px;">No Photos to show.</div>
                </div>
                <div class="text-center row_btn_more">
                    <a ng-show="album.photosData.current_page !== album.photosData.last_page"
                       href="#" class="btn_default btn_red btn_icon" ng-click="showMorePhotos()"><i ng-if="loadingMore" class="fas fa-spinner"></i>Load more...</a>
                </div>
            </div>
        </div>
    </section>
    <!--end section.album_item-->
</div>

<!-- Make Album Live -->
<div class="modal fade" id="albumSetLive" role="dialog" ng-if="$root.user.max_admin_points>=200000">
    <div class="modal-dialog modal-lg" role="document">
        <album-make-live ng-if="album" album="album"></album-make-live>
    </div>
</div>

<!-- Edit Album modal -->
<div class="modal fade" id="editAlbumModal" tabindex="-1" role="dialog" ng-if="$root.user.max_admin_points>=200000">
    <script src="/vendor/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
    <link href="/vendor/jquery-ui-1.12.1.custom/jquery-ui.css" rel="stylesheet" type="text/css">

    <script src="/vendor/momentjs/2.10.6/moment.min.js"></script>

    <script src="/vendor/lugolabs/weekpicker.js"></script>
    <link href="/vendor/lugolabs/weekpicker.css" rel="stylesheet" type="text/css">

    <script src="/vendor/tinymce/js/tinymce/tinymce.min.js"></script>

    <div class="modal-dialog modal-lg" role="document">
        <edit-album ng-if="album" album="album"></edit-album>
    </div>
</div>

<!-- Bypass Upload Modal -->
<div class="modal fade" id="allowSomeoneToUploadModal" tabindex="-1" role="dialog"
     ng-if="$root.user.max_admin_points>=1000000 && (album.live || album.after_upload_sched)">
    <div class="modal-dialog modal-sm" role="document">
        <allow-upload-bypass album="album"></allow-upload-bypass>
    </div>
</div>
