<div class="col-md-12">

    <div class="alert alert-success">
        <div>
            <p>Unsubscribing you from the Daily Email Notifications...</p>
            <p>If you need to subscribe again, please contact a local admin for help.</p>
            <p>Thanks.</p>
        </div>
        <div ng-show="$success">
            <p>&nbsp;</p>
            <p>Success!</p>
            <p>You are now unsubscribed from the Daily Email Notifications.</p>
        </div>
    </div>

</div>