<div ng-if="!$root.pageLoaded">
    <div class="container loading_container">
        <loading>Loading...</loading>
    </div>
</div>


<div ng-show="$root.pageLoaded">
    <!--start section.photo_view-->
    <section class="photo_view">
        <div class="container-fluid">
            <div class="photo_view__gallery">
                <div class="photo_view__gallery_header">
                    <a href="#" ng-click="goBack()" class="back"><i class="fas fa-angle-left"></i>{{ pathArray[1] ===
                        'photographer' ? 'Back to profile' : 'Back to album'}}</a>
                    <a href="#" ng-click="goBack()" class="closed"><i class="fas fa-times"></i></a>
                </div>
                <div class="photo_view__gallery_body">
                    <ul class="photo_view__slider">
                        <button ng-show="photo.previousPhoto" ng-click="goPrev()" type="button"
                                class="photo_view__arrow arrow_left"><i class="fa fa-angle-left" aria-hidden="true"></i>
                        </button>
                        <button ng-show="photo.nextPhoto" ng-click="goNext()" type="button"
                                class="photo_view__arrow arrow_right"><i class="fa fa-angle-right"
                                                                         aria-hidden="true"></i></button>
                        <li class="item relative_help_container">
                            <div class="spinner_container_photo">
                                <loading-spinner ng-if="loading"></loading-spinner>
                            </div>
                            <div class="sensitive_content sensitive_content_for_item"
                                 ng-show="!photo.show && (photo.has_nudity || photo.is_graphic)">
                                <div class="photo_overlay_contains">
                                    <div class="overlay_contains">
                                        <div ng-show="photo.is_graphic" class="title">This photo may contain graphic
                                            content
                                        </div>
                                        <div ng-show="photo.has_nudity" class="title">This photo contains nude content
                                        </div>
                                        <button class="btn_default btn_red btn_small" ng-click="showPhoto()">Show
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="img_wrapper">
                                <img 52f-image-loading-error="analytics.photoLoadingError(photo.id)"
                                     52f-image-loaded="analytics.photoLoaded(photo.id)"
                                     ng-class="{ 'opacity' : !photo }" ng-src="{{ photo.hi_res_filename }}" alt="">
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="photo_view__gallery_footer">
                    <div class="photo_view__gallery_footer_left">
                        <span ng-show="photo.index && photo.count" class="photo_count">{{ photo.index }} <i>/</i> <span
                            class="rest">{{ photo.count }}</span></span>
                    </div>
                    <div class="photo_view__gallery_footer_center">
                        <ul class="photo_view__slider_small"></ul>
                    </div>
                    <div class="photo_view__gallery_footer_right">
                        <div class="row_btn">
                            <a ng-hide="$root.user" href="#" class="btn_like"
                               data-placement="bottom"
                               data-toggle="popover" data-trigger="focus" data-html="true" data-content="<div>
                               <p>You must be logged in to ‘heart’ a photo, you can
                               <a class='link'
                               data-toggle='modal' data-target='#loginModal' href='javascript:;'
                               onclick='angular.element(this).scope().openLogin()'>login here</a>
                               Don’t have an account yet?
                               <a class='link'
                               data-toggle='{{ !$root.activeStepOfManifesto ? 'modal' : null }}' data-target='#loginModal' href='javascript:;'
                               onclick='angular.element(this).scope().openSignUp()'>Sign up here</a>
                               , it only takes a minute!
                               </p></div>"
                            >
                                <i class="far fa-heart"></i>
                            </a>
                            <a ng-show="$root.user" href="#"
                               ng-click="heartPhoto(photo, $event); $event.stopPropagation()" class="btn_like">
                                <span ng-show="$root.user.max_admin_points>=90000"
                                      class="number">{{ photo.num_loves }}</span>
                                <i class="{{ photo.hearted ? 'fas fa-heart' : 'far fa-heart' }}"></i>
                            </a>
                            <a href="#comments" class="btn_comment anchor"><span
                                class="number">{{ photo.num_comments }}</span><i class="far fa-comment"></i></a>
                        </div>
                        <a href="#" class="btn_mark"><i class="far fa-flag"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--end section.photo_view-->
    <!--start section.photo_view_information-->
    <section id="comments" class="photo_view_information">
        <div class="container">
            <div class="photo_view_information__slider">
                <div class="item">
                    <div class="row">
                        <div class="col-md-8 photo_view_information__content">
                            <div ng-show="photo" class="photo_view_information__user">
                                <div class="user">
                                    <div class="user__image">
                                        <img ng-src="{{ photo.owner.avatar ? photo.owner.avatar.avatar_small : 'img/avatars/SVG/Avatar1.svg' }}" alt="">
                                    </div>
                                    <div class="user__name">
                                        <a href="/photographer/{{ $root.$navbar.getSelfHandleOrId(photo.owner) }}"
                                           target="_blank"
                                           class="name">{{ photo.owner.firstname + ' ' + photo.owner.lastname }}</a>
                                        <div class="row_btn__user">
                                            <a href="#" style="margin-right: 10px;"
                                               ng-hide="$root.user"
                                               data-placement="{{  popoverPlacement? popoverPlacement : 'bottom' }}"
                                               data-toggle="popover"
                                               data-trigger="focus"
                                               data-html="true"
                                               data-content="{{ variables.notSignedInFollowerHtml }}"
                                               class="btn_default btn_icon btn_small"
                                            >
                                                <i class="fas fa-star"></i>
                                                Follow
                                            </a>
                                            <a href="#" style="margin-right: 10px"
                                               ng-hide="photo.self_account || !$root.user"
                                               class="btn_default btn_icon btn_small"
                                               ng-click="imFollowing ? unfollow() : follow()"
                                            >
                                                <i class="fas fa-star"></i>
                                                {{imFollowing ? 'Unfollow' : 'Follow'}}
                                            </a>
                                            <loading-spinner ng-show="processing2"></loading-spinner>
                                            <loading-spinner ng-show="processing"></loading-spinner>
                                            <div ng-show="photo.meta_editable" class="dropdown dropdown_option">
                                                <button class="btn_option dropdown-toggle" data-toggle="dropdown"><i
                                                    class="fas fa-ellipsis-h"></i></button>
                                                <ul class="dropdown-menu position_right small_list">
                                                    <li><a href="#" ng-disabled="processing" ng-click="editPhoto()"
                                                           class="link_icon"><i class="fas fa-pencil-alt"></i>{{
                                                        photo.self_account ? 'Edit my photo' : 'Edit' }}</a></li>
                                                    <li><a href="#" ng-disabled="processing" ng-click="deletePhoto()"
                                                           class="link_icon"><i class="far fa-trash-alt"></i>Delete</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="description">
                                    <div class="row_title">
                                        <span class="title">“ {{ photo.title }} ”</span>
                                    </div>
                                    <p>
                                    <pre id="photo_caption" class="photo_caption"
                                         ng-bind-html="(open ? photo.caption : photo.short_caption) | showAsHtml"></pre>
                                    </p>
                                    <p>This photo qualifies for the "Extra Credit" challenge: {{
                                        photo.album.extra_credit_title }}</p>
                                </div>
                            </div>
                            <div class="photo_view_information__comments">
                                <ul class="list_comments">
                                    <li class="item" ng-repeat="comment in commentsHolder.comments">
                                        <comment-view comment="comment"
                                                      owner="comment.owner"
                                                      new-comment-callback="updatePhotoCommentsCount(comment, numPhotoComments, commentsLevelTotal)"
                                                      comment-deleted-callback="commentRemoved(comment, numPhotoComments, commentsLevelTotal)">
                                        </comment-view>
                                    </li>
                                </ul>
                                <div class="photo_view_information__add_comments">
                                    <div style="width: 100%" ng-show="$root.user">
                                        <comment-view
                                            new-comment-callback="newCommentAdded(comment, numPhotoComments, commentsLevelTotal)"
                                            dont-show-cancel-button="1"
                                            dont-show-replies="1"
                                            show-comment-hint="1"
                                            comment="newComment"
                                            is-new-comment="1"
                                            owner="$root.user"
                                            show-form="1">
                                        </comment-view>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 photo_view_information__sitebar">
                            <div class="wrap_advertising">
                                <img src="img/png/Ad.png" alt="">
                            </div>
                            <div ng-show="photo.critique_level === '52f-cc_regular'" class="critical_analysis">
                                <div class="critical_analysis__wrap">
                                    <img src="img/svg/emoji/emoji_1.svg" alt="" class="critical_analysis__icon">
                                    <div class="critical_analysis__text">Regular Critique</div>
                                </div>
                            </div>
                            <div ng-show="photo.critique_level === 'shred_away'" class="critical_analysis">
                                <div class="critical_analysis__wrap critical_analysis__shred">
                                    <img src="img/svg/emoji/emoji_2.svg" alt="" class="critical_analysis__icon">
                                    <div class="critical_analysis__text">Shred away! I feel no pain.</div>
                                </div>
                            </div>
                            <div ng-show="photo.critique_level === 'extra_sensitive'" class="critical_analysis">
                                <div class="critical_analysis__wrap critical_analysis__sensitive">
                                    <img src="img/svg/emoji/emoji_3.svg" alt="" class="critical_analysis__icon">
                                    <div class="critical_analysis__text">Please be extra sensitive with your critique
                                    </div>
                                </div>
                            </div>
                            <div ng-show="photo.critique_level === 'no_critique'" class="critical_analysis">
                                <div class="critical_analysis__wrap critical_analysis__critique">
                                    <img src="img/svg/emoji/emoji_4.svg" alt="" class="critical_analysis__icon">
                                    <div class="critical_analysis__text">Not interested in critique but feel free to
                                        comment
                                    </div>
                                </div>
                            </div>
                            <div ng-show="photo.exif_answers.length" class="sitebar_wrap camera_options">
                                <div class="camera_options__name">
                                    <div class="img_wrapper"><img src="img/svg/camera/Camera%20icon.svg" alt=""></div>
                                    <div class="description">
                                        <span class="name">Canon EOS Rebel SL2</span>
                                    </div>
                                </div>
                                <div class="camera_options__tools">
                                    <span ng-show="exif_answers[22]" class="tools">
                                        <img src="img/svg/camera/noun_1540533_cc.svg" alt="" class="icon">
                                        {{ exif_answers[22] }}
                                    </span>
                                    <span class="tools" ng-show="exif_answers[34]">
                                        <img src="img/svg/camera/noun_637706_cc.svg" alt="" class="icon">
                                        {{ exif_answers[34] }}
                                    </span>
                                    <span class="tools" ng-show="exif_answers[45]">
                                        <img
                                            src="img/svg/camera/iso-file-rounded-rectangular-outlined-interface-symbol.svg"
                                            alt="" class="icon">
                                        {{ exif_answers[45] }}
                                    </span>
                                    <span ng-show="exif_answers[55]" class="tools">
                                <img src="img/svg/camera/Group%20982.svg" alt="" class="icon">
                                {{ exif_answers[55] }}
                            </span>
                                    <span ng-show="exif_answers[298] !== 'The flash fired'" class="tools">
                                <img src="img/svg/camera/Path%20114.svg" alt="" class="icon">
                            </span>
                                    <span ng-show="exif_answers[298] === 'The flash fired'" class="tools">
                                <img src="img/svg/camera/Path%201141.svg" alt="" class="icon">
                            </span>
                                </div>
                            </div>
                            <div ng-show="photo.tags" class="sitebar_wrap tags_wrap">
                                <div class="sitebar_wrap__caption">
                                    <p class="caption">Tags</p>
                                </div>
                                <div class="tags_wrap__list">
                                    <span ng-repeat="tag in getTagsAsArray(photo.tags)" class="tag">{{ tag }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--end section.photo_view_information-->
</div>

<div ng-show="dontDownload" id="dontDownloadMessage">
    <p>52Frames does not allow saving of our photographer’s photos</p>
</div>