<form>
    <fieldset ng-disabled="processing">

        <div class="modal-content upload-bypass">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Allow Someone to Upload!</h4>
            </div>

            <div class="modal-body">

                <div class="clear-both">&nbsp;</div>

                <div class="col-md-12 font-size-14">
                    <div class="alert alert-warning">
                        <strong>Note:</strong> when you add a new User to this list, their existing Photo to this Album, along with its comments, likes, etc; will be deleted, so they can upload a new one.
                    </div>
                </div>

                <label class="col-md-12" for="new-user-input">Allow a user to upload to this album:</label>
                <div class="col-md-12">
                    <input type="text" class="form-control bg-white" autocomplete="off" id="new-user-input"
                           placeholder="First name, last name, nickname, email, or ID"
                           ng-change="suggestUsers()"
                           ng-model="input"
                           bs3-typeahead
                           bs3-displayText="generateSuggestDisplay"
                           bs3-highlighter="autoSuggestHighlighter"
                           bs3-afterSelect="userSelected"
                           bs3-matcher="suggestionMatcher">
                    <loading-spinner ng-show="processing" class="add-user-loading"></loading-spinner>
                    <span class="help-block">
                        <span class="error">{{ errors.input[0] }}</span>
                    </span>
                </div>

                <div class="clear-both">&nbsp;</div>

                <div ng-show="usersList.length && !loadingUsersList">
                    <h4 class="col-md-12 margin-same-as-p">These users can upload to the album:</h4>

                    <div class="col-md-12" ng-repeat="userData in usersList">
                        <div class="users-list-row">
                            <div class="suggestion-holder">
                                <img ng-src="{{ userData.user.avatar.avatar_small }}" class="avatar">
                                <div class="name-holder">
                                    <div>{{ userData.user.name }} {{ userData.user.handle ? '(' + userData.user.handle + ')' : '' }}</div>
                                    <div class="email-holder">{{ userData.user.email }}</div>
                                </div>
                            </div>
                            <loading-spinner class="users-list-loading" ng-show="userData.processing"></loading-spinner>
                            <div class="users-list-remove" ng-hide="userData.processing"
                                 ng-click="removeUser(userData)">
                                ×
                            </div>
                        </div>
                    </div>
                </div>

                <div ng-show="loadingUsersList" class="text-align-center">
                    <loading-spinner></loading-spinner>
                </div>

                <div class="clear-both">&nbsp;</div>

            </div>

            <div class="modal-footer"></div>
        </div>

    </fieldset>
</form>