

<div ng-if="!$root.pageLoaded">
    <div class="container loading_container">
        <loading>Loading...</loading>
    </div>
</div>

<div ng-show="$root.pageLoaded">

    <div class="digital_camera">
        <div class="container">
            <div class="row">
                <div class="col-md-6 digital_camera__image">
                    <div class="img_wrapper"><img src="/img/jpg/digital_camera1.jpg" alt=""></div>
                </div>
                <div class="col-md-6 digital_camera__image">
                    <div class="img_wrapper"><img src="/img/jpg/digital_camera2.png" alt=""></div>
                </div>
            </div>
        </div>
    </div>

</div>