<div ng-if="!$root.pageLoaded">
    <div class="container loading_container">
        <loading>Loading...</loading>
    </div>
</div>

<div ng-show="$root.pageLoaded">
    <div class="container">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h1>Email Links</h1>
            </div>
            <div class="panel-body">
                <p>Communication is important to us. That's why we have this page, for you!</p>
                <p>(Not completed yet)</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <div>
                    <button class="btn btn-large btn-info" ng-click="openDailyEmailNotifModal()">Daily Email
                        Notifications (unsubscribe)
                    </button>
                </div>
                <p>&nbsp;</p>
            </div>
        </div>

    </div>

    <footer></footer>
</div>

<ui-view></ui-view>