<div ng-if="!$root.pageLoaded">
    <div class="container loading_container">
        <loading>Loading...</loading>
    </div>
</div>

<div ng-show="$root.pageLoaded">

    <div class="container">

        <ul class="nav nav-tabs tabs-display-flex-on-mobile">
            <li ng-class="{'active': tab.active, 'pull-right': tab.pullRight}" ng-repeat="tab in tabsData.list">
                <a href="#" ng-class="{'margin-0-important': tab.margin0}" ng-click="tabsData.swapTabs(tab)">
                    {{tab.name}}
                </a>
            </li>
        </ul>

        <div class="panel panel-default border-top-none border-radius-top-none"
             ng-repeat="tab in tabsData.list" ng-show="tab.active">
            <div class="panel-body">
                <div ng-switch="tab.name">

                    <div ng-switch-when="Users">
                        <migration-tool-users-tab modals-connection="tab.modals"></migration-tool-users-tab>
                    </div>

                    <div ng-switch-when="Albums">
                        <migration-tool-albums-tab modals-connection="tab.modals"></migration-tool-albums-tab>
                    </div>

                    <div ng-switch-when="Photos">
                        <migration-tool-photos-tab modals-connection="tab.modals"></migration-tool-photos-tab>
                    </div>

                    <div ng-switch-when="Comments">
                        <p>&nbsp;</p>
                    </div>
                    <div ng-switch-when="Countries">
                        <p>&nbsp;</p>
                    </div>
                    <div ng-switch-when="States">
                        <p>&nbsp;</p>
                    </div>
                    <div ng-switch-when="Cities">
                        <p>&nbsp;</p>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

<p>&nbsp;</p>


<script src="/vendor/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
<link href="/vendor/jquery-ui-1.12.1.custom/jquery-ui.css" rel="stylesheet" type="text/css">

<script src="/vendor/momentjs/2.10.6/moment.min.js"></script>

<script src="/vendor/lugolabs/weekpicker.js"></script>
<link href="/vendor/lugolabs/weekpicker.css" rel="stylesheet" type="text/css">

<div ng-repeat="tab in tabsData.list">
    <div ng-switch="tab.name">

        <div ng-switch-when="Users">
            <div class="modal fade" tabindex="-1" role="dialog" id="userPage-uploadWizardModal">
                <div class="modal-dialog" role="document">
                    <migration-tool-users-page-upload-wizard modal-connection="tab.modals.uploadWizard">
                    </migration-tool-users-page-upload-wizard>
                </div>
            </div>
        </div>

        <div ng-switch-when="Albums">
            <div class="modal fade" tabindex="-1" role="dialog" id="albumPage-uploadWizardModal">
                <div class="modal-dialog" role="document">
                    <migration-tool-albums-page-upload-wizard modal-connection="tab.modals.uploadWizard">
                    </migration-tool-albums-page-upload-wizard>
                </div>
            </div>
        </div>

        <div ng-switch-when="Photos">
            <div class="modal fade" tabindex="-1" role="dialog" id="photosPage-uploadWizardModal">
                <div class="modal-dialog" role="document">
                    <migration-tool-photos-page-upload-wizard modal-connection="tab.modals.uploadWizard">
                    </migration-tool-photos-page-upload-wizard>
                </div>
            </div>
        </div>

        <div ng-switch-when="Comments"></div>
        <div ng-switch-when="Countries"></div>
        <div ng-switch-when="States"></div>
        <div ng-switch-when="Cities"></div>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="validationReport">
    <div class="modal-dialog" role="document">
        <validation-report></validation-report>
    </div>
</div>