<div ng-if="!$root.pageLoaded">
    <div class="container loading_container">
        <loading>Loading...</loading>
    </div>
</div>

<div ng-show="$root.pageLoaded">

    <section class="album_index">
        <div class="container-fluid">
            <div class="album_index__header">
                <div class="album_index__header_left">
                    <h2 class="caption">{{ path === '/albums' ? 'Album Index' : 'Challenge Index' }}</h2>
                </div>
                <div class="album_index__header_right">
                    <div class="btn-admin-actions" ng-if="$root.user.max_admin_points>=200000">
                        <div class="dropdown dropdown_default">
                            <a href="#" class="btn_default btn_red dropdown-toggle" data-toggle="dropdown">Admin Actions<i
                                class="fas fa-angle-down"></i></a>
                            <ul class="dropdown-menu position_right">
                                <li ng-show="$root.user.max_admin_points>=200000">
                                    <a href="#" ng-click="openAddNewAlbumModal()">Add New Album</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <a href="#" ng-click="changeAlbumChallengePage()"
                       class="btn_default">{{ path === '/albums' ? 'See All Challenges' : 'See All Albums' }}</a>
                </div>
            </div>
            <div class="album_index__body">
                <ul class="album_index__filter">
                    <li ng-click="changeActiveTab($index)" ng-repeat="yearData in allYearsAlbums"
                        ng-class="{'active' : yearData.active === true}"><a href="#">{{ yearData.year }}</a></li>
                </ul>
                <ul class="row album_index__list" ng-repeat="yearData in allYearsAlbums" ng-show="yearData.active">
                    <li class="col-md-2 item" ng-repeat="album in yearData.albums">
                        <a href="#" class="wrap" ng-click="showAlbumOrChallengePage(yearData, album)">
                            <img
                                ng-src="{{ album.cover_photo ? album.cover_photo.photo.thumbnail_filename : 'img/no-cover-image.jpg' }}"
                                alt="">
                            <div class="description">
                                <div class="description_header">
                                    <span class="sub_photo">{{ album.num_photos }} photos</span>
                                </div>
                                <div class="description_footer">
                                    <span class="week">Week {{ album.week_number }}:</span>
                                    <span class="name">{{ album.theme_title }}</span>
                                    <span ng-show="!album.publicly_visible">(not Visible to Public)</span>
                                    <span
                                        ng-show="album.publicly_visible && !album.live && $root.user.max_admin_points>100000">(not Live)</span>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="text-center" ng-show="!allYearsAlbums.length">
                <p>No Albums found.</p>
            </div>
        </div>
    </section>

    <!-- Add New Album Modal -->
    <div class="modal fade" id="newAlbumModal" role="dialog" ng-if="$root.user.max_admin_points>=200000">

        <script src="/vendor/tinymce/js/tinymce/tinymce.min.js"></script>

        <script src="/vendor/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
        <link href="/vendor/jquery-ui-1.12.1.custom/jquery-ui.css" rel="stylesheet" type="text/css">

        <script src="/vendor/momentjs/2.10.6/moment.min.js"></script>

        <script src="/vendor/lugolabs/weekpicker.js"></script>
        <link href="/vendor/lugolabs/weekpicker.css" rel="stylesheet" type="text/css">

        <div class="modal-dialog modal-lg" role="document">
            <new-album></new-album>
        </div>
    </div>

</div>