<!--<img src="/img/52frames.gif" class="loading-indicator">-->
<div class="frame_loader">
    <div class="loader">
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>
</div>