<form ng-submit>
    <fieldset ng-disabled="processing">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">General Data Protection Regulation</h4>
            </div>
            <div class="modal-body modal-padding-top">

                <div class="col-md-12">
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                </div>

            </div>
            <div class="modal-footer">
                <button class="btn btn-danger pull-left" ng-click="deleteAccount()" data-dismiss="modal">
                    Delete my Account
                </button>
                <loading-spinner ng-show="processing"></loading-spinner>
                <button class="btn btn-primary" ng-click="consentCookie()" data-dismiss="modal">
                    I'm okay with Cookies
                </button>
            </div>
        </div>

    </fieldset>
</form>