<form ng-submit="addNewAlbum()">
    <fieldset ng-disabled="processing">

        <div class="modal_main modal_block album_edit">
            <button class="btn_closed__modal close" data-dismiss="modal" aria-label="Close">
                <i class="fas fa-times"></i>
            </button>

            <div class="modal_main__header">
                <div class="modal_main__header_left">
                    <h4 class="caption">Add New Album!</h4>
                </div>
                <div class="modal_main__header_right"></div>
            </div>

            <div class="modal_main__body">

                <div class="row row_form">
                    <div class="col-md-3 box_form">
                        <div class="group" error-scroll="year">
                            <label for="newAlbum-year" class="title">Display Year</label>
                            <input id="newAlbum-year" type="text"
                                   ng-model="newAlbum.year"
                                   ng-focus="hideErrors('week_number');hideErrors('year')"
                                   ng-change="shorturlChanged()">
                            <div class="help-block">
                                <span class="error">{{ errors.year[0] }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 box_form">
                        <div class="group" error-scroll="week_number">
                            <label for="newAlbum-week" class="title">Week Number</label>
                            <input id="newAlbum-week" type="text"
                                   ng-model="newAlbum.week_number"
                                   ng-focus="hideErrors('week_number');hideErrors('year')"
                                   ng-change="shorturlChanged()">
                            <div class="help-block">
                                <span class="error">{{ errors.week_number[0] }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 box_form">
                        <div class="group" error-scroll="start_date">
                            <label for="newAlbum-start-date" class="title">Start Date (EST)</label>
                            <div class="group_for_icon">
                                <input id="newAlbum-start-date" type="text"
                                       readonly="readonly"
                                       ng-model="newAlbum.display_start_date"
                                       ng-focus="hideErrors('start_date');hideErrors('end_date')">
                                <div class="input-group-addon calendar-icon"></div>
                                <i class="far fa-calendar-alt"></i>
                            </div>
                            <div class="help-block">
                                <span class="error">{{ errors.start_date[0] }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 box_form">
                        <div class="group" error-scroll="end_date">
                            <label for="newAlbum-end-date" class="title">End Date (EST)</label>
                            <div class="group_for_icon">
                                <input id="newAlbum-end-date" type="text"
                                       readonly="readonly"
                                       ng-model="newAlbum.display_end_date"
                                       ng-focus="hideErrors('end_date');hideErrors('start_date')">
                                <i class="far fa-calendar-alt"></i>
                            </div>
                            <div class="help-block">
                                <span class="error">{{ errors.end_date[0] }}</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row row_form">
                    <div class="col-md-6 box_form">
                        <div class="group" error-scroll="theme_title">
                            <label for="newAlbum-theme" class="title">Album Theme</label>
                            <input id="newAlbum-theme" type="text"
                                   ng-model="newAlbum.theme_title"
                                   ng-focus="hideErrors('theme_title')"
                                   ng-change="updateShorturl()">
                            <div class="help-block">
                                <span class="error">{{ errors.theme_title[0] }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 box_form">
                        <div class="group" error-scroll="shorturl">
                            <label for="newAlbum-shorturl" class="title">
                                Page Url
                            </label>
                            <div class="group_double input-has-loading-spinner">
                                <span class="input-group-addon title" id="newAlbum-shorturl-group"
                                      ng-click="focusShorturl()">
                                    {{ baseurl }}albums/<span ng-show="newAlbum.year">{{
                                        newAlbum.year
                                    }}/week-{{
                                        newAlbum.week_number
                                    }}-</span>
                                </span>
                                <input type="text"
                                       id="newAlbum-shorturl"
                                       style="border-left: 0; padding-right: 32px;"
                                       aria-describedby="newAlbum-shorturl-group"
                                       ng-focus="hideErrors('shorturl')"
                                       ng-change="shorturlChanged()"
                                       ng-blur="shorturlChanged()"
                                       ng-model="newAlbum.shorturl"
                                       ng-trim="false">
                                <loading-spinner ng-show="newAlbum.shorturlLoading"></loading-spinner>
                                <i class="far fa-check-circle loading-ok" ng-show="newAlbum.shorturlLoadingOk"></i>
                                <i class="far fa-times-circle loading-failed" ng-show="newAlbum.shorturlLoadingFail"></i>
                            </div>
                            <div class="help-block">
                                <span class="error">{{ errors.shorturl[0] }}</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="line_gray"></div>

                <div class="group" error-scroll="blurb">
                    <label for="newAlbum-blurb" class="title">
                        Album Blurb
                    </label>
                    <textarea id="newAlbum-blurb"></textarea>
                    <div class="help-block">
                        <span class="error">{{ errors.blurb[0] }}</span>
                    </div>
                </div>

                <div class="line_gray"></div>

                <div class="group" error-scroll="short_blurb">
                    <label for="newAlbum-short-blurb" error-scroll="short_blurb" class="title">
                        Shorter Blurb (for when the Album goes Live and shows all Photos uploaded)
                    </label>
                    <textarea id="newAlbum-short-blurb"></textarea>
                    <div class="help-block">
                        <span class="error">{{ errors.short_blurb[0] }}</span>
                    </div>
                </div>

                <div class="line_gray"></div>

                <div class="row row_form" error-scroll="temp_cover_photo">
                    <div class="col-md-6 box_form">
                        <div class="group">
                            <label for="newAlbum-temp-cover-photo-file" class="title">
                                Temporary Cover Photo
                            </label>
                            <input type="file" accept="image/*"
                                   id="newAlbum-temp-cover-photo-file"
                                   ng-click="hideErrors('temp_cover_photo.file')">
                            <div class="help-block">
                                <span class="error">{{ errors['temp_cover_photo.file'][0] }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 box_form">
                        <div class="group" error-scroll="temp_cover_photo.owner_name">
                            <label class="title" for="newAlbum-temp-cover-photo-owner-name">
                                Photo By
                            </label>
                            <input type="text"
                                   id="newAlbum-temp-cover-photo-owner-name"
                                   ng-model="newAlbum.temp_cover_photo.owner_name"
                                   ng-focus="hideErrors('temp_cover_photo.owner_name')">
                            <div class="help-block">
                                <span class="error">{{ errors['temp_cover_photo.owner_name'][0] }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 box_form">
                        <div class="group" error-scroll="temp_cover_photo.album_theme">
                            <label class="title" for="newAlbum-temp-cover-photo-album-theme">
                                "Previous" Album Theme
                            </label>
                            <input type="text"
                                   placeholder="Black and White, 2017"
                                   id="newAlbum-temp-cover-photo-album-theme"
                                   ng-model="newAlbum.temp_cover_photo.album_theme"
                                   ng-focus="hideErrors('temp_cover_photo.album_theme')">
                            <div class="help-block">
                                <span class="error">{{ errors['temp_cover_photo.album_theme'][0] }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 box_form">
                        <div class="group" error-scroll="temp_cover_photo.album_week_number">
                            <label class="title" for="newAlbum-temp-cover-photo-album-number">
                                Week Number
                            </label>
                            <input type="text"
                                   id="newAlbum-temp-cover-photo-album-number"
                                   ng-model="newAlbum.temp_cover_photo.album_week_number"
                                   ng-focus="hideErrors('temp_cover_photo.album_week_number')">
                            <div class="help-block">
                                <span class="error">{{ errors['temp_cover_photo.album_week_number'][0] }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 box_form">
                        <div class="group" error-scroll="temp_cover_photo.url">
                            <label class="title" for="newAlbum-temp-cover-photo-url">
                                Target URL (optional, may never be used)
                            </label>
                            <input type="text"
                                   id="newAlbum-temp-cover-photo-url"
                                   ng-model="newAlbum.temp_cover_photo.url"
                                   ng-focus="hideErrors('temp_cover_photo.url')">
                            <div class="help-block">
                                <span class="error">{{ errors['temp_cover_photo.url'][0] }}</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="line_gray"></div>

                <div class="row row_form" error-scroll="sample_photo">
                    <div class="col-md-6 box_form">
                        <div class="group">
                            <label class="title" for="newAlbum-sample-photo-file">
                                Sample Photo
                            </label>
                            <input type="file" accept="image/*"
                                   id="newAlbum-sample-photo-file"
                                   ng-click="hideErrors('sample_photo.file')">
                            <div class="help-block">
                                <span class="error">{{ errors['sample_photo.file'][0] }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 box_form">
                        <div class="group" error-scroll="sample_photo.owner_name">
                            <label class="title" for="newAlbum-sample-photo-owner-name">
                                Photo By
                            </label>
                            <input type="text"
                                   id="newAlbum-sample-photo-owner-name"
                                   ng-model="newAlbum.sample_photo.owner_name"
                                   ng-focus="hideErrors('sample_photo.owner_name')">
                            <div class="help-block">
                                <span class="error">{{ errors['sample_photo.owner_name'][0] }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 box_form">
                        <div class="group" error-scroll="sample_photo.album_theme">
                            <label class="title" for="newAlbum-sample-photo-album-theme">
                                "Previous" Album Theme
                            </label>
                            <input type="text"
                                   placeholder="Black and White, 2017"
                                   id="newAlbum-sample-photo-album-theme"
                                   ng-model="newAlbum.sample_photo.album_theme"
                                   ng-focus="hideErrors('sample_photo.album_theme')">
                            <div class="help-block">
                                <span class="error">{{ errors['sample_photo.album_theme'][0] }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 box_form">
                        <div class="group" error-scroll="sample_photo.album_week_number">
                            <label class="title" for="newAlbum-sample-photo-album-number">
                                Week Number
                            </label>
                            <input type="text"
                                   id="newAlbum-sample-photo-album-number"
                                   ng-model="newAlbum.sample_photo.album_week_number"
                                   ng-focus="hideErrors('sample_photo.album_week_number')">
                            <div class="help-block">
                                <span class="error">{{ errors['sample_photo.album_week_number'][0] }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 box_form">
                        <div class="group" error-scroll="sample_photo.url">
                            <label class="title" for="newAlbum-sample-photo-url">
                                Target URL
                            </label>
                            <input type="text"
                                   id="newAlbum-sample-photo-url"
                                   ng-model="newAlbum.sample_photo.url"
                                   ng-focus="hideErrors('sample_photo.url')">
                            <div class="help-block">
                                <span class="error">{{ errors['sample_photo.url'][0] }}</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="line_gray"></div>

                <div class="group" error-scroll="extra_credit_title">
                    <label for="newAlbum-extra-credit-title" class="title">
                        Extra Credit Title
                    </label>
                    <input id="newAlbum-extra-credit-title" type="text"
                           ng-model="newAlbum.extra_credit_title"
                           ng-focus="hideErrors('extra_credit_title')">
                    <div class="help-block">
                        <span class="error">{{ errors.extra_credit_title[0] }}</span>
                    </div>
                </div>

                <div class="group" error-scroll="extra_credit_body">
                    <label for="newAlbum-extra-credit-body" class="title">
                        Extra Credit Body
                    </label>
                    <textarea id="newAlbum-extra-credit-body"></textarea>
                    <div class="help-block">
                        <span class="error">{{ errors.extra_credit_body[0] }}</span>
                    </div>
                </div>

                <div class="group" error-scroll="tips_body">
                    <label for="newAlbum-tips-body" class="title">
                        Tips and Tuts
                    </label>
                    <textarea id="newAlbum-tips-body"></textarea>
                    <div class="help-block">
                        <span class="error">{{ errors.tips_body[0] }}</span>
                    </div>
                </div>

                <div class="group" error-scroll="tags">
                    <label for="newAlbum-tags" class="title">
                        Album Tags
                    </label>
                    <div class="frame_tags no-height cursor-text" ng-click="focusTagsInput()">
                            <span class="tags-list" ng-repeat="tag in tagsList">
                                #{{ tag }}
                                <span class="remove-tag" ng-click="removeTag($index)">&times;</span>
                            </span>
                        <input id="newAlbum-tags" type="text"
                               on-backspace="onBackspaceInsideTagInput()"
                               on-enter-key="onEnterKeyInsideTagInput()"
                               ng-focus="hideErrors('tags')"
                               ng-change="checkTagInput()"
                               ng-blur="tagInputBlur()"
                               ng-model="tagInput"
                               ng-trim="false">
                    </div>
                    <div class="help-block">
                        <span class="error">{{ errors.tags[0] }}</span>
                    </div>
                </div>

                <div class="group">
                    <label for="albumAd" class="check_default">
                        <input ng-model="newAlbum.tips_photo.enabled" type="checkbox" id="albumAd">
                        <i class="icon_check"></i>
                        <span>Show Album Ad?</span>
                    </label>

                    <label for="albumAdText">Text for Album Ad</label>
                    <input ng-model="newAlbum.tips_photo.text" type="text" id="albumAdText">

                    <label for="albumAdLink">Link for Album ad</label>
                    <input ng-model="newAlbum.tips_photo.url" type="text" id="albumAdLink">

                    <label for="albumAdImage" class="title">
                        Albums Ad Image
                    </label>
                    <div class="frame_tags no-height cursor-text" ng-click="focusTagsInput()">
                        <input accept="image/*" id="albumAdImage" type="file">
                    </div>
                </div>

                <div class="group">
                    <label for="custom_message" class="title">
                        Custom Message (Text on confirmation page)
                    </label>
                    <textarea id="custom_message"></textarea>
                    <div class="help-block">
                        <span class="error">{{ errors.upload_custom_msg[0] }}</span>
                    </div>
                </div>

            </div>

            <div class="modal_main__footer">
                <span ng-show="uploadProgress.value">{{ uploadProgress.value }}&nbsp;</span>
                <loading-spinner ng-show="processing"></loading-spinner>
                <button type="submit" class="btn_default">Submit!</button>
            </div>
        </div>

    </fieldset>
</form>