<!--<form ng-submit="submitSignup()">
    <fieldset ng-disabled="processing">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Please sign up below to Join!</h4>
            </div>

            <div class="modal-body" ng-show="$root.user">

                <div class="modal-single-liner" ng-show="$root.user.signed_manifesto">
                    You are already logged-in as {{ $root.user.firstname }} {{ $root.user.lastname }}
                </div>

                <div class="modal-single-liner" ng-hide="$root.user.signed_manifesto">
                    Would you like to sign up as a participant? You still need to sign the manifesto!
                </div>

            </div>

            <div class="modal-body modal-padding-top" ng-hide="$root.user">

                <div class="facebookLoginButtonLocation">
                    <div class="facebookSpinner">
                        Loading
                        <div class="fb-login-button"
                             scope="public_profile,email"
                             onlogin="facebookSignupSuccess"
                             data-size="large"
                             data-max-rows="1"
                             data-button-type="continue_with">
                        </div>
                    </div>
                </div>

                <div class="login-social-separator">
                    <hr>
                    <span class="login-social-separator-center">Or</span>
                </div>

                <input type="hidden" name="access_token" ng-model="userData.access_token">

                <div class="form-group">
                    <label for="signupFirstname" class="col-md-3 control-label">First Name</label>
                    <div class="col-md-8">
                        <input id="signupFirstname" type="text" class="form-control" name="firstname"
                               ng-model="userData.firstname" ng-focus="hideErrors('firstname')">
                        <span class="help-block">
                            <span class="error">{{ errors.firstname[0] }}</span>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="signupLastname" class="col-md-3 control-label">Last Name</label>
                    <div class="col-md-8">
                        <input id="signupLastname" type="text" class="form-control" name="lastname"
                               ng-model="userData.lastname" ng-focus="hideErrors('lastname')">
                        <span class="help-block">
                            <span class="error">{{ errors.lastname[0] }}</span>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="signupEmail" class="col-md-3 control-label">Email</label>
                    <div class="col-md-8">
                        <input id="signupEmail" type="email" class="form-control" name="email"
                               ng-model="userData.email" ng-focus="hideErrors('email')">
                        <span class="help-block">
                            <span class="error">{{ errors.email[0] }}</span>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="signupPassword" class="col-md-3 control-label">Password</label>
                    <div class="col-md-8">
                        <input id="signupPassword" type="password" class="form-control" name="password"
                               ng-model="userData.password" ng-focus="hideErrors('password')">
                        <span class="help-block">
                            <span class="error">{{ errors.password[0] }}</span>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="signupPasswordConfirmation" class="col-md-3 control-label">Confirm
                        Password</label>
                    <div class="col-md-8">
                        <input id="signupPasswordConfirmation" type="password" class="form-control"
                               name="password_confirmation"
                               ng-model="userData.password_confirmation"
                               ng-focus="hideErrors('password_confirmation')">
                        <span class="help-block">
                            <span class="error">{{ errors.password_confirmation[0] }}</span>
                        </span>
                    </div>
                </div>

            </div>
            <div class="modal-footer">

                <div ng-hide="$root.user">

                    <button type="button" class="btn btn-link pull-left" data-dismiss="modal" ng-click="loginScreen()">
                        Already a Member? Click here to login
                    </button>
                    <loading-spinner ng-show="processing"></loading-spinner>
                    <button type="submit" class="btn btn-primary">Continue</button>

                </div>

                <div ng-show="$root.user">

                    <div ng-show="$root.user.signed_manifesto">
                        <loading-spinner ng-show="processing"></loading-spinner>
                        <button type="button" class="btn btn-link" ng-click="logout()">Logout first</button>
                    </div>

                    <div ng-show="!$root.user.signed_manifesto">
                        <button type="button" class="btn btn-link pull-left" ng-click="logout()">Logout</button>
                        <loading-spinner ng-show="processing"></loading-spinner>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="signManifesto()">
                            Sign the Manifesto!
                        </button>
                    </div>

                </div>

            </div>
        </div>

    </fieldset>
</form>-->

<form ng-submit="submitSignup()">
    <fieldset ng-disabled="processing">
        <div class="article_form" ng-show="$root.user">
            <div class="article_form__item" ng-show="$root.user.signed_manifesto">
                You are already logged-in as {{ $root.user.firstname }} {{ $root.user.lastname }}
            </div>

            <div class="article_form__item" ng-hide="$root.user.signed_manifesto">
                Would you like to sign up as a participant? You still need to sign the manifesto!
            </div>
        </div>
        <div class="form_sign" ng-hide="$root.user">
            <div id="add-id" class="row__link_add">
                <a href="#" class="add_id" ng-click="addId()">Already have an ID?</a>
            </div>
            <div id="input-id" class="group" style="display: none;">
                <span class="title">Member ID</span>
                <select class="custom_select">
                    <option value="">1234 - John Snow</option>
                    <option value="">1233244 - John Snow</option>
                    <option value="">5434 - John Snow</option>
                    <option value="">4444234 - John Snow</option>
                </select>
            </div>

            <input type="hidden" name="access_token" ng-model="userData.access_token">
            <div class="group relative_help_container">
                <span class="title">First Name<i class="red_asterisk">*</i></span>
                <input
                    ng-blur="onFieldMouseOver(null, '.help_note_reg')"
                    id="signupFirstname" type="text" name="firstname"
                    ng-model="userData.firstname"
                    ng-focus="hideErrors('firstname'); onFieldMouseOver(0, '.help_note_reg', true)"
                    placeholder="John Smith" required>
                <div class="help_form" ng-show="errors.firstname[0]">
                    <span class="error">{{ errors.firstname[0] }}</span>
                </div>
                <div class="help_note help_note_reg help_note_right">Double check spelling and capitalization, etc.. This
                    will be your name in the project, EXACTLY as you type it! :)
                </div>
            </div>
            <div class="group relative_help_container">
                <span class="title">Last Name<i class="red_asterisk">*</i></span>
                <input id="signupLastname"
                       type="text"
                       name="lastname"
                       ng-model="userData.lastname"
                       ng-focus="hideErrors('lastname'); onFieldMouseOver(1, '.help_note_reg', true)"
                       ng-blur="onFieldMouseOver(null, '.help_note_reg')"
                >
                <div class="help_form" ng-show="errors.lastname[0]">
                    <span class="error">{{ errors.lastname[0] }}</span>
                </div>
                <div class="help_note help_note_reg help_note_right">Double check spelling and capitalization, etc.. This
                    will be your name in the project, EXACTLY as you type it! :)
                </div>
            </div>
            <div class="group relative_help_container">
                <span class="title">Email<i class="red_asterisk">*</i></span>
                <input id="signupEmail"
                       type="email"
                       name="email"
                       ng-model="userData.email"
                       ng-focus="hideErrors('email'); onFieldMouseOver(2, '.help_note_reg', true)"
                       placeholder="me@photographyrocks.com"
                       required
                       ng-blur="onFieldMouseOver(null, '.help_note_reg')"
                >
                <div class="help_form" ng-show="errors.email[0]">
                    <span class="error">{{ errors.email[0] }}</span>
                </div>
                <div class="help_note help_note_reg help_note_right">(We will keep this confidential, of course. Pinky
                    swear.)
                </div>
            </div>
            <div class="group">
                <span class="title">Password<i class="red_asterisk">*</i></span>
                <input id="signupPassword"
                       type="password"
                       name="password"
                       ng-model="userData.password"
                       ng-focus="hideErrors('password')"
                       placeholder="Must be at least 8 characters"
                       required
                       minlength="1"
                >
                <div class="help_form" ng-show="errors.password[0]">
                    <span class="error">{{ errors.password[0] }}</span>
                </div>
            </div>
            <div class="group">
                <span class="title">Password (one more time)<i class="red_asterisk">*</i></span>
                <input id="signupPasswordConfirmation"
                       type="password"
                       name="password_confirmation"
                       placeholder="Must be at least 8 characters"
                       ng-model="userData.password_confirmation"
                       ng-focus="hideErrors('password_confirmation')"
                >
                <div class="help_form" ng-show="errors.password_confirmation[0]">
                    <span class="error">{{ errors.password_confirmation[0] }}</span>
                </div>
            </div>
            <div ng-if="showCaptcha" class="box_capcha">
                <script src="https://www.google.com/recaptcha/api.js" async defer></script>
                <span class="help-block">
                    <span class="error">{{ errors.captcha[0] }}</span>
                </span>
                <div class="g-recaptcha" data-sitekey="{{nocaptchaSiteKey}}"></div>
            </div>
            <div class="group_btn">
                <div ng-hide="$root.user" class="row_btn">
                    <loading-spinner ng-show="processing"></loading-spinner>
                    <button ng-disabled="processing" type="submit" class="btn_default btn_red">Continue</button>
                </div>
                <div ng-show="$root.user" class="row_btn">
                    <loading-spinner ng-show="processing"></loading-spinner>
                    <button type="submit" class="btn_default btn_red" ng-click="logout()">Logout</button>
                    <button type="submit" class="btn_default">Sign the Manifesto!</button>
                </div>
            </div>
        </div>
    </fieldset>
</form>
<div class="modal_login__login_with">
    <div class="border"><span class="or">or</span></div>
    <div class="row_btn">
        <div class="facebookLoginButtonLocation">
            <div class="facebookSpinner"
                 style="
                    font-size: 13px!important;
                    font-family: 'Barlow Semi Condensed', sans-serif!important;
                    font-weight: normal;
                    height: 34px;
                    text-align: center;
                    color: #fff;
                    background: #3C66C4;
                    display: flex;
                    align-items: center;
                    padding: 0 10px;
                    border-radius: 4px;
                    box-shadow: 0px 4px 0px #2F519D;
                    width: 100%;">
                Loading
                <div class="fb-login-button"
                     scope="public_profile,email"
                     onlogin="facebookLoginSuccess"
                     data-size="medium"
                     data-max-rows="1"
                     data-button-type="continue_with"
                     data-use-continue-as="true">
                </div>
            </div>
        </div>
        <a href="{{instaLink}}" class="btn_default btn_icon btn_ins"><i class="fab fa-instagram"></i>Continue with Instagram</a>
    </div>
</div>