<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Challenge Expired</h4>
    </div>
    <div class="modal-body modal-padding-top">

        <div class="col-md-12">
            The submission form for the new Challenge is not live yet. The new challenge will begin shortly. Please
            check back soon.
        </div>

        <div class="clear-both">&nbsp;</div>

    </div>
    <div class="modal-footer">
        <loading-spinner ng-show="processing"></loading-spinner>
    </div>
</div>