<form ng-submit="emailPasswordLink()">
    <fieldset ng-disabled="processing">

        <div class="modal_main modal_block modal__forget_password">
            <div class="modal_main__header">
                <a data-src="#modal-choose-account" ng-hide="$root.user" ng-click="loginScreen()" data-dismiss="modal" class="btn_back">Back</a>
                <p class="caption">Reset your Password</p>
                <span class="sub_caption">Please enter the email address associated with your 52Frames account:</span>
            </div>
            <div class="modal_main__body">
                <div ng-hide="$root.user">

                    <div class="group">
                        <label for="forgot-password-email" class="title">Email Address</label>
                        <input id="forgot-password-email" type="email" name="email" required
                               autofocus ng-model="userData.email" ng-focus="hideErrors('email')">
                        <div class="help-block" ng-show="errors.email[0]">
                            <span class="error">{{ errors.email[0] }}</span>
                        </div>
                        <div class="help-block" ng-show="noAccount">
                            <span class="account-error">There doesn't seem to be an account associated with this email.
                                If you'd like to join 52Frames,
                                <a class="link" ng-click="getStarted()" data-dismiss="modal">sign up here!</a>
                            </span>
                        </div>
                        <div class="help-block" ng-if="loginProviders.length">
                            <span class="account-error">
                                <span>Please login to this account using:</span>
                                <a class="link" ng-click="facebookLogin()" ng-show="hasProvider('facebook')">
                                    Facebook login
                                </a>.
                            </span>
                        </div>
                    </div>


                </div>
            </div>
            <div class="modal_main__footer">
                <loading-spinner ng-show="processing"></loading-spinner>
                <button type="submit" class="btn_default">Email Password Reset Link</button>
            </div>
        </div>

    </fieldset>
</form>