<div class="modal_main modal_block modal_thank">
    <button class="btn_closed__modal close" data-dismiss="modal" aria-label="Close">
        <i class="fas fa-times"></i>
    </button>
    <div class="modal_main__header">
        <h4 class="caption">Thank you!</h4>
    </div>
    <div class="modal_main__body">
        <div ng-if="showPage">
            <h2>Welcome to the tribe!! </h2>
            <p>You can now submit your first week’s challenge: "Week {{ $root.currentAlbum.week_number }}: {{
                $root.currentAlbum.theme_title }}"!
            <p>To see some helpful tips and tuts for this week’s challenge,
                <a href="{{ canonicalUrl + 'albums/' + currentAlbum.year + '/week-'
                + currentAlbum.week_number + '-' + currentAlbum.shorturl + '/challenge' }}" target="_blank">
                    click here
                </a>!
            </p>
            <p>It all starts with one! Don’t overthink it. I’m excited for your 52-week journey!</p>
            <p>PS: Join the discussion in our
                <a href="http://www.facebook.com/groups/52fadmin/" target="_blank">52Frames Photographers Facebook Group</a>.
                We are a friendly bunch, drop in and introduce yourself! :)
            </p>

            <div class="text-center">
                <p class="green_text">Happy Shooting!</p>
                <p class="subscription">Yosef</p>
            </div>
        </div>
    </div>
    <div ng-show="$root.user" class="sign_manifesto_footer modal_main__footer d-flex j-center">

        <button type="button" class="btn_default" data-dismiss="modal">Close</button>

    </div>
</div>