<script>
  if (!window.moment) angular.element('head').append('<scr' + 'ipt src="/vendor/momentjs/2.10.6/moment.min.js"></scr' + 'ipt>');
</script>

<div ng-if="owner">

    <div class="photo_view_information__add_comments" ng-if="showForm && (comment.editing || isNewComment)">
        <a href="/photographer/{{ $root.$navbar.getSelfHandleOrId(owner) }}"
           target="_blank" class="img_wrapper">
            <img ng-src="{{ owner.avatar ? owner.avatar.avatar_small : 'img/avatars/SVG/Avatar1.svg' }}" alt="">
        </a>
        <div class="comments">
            <form ng-submit="addNewComment()">
                <fieldset ng-disabled="processing">
                    <div class="comment-options">
                        <span class="name" ng-hide="isPhotographer()">
                            {{ $root.$navbar.getSelfHandleOrName(owner) }}
                        </span>
                        <span class="name">
                            <a target="_blank" ng-show="isPhotographer()"
                               href="/photographer/{{ $root.$navbar.getSelfHandleOrId(owner) }}">{{
                                $root.$navbar.getSelfHandleOrName(owner)
                            }}</a>
                        </span>
                        <span class="sub_status comment-edited" ng-show="comment.editing">Edited</span>
                        <span class="sub_status comment-timestamp comment-time-now">Just now</span>
                    </div>
                    <div class="comment-textbox-holder">
                        <div class="comment-message"
                             on-elem-ready="registerMessageElement($element)"
                             data-placeholder="Write your comment here..."
                             ng-click="hideErrors('message')"
                             on-enter-key="inputSubmitted()"
                             ng-keydown="commentKbPress($event)"
                             ng-keyup="commentKbPress($event)"
                             ng-paste="commentPasted($event)"
                             ng-model="comment.message"
                             contenteditable="true"
                        >
                        </div>
                        <div class="comment-message__buttons">
                            <div class="comment-message__buttons_left">
                                <span class="comment-tip" ng-hide="errors.message[0] || !showCommentHint">
                                    * press Enter to submit, Shift-Enter to go to next line
                                </span>
                                <div class="help-block" ng-show="errors.message[0]">
                                    <span class="error">{{ errors.message[0] }}</span>
                                </div>
                            </div>
                            <div class="comment-message__buttons_right">
                                <a class="pull-right link submit-comment btn_default btn_small btn_red"
                                   ng-show="comment.message && !processing"
                                   ng-click="inputSubmitted()">Submit</a>
                                <a class="pull-right link comment-edit-cancel btn_default btn_small"
                                   ng-hide="dontShowCancelButton || processing"
                                   ng-click="cancelCommenting()">Cancel</a>
                                <loading-spinner ng-show="processing" class="pull-right"></loading-spinner>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>

    <div class="wrap" ng-if="!showForm">
        <a href="/photographer/{{ $root.$navbar.getSelfHandleOrId(owner) }}"
           target="_blank" class="img_wrapper">
            <img ng-src="{{ owner.avatar ? owner.avatar.avatar_small : 'img/avatars/SVG/Avatar1.svg' }}" alt="">
        </a>
        <div class="comments">
            <div class="comments__header">
                <div class="user_name">
                    <span ng-hide="isPhotographer()" class="name comment-from-fan">
                        <a href="#">
                            {{ $root.$navbar.getSelfHandleOrName(owner) }}
                        </a>
                    </span>
                    <span class="name" ng-show="isPhotographer()">
                        <a target="_blank"
                           href="/photographer/{{ $root.$navbar.getSelfHandleOrId(owner) }}">
                            {{ $root.$navbar.getSelfHandleOrName(owner)}}
                        </a>
                    </span>
                    <span class="sub_status comment-edited date" style="margin-right: 10px;" ng-show="comment.edited">Edited</span>
                    <span class="sub_status comment-timestamp date">{{ comment.last_changed | moment:'fromNow' }}</span>
                </div>
                <loading-spinner ng-show="comment.processing" class="pull-right"></loading-spinner>
                <div class="dropdown dropdown_option">
                    <button class="btn_option dropdown-toggle" data-toggle="dropdown"><i class="fas fa-ellipsis-v"></i></button>
                    <ul class="dropdown-menu position_right small_list">
                        <li><a href="#" ng-click="showEditForm(comment)" ng-show="!comment.processing && comment.editable" class="link_icon"><i class="fas fa-pencil-alt"></i></a></li>
                        <li><a href="#" ng-click="deleteComment(comment)" ng-show="!comment.processing && comment.deletable" class="link_icon"><i class="far fa-trash-alt"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="comments__body">
                <div ng-hide="comment.expandEllipses">
                    <p class="comment-message-html"
                         ng-bind-html="comment.message | ellipsesAfter:variables.commentLimit.collapsed:true:true:'more':commentEllipsesCb:variables.commentLimit.maxBreaks | showAsHtml">
                    </p>
                </div>
                <div ng-show="comment.expandEllipses">
                    <p class="comment-message-html" ng-bind-html="comment.message | showAsHtml"></p>
                    <p ng-show="comment.hasEllipses">
                        <a href="#" class="ellipses-less" ng-click="collapseEllipses()">show less</a>
                    </p>
                </div>
            </div>
            <div class="comments__footer reply-options" ng-hide="comment.add_reply || dontShowReplies">
                <div ng-show="!comment.replies_count || comment.showReplyLink">
                    <a class="link reply" ng-click="showReplyBox()">
                        <span ng-show="comment.replies_count">Add</span>
                        <span>Reply</span>
                    </a>
                </div>
                <div ng-show="comment.replies_count || !comment.showReplyLink"></div>
                <div class="replies-view-link hide_replies"
                     ng-show="!comment.showReplyLink && comment.replies_count && !comment.add_reply">
                    <a class="link" ng-click="getReplies()">
                        View {{ comment.replies_count }} repl{{ comment.replies_count>1 ? 'ies' : 'y' }}
                    </a>
                    <loading-spinner ng-show="comment.replies_loading"></loading-spinner>
                </div>
            </div>
        </div>
    </div>

    <div class="list_comments replies_comments replies-main-holder" ng-show="!dontShowReplies" ng-if="comment.repliesData">
<!--        <div class="glyphicon glyphicon-share-alt flip-vertically reply-arrow"-->
<!--             ng-class="{'top-6': comment.repliesData.comments.length || comment.add_reply}"></div>-->
<!--        <div class="replies-holder">-->
            <div ng-show="comment.repliesData.can_load_previous" class="padding-5-0 replies-load-more">
                <a class="link" ng-click="loadMoreReplies()">
                    Load previous {{ comment.repliesData.can_load_previous }}
                    repl{{ comment.repliesData.can_load_previous>1?'ies':'y' }}&hellip;
                </a>
                <loading-spinner ng-show="fetchingMoreReplies" class="pull-right"></loading-spinner>
            </div>
            <div ng-if="comment.repliesData.comments.length" ng-repeat="reply in comment.repliesData.comments" class="item_replies">
                <comment-view class="padding-5-0 display-block reply"
                              comment-deleted-callback="replyDeleted(comment, numPhotoComments, commentsLevelTotal)"
                              dont-show-replies="1"
                              owner="reply.owner"
                              comment="reply"
                              is-reply="1">
                </comment-view>
            </div>
            <div ng-if="comment.add_reply" class="item_replies">
                <comment-view class="padding-5-0 display-block"
                              new-comment-callback="newReplyAdded(comment, numPhotoComments, commentsLevelTotal)"
                              cancel-comment-callback="revertReplyBox()"
                              comment="comment.newReply"
                              dont-show-replies="1"
                              is-new-comment="1"
                              owner="$root.user"
                              show-form="1"
                              is-reply="1">
                </comment-view>
            </div>

        </div>
    </div>

</div>