<div ng-if="!$root.pageLoaded">
    <div class="container loading_container">
        <loading>Loading...</loading>
    </div>
</div>

<div ng-show="$root.pageLoaded" on-esc-key>

    <div class="container album-page">

        <div class="panel panel-default">

            <div class="panel-heading">

                <div class="pull-right">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle user-menu"
                                data-toggle="dropdown"
                                aria-expanded="false"
                                aria-haspopup="true">
                            .&nbsp;.&nbsp;.
                        </button>
                        <ul class="dropdown-menu pull-right">
                            <li ng-show="$root.user && album.live && queryString().filter_by!='following'">
                                <a class="link" ng-click="applyFilter('following')">Filter by the People I Follow</a>
                            </li>
                            <li class="active"
                                ng-show="$root.user && album.live && queryString().filter_by=='following'">
                                <a class="link" ng-click="applyFilter()">Remove Filter by the People I Follow</a>
                            </li>
                            <li>
                                <a href="{{ fullPath }}/challenge">Challenge Page</a>
                            </li>
                            <li class="bg-danger"
                                ng-show="$root.user.max_admin_points>=200000">
                                <a class="link" ng-click="editAlbum()">Edit Album</a>
                            </li>
                            <li class="bg-danger"
                                ng-show="album.can_go_live && album.publicly_visible && $root.user.max_admin_points>=200000">
                                <a class="link" ng-click="showAlbumSetLiveModal()">Set the Album to Live</a>
                            </li>
                            <li class="bg-danger"
                                ng-show="$root.user.max_admin_points>=1000000 && (album.live || album.after_upload_sched)">
                                <a class="link" ng-click="openBypassUploadModal()">Allow Someone to Upload</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <h1>Week {{ album.week_number }}: {{ album.theme_title }}</h1>
                <div>
                    <span class="icon-danger" ng-hide="album.live">Album Not Live</span>
                    <span ng-show="photos && !album.live">&sdot;</span>
                    <span ng-show="photos">
                        <span class="icon-danger" ng-show="queryString().filter_by">(Filtered)</span>
                        {{ total_photos }} Photo{{ photos.length==1? '':'s' }}
                    </span>
                    <span ng-show="album.extra_credit_title">
                        &sdot;
                        Extra Credit Challenge:
                        {{ album.extra_credit_title }}
                    </span>
                </div>
                <div ng-show="album.short_blurb" ng-bind-html="album.short_blurb | showAsHtml"></div>
                <div ng-show="album.tips_body">
                    <a ng-href="{{ fullPath }}/challenge#tips">Tips and Tutorials</a>
                    on
                    {{ album.theme_title }}
                    photography
                </div>
            </div>

            <div class="panel-body">
                <div class="photos-holder" infinite-scroll="loadMorePhotos()" ng-show="photos.length">
                    <photo ng-repeat="photo in photos" photo="photo"
                           edit-photo-callback="editPhoto(photo)"
                           click-handler="viewPhoto(photo)"></photo>
                </div>
                <div class="photos-nothing-to-show" ng-hide="photos.length">
                    <div>No Photos to show.</div>
                    <div ng-show="queryString().filter_by">Try removing the filter.</div>
                </div>
            </div>
        </div>

    </div>


    <!-- Scripts needed for the modals -->
    <script src="/vendor/tinymce/js/tinymce/tinymce.min.js"></script>
    <script src="/vendor/plugins/tinymce.charcount.js"></script>
    <link href="/vendor/plugins/tinymce.charcount.css" rel="stylesheet">


    <!-- Edit Album modal -->
    <div class="modal fade" id="editAlbumModal" tabindex="-1" role="dialog" ng-if="$root.user.max_admin_points>=200000">
        <script src="/vendor/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
        <link href="/vendor/jquery-ui-1.12.1.custom/jquery-ui.css" rel="stylesheet" type="text/css">

        <script src="/vendor/momentjs/2.10.6/moment.min.js"></script>

        <script src="/vendor/lugolabs/weekpicker.js"></script>
        <link href="/vendor/lugolabs/weekpicker.css" rel="stylesheet" type="text/css">

        <div class="modal-dialog modal-lg" role="document">
            <edit-album ng-if="album" album="album"></edit-album>
        </div>
    </div>


    <!-- Make Album Live -->
    <div class="modal fade" id="albumSetLive" role="dialog" ng-if="$root.user.max_admin_points>=200000">
        <div class="modal-dialog modal-lg" role="document">
            <album-make-live ng-if="album" album="album"></album-make-live>
        </div>
    </div>


    <!-- Edit Photo Modal -->
    <div class="modal fade" id="editPhotoModalOnAlbumPage" tabindex="-1" role="dialog" ng-if="photoIsForEditing">
        <div class="modal-dialog" role="document">
            <edit-photo album="album"
                        photo="photoIsForEditing"
                        modal-id="editPhotoModalOnAlbumPage"
                        modal-closed-callback="editPhotoModalClosed()"
                        success-callback="editPhotoSuccess(photo)">
            </edit-photo>
        </div>
    </div>


    <!-- Bypass Upload Modal -->
    <div class="modal fade" id="allowSomeoneToUploadModal" tabindex="-1" role="dialog"
         ng-if="$root.user.max_admin_points>=1000000 && (album.live || album.after_upload_sched)">
        <div class="modal-dialog modal-sm" role="document">
            <allow-upload-bypass album="album"></allow-upload-bypass>
        </div>
    </div>

</div>

<ui-view></ui-view>